[2021-11-29 10:17] alexr00 commented on #3085
When possible and when it doesn't involve too much refactoring we try to us the GraphQL API, so this could work. There are several work chunks here:
- Check if the repo supports auto merge
- Add UX to turn on auto merge
- Do the auto merge

@emtei let me know if you want some code pointers!

[2021-11-29 10:58] farhanreizha opened #3143 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-pull-request-github`
- Extension Version: `0.32.0`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.62.3`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-11-29 12:26] tempdeltavalue commented on #1474
Try to open via site and got this error :(
![Screenshot 2021-11-29 152605](https://user-images.githubusercontent.com/36921178/143867894-0068c3d9-ea18-4141-9996-e185bb8b1b77.png)

[2021-11-29 16:49] ghills commented on #3052
Hi @alexr00 -

I gave the nightly build a try (v2021.11.14945) and it still is not loading issues/PRs. Here are the contents of the output pane:

[code]

Thanks for following up on this issue!

[2021-11-29 18:01] alexr00 opened #3144 "Test opening a pull request by number"
Refs: https://github.com/microsoft/vscode-pull-request-github/issues/266

- [x] anyOS @misolori
- [x] anyOS @bpasero

Complexity: 1

[Create Issue](https://github.com/microsoft/vscode-pull-request-github/issues/new?body=Testing+%233144%0A%0A&assignees=alexr00)

---

Make sure to use the new pre-release version of GitHub Pull Requests and Issues to test.

There is a new command "Checkout Pull Reque

[2021-11-29 18:22] bamurtaugh commented on #2401
That's a good point - issue suggestion/completion is likely the more important component here.

***

I'm trying # in various comment combinations (comments on a specific file, PR overview page, first line in a comment, later lines in a comment), and I don't seem to be getting suggestions in github.dev with GHPRI nightly. Should I be seeing it now?

Example on https://github.dev/bamurtaugh/ExpressA

[2021-11-29 22:31] deammer commented on #3093
@LizardEatsFlies and I have made some progress on our extension.

We figured out how to glean some pull request information by accessing `editor.document.uri.scheme`. If that scheme is `"pr"`, we can parse a lot of context information:
[code]

This allowed us to make progress without the `getCurrentPullRequestInfo()` method we proposed.

To get around the lack of `openDiff()` method, we constructe

[2021-11-30 01:13] heaths commented on #2741
Though I've been able to use the extension in the past to open larger PRs using github.dev, it wasn't working this afternoon. The PR "tab" would show up as focused initially, but after a second or two would disappear and the file "tab" would be selected. The only warning or error I could find of any possible relevance was:

[code]

Repro video:

https://user-images.githubusercontent.com/1532486/14

[2021-11-30 01:53] Tyriar opened #3145 "Pre-release flow issues"
Opened VS Code just now and saw this:

![image](https://user-images.githubusercontent.com/2193314/143971328-5543510e-46bc-469c-98ab-41470f5387c1.png)

Clicked the button and got:

![image](https://user-images.githubusercontent.com/2193314/143971364-d08a09a8-1635-416c-b2d5-3c1bf496483d.png)

Version:

![image](https://user-images.githubusercontent.com/2193314/143971391-747f8257-dd7f-4ccb-afb9-d3659

[2021-11-30 06:06] mtaran opened #3146 ""go to review" *deletes* current comment draft"
- Extension version: v0.33.2021112917
- VSCode Version: 1.63.0-insider
- OS: Mac OS

Steps to Reproduce:

1. Open a PR with some comments and start a review for writing a response
2. Start typing a comment in response to an existing one
3. Click the "go to review" button to see other (potentially related) comments
4. Go back to the previous tab to continue writing the comment response from before

[2021-11-30 08:23] alexr00 commented on #3147
Transferred back to GHPRI.

[2021-11-30 08:37] alexr00 commented on #3093
I'm definitely amenable to this API, but I don't have time to work on it at the moment. This should probably return the following:
[code]

`openDiff(filePath: string, pr: number, repoRootUri: Uri)`
I'm less sure of this API. What if the pr isn't a currently open pr?

[2021-11-30 08:55] alexr00 commented on #3052
@ghills I'm not able to reproduce what you're seeing. Can you share the output of `git remote -v` (redacted as you have been doing is still useful)?

[2021-11-30 10:11] IllusionMH commented on #3145
Had same problem, but in my case GHPRaI is was not installed at all and my expectation was that installation will be triggered or, maybe better, action in message should guide me to extension details page so I can install install it without search.

[2021-11-30 11:01] #3059 closed

[2021-11-30 13:20] edoardo-molinatti commented on #841
Same here on Windows 10

Version: 1.62.3 (system setup)
Commit: ccbaa2d27e38e5afa3e5c21c1c7bef4657064247
Date: 2021-11-17T08:11:14.551Z
Electron: 13.5.2
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19044

[GitHub.vscode-pull-request-github-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-pull-request-github/files/7625791/GitHub.vscode-pul

[2021-11-30 14:53] ghills commented on #3052
@alexr00 sure thing-

`git remote -v`:
[code]

Here are the contents of `~\.ssh\config`:
[code]

Testing the authentication to GitHub:
[code]

In my case I am running on Windows.

[2021-11-30 15:15] alexr00 commented on #2401
@bamurtaugh looks like there were a few more issues that could happen. I've pushed a fix and queued a new pre-release build. Note that GHPRI now uses VS Code's built in pre-release support, and the old Nightly build has been deprecated (as of yesterday).

[2021-11-30 15:26] alexr00 commented on #3052
@ghills thank you for being so thorough. This is suspicious:
[code]

That's the only difference between our setups. I think GitHub is rejecting further requests because of the differing signature types (This says that the remote can choose to reject connections where this happens: https://stackoverflow.com/questions/57223333/agent-key-rsa-sha256-returned-incorrect-signature-type#:~:text=There%20ar

[2021-11-30 16:23] zzwpower opened #3149 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-pull-request-github`
- Extension Version: `0.32.0`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.62.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-11-30 16:30] filiptronicek opened #3150 "Tags are missing for the latest release"
Hello to the VS Code team!

I wanted to point out that for the latest release (`0.33.2021113015`), there is no release, no tag, and no updated `package.json`, even though the version is published to the Marketplace.

I was curious if this is intentional / and or wanted to raise the awareness of this issue.

[2021-11-30 16:39] DirtySoc commented on #3099
I'm not sure this is the exact same issue, but may be in a similar vein...

I have multiple GitHub accounts I use (Personal & Work). When logged in to the extension with my personal GH account and try to access a work repo I get the error: `Fetching pull requests for remote 'origin' failed, please check if the url git@my-org/work-repo.git is valid.`

Is there a way to login to GitHub PR Extension

[2021-11-30 16:52] Tyriar commented on #3145
This was a problem in yesterday's build apparently

[2021-11-30 16:52] #3145 closed

[2021-11-30 19:38] rzhao271 commented on #304
I do see more hovers show up, but still none for the description area of the PR:
![Description area of the PR](https://user-images.githubusercontent.com/7199958/144115803-a472fbb7-b499-46b4-a77b-d80d6b2db72d.PNG)

[2021-11-30 21:44] ghills commented on #3052
@alexr00 I got rid of that warning by updating Windows' OpenSSL to 8.1.0.1.

[code]

Unfortunately now I am getting a different error from the extension:

[code]

For the repository I am testing with I am able to authenticate and work with remotes from Powershell, cmd, and the source control pane of VSCode (which I assume is just using the git cli under the hood).

From what I can see, it is tryin

[2021-12-01 00:29] kabel commented on #2772
Sadly, I have not had free time to explore this more and won't have older GHE instances to work with. The recommendation remains to get current with the supported versions.

It's only really feasible if we can decouple the interface features that rely on these object fields. Even that, I have not looked into.

[2021-12-01 01:59] bigint commented on #3150
It seems like they are using 32.0 🤔

https://github.com/microsoft/vscode-pull-request-github/blob/main/package.json#L16

[2021-12-01 04:17] akosyakov commented on #3150
Yeah, it looks like `0.33.2021113015` is related to https://github.com/microsoft/vscode/issues/15756. It would be useful nevertheless at least to have a tag associated with `0.33.2021113015` to know from which commit it was produced. GitHub also supports publishing of prereleases.

[2021-12-01 09:40] bpasero opened #3151 "Check out pull request by number should show PRs in picker"
Testing #3144

I would have expected to see a list of PRs to pick from in the picker.

In fact, I would not even name this feature "...by number" but just "Checkout Pull Request..." and from the picker allow to type anything including the number.

[2021-12-01 09:44] bpasero opened #3152 "Invalid PR should not cause a notification"
Testing #3144

![image](https://user-images.githubusercontent.com/900690/144210807-828be050-4b55-4ebb-a62e-dd0796aee189.png)

I would have expected a modal dialog or better, to indicate the PR is not available from the picker.

[2021-12-01 11:55] #3152 closed

[2021-12-01 12:04] alexr00 commented on #3052
@ghills that is the code that I would expect to cause this, but we shouldn't actually get that far as there's a check for `ssh.github.com` that bails out before making the `GitHubManager.getOptions` call:

https://github.com/microsoft/vscode-pull-request-github/blob/f837b766033fd48ef28b16abcfc3f85303992f90/src/authentication/githubServer.ts#L8-L22

[2021-12-01 12:45] alexr00 commented on #304
I can't find a way to cause the target of a link to be used as the title of an element for all links. Since we just render the html from GitHub, and that html doesn't have titles set for any of the link, I'm calling target hovers in GitHub provided content wont-fix.

[2021-12-01 12:45] #304 closed

[2021-12-01 14:15] #2385 closed

[2021-12-01 14:16] alexr00 commented on #2385
If we get a SAML error, the following should happen:
1. You get a modal dialog saying that you need to SAML
2. You get another modal dialog prompting to auth.
3. The rest of the auth flow happens.

[2021-12-01 15:21] ghills commented on #3052
@alexr00 that worked - with that build it appears to be operating normally.

Thanks!

[2021-12-01 15:29] #3136 closed

[2021-12-01 15:29] alexr00 commented on #3137
@Im1Bear can you please describe the issue you were seeing?

[2021-12-01 15:33] #3140 closed

[2021-12-01 15:34] alexr00 commented on #3140
Thanks for reporting this!

[2021-12-01 15:34] #3141 closed

[2021-12-01 15:34] #3142 closed

[2021-12-01 15:34] #3143 closed

[2021-12-01 15:35] alexr00 commented on #3146
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/2707

[2021-12-01 15:36] #3146 closed

[2021-12-01 15:36] #3149 closed

[2021-12-01 15:42] alexr00 commented on #3150
As you have noticed, the 0.33.* releases are pre-releases. I'm guessing you noticed these new version in the marketplace. My understanding is that the marketplace will soon be updating so that it doesn't show pre-release versions as the new version number.

We have not tagged pre-releases in the past (used to be a separately published extension, but same repo), and VS Code itself doesn't tag insid

[2021-12-01 15:42] #3150 closed

[2021-12-01 16:51] misolori opened #3155 "Expected for checking out pull request command to be generalized"
Testing #3144

<img width="642" alt="CleanShot 2021-12-01 at 08 48 41@2x" src="https://user-images.githubusercontent.com/35271042/144277151-02f997a4-3347-4c05-9f70-b0a76e44efda.png">

While the original use case for checking out a PR via # is achieved in this new command, i would've expected a more generalized solution. Like, instead of "Checkout Pull Request by Number" why not "Checkout Pull Requ

[2021-12-01 17:06] misolori opened #3156 "Expected PR number to ignore hash"
Testing #3144

I copied a number from the web and pasted it, expecting for it to be "smart" and ignore the #. This would be a nice "delighter" and save extra steps even though overtime you would learn that you can't use the #.

![image](https://user-images.githubusercontent.com/35271042/144278618-c827c6ff-3dfe-4218-a489-ecdadb5ea229.png)

[2021-12-01 17:16] misolori opened #3157 "Prompt user to sign in when logged out and running command"
Testing #3144

<img width="643" alt="CleanShot 2021-12-01 at 09 14 10@2x" src="https://user-images.githubusercontent.com/35271042/144281530-efdc8937-49da-4ca4-83b6-4d2896cec61d.png">

When you sign out of the extension and run the "Check Out" command, the quick pick is in an odd state where it's asking what repository I want to use. I would've expected for the extension to prompt me to sign in and

[2021-12-01 17:45] #3144 closed

[2021-12-01 19:07] Im1Bear commented on #3137
I don't know it anymore so you can close the Issue.

[2021-12-01 19:07] #3137 closed

[2021-12-01 19:58] roblourens commented on #2999
Seems like I still can't add comments to this renamed file

![image](https://user-images.githubusercontent.com/323878/144304748-57a74bb6-22d6-428d-837c-e611f85655da.png)

[2021-12-01 20:26] roblourens commented on #2324
I don't get an error. Should I see this when I cloned a wiki?

![image](https://user-images.githubusercontent.com/323878/144308631-8f3b06fe-5f68-41ac-8f92-e3af31bd9457.png)

[2021-12-01 20:46] tanhakabir commented on #2299
There's a little bit of lag but verified

[2021-12-02 00:55] roblourens commented on #722
Is this what I'm supposed to see now?
![image](https://user-images.githubusercontent.com/323878/144338142-b9922146-7a2c-4d1c-9edb-a70776b42f09.png)

[2021-12-02 01:08] a69joon commented on #3142
p{margin-top:0;margin-bottom:0}

    I am still a beginner.
Thanks for your reply. I will study even harder.

--------- 원본 메일 ---------

        보낸사람: Alex Ross ***@***.***>
        받는사람: microsoft/vscode-pull-request-github ***@***.***>

            참조: a69joon ***@***.***>, Author ***@***.***>

        날짜: 21.12.02 00:34 GMT +0900
        제목: Re: [microsoft/vscode-pull-request-github] Extension

[2021-12-02 03:43] tanhakabir commented on #2604
![image](https://user-images.githubusercontent.com/12758612/144353775-51140138-a067-4762-9d39-0d4b731f8e5d.png)

![image](https://user-images.githubusercontent.com/12758612/144353807-fcfedba8-3ed5-411f-9a5b-41c60eabd8fe.png)

Still seeing the notification to create a PR with empty branch that has emoji in name using the Pre-release version of GHPRI

[2021-12-02 08:21] alexr00 commented on #722
Yes, that's what you should see now!

[2021-12-02 08:24] alexr00 commented on #2324
What you're seeing is correct. We don't provide GitHub support when you open a wiki or gist, and I think most people don't expect there to be support for these.

[2021-12-02 08:46] alexr00 commented on #3155
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/3151

[2021-12-02 08:47] #3155 closed

[2021-12-02 10:27] #3156 closed

[2021-12-02 10:29] alexr00 commented on #3157
The command should be hidden in this case.

[2021-12-02 10:32] #3157 closed

[2021-12-02 12:48] alexr00 commented on #2999
@roblourens I'm not able to reproduce this. Do you have changed lines in the file? Commenting is still only allowed on changed lines.

[2021-12-02 12:48] #2999 closed

[2021-12-02 13:15] alexr00 commented on #2604
This appears to be an issue with GitHub. Initially, when the GitHub repo is created, the default branch is set to `main`, even though if you look on the web UI it shows the expected 💥 branch name. A few moments later, the same REST API call returns the correct 💥 branch as the default branch.

[2021-12-02 15:36] eazevedo016 commented on #2061
Não entendi. Você poderia explicar passo a passo como fez para funcionar a visualização dos seus PR's? Estou com o mesmo problema.

[2021-12-02 17:06] rzhao271 opened #3160 "Issues loading forever in folder with git not initialized"
Testing https://github.com/microsoft/vscode-pull-request-github/issues/2581 with a folder open that does not have git initialized:
![repro](https://user-images.githubusercontent.com/7199958/144469066-db32d52a-61b0-48a0-9dca-b4f0ac628a6e.PNG)

The pull requests view correctly displays a "No git repositories found" message, but the issues view still displays "Loading..."

[2021-12-02 18:19] rzhao271 commented on #3132
Is there a way to display text below the quickpick inputbox, like how pressing on the milestone + with no milestones displays a message saying "No milestones created for this repository"?

[2021-12-02 18:19] rzhao271 opened #3161 "t is not iterable for assignee + button"
Testing https://github.com/microsoft/vscode-pull-request-github/issues/3132

Steps:
Same as https://github.com/microsoft/vscode-pull-request-github/issues/3132#issuecomment-977986006, but use the + to try and add an assignee.

[2021-12-02 18:54] baraBlz commented on #722
I need help

On Thu, 2 Dec 2021 at 00:55, Rob Lourens ***@***.***> wrote:

[2021-12-02 19:29] rchiodo commented on #2318
@alexr00 under what conditions does the information message appear?

I tried creating a PR and then updating it externally to VS code. No message appears
I updated the PR from within the same VS code. No message appears.

[2021-12-02 19:37] pwujek commented on #2318
At the time I received this message there were roughly 20 pull requests
open for the project.
There is no indication of which one of the pull requests the message
referred to.

On Thu, Dec 2, 2021 at 2:29 PM Rich Chiodo ***@***.***> wrote:

--
*Paul Wujek*

[2021-12-02 19:41] rchiodo commented on #2318
Ah never mind. It must be on a refresh timer.

This suddenly appeared:

![image](https://user-images.githubusercontent.com/19672699/144491574-33421604-6e94-4588-b5cb-6611e421811a.png)

[2021-12-02 19:52] pwujek commented on #2318
From that message it looks like someone has already fixed this issue.

On Thu, Dec 2, 2021 at 2:41 PM Rich Chiodo ***@***.***> wrote:

--
*Paul Wujek*

[2021-12-02 19:54] rchiodo commented on #2318
Yes @alexr00 did. The fix is in the insiders build. I'm using that same build to verify this issue. You should be able to see the fix if you switch to VS code insiders.

[2021-12-02 21:51] rchiodo commented on #3108
@alexr00 do you have any verification steps? Thanks.

[2021-12-02 22:52] joyceerhl commented on #3156
Still repros, guessing the fix hasn't shipped yet?
![image](https://user-images.githubusercontent.com/30305945/144515875-70685813-6986-42a2-84ce-9c459bf42869.png)

[2021-12-03 01:07] roblourens commented on #2638
I followed the steps in https://github.com/microsoft/vscode-pull-request-github/issues/2638#issuecomment-975574277 and added tbble to `githubPullRequests.remotes`, but `Local Pull Request Branches` is empty

[2021-12-03 01:23] roblourens commented on #2385
How do I trigger that kind of error?

[2021-12-03 05:09] learning2code12 commented on #1480
For those having issues with this in 2021...

I installed the github extension but when I opened the tab I saw no option to login.

I solved this by going to command pallette and searching github. I chose publish Github repository.

This created a prompt saying I wasn't signed in and directed me to the website.

I signed in and authorised on github, and I was able to upload my project.

However, I

[2021-12-03 08:46] alexr00 commented on #2385
I think you need to have not SAMLed yet for the day, so if you've already done that on a machine, you can't get this error for one day. Otherwise:
1. From the accounts icon in the activity bar, sign out of your github.com account.
2. Reload.
3. Open the GitHub view.
4. Start to sign in, **but don't finish**. When you get to the web page that shows the organizations that you are a part of, **don't

[2021-12-03 08:49] alexr00 commented on #2638
We don't detect PRs for all your local branches, only the one you have checked out. Once you've checked out a branch that a PR is associated with, then it will show up in `Local Pull RequestBranches`. @roblourens did you check out a branch with a PR associated with it?

[2021-12-03 08:54] alexr00 commented on #3156
Correct, the daily pre-release build occurs around 10am CET.

[2021-12-03 09:00] alexr00 commented on #3108
To verify:
1. Have the pre-release version of GHPRI installed
2. Open a folder with a GitHub remote
3. Open the dev tools
4. In a file that's part of the workspace, add `@this_is_not_a_real_user` (or any other fake username) in a comment in that file.
5. Hover over the fake user name
6. Verify that a GraphQL error is not printed to the console.

[2021-12-03 09:19] lougreenwood opened #3162 "[Feature] Auto-create remote when attempting to check out a PR from a fork"
## Context

Our repo setup requires contributors to fork the base repo and work in branches on their fork. Contributors then create a PR from fork branches against the base repo master branch.

### Problem

This means that a user of this addon who is also using the workflow described above needs to manually manage remotes for all contributors - otherwise, when trying to checkout a branch, the user

[2021-12-03 09:43] alexr00 commented on #3132
@rzhao271 the quick pick doesn't give us a great way to do this and still show progress when the quick pick options are being calculated. Since this quick pick allows multi-select we'd end up with a checkbox next to the "No reviewers available for this repository" message, which also seems confusing.

[2021-12-03 10:50] alexr00 commented on #3132
It does seem better though:
![image](https://user-images.githubusercontent.com/38270282/144590396-e9498ca2-8893-4e4c-8046-fcb2d38f4083.png)

Adding.

[2021-12-03 10:59] #3161 closed

[2021-12-03 11:25] bpasero commented on #3152
I typed in a string ("kasdkasjdkj") but the dialog shows "0":

![image](https://user-images.githubusercontent.com/900690/144594841-f38ea5d6-4fd1-475c-b31b-1c94ba399fbf.png)

[2021-12-03 12:43] alexr00 commented on #3152
I broke the validation regex. Fix will be available Monday.

[2021-12-03 12:57] yecril71pl opened #3163 "Publish fails with a cryptic error message"
Issue Type: <b>Bug</b>

When no git repo is configured, the command GitHub Publish fails with a cryptic error message: "State not found in accepted state. Skipping this execution..."

Extension version: 0.32.0
VS Code version: Code 1.62.3 (ccbaa2d27e38e5afa3e5c21c1c7bef4657064247, 2021-11-17T08:00:36.721Z)
OS version: Linux x64 5.15.5-1-default
Restricted Mode: No

<details>
<summary>System Info</

[2021-12-03 13:21] TBBle commented on #2638
I have repeated my reproduction steps in https://github.com/microsoft/vscode-pull-request-github/issues/2638#issuecomment-975574277, and installed the nightly build `GitHub Pull Request Nightly Build
v2021.11.14945` (`github.vscode-pull-request-github-insiders`) which I assume is recent-enough to have the given fix.

Even after adding `tbble` to the list of remotes to fetch pull requests from, it

[2021-12-03 13:53] alexr00 commented on #2638
@TBBle thank you for trying it out! Unfortunately, `v2021.11.14945` is not new enough to have the changes that I made to address this issue. The latest versions of the nightly/pre-release build are only available with VS Code insiders as there were some other changes that required me to bump the required VS Code version.

The good news is that in VS Code insiders this extension now supports the VS

[2021-12-03 14:38] alexr00 commented on #1221
I tried signing in on Windows and Ubuntu alternatingly (3x on each). No error.

[2021-12-03 15:47] yecril71pl opened #3164 "Cannot GET /css/fonts/roboto.css"
Issue Type: <b>Bug</b>

https://vscode-auth.github.com/css/fonts/roboto.css requested by the [authentication page](https://vscode-auth.github.com/).

Extension version: 0.32.0
VS Code version: Code 1.62.3 (ccbaa2d27e38e5afa3e5c21c1c7bef4657064247, 2021-11-17T08:00:36.721Z)
OS version: Linux x64 5.15.5-1-default
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|

[2021-12-03 16:04] ryan-efendy opened #3165 "Every time I open a new instance of vscode I'm being prompted to sign in to GitHub"
- Extension version: v0.33.2021120309
- VSCode Version: 1.63.0-insider Commit: cca3e817a2608225d4ae8715308195c91 1765bad
- OS: macOS Big Sur Version 11.5.2

every time I open a new instance of vscode (insider) I'm being prompted to sign in to GitHub:
![image](https://user-images.githubusercontent.com/12979345/144631592-f8a32171-d2bc-4c08-b430-1535fa0a2f23.png)

[2021-12-03 17:32] joyceerhl commented on #2524
This works now, but I get an error message
![image](https://user-images.githubusercontent.com/30305945/144646841-06b4bafd-3668-4ec6-b14d-480517544ca7.png)

Is the error message strictly necessary since GHPRI is able to open the pull request contents?

[2021-12-03 17:42] rchiodo commented on #2266
@alexr00 can you put some repro steps?

I'm not sure what the 'PR' branch is. I thought the pull request extension shows remote PRs so how would my local branch affect it?

[2021-12-03 17:52] roblourens commented on #2638
Yeah, the steps in https://github.com/microsoft/vscode-pull-request-github/issues/2638#issuecomment-975574277 include `git checkout -b wcow_mount_layers tbble/wcow_mount_layers`, and that remote branch has this PR: https://github.com/containerd/containerd/pull/4419. If I check out the remote branch directly `git checkout  tbble/wcow_mount_layers`, same result.

[2021-12-03 18:28] bamurtaugh commented on #2401
@alexr00 I now have only GHPRI stable enabled, `v0.32.0`. Should I see this change live when I go to https://github.dev/bamurtaugh/ExpressApp/pull/5 and type # in any comment area?

[2021-12-03 19:12] joyceerhl commented on #3161
Still seeing this in insiders.vscode.dev, will wait for nightly GHPRI
![image](https://user-images.githubusercontent.com/30305945/144659528-c8cea1d6-ee2c-4fde-adcd-22704ae3951e.png)

[2021-12-03 22:14] TylerLeonhardt commented on #3052
verifying based on @ghills's comment.

[2021-12-04 14:31] amigowifigh commented on #841
awgh

[2021-12-04 21:26] xLunarr opened #3166 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-pull-request-github`
- Extension Version: `0.32.0`
- OS Version: `Linux x64 5.4.151-16906-g86cbb761e8c4`
- VS Code version: `1.62.3`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2021-12-06 12:33] deepskyblue86 commented on #1044
Same here. `git fetch --unshallow` did the job.

[2021-12-06 17:50] roblourens commented on #2638
I am probably doing something wrong, but will reopen it since I can't verify it right now.

[2021-12-06 20:58] bamurtaugh opened #3167 "Allow "Don't Show Again" and/or configurability of opening PR"
As described by user in [Twitter thread](https://twitter.com/choldgraf/status/1467929832176513024?s=20):

Would we consider adding "Don't Show Again," or a setting to configure this in GHPRI so that users can choose a default and avoid seeing this popup moving forward?

[2021-12-06 21:30] choldgraf commented on #3167
Just a note that it would also be fine if there were an obvious place in the settings to disable this check. When I `ctrl+click` on a github URL within VSCode, I just want it to open a browser window directly and not ask me whether I want to take the action in vscode.

[2021-12-07 08:37] alexr00 commented on #2401
@bamurtaugh you need to install the pre-release version, which can be done from the extensions view. GHPRI has a "switch to pre-release" (or something similar) button.

[2021-12-07 08:46] alexr00 commented on #3152
@rzhao271 are you sure you were on the latest pre-release version? You should be unable to choose a PR if you just enter letters.

![image](https://user-images.githubusercontent.com/38270282/144996189-dcf81391-8656-4261-a8fa-76d0bd18677c.png)

[2021-12-07 09:44] alexr00 commented on #2266
To repro/verify:
1. Checkout a PR, either through the PRs view or by checking out a local branch that you have an active PR on.
2. **Not using the PR extension**, so through github.com or through a different clone of the same repo, push a new commit to the PR.
3. Run git fetch in you PR repo.
4. You should see a notification pop up saying that there are changes in your PR and do you want to pull.

[2021-12-07 10:49] alexr00 commented on #3165
@ryan-efendy are you signed in?

[2021-12-07 10:51] alexr00 commented on #3166
I'm sad to say that this is by design. Full discussion is here: https://github.com/microsoft/vscode/issues/136222

[2021-12-07 10:51] #3166 closed

[2021-12-07 10:56] alexr00 commented on #2524
Huh, I wouldn't have expected you to be able to checkout the PR at all since the branch no longer exists. I see a better error when I try to check out that PR, and the PR isn't checked out.

![image](https://user-images.githubusercontent.com/38270282/145016707-82366375-edb5-49fa-8042-9df6275c2824.png)

[2021-12-07 10:57] alexr00 commented on #2524
Hmm, maybe it's because you still have a local branch.

[2021-12-07 15:47] rzhao271 commented on #3152
Got it this time

[2021-12-07 20:15] bamurtaugh commented on #2401
Thank you! I'm now on `v0.33.2021120709` and see "Pre-Release" next to the version number.

![image](https://user-images.githubusercontent.com/25310137/145099601-7efd6041-6a71-49a8-a0df-a795c5444b4f.png)

I apologize if I'm still doing something wrong, but when I type # in a comment (i.e. at https://github.dev/ataridotcom/gh-static-e2e/tree/test126), I don't see completions.

![image](https://user

[2021-12-08 08:14] kid0011 opened #3168 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-pull-request-github`
- Extension Version: `0.32.0`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.62.3`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-12-08 13:09] alexr00 commented on #2401
@bamurtaugh looks like that was due to the issues list not being populated. I've pushed a fix.

[2021-12-08 15:13] #3168 closed

[2021-12-08 20:48] bamurtaugh commented on #2401
Thanks @alexr00! Should I see the change live in Pre-Release GHPRI `v0.33.2021120809` when I type a comment like the above?

[2021-12-09 10:32] alexr00 commented on #2401
No, that one is from before the change. The new stable release, 0.34.0, has the fix, as do the 0.35.* pre-release versions.

[2021-12-09 10:59] TBBle commented on #2638
So new VS Code version, and now I have the "Pre-Release" version `v0.35.2021120909`. Behaviour seems unchanged compared to https://github.com/microsoft/vscode-pull-request-github/issues/2638#issuecomment-985514638' for both "Local Pull Request Branches" and "Created By Me".

If that's not a new-enough build of the extension, what version should I be targeting/waiting for?

[2021-12-09 11:16] #3167 closed

[2021-12-09 11:17] alexr00 commented on #3167
There was already a setting(`"githubPullRequests.terminalLinksHandler": "github"`), but I added a button to the notification that sets the setting.

![image](https://user-images.githubusercontent.com/38270282/145386809-287105e3-a8b3-4399-a9f1-1b3e15cdb852.png)

[2021-12-09 11:19] alexr00 commented on #2638
@TBBle that is the correct version. The issue has been reopened in response to the fix being insufficient (https://github.com/microsoft/vscode-pull-request-github/issues/2638#issuecomment-985714707)

I am looking into a better fix. Thank you for your patience and willingness to try it out!

[2021-12-09 11:20] TBBle commented on #2638
Ah, thank you. I misunderstood that comment as merely being unable to reproduce the issue, rather than confirmation that it was not yet fixed.

[2021-12-09 11:24] alexr00 commented on #3163
Looks like this is coming from the built in git or GitHub extension.

[2021-12-09 11:55] alexr00 commented on #3043
The remote branch for that PR has been deleted, which is why that PR can't be opened now. A reasonable error message should now show:

![image](https://user-images.githubusercontent.com/38270282/145392089-e1a59093-5ad4-42db-b226-bc498d1b8195.png)

Not sure if it was deleted before or after this issue was made. I can't repro the issue though, so closing.

[2021-12-09 11:55] #3043 closed

[2021-12-09 13:46] #3037 closed

[2021-12-09 13:47] alexr00 commented on #3037
Thanks @bdwain, [this](https://github.com/microsoft/vscode-pull-request-github/issues/3037#issuecomment-944040188) helps.

I'm not able to repro the issue. However, I see a place where this could happen. I've pushed a change, and it will be available in the pre-release version of the extension on Monday.

[2021-12-09 14:07] alexr00 opened #3173 "Comments disappearing after exiting review mode"
1. Checkout a PR that has comments in some files.
2. Open a file with comments and see the comments
3. Checkout the default branch
4. Open a diff from the same PR in the PRs view
5. 🐛 no comments.

[2021-12-09 14:40] alexr00 commented on #2936
This would have been caused by registering too many comment controllers. With 62ad77ddfa1bc561d2248ef0d33a96cb3e8554d5, the last place this could happen has been removed.

[2021-12-09 14:40] #2936 closed

[2021-12-09 18:56] choldgraf commented on #3167
having that box is a nice UX, thanks very much for listening and for the addition :-)

[2021-12-10 00:25] bamurtaugh commented on #2401
Thanks for clarifying - I tried `v0.35.2021120909` pre-release and `v0.34.0` Stable, and I don't seem to have any different behavior when I type `#` in a comment. Any suggestions or things I should do differently?

[2021-12-10 02:07] mastazi opened #3175 "Every time I open my project, it automatically enters review mode"
- Extension version:   0.34.0
- VSCode Version: 1.63.0
- OS: Windows 11,

Steps to Reproduce:

1. Create a repo with main branch and develop branch, develop being your default branch (typical gitflow setup)
2. Make a PR to merge develop into main and merge
3. Now, every time you open VSCode while in develop branch, the extension will enter review mode automatically (and all my previously opened ta

[2021-12-10 02:40] ryan-efendy commented on #3165
@alexr00 yes I'm signed in. +1 on what @jhpratt said, every time I reload windows or open a new instance of vscode it prompts me to sign in.

![image](https://user-images.githubusercontent.com/12979345/145508098-7eaca0a6-f56b-408d-a4f9-b2409a22498b.png)

[2021-12-10 05:44] he0119 commented on #3175
Me too.
I have to manually delete the `github-pr-owner-number` key in `.git/config` file, and everything works fine now.

[2021-12-10 09:27] alexr00 commented on #2401
So this I cannot repro. Are issues showing in the issues view for you?

[2021-12-10 09:33] alexr00 commented on #3165
@ryan-efendy and @jhpratt I can't repro the issue, but I pushed a change that could fix it. Pre-release version 0.35.2021121009 has the change. Would you be able to try it out and reply back with whether you stop getting the prompt like that?

[2021-12-10 09:38] jhpratt commented on #3165
Quick check amounting to "upgrade to prerelease" and "reload" still results in the prompt.

Are there any logs that may be of use? I'd need instructions, but I'm fine sharing them if they're helpful.

[2021-12-10 09:49] alexr00 commented on #3175
Entering review mode like this is by design. A recent change prevents review mode when the PR is closed (not merged), but we still do this for merged PRs.

What should be improved:
- A setting to prevent going into review mode for auto-detected merged PRs.
- The "Exit review mode" button + link should not show if you're already on your default branch.

The tabs closing is likely not coming from th

[2021-12-10 09:57] alexr00 commented on #3165
Thanks for trying it out. To get logs:

1. Set this setting to expand the log level: `"githubPullRequests.logLevel": "debug"`
2. Do your repro of the issue.
3. Run the command "Output: Focus on Output View"
4. In the Output dropdown, choose GitHub Pull Requests.
5. Share the entire contents of that output.

[2021-12-10 09:59] baraBlz commented on #3165
Hey what’s the issue. No one know I was supposed to be in the witness
protection programme and now all smart assholes compromised me 100%
again??? Please call +353 87 387 5677

On Fri, 10 Dec 2021 at 09:57, Alex Ross ***@***.***> wrote:

[2021-12-10 10:00] baraBlz commented on #3165
The ur gonna love hearing how I protect myself since I was a kid much less
this whatever it was…

On Fri, 10 Dec 2021 at 09:57, Alex Ross ***@***.***> wrote:

[2021-12-10 10:03] baraBlz commented on #3165
I first wouldn’t allow myself to pretend hacker on any fucking corner of
the world if I copy pasted some code. Much less a developer or hard earned
scholar… I dunno kids need to learn their place from me I guess. +353 87
387 5677

On Fri, 10 Dec 2021 at 09:57, Alex Ross ***@***.***> wrote:

[2021-12-10 11:23] xlucas commented on #3175
Hum when you switch a lot between different projects this is a really annoying design choice.
Is there a setting to disable that entirely?
I don't want to jump to review mode every time, only when I chose to...

[2021-12-10 11:28] kilinkis opened #3177 "Create Pull Request button gone?"
Sorry if not a bug, but for a few days now I don't see the create PR button. This is what I see now:

<img width="319" alt="image" src="https://user-images.githubusercontent.com/133504/145566862-93240a81-53f3-46be-a1e5-d8e91092aeeb.png">

- Extension version: v0.32.0
- VSCode Version: 1.62.3
- OS: Monterrey 12.0.1

Here's an image of how it was:
![image](https://user-images.githubusercontent.com/1

[2021-12-10 11:33] mastazi commented on #3175
Is there a way to stop this at all? Maybe somehow I can go and edit that PR from Github and change its owner? I would like to be able to use this extension but as it is it's unusable for me.

[2021-12-10 13:17] alexr00 commented on #3175
@mastazi there's no workaround in version 0.34.0, but I just added a setting and made a new pre-release build (v0.35.2021121012). If you want to try it out, feedback would be greatly appreciated! Though please be warned: the name of the settings/setting values could change before the next stable release.

Details about the pre-release build: https://github.com/microsoft/vscode-pull-request-github/

[2021-12-10 16:49] bamurtaugh commented on #2401
I do see issues and PRs in the GHPRI view on the left, but typing `#` in a comment does not suggest them (even if I start typing numbers after the `#` too):

![image](https://user-images.githubusercontent.com/25310137/145610606-16dfee50-12c0-432c-90d6-816282dbcc42.png)

I can successfully hover over the issues to get more info:

![image](https://user-images.githubusercontent.com/25310137/145610777

[2021-12-10 17:44] RandomNoun7 commented on #1876
Hi. I'm not behind a firewall or proxy, and I know my git configuration works (at least from the commandline). My org uses OAuth so I had to authorize my ssh key, but that's been completed and everything but the extension works fine now. Pasting the log output below.

[code]

[2021-12-10 17:49] RandomNoun7 commented on #1876
Also got this from GitHub Authentication.log

[code]

[2021-12-10 17:51] ryan-efendy commented on #3165
@alexr00 I'm on v0.35.2021121012 (pre-release) and I'm still being prompted to sign in on reload window etc
![image](https://user-images.githubusercontent.com/12979345/145619116-2bff9997-2db8-4ff6-9cbc-067d69cf600e.png)

[2021-12-10 23:57] mastazi commented on #3175
thank you @alexr00 I can confirm that with prerelease v0.35.2021121012 the issue is resolved on my machine!

All I had to do is going to the new setting and remove "merged".

[code]

(I'm not sure why the default should be `["open", "merged"]`? Maybe there is a use case for reviewing merged PRs that I'm missing).

Thank you for fixing the issue!

[2021-12-11 01:09] jhpratt commented on #3165
Well…it's a lot but here is the full output. I _did not_ click "sign in". Looks like the overwhelming majority of the output is GraphQL requests and responses.

https://gist.github.com/jhpratt/ea32a8cfa7862badbf3eceb9ddd5e6c7

I'd have included it inline but it's >10x the maximum length of a comment.

[2021-12-11 18:31] QaJack opened #3179 "Cannot find module 'firebase' or its corresponding type declarations.ts(2307)"
Vscode is not recognizing the firebase.

Code compiles and there is no issue with the project also however, vscodes show it as error.

Also tried changing the file extentions from .ts to .js. It does not show any error but autocomplete does not work for firebase

[2021-12-12 02:52] klueless-io opened #3180 "Recent Change has stopped my Language Server (Intellisense) from working"
I posted details of my issue as a bug against VSCode, you can see it here

[VSCode Issue](https://github.com/microsoft/vscode/issues/138923)
and
[YouTube walkthrough](https://youtu.be/pNqHHghTRgY)

I was able to get intellisense working by disabling your extension

[2021-12-13 07:53] jhpratt commented on #3165
Thanks @alexr00! I haven't checked the latest one-line patch but it is certainly plausible that failing to return is in fact the cause.

[2021-12-13 07:56] alexr00 commented on #3165
I'm pretty sure that was the problem. The new pre-release build should be available in an hour or so. I will also be making a new stable build with this patch release tomorrow.

[2021-12-13 07:56] alexr00 commented on #3165
Re-opening to track for the stable build too.

[2021-12-13 07:58] alexr00 commented on #3175
@mastazi thanks for trying it out! I will try to add a comment here if the setting name changes.

[2021-12-13 08:04] alexr00 opened #3182 "Issue completions not showing in comments github.dev"
From https://github.com/microsoft/vscode-pull-request-github/issues/2401#issuecomment-991129937

I do see issues and PRs in the GHPRI view on the left, but typing `#` in a comment does not suggest them (even if I start typing numbers after the `#` too):

![image](https://user-images.githubusercontent.com/25310137/145610606-16dfee50-12c0-432c-90d6-816282dbcc42.png)

I can successfully hover over th

[2021-12-13 08:04] alexr00 commented on #2401
Let's move over to https://github.com/microsoft/vscode-pull-request-github/issues/3182

[2021-12-13 08:33] #3182 closed

[2021-12-13 11:24] kilinkis commented on #3177
ah, that option is actually in the Github tab
<img width="100" alt="image" src="https://user-images.githubusercontent.com/133504/145803888-6305d301-bdd9-4c35-999c-35ea3f742ad1.png">

[2021-12-13 11:24] #3177 closed

[2021-12-13 16:13] bamurtaugh commented on #3182
Looks like it works great for me now, thanks so much!

[2021-12-13 16:13] bamurtaugh commented on #2401
Tested after seeing #3182, and looks like it's working great for me now!

![image](https://user-images.githubusercontent.com/25310137/145847747-a929e83e-e37e-4ec0-b3c0-f888151efd72.png)

Thanks so much for your continued help here, @alexr00!

[2021-12-13 16:26] alexr00 commented on #3182
Thanks for helping narrow it down!

[2021-12-13 16:56] #3173 closed

[2021-12-13 16:56] #3165 closed

[2021-12-13 16:57] alexr00 commented on #3165
@jhpratt or @ryan-efendy any luck with the latest pre-release version?

[2021-12-13 17:02] alexr00 commented on #3179
This issue doesn't appear to be related to the GitHub Pull Requests and Issues extension.

[2021-12-13 19:43] mxcl commented on #591
Uninstalled this nonsense because of this. This is in the same category of irritations as websites that block content begging you to sign up to their mailing list when you visit them.

Learn to use non intrusive popups.

[2021-12-13 20:47] ryan-efendy commented on #3165
I haven't been prompted to sign in all day today (opening new instance and reloading window) 👍🏼  I'm on **v0.35.2021121309**.

[2021-12-14 00:01] joyceerhl opened #3187 "Improve performance of loading the pull request view in virtual repositories"
- Extension version: v0.35.2021121309
- VSCode Version: 1.64-insider
- OS: Windows 11, Edge

Steps to Reproduce:

1. Open https://insiders.vscode.dev/github/python/cpython/pull/29581
2. 🐛 GHPRI pull request view takes over 2 min to become ready
    ![image](https://user-images.githubusercontent.com/30305945/145906404-3a6ecbd4-b0a7-4d57-a913-abd9d50cb398.png)

Dev tools didn't offer any insights as

[2021-12-14 00:34] Tyriar opened #3188 "Sync pull for PR with updates notification"
Just got his on my new PC:

![image](https://user-images.githubusercontent.com/2193314/145911093-0808b9b3-6cf4-49fd-9f07-672457b63b8d.png)

We should sync whether to show this notification via settings sync.

[2021-12-14 06:39] kondo-hokuto opened #3189 "Regular expression search freezes."
- VSCode Version: 1.63.0
- OS: Windows10 x64 and Ubuntu20.04 x64

Steps to Reproduce:

1. Open a new editor tab.
2. Enter `123456789012345678901234567890` in the editor.
3. Open the search panel (Ctrl + F).
4. Search for `(.*\n)*a` in a regular expression.
5. Delete the `\n` in the search string.

If the string entered in the editor exceeds about 20 characters, the operation will be slow, and 30 c

[2021-12-14 06:42] lagerholm opened #3190 "Bug: Keybindings not working"
Issue Type: <b>Bug</b>

I'm trying out the keybindings provided by the extension but it's not working.

I have tried `GitHub Pull Requests: Copy Commit Hash` which gives the error:
`Cannot read property 'sha' of undefined` when used.

And also `GitHub Pull Requests: Mark File As Viewed` which gives the error:
`Marked file as viewed failed: TypeError: Cannot read property 'pullRequest' of undefined

[2021-12-14 06:48] lagerholm opened #3191 "Bug: Slow to mark files as viewed"
Issue Type: <b>Bug</b>

When marking files as viewed it's very slow. Takes more than 1 second on my pretty fast machine. This is frustrating when you have a big PR with many files with few changes. I still want to mark all files as viewed to keep track of the progress if I'm interrupted and to make sure I look at everything.

Extension version: 0.34.0
VS Code version: Code 1.63.0 (7db1a2b88f7557e0

[2021-12-14 07:03] lagerholm opened #3192 "Feature Request: Amount of changes in file view"
Issue Type: <b>Feature Request</b>

I'm finding it hard to make sense how big a PR is when just looking at it from the extension. It would be nice to see how many lines have changed. A total somewhere and also per file would be nice. Just a simple green + and red - with numbers next to it in the file view.

Maybe this is already avalible for the whole PR and I'm just blind...

Extension version: 0

[2021-12-14 09:22] AlCalzone opened #3193 "Bug: First changed file in the current PR is automatically opened seconds after starting VSCode"
- Extension version: v0.34.0
- VSCode Version: 1.63.0
- OS: Windows 10

Since recently, opening VSCode when a PR branch is checked out, causes the extension to open the first file in that PR multiple seconds later. This is very irritating when already working on another file. In general, automatically opening a file without user interaction seems like a bad idea.

Steps to Reproduce:

1. Open VSCo

[2021-12-14 09:36] fstreicher commented on #3175
I'm not really sure if this is the right place, but recently I'm observing the following behaviour, which seems to be somewhat similar to #408
- I work on a feature branch, open a PR (draft/ready for review, happens for both)
- I continue to work on that branch (fixing stuff, applying review suggestions)
- now whenever I open that project, or even just `Reload window` (which unfortunately sometime

[2021-12-14 09:40] baraBlz commented on #3193
Hey, my name is Domagoj Barisic,
Please know that to me this was no game, nor was it a snuff play date with
internet maniacs.
My life is in serious danger and my thoughts cannot run straight anymore. I
am cornered back in Dublin. I am receiving mail in my mailbox and still
being blackmailed. I lost a lawsuit in Dublin which was setup for me to
lose. I am so much in debt that I don’t feel like runn

[2021-12-14 09:59] alexr00 commented on #3175
@fstreicher this is a bug. Please open a new issue for this.

[2021-12-14 10:01] baraBlz commented on #3175
Hey, my name is Domagoj Barisic,
Please know that to me this was no game, nor was it a snuff play date with
internet maniacs.
My life is in serious danger and my thoughts cannot run straight anymore. I
am cornered back in Dublin. I am receiving mail in my mailbox and still
being blackmailed. I lost a lawsuit in Dublin which was setup for me to
lose. I am so much in debt that I don’t feel like runn

[2021-12-14 14:01] bpasero opened #3194 "Being on a branch with a PR replaces my active editor"
Steps to Reproduce:

1. be on a branch that maps to a opened PR
2. reload window
3. open some editors to look at

=> 🐛  out of random my active editor changes to the PR

![recording](https://user-images.githubusercontent.com/900690/146012802-5c832111-9051-452b-a4f8-f51bbaf7c62e.gif)

[2021-12-14 14:10] alexr00 commented on #3187
Thank you for this great investigation! I started refactoring, and it looks like I can move most of the `diffBetween` calls to occur when the diffs are actually opened instead of when the trees are created. This does mean you could still get unlucky if the first file in the PR is slow, but its looking like it will be much better.

[2021-12-14 14:25] alexr00 commented on #3187
The merged change to do the `diffBetween` later resulted in ~13s to see the tree after reload, down from ~60s on my machine.

[2021-12-14 14:31] alexr00 commented on #3194
@bpasero what version of GHPRI are you using?

[2021-12-14 14:35] bpasero commented on #3194
@alexr00  github.vscode-pull-request-github

[2021-12-14 14:46] #3194 closed

[2021-12-14 15:17] alexr00 commented on #3165
Thank you for verifying @ryan-efendy!

[2021-12-14 15:40] baraBlz commented on #3165
Hello,

My name is Domagoj Barisic, is there anything I could do to get a bed and a
safe roof to finish what I started please? I am a nervous wreck from all
the stress thrown @ me.
+353873875677

Yours Sincerely,

Domagoj Barisic

On Tue, 14 Dec 2021 at 15:17, Alex Ross ***@***.***> wrote:

[2021-12-14 18:12] RikkiGibson opened #3197 "Can't comment in pull request via github.dev"
- Extension version: Not obvious how to check this. It doesn't show in the extensions tab from github.dev.
- VSCode Version: 1.63.0
- OS: macOS. Using Edge browser.

Steps to Reproduce:

1. Open PR https://github.dev/dotnet/roslyn/pull/57780
2. Navigate to NullableWalker.cs in the GitHub Pull Request tab
3. Try to leave a comment on a changed line

Expected behavior:
The "new comment" glyph shows

[2021-12-15 10:22] alexr00 commented on #3197
I suspect you were hitting https://github.com/microsoft/vscode-pull-request-github/issues/3173, which should be fixed in version 0.34.1 of the extension.

[2021-12-15 10:22] #3197 closed

[2021-12-15 10:23] alexr00 commented on #3193
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/3194, which will be fixed in 0.34.2.

[2021-12-15 10:26] #3193 closed

[2021-12-15 10:31] alexr00 commented on #3190
`GitHub Pull Requests: Copy Commit Hash` only works when you have a commit selected in the "Changes In Pull Request" view (it is hidden from the command palette because of this).

`GitHub Pull Requests: Mark File As Viewed` is similar. It only works when you have a file selected in the "Changes in Pull Request" view (it is also hidden from the command palette). However, this one I could see being

[2021-12-15 13:34] alexr00 commented on #3175
New behavior when you "Exit" a review but you're already on the default branch:

![image](https://user-images.githubusercontent.com/38270282/146195971-c414fe13-17b6-4bb9-bc12-6cfd51db9ed0.png)

[2021-12-15 13:51] lagerholm commented on #3190
Thanks for the clarification. The `Copy Commit Hash` was a bad example. Seem totally logical that it works like that.

Regarding the  ` Mark File As Viewed` I can't get it to work even though I have the file selected. It still gives the error.  Maybe this is a bug?

Or is it not this you mean with

![image](https://user-images.githubusercontent.com/18901257/146198479-d79587ee-9d56-4437-9b6d-ce8afa

[2021-12-15 13:53] lagerholm commented on #3191
Tested some more on a smaller PR with only one changed file at it was still slow.

[2021-12-15 17:56] joyceerhl opened #3198 "Request file/read failed with message: No file system provider found for resource"
- Extension version: v0.35.2021121509
- VSCode Version: 1.64-insider (insiders.vscode.dev)
- OS: Windows 11

Steps to Reproduce:

1. Go to https://insiders.vscode.dev/github/python/cpython/pull/29581
2. Open a bunch of modified files in the diff editor very quickly
3. 🐛 see this error message a lot in dev tools:
![image](https://user-images.githubusercontent.com/30305945/146226395-6404b49c-cf0f-4e

[2021-12-15 22:56] joyceerhl opened #3199 "PR description view sometimes shows up empty"
- Extension version: v0.35.2021121509
- VSCode Version: 1.64-insider (vscode.dev)
- OS: Windows 11

Steps to Reproduce:

1. Open https://insiders.vscode.dev/github/microsoft/vscode/pull/139243
2. The view with the reviewer info and comment box sometimes shows up empty
![image](https://user-images.githubusercontent.com/30305945/146277401-7a6c9dba-d25b-426f-884a-99b499f428a9.png)
3. Collapsing and e

[2021-12-16 14:58] theking2 commented on #3099
@DirtySoc it is possible to work with mulitple github accounts exactly in the way I described. If I clone from my 'normal' account I use:
`git clone git@github.com:user1/proj1.git`

if I clone from my special account I use:
`git@github-special.com:user2/proj2.git`

This works in `Source Control`in vscode as:
[code]
Unfortunately Pull Requests ignores the settins in .ssh/config and always uses a fi

[2021-12-17 05:37] catskul opened #3200 "Losing focus/switching tabs while a comment entered (but not submitted) loses comment"
- Extension version: v0.35.2021121609
- VSCode Version:Version: 1.64.0-insider
- Commit: f67a8b753f55e452f38b61497662839c4691fb12
- Date: 2021-12-16T05:15:28.698Z
- Electron: 13.5.2
- Chromium: 91.0.4472.164
- Node.js: 14.16.0
- V8: 9.1.269.39-electron.0
- OS: Linux x64 5.4.0-91-generic

Steps to Reproduce:

1. starting editing a reply to a review comment.
2. switch to a different tab
3. return to

[2021-12-18 14:33] TylerLeonhardt commented on #1876
That giant block of:

[code]

seems wrong... but your error "bad credentials" isn't the same as the original issue "unable to get issuer certificate".

@RandomNoun7 can you open a new issue with all that info? I will likely close this issue since the original filer hasn't responded in a while.

[2021-12-19 04:11] vivekkumartiwari79 commented on #2168
I also getting Same problem

[2021-12-19 18:00] DillonB07 commented on #841
Same issue here on macOS:

<details>
<summary>System details</summary>

Version: 1.63.2
Commit: 899d46d82c4c95423fb7e10e68eba52050e30ba3
Date: 2021-12-15T09:37:28.172Z (4 days ago)
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 19.6.0 - _macOS Catalina 10.15.7_
</details>

Gist - https://gist.github.com/DillonB07/5ae1a3259f1d789d08469f33db39be93

[2021-12-20 10:30] alexr00 commented on #3190
For `Mark File As Viewed`, you must still execute the command through the tree view and not with a keybinding. The feature request is to enable marking the file as viewed with a keybinding.

[2021-12-20 11:12] danielo515 opened #3201 "Provide feedback when interacting with PR files"
Issue Type: <b>Feature Request</b>

Hello.
This extensionis super nice, it is super useful to be able to interact with PR direcrtly from VSCode.

There is one small detail that you may not notice if you are always on a good internet connection, but it becomes noticeable on slow ones. When you interact with any file on the PR, for example you flag it as viewed, there is no feedback to tell you if s

[2021-12-20 12:09] danielo515 opened #3202 "Confusing "Go to review button" that also discards the comment."
Hello,

this is both a bug report and a confusing UX report. When you are in the middle of a review the UI to add a comment shows two buttons: `Go to review` and `Add comment`. This is confusing because:

- What is the purpose of the Go to review button? Why do I need it on a comment?
- The layout resembles the Github UI, where one button adds a comment to the review while the other just adds the

[2021-12-20 12:46] alexr00 commented on #3202
The "Go to Review" button was supposed to make the PR overview page more discoverable, but it is confusing. We could move it into an action icon at the top of the comment thread instead. @misolori what do you think? We could use the `go-to-file` codicon.

[2021-12-20 12:47] alexr00 commented on #3201
@danielo515 is this specific to marking files as viewed? Related: https://github.com/microsoft/vscode-pull-request-github/issues/3191

[2021-12-20 17:27] danielo515 commented on #3201
Yes, it is related. But that issue is just about it being slow, this is about providing some UI "while waiting"

[2021-12-21 11:57] alexr00 commented on #1612
@Tyriar I've pushed some additional logging. If you see it again can you share the GitHub Pull Request output?

[2021-12-21 11:57] #1612 closed

[2021-12-21 12:35] IceTDrinker commented on #2323
What would it take to get the notebook diff view?

Apparently diffs/changes for ipynb files are generated as `RemoteFileChangeNode` which triggers the notification and the "open in browser" thing but it's not clear to me why it's not generated as a `GitFileChangeNode`.

I'm definitely not a TypeScript dev (and certainly not a vscode dev either) so it would probably be hard to contribute but that f

[2021-12-21 13:53] alexr00 commented on #841
I've started looking through several of the profiles in this issue (thanks everyone who added one!). The high CPU seems to occur when several extensions are activating at once. ritwickdey.liveserver in particular seems to coincide with the high CPU, so folks who have that installed might try disabling it.

Is everyone seeing this high CPU associated with GitHub Pull Requests and issues shortly aft

[2021-12-21 14:59] #2638 closed

[2021-12-21 15:00] DillonB07 commented on #841
Yes. I do have the liveserver extension installed but I'll try disabling that and see how it works.

I am seeing the issue after starting/reloading VSC though.

[2021-12-21 16:13] nelrafa103 opened #3204 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-pull-request-github`
- Extension Version: `0.32.0`
- OS Version: `Linux x64 5.15.8-76051508-generic`
- VS Code version: `1.60.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:```json
{
	"messages": [
		{
			"type": 2,
			"message": "`remoteHub/pullRequest` is not a valid menu identifier",
			"extensionId": {

[2021-12-21 16:46] Tyriar opened #3205 "Upstream PRs aren't found for my fork"
![image](https://user-images.githubusercontent.com/2193314/146967170-17a2d731-6e94-440d-af64-681a12826876.png)

Things I tried, none worked:

- Fetching remote via terminal and refreshing
- Cloning the repo again in a separate folder
- Switching to pre-release

[code]

Output from GH PR output channel:

[code]

Version info:

[code]

GHPRI v0.34.2

[2021-12-21 16:56] Tyriar opened #3206 "GraphQL error when making a PR comment in Codespaces"
Saw this GraphQL error when making a comment in Codespaces:

![image](https://user-images.githubusercontent.com/2193314/146968697-8e134927-9206-4925-b14f-ebe42adb4a42.png)

Version: 1.63.2
Commit: 899d46d82c4c95423fb7e10e68eba52050e30ba3
Date: 2021-12-15T09:36:48.576Z
Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4741.0 Safari/537.36 Edg/98.0

[2021-12-21 16:57] Tyriar commented on #3206
The comment seems to have been made as it's visible on .com

Log:

[code]

[2021-12-21 19:32] doganOz commented on #1792
Will this feature be added to vscode, because it would be really nice and help people to manage issues without ever leaving vscode. Github saves issue templates on **.github/ISSUE_TEMPLATE** folder if I am not mistaken , so instead of showing constant text created in source code,  **.github/ISSUE_TEMPLATE/*.md** files can be imported and shown in quick show list. After that user may select the tem

[2021-12-22 12:23] alexr00 commented on #3206
I can't repro on a private non-org owned repo.
- What is the repository this is happening in (is it org owned?)?
- Is the PR coming from a fork?
- Is the repo public?

@TylerLeonhardt FYI as this sounds like a scopes issue.

[2021-12-22 12:28] alexr00 commented on #3205
I copied your setup, and PRs are showing up for me. What is the value of `githubPullRequests.remotes`?

[2021-12-22 12:29] alexr00 commented on #3204
This error is by design (https://github.com/microsoft/vscode/issues/136222). @joaomoreno in case you would reconsider this.

[2021-12-22 12:29] #3204 closed

[2021-12-22 13:06] alexr00 commented on #3198
@jrieken this error is coming from Any Code. GHPRI uses the `"review"` scheme for diffs. We don't register a file system provider though, just a `TextDocumentContentProvider`. Any Code appears to be doing `vscode.workspace.fs.stat` on some of the `"review"` files, which then fails.

This seems like it should be handled in Any Code since not all files that it `stats` will necessarily be `statable`.

[2021-12-22 13:07] alexr00 commented on #3198
Full stack:

[code]

[2021-12-22 14:50] TylerLeonhardt commented on #1876
@RandomNoun7 your issue should be fixed now... I fixed it in https://github.com/microsoft/vscode/commit/e8a26d3ebf5095d4324ad4bf794787540ed3b33e

The original issue has gone stale so I'll close this.

[2021-12-22 14:50] #1876 closed

[2021-12-22 15:18] alexr00 commented on #3199
Looks like an upstream issue: https://github.com/microsoft/vscode/issues/139638

[2021-12-22 15:18] #3199 closed

[2021-12-22 15:40] Tyriar commented on #3205
@alexr00 that's the problems thanks, was working on my mac because I had my custom remote there.

I added `upstream` to my list since I've moved towards that since GH started setting up the remote for me.

[2021-12-22 15:41] Tyriar commented on #3206
Here's the PR (yes, yes, yes) https://github.com/xtermjs/xterm.js/pull/3546

[2021-12-22 15:50] Tyriar commented on #3205
Could we use the package.json `repository` as a hint/fallback here? If filled in that would almost always be the real upstream.

Also, some logs to help users self-diagnose the problem would be handy, for example `[Info] Found GitHub remote (origin, upstream)`?

[2021-12-22 21:42] rbtcollins opened #3207 "Unable to find source repository"
I found closed bugs for this issue, but I am still puzzled by it.

I fully understand being able to configure the repository the PRs are made against. But for choosing the *source* of a PR, surely the only things that matter are that the source repository is on GitHub. And querying the source repository for PRs is wasteful - theres no point doing that at all.

- Extension version: Last updated 22/

[2021-12-23 08:28] alexr00 commented on #3205
Using package.json `repository` would be a great fallback. Repurposing this issue as a feature request.

[2021-12-23 10:18] alexr00 commented on #3206
I can repro in that PR when I try to add a single comment. (Sorry about the spam in the PR!)

It seems to be related to the the `SubmitReview` mutation we do (https://github.com/microsoft/vscode-pull-request-github/blob/690e871223e56bbd74f82755b6db4a8dd8c00446/src/github/queries.gql#L565-L576)

[2021-12-23 10:45] alexr00 commented on #3206
Looks like an upstream issue since it works fine outside of Codespaces.

[2021-12-23 12:21] alexr00 commented on #3188
This was already done as part of https://github.com/microsoft/vscode-pull-request-github/issues/2628

[2021-12-23 12:21] #3188 closed

[2021-12-23 13:10] itaysk opened #3208 "can't comment on a line with existing comment"
- Extension version: 0.34.2
- VSCode Version: 1.63.0
- OS: Ubuntu Hirsute (via remote ssh from MacOS Monterey)

Steps to Reproduce:

1. Open a PR with existing review
2. Find an existing comment
3. Try to add another comment on the same line
4. Gutter button is disabled (not plus sign)

[2021-12-23 15:18] alexr00 commented on #3187
Looks like there's opportunity to shave off 4 more seconds (on my setup) by not waiting for all the comment fetching to be done before initializing the file changes tree. It's going to require some more significant refactoring, but 4 seconds could be well worth the effort.

[2021-12-23 15:40] sedghi commented on #3188
@alexr00 Hi, I have similar issue (an already reviewed PR that has been updated with more commits), but the notification is not showing up for me. How can i update the PR with new changes? `git pull` doesn't work

![image](https://user-images.githubusercontent.com/7490180/147262274-6f168e63-81fd-4eb3-b602-8e2609c014e0.png)

[2021-12-23 18:36] roisafirorichard commented on #3099
I also have the same issue, I use multiple accounts one personal and another one for work, I clone using my personal. account by adding `-personal` to `git@github.com:xxxx/xxxx.git` and it becomes `git@github-personal.com:xxxx/xxxx.git`.

apparently the extension doesn't support that and as a result I get the same error message

[code]

please have a look at this.

[2021-12-23 18:45] roisafirorichard commented on #1941
I'm having the same issue, it has something to do with #3099 , the extension considers `git@github-personal.com:xxxx/xxxxx` not a valid url. please have a look at this.

[2021-12-24 11:42] alexr00 commented on #3187
Work in progress update:
Before, time to open the first diff was ~12-13 seconds.
With the changes on alexr00/prLoadingPerf, the time to open the first diff is ~4-4.5 seconds.

[2021-12-24 14:19] alexr00 commented on #3207
@rbtcollins I'm trying to follow your repro steps, but I still see PR creating succeed. Can you share screen shots of how you see it fail to create a PR?

[2021-12-24 15:23] rbtcollins commented on #3207
Before syncing
![image](https://user-images.githubusercontent.com/499678/147361655-a778f114-fbb5-477e-a0c5-d523e6f853a4.png)
Select my repo to sync to
![image](https://user-images.githubusercontent.com/499678/147361669-2d74c0ed-d7b5-4069-a9bd-67073f23b543.png)
My repo isn't visible in the create PR dialog 'From' box
![image](https://user-images.githubusercontent.com/499678/147361693-8a547610-d6cc-

[2021-12-24 16:46] DillonB07 commented on #841
However, disabling the liveserver extension didn't seem to help.

CPU Log - https://gist.github.com/DillonB07/72bef869458babec53e19efd0127373b

[2021-12-24 20:36] TylerLeonhardt commented on #3206
Probably wanna bring @jkeech into this? Maybe there's an issue tracked there?

[2021-12-24 20:45] MigdaliyrArchitect commented on #3095
I am also having this issue. Non-Enterprise account. I have attempted changing the credential manager as well as switching from HTTPS to SSH but this extension refuses to authenticate and connect. Git from the command line works, as does GithubCLI.

[2021-12-26 20:46] sheenjustin commented on #3050
Hey @akhi4u is your GHE server using http? I'm getting a similar response and this looks to be the culprit:

[Info] Review> Validating state...
[Info] GitHubServer> No response from host **https://<Domain>**/<Repo>: request to https://<Domain>/api/v3/rate_limit failed, reason: connect ECONNREFUSED <IP-Address>:443
[Info] No remotes found. The following remotes are missing: origin
[Info] No GitHub

[2021-12-27 01:47] ortonomy commented on #729
Ah, @alexr00 -- can't you make this configurable? Our default branch is set to `main` but the working trunk is develop. It's really annoying that exiting review mode goes to the default branch. Prefer configurable.

[2021-12-27 08:39] alexr00 commented on #3207
Thanks @rbtcollins, I see the confusion now.

[2021-12-27 14:07] alexr00 commented on #841
Thanks for trying that @DillonB07 and for the new profile. After further digging, it looks like one of the modules we include may be slow (https://www.npmjs.com/package/vscode-extension-telemetry). I'm following up with the owners to see if that's the case and if it can be improved.

[2021-12-27 14:24] #841 closed

[2021-12-27 14:27] alexr00 commented on #841
Module has been updated, and I've pulled the update in to this extension.

The [pre-release build](https://github.com/microsoft/vscode-pull-request-github/wiki/Pre-release-Build) will have the fix tomorrow (the version number will be 0.35.20211228*). If folks in this thread could try it out after that build is ready tomorrow and comment your results it would help confirm whether we've tracked the

[2021-12-27 15:08] alexr00 commented on #3191
I'm seeing ~350ms for marking a file as viewed, and basically all that time is spent doing the GitHub API call. We can't shorten that. UX may be improved with https://github.com/microsoft/vscode-pull-request-github/issues/3201.

[2021-12-27 15:08] #3191 closed

[2021-12-27 15:11] alexr00 commented on #841
Once I get confirmation that the perf issue is fixed from someone in this thread, I'll release 0.34.3 with the change!

[2021-12-27 15:29] #3175 closed

[2021-12-28 08:44] Yash621 commented on #2426
@mjbvz can I work on this ?

[2021-12-28 08:51] alexr00 commented on #2426
@Yash621 you are welcome to work on this!

[2021-12-28 09:17] clementnuss commented on #1474
the issue only happens during sign-in, afterwards the sync works even without workaround.
I just did the following on my windows machine:
[code]
you can then sign-in without issues. then restart vs code normally, without the `NODE_TLS_REJECT_UNAUTHORIZED` env variable and settings sync should work :)

For linux, I would expect that doing something such as
[code]
should produce the same results

[2021-12-28 13:10] arturvader opened #3211 "Extension issue: remoteHub/pullRequest` is not a valid menu identifier"
- Issue Type: `Bug`
- Extension Name: `vscode-pull-request-github`
- Extension Version: `0.35.2021122809`
- OS Version: `Darwin x64 21.2.0`
- VS Code version: `1.63.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2021-12-28 14:22] Yash621 commented on #2426
@alexr00 can you guide me on this ,like how should I go about it ?

[2021-12-28 14:29] alexr00 commented on #2426
The dropdowns are here:

https://github.com/microsoft/vscode-pull-request-github/blob/b4bb8a6c63109e838ae54797ce608c61123f19b3/webviews/createPullRequestView/app.tsx#L12-L49

I haven't done any investigation into this issue, but I assume there is some styling that can be done to make the dropdowns look more like VS Code dropdowns. Styles are here: https://github.com/microsoft/vscode-pull-request-g

[2021-12-28 15:30] alexr00 commented on #3211
I'm sad to say that this is by design. Full discussion is here: https://github.com/microsoft/vscode/issues/136222

@joaomoreno I get about one of these per month.

[2021-12-28 15:30] #3211 closed

[2021-12-29 20:27] connor4312 opened #3213 "Pull request extension should not wrap `console` methods"
**Describe the bug**

When developing or testing extensions, it's common for developers to log data from their extensions. However, because the Github PR extension wraps console methods, the lines reported to the developer are incorrect.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a hello world extension https://code.visualstudio.com/api/get-started/your-first-extension
2. In the

[2021-12-30 01:05] segevfiner commented on #408
Might entail a separate issue but there also doesn't seem to be a way to associate an existing local branch with a PR, it might only do so when you create a PR from the extension? Or does it now create a separate branch for it `pr/*` branch for it?

[2021-12-30 09:23] bpasero opened #3215 "Feature: make the PR view functional even without PR"
One of the best features for me is this view:

![image](https://user-images.githubusercontent.com/900690/147738601-0a75799e-4328-4f94-97b5-a418bfaa9ff9.png)

As it gives me a diff from my branch to `main` while still allowing me to make changes, wonderful 👏

How about enabling this view even when I did not create a PR for the branch yet? Something like a "Untitled PR" scenario where I see the chan

[2021-12-30 09:40] #3200 closed

[2021-12-30 09:44] alexr00 commented on #3200
I've added a small cache for comments in non-visible files in a PR. However, the cache will only preserve 1 diffs worth of comments. This means that if you click switch tabs once while writing a reply, your reply won't be lost. But if you switch tabs twice while writing a reply it will be lost. If we find that this cache is too limited, we can expand it, but any expansion will come at the cost of

[2021-12-30 10:34] alexr00 commented on #3215
@bpasero we have a "Compare Changes" view that shows when you are in the process of creating a PR. Does this do what you're looking for?

![image](https://user-images.githubusercontent.com/38270282/147744023-7c162cc5-325d-43a1-a226-6e5bfd4c5095.png)

[2021-12-30 10:37] bpasero commented on #3215
@alexr00 my understanding is that I first have to run "Create PR" command right? To get this view:

![image](https://user-images.githubusercontent.com/900690/147744261-85267419-1904-4b71-89c5-279a06df4e0b.png)

And the right hand side does not seem to be editable?

[2021-12-30 10:49] alexr00 commented on #3215
Correct, you must first run the "Create PR" command, but you don't need to submit the PR.

It does seem that the right isn't editable. I should be able to fix that though.

[2021-12-30 11:00] bpasero commented on #3215
Is there any harm in just always being in that mode even without running this command?

[2021-12-30 12:04] lucasrodes commented on #1414
Hi @alexr00,
This is raising an error for me when trying to check out to a PR.

My VS Code:
[code]

Running on Arch Linux, connected remotely.

[code]

The developer tools are showing the following after clicking on "checkout to PR":

![image](https://user-images.githubusercontent.com/18101289/147750392-721e5121-3f20-4bd2-9ad8-8cb8d283280c.png)

I appreciate any help

[2021-12-30 12:50] #1414 closed

[2021-12-30 12:53] alexr00 commented on #1414
@lucasrodes is there more of a stack trace in the dev tools?

I've made some guesses on places where `startsWith` could be called on undefined and pushed a fix. If you could please try out the next [pre-release build](https://github.com/microsoft/vscode-pull-request-github/wiki/Pre-release-Build) (should be available on Monday with version number 0.35.20220103*), that would help determine if the i

[2021-12-30 12:55] alexr00 commented on #3215
We won't always know which remote + branch to compare with. The "Create PR" command makes it very clear which remote + branch is used since the UI for that is shown at the same time.

[2021-12-30 14:47] lucasrodes opened #3217 "Failed to execute git."
I am getting a "Git error" when trying to checkout to a PR with GitHub PR Requests. I found #3006, but no solution was provided.

### Setup

- Extension version: v0.35.2021123010 (pre-release)
- VSCode Version:
   - From terminal:

[code]
   - From UI:

[code]
- OS: Arch Linux (remotely connected from my mac)

### Steps to Reproduce:

- repo is https://github.com/owid/covid-19-data
- there is a `m

[2021-12-30 14:47] lucasrodes commented on #1414
Hi @alexr00,
Thanks for your rapid response. It seems that this error has now disappeared. However, I am still encountering some other issues. I created the separate issue #3217 where I explain it more in detail.

Thanks :)

[2021-12-30 16:07] lucasrodes commented on #3217
Update:

I changed the remote from `.git/config` and it seems to be working now.

### Before ❌

[code]

### Now ✅
[code]

[2021-12-31 14:45] #3207 closed

[2021-12-31 19:28] DillonB07 commented on #841
I haven't got the issue anymore. Seems like it's fixed.

Thanks!

[2022-01-01 16:08] segevfiner commented on #1048
This still happens.
1. Create a branch.
2. Make a change.
3. Create a pull request.
4. Exit review mode.
5. Return to the branch. The branch returns to review mode.

### Workaround
The associations between a branch and pull request is handled by a Git config value `branch.{name}.github-pr-owner-number`, you can remove it to remove the association of the branch to a pull request. (Or possibly remov

[2022-01-02 03:19] Nevin1901 opened #3220 "Feature: Add link "Open in GitHub" in PR Tab"
I was creating a pull request through vscode.dev, and I thought this extension was missing a feature. In my opinion, there should be a link somewhere on this tab allowing someone to open the pull request or issue in GitHub (I would think it would be under the "Exit Review Mode" button).
<img width="296" alt="image" src="https://user-images.githubusercontent.com/39220032/147865107-d694033b-6ebf-44a

[2022-01-02 06:07] ShMcK opened #3221 "GitHub Extension Not Loading"
I'd love to use the GitHub PR extension, but it is no longer working for me. I'm not clear on when it stopped working.
I could not find a solution in the open or closed issues that worked for me.

- Extension version: v0.35.2021123010
- VSCode Version: 1.63.2
- OS: MacOS 12.1

Steps to Reproduce:

1. Launch various repos (public or private) and find the GitHub extension does not appear in the side

[2022-01-02 09:46] HusseinAliOfficial opened #3222 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-pull-request-github`
- Extension Version: `0.34.2`
- OS Version: `Linux x64 5.11.0-43-generic`
- VS Code version: `1.63.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/tmp/GitHub.vscode-pull-request-github-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explai

[2022-01-02 09:47] HusseinAliOfficial commented on #3222
Issue Report V1.0

[2022-01-03 10:55] alexr00 commented on #841
Thanks @DillonB07, I'll release 0.34.3 with the fix.

[2022-01-03 10:55] alexr00 commented on #3222
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/841

[2022-01-03 10:55] #3222 closed

[2022-01-03 11:01] alexr00 commented on #3221
To confirm: you have no user settings or workspace settings that start with `githubPullRequests`?

[2022-01-03 11:04] alexr00 commented on #3220
We already have that action in the title of the view:

![image](https://user-images.githubusercontent.com/38270282/147923541-64eb2fe3-b660-4d56-95c7-19dc15e48c09.png)

I'm inclined to leave it in the title since that's the VS Code convention for where to put actions.

[2022-01-03 11:05] #3220 closed

[2022-01-03 11:07] alexr00 commented on #3217
@lucasrodes thank you for all the details.

Since the `push` UX comes from the built-in git extension, I don't think this is an issue with GitHub Pull Requests and Issues. @lszomoru do you want to investigate this?

[2022-01-03 11:13] egamma opened #3223 "Automate releasing the extension"
Create a pipeline for releasing the GitHub Pull Requests and Issues extension to replace the existing manual process.

[2022-01-03 12:47] alexr00 commented on #3213
This appears to be caused by one of the dependencies (probably the other extensions that have this problem have the same dependency). Will follow up with the dependency and see if it can be fixed.

[2022-01-03 13:06] alexr00 commented on #3213
Upstream issue: https://github.com/microsoft/vscode-extension-telemetry/issues/88

[2022-01-03 14:09] alexr00 opened #3225 "Allow association of local branch with PR"
From @segevfiner in https://github.com/microsoft/vscode-pull-request-github/issues/1048#issuecomment-1003578855:

It would have been nice if this extension also allowed to associate an existing branch with a pull request (When you already have it checked out and don't want another pr/7 branch, but sadly this isn't supported as well.

[2022-01-03 14:09] alexr00 commented on #1048
This is intended. The original issue is about the status bar item and the checkmark next to the branch name not getting updated when you leave the PR branch.

This is a good feature request! I have opened https://github.com/microsoft/vscode-pull-request-github/issues/3225.

[2022-01-03 14:10] alexr00 commented on #1048
Closing this issue, as it doesn't seem that anyone is still seeing it.

[2022-01-03 14:10] #1048 closed

[2022-01-03 14:23] segevfiner commented on #3225
It might also be helpful to go the other way and detach a branch from a PR. So if you don't like the extension going into review mode when entering a certain branch where you created a PR from, you can detach it, and checkout the PR as a separate branch.

[2022-01-03 17:02] ShMcK commented on #3221
I have no workspace settings setup.

For user settings, I found the following. I believe they are all defaults.

[code]

[2022-01-03 22:05] bamurtaugh opened #3227 "File tree mostly covered by comment pane by default"
Filing based on meeting from a few weeks ago: The file tree in the GHPRI view was mostly covered by "Comment and Submit" pane by default. This can be moved, but it was confusing/frustrating to start like this by default.

Upon reviewing the experience, I'm thinking this must have been the below:

![image](https://user-images.githubusercontent.com/25310137/147985231-6799acf9-bdf9-4115-9c04-2e128113

[2022-01-04 07:03] Mamdouh-Saady opened #3228 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-pull-request-github`
- Extension Version: `0.32.0`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.62.3`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\mamdo\AppData\Local\Temp\GitHub.vscode-pull-request-github-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/m

[2022-01-04 12:17] alexr00 commented on #3227
The initial height of the webview should be 50% of the total height, which would already be an improvement over the current situation. Bug for that: https://github.com/microsoft/vscode/issues/106585.

This would be even better, but probably more work than fixing the bug: https://github.com/microsoft/vscode/issues/123715

[2022-01-04 12:27] alexr00 commented on #3221
Thanks! Everything does look ok there.

Would you be willing to run the command View: Reset View Locations? If you've moved views around, it will reset all of them to their original location. If the GitHub Pull Request views accidentally got moved to somewhere else it would restore them to their original location.

[2022-01-04 14:57] aaronadamsCA opened #3229 "VSCode thinks extension provides code actions"
Issue Type: <b>Bug</b>

Sometimes when I save a file, VS Code says it's fetching code actions from this extension.

My `settings.json` tells VS Code which code actions to run, and this extension isn't included in my config:

[code]

So as far as I'm concerned, there's no reason VS Code should be fetching these code actions. But since it takes a surprisingly long time, I see it in the IDE.

I'm gue

[2022-01-04 15:26] ElanHasson commented on #1793
Hi @kabel,

Thanks for fixing the GHE stuff, I can finally see pull request activity!

Do you (or anyone else) have any info on when these will be updated to use the `baseUrl` from GHE settings?
![image](https://user-images.githubusercontent.com/234704/148082373-a6289d24-a18d-40d4-8899-40b0da2c2c8c.png)

[2022-01-04 16:03] ShMcK commented on #3221
Thank you! Reset View Locations worked.

I may have accidentally moved the extension to the bottom status bar, the status bar looks much cleaner and no longer extends off of the screen.

[2022-01-04 16:03] #3221 closed

[2022-01-04 17:36] bamurtaugh commented on #3227
Thanks for linking these issues @alexr00! As there are already two issues that seem to cover this, would it make sense to close this one? Or is it helpful to have something here tracking the experience on the GHPRI side?

[2022-01-04 22:32] milesrichardson commented on #603
Great tip, thanks! This is better than nothing, but as others have mentioned, it doesn't result in a patch that can be applied in the web UI. In case anyone is wondering what it looks like, this is the result:

![image](https://user-images.githubusercontent.com/835921/148132528-16f46b1e-2d2e-4dd9-b962-89749f23b314.png)

i.e. It posts a comment containing a markdown code block formatted with the `d

[2022-01-05 10:26] alexr00 commented on #3227
👍 closing as upstream!

[2022-01-05 14:18] #3223 closed

[2022-01-05 20:33] borisyordanov opened #3231 "PR templates don't work if you use VSCode workspace"
- Extension version: 0.34.2
- VSCode Version: 1.63.2
- OS: Windows 10 & Linux

Steps to Reproduce:

1. Open a VScode workspace that has a PR template (I only tested with a [multi-root workspace](https://code.visualstudio.com/docs/editor/workspaces#_multiroot-workspaces))
2. Create a PR
3. Make sure the PR description is blank

Below is a screenshot of two VSCode instances, on the same machine - th

[2022-01-06 06:39] shiyao-afterpay opened #3232 "Comments appear being pending instead of submitted"
After I started a review, and added some comments, then finally when I submit the review in this panel (the bottom left one in VSC).
![image](https://user-images.githubusercontent.com/76024153/148340058-b8713992-4703-4493-9131-23d4c36f7f3b.png)

The comments are pending instead of submitted.

[2022-01-06 13:51] alexr00 commented on #3223
Release pipeline created and release steps updated. Recovery release 0.34.3 was released with the new steps.

[2022-01-06 23:35] Ark-kun commented on #3094
What is the reasoning behind this behavior?
Why do you need an explicit list of remotes when the current branch already tracks a remote branch?

Why can't the extension just use the current remote branch?

[2022-01-07 12:28] alexr00 commented on #3228
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/841

[2022-01-07 12:28] #3228 closed

[2022-01-07 12:30] alexr00 commented on #3229
@aaronadamsCA can you share a screenshot of what you're seeing?

[2022-01-07 12:36] alexr00 commented on #3231
Is your workspace folder with remo-conference listed first, second, or in some other position in the Explorer view?

[2022-01-07 12:48] alexr00 commented on #3232
Thanks for filing this bug!

[2022-01-07 12:50] #3232 closed

[2022-01-07 12:50] #1130 closed

[2022-01-07 12:50] #1846 closed

[2022-01-07 12:54] alexr00 commented on #2942
@mtyeager can you share a screenshot of where you "click on commit in the project"?

[2022-01-07 12:54] #2997 closed

[2022-01-07 12:55] #3089 closed

[2022-01-07 12:55] #3095 closed

[2022-01-07 15:30] Tyriar opened #3236 "Updates available notification shows when I pushed the change"
PR: https://github.com/microsoft/vscode/pull/140196/

I pushed a commit via the terminal and the notification showed briefly afterwards, despite being the one that pushed it.

![image](https://user-images.githubusercontent.com/2193314/148566300-ab5a90a3-3488-436d-b3d6-7b377191494c.png)

ext: 0.35.202201069

[2022-01-07 18:21] Sunchock commented on #1793
Hello there, I would like to share with you my adventures using this plugin.

First, I've installed **VSCode Insiders** and **GitHub Pull Request and Issues** plugin. But when I wanted to install **GitHub Pull Request and Issues Nightly Build** too as mentionned before : a message in the market-place page tell us of **Nightly Build** is included in **GitHub Pull Request and Issues** previsionnal v

[2022-01-07 19:50] mjbvz commented on #2810
@alexr00 I think webviews may be overriding the copy/paste keyboard when they are active (not just focused): https://github.com/microsoft/vscode/blob/08ef40bd522d5a1309d7b54fb5ba9066d4cf5983/src/vs/workbench/contrib/webview/browser/webview.contribution.ts#L20

We already have a workaround in that code for context menus but not for quick picks

[2022-01-07 20:53] MigdaliyrArchitect commented on #3095
Thanks for nothing.

On Fri, Jan 7, 2022 at 4:55 AM, Alex Ross ***@***.***> wrote:

[2022-01-07 23:54] jcoconnor commented on #3095
Does seem a bit rude to close without giving a reason.

[2022-01-08 00:14] aaronadamsCA commented on #3229
Sorry @alexr00, I meant to include this but forgot:

![image](https://user-images.githubusercontent.com/1505561/148622742-f94f4377-b3e5-426d-8a28-35908ba99d12.png)

[2022-01-09 05:09] joshuaobrien commented on #3208
👋 I'm happy to work on this one

[2022-01-10 10:21] alexr00 commented on #3095
Hi folks in this thread: the original issue writer didn't respond to a question, so the original issue was not actionable. Closing the issue without the comment to that effect was an oversight on my part.

If you're seeing similar issues (or other issues!) please feel free to open another issue and I would be happy to take a look. Logs and screenshots usually make it easier/faster to understand wh

[2022-01-10 12:43] alexr00 commented on #3236
@Tyriar this doesn't happen every time, correct?

It looks like this can happen when you get unlucky and the poll-for-changes occurs right after you push but before we've finished updating all our state.

[2022-01-10 13:46] alexr00 commented on #3187
@joyceerhl when a vscode.dev window is refreshed shortly after being loaded, what is cached? When I immediately reload, I see <2s before the first diff shows (~2-3s faster than a cold load).

[2022-01-10 14:12] jrieken commented on #3229
We first need to ask the code action provider for the potential actions and can only than pick/select some. Therefore we ask all providers. Tho, using `CodeActionProviderMetadata#providedCodeActionKinds` allows you to specify what kind of code action kinds your provider would ever return. I believe during save we are only interested in "SourceFixAll"-kinds

[2022-01-10 15:02] alexr00 commented on #3229
Thanks @jrieken that was the problem!

[2022-01-10 15:03] #3229 closed

[2022-01-10 15:05] borisyordanov commented on #3231
@alexr00 I'm not sure I understood your question. `.code-workspace` files are typically stored in the root of the repo (that's the case with my project as well).

[2022-01-10 15:11] alexr00 commented on #3231
@borisyordanov, if you run the command "View: Show Explorer", the Explorer view will open. The folders of your workspace (the ones that are specified in the .code-workspace file) are shown in the explorer. Which folder is first?

[2022-01-10 15:31] borisyordanov commented on #3231
@alexr00 VSCode rendered the folders in the same order they are defined in `.code-workspaces`.  In my case `root` is the first folder.
[code]

[2022-01-10 15:34] Tyriar commented on #3236
Yes I don't think it happens every time. I'm guessing checking the commit hash when there's changes to verify should be a lightweight action.

[2022-01-10 16:39] alexr00 commented on #3236
Yep, that's what we currently do. It's just a matter of when we update the commit hash.

[2022-01-10 16:40] alexr00 commented on #3231
Thanks @borisyordanov. Which folder does the `remo-conference` remote belong to?

[2022-01-10 17:26] borisyordanov commented on #3231
None of them. `remo-conference` is the actual repo, it's a monorepo with multiple packages. It's not a collection of different repos under one workspaces. My `.code-workspace` only displays folders from the same repo.

[2022-01-10 18:16] roblourens opened #3242 ""We couldn't find an open repository for...""
![image](https://user-images.githubusercontent.com/323878/148816980-c58d5ddb-1a11-4cd4-9c62-43c3aca67d5c.png)

- Open https://github.com/microsoft/vscode-remote-ssh/pull/183, press `.`
- The first time I opened this PR, it loaded all the content but I couldn't add comments
- The second and third time, I got this error message and when I click a diff, the left side is empty
[ghpr.txt](https://githu

[2022-01-10 23:40] reybard opened #3243 "List of branches when creating PR is truncated after a set amount"
- Extension version: v0.34.3
- VSCode Version: 1.63.0
- OS: OS X (but using a codespace with 18.04.1-Ubuntu SMP x86_64 GNU/Linux)

Steps to Reproduce:

1. Try to create a PR against a repo with many branches. At some point the list is truncated.
2. See screenshots below:

Trying to get to `master` branch:

![image](https://user-images.githubusercontent.com/17504829/148855947-9c1e40f7-3f14-42df-a9e

[2022-01-11 09:56] alexr00 commented on #3231
It does, thanks @borisyordanov.

[2022-01-11 12:10] robertwt7 commented on #1949
hey guys, I just read the vscode docs [here](https://code.visualstudio.com/docs/editor/github#_working-on-issues) and I still find the old setting name `workingIssueBranch`. I have to google to find this PR. Not sure where to open issue for that?

[2022-01-11 12:18] alexr00 commented on #1949
Thanks @robertwt7, I've just pushed a change to replace the old setting name in the docs. Next time the website is updated the change will be picked up.

[2022-01-11 12:35] alexr00 commented on #2426
Looks like we lost some of the original styling (the arrow on the right of the select is gone):
![image](https://user-images.githubusercontent.com/38270282/148943252-a6d96546-5d68-43d4-8e60-9938db3b3f13.png)

The select now also has rounded corners, which isn't consistent with other selects in VS Code:
![image](https://user-images.githubusercontent.com/38270282/148943369-c0d95544-ae81-4cd1-834b-94

[2022-01-11 12:42] joshuaobrien commented on #3243
There's a feature request for this at #2840. I started working on it in July, but I got distracted and now it's January 😅. I'll pick it back up this week

[2022-01-11 13:33] alexr00 commented on #3231
@borisyordanov where, relative to the root of the repo, does your PR template file live in `remo-conference`?

I've added some logging around template finding. Would you be willing to try out the [pre-release version](https://github.com/microsoft/vscode-pull-request-github/wiki/Pre-release-Build) tomorrow (should have version number v0.35.20220112*) in both your .code-workspace and in your non-wor

[2022-01-11 14:07] borisyordanov commented on #3231
@alexr00 The workspace file is in the root of the repo. In the File explorer it shows up in the first folder, which is root.

I'd be happy to try out the pre-release. I suppose I just need to be using the new version, create a new PR and get the logs from the Output pane?

[2022-01-11 14:36] alexr00 commented on #3231
Yes, that's correct, thank you!

[2022-01-11 15:58] alexr00 commented on #3187
Closing since there have been significant perf improvements.

[2022-01-11 15:58] #3187 closed

[2022-01-12 10:12] #3213 closed

[2022-01-12 10:26] AllanOricil commented on #2150
I have the same problem. Im part of an Organization and I cant see the PR's or Issues they open from VSCode. Can someone reopen this, please.

[2022-01-12 21:52] borisyordanov commented on #3231
The bug exists in `v0.35.2022011209`
![image](https://user-images.githubusercontent.com/12392666/149223941-55f6e237-d7a4-4cdb-b019-26a13c731eec.png)

@alexr00 I dug a little deeper, [reproduced it](https://github.com/borisremo/lerna-playground/pull/36) and perhaps found the cause of this bug.

How to reproduce
0. Clone the repo and checkout the branch from the PR linked above
1. Open `playground.c

[2022-01-13 08:57] yaronhay commented on #2150
Same here

[2022-01-13 14:25] alexr00 commented on #3231
@borisyordanov Thank you for doing that investigation! When we search for templates in folder that begin with `.`, we should probably not use the `files.exclude` setting. I will make that change.

[2022-01-14 06:28] bpasero opened #3249 "Show changes like the SCM view"
See how changes in the SCM view appear with their parent directory path:

![image](https://user-images.githubusercontent.com/900690/149461780-819ac6ea-b139-4dbb-ab4e-1ffc5e04d439.png)

And now compare to a PR changes view:

![image](https://user-images.githubusercontent.com/900690/149461795-b0d94ae0-ee69-40c3-a0fb-2a02f7b0610b.png)

This makes it very hard to tell apart files with the same name.

[2022-01-14 06:49] mayurdhurpate commented on #363
Hi team, would like to bump this up. Would be very useful as re-reviewing a norm while doing a PR Code Review.

[2022-01-14 09:21] alexr00 commented on #3249
The default is the tree layout. There's a "Toggle View Mode" button in the view that you probably hit at some point:

![image](https://user-images.githubusercontent.com/38270282/149491027-99d986c4-cd93-43bc-91fa-89c51334c31a.png)

It's also a setting: `githubPullRequests.fileListLayout`.

[2022-01-14 09:27] bpasero commented on #3249
@alexr00 yeah I am aware of that and the SCM view has that as well but I really prefer the flat view. That doesn't mean we cannot show the paths right?

[2022-01-14 09:34] alexr00 commented on #3249
Ah I misunderstood!

[2022-01-14 10:14] #3249 closed

[2022-01-14 10:15] alexr00 commented on #3249
Looks like it was actually a bug, as the original intent appears to be that the dirname is shown in the description.

[2022-01-14 10:30] bpasero commented on #3249
👏

[2022-01-14 14:46] #3047 closed

[2022-01-14 16:04] alexr00 commented on #3242
@roblourens what version of the extension was this?

[2022-01-14 19:11] roblourens commented on #3242
Still happens today on https://github.dev/microsoft/vscode-remote-ssh/pull/185/files. Looks like I have `v0.35.2022011315`

![image](https://user-images.githubusercontent.com/323878/149571770-7a72e3eb-8b99-4e77-8f65-687a0af38238.png)

[2022-01-14 20:14] sedghi commented on #3188
@alexr00 appreciate your comment on my above issue

[2022-01-14 20:19] ivan-rybachok opened #3251 "Not able to mention people in my code."
@ won't show the name of the other people that have access to the project
![image](https://user-images.githubusercontent.com/92591041/149580241-cd72d317-de02-42fe-b907-1885188bd22b.png)

[2022-01-15 16:35] JotaRata opened #3253 "Ability to auto-assign when creating a Pull request from an Issue"
It would be neat to have an option to auto-assign a person when creates a pull request from an issue (clicking in the issue name in the bottom bar).

Also it could link the current working issue to that new pull request, so it closes automagically.

[2022-01-15 20:20] diminutivesloop opened #3254 "Markdown content escaped when editing comments"
Issue Type: <b>Bug</b>

When editing a PR comment any Markdown content is backslash escaped which removes the formatting when the comment is saved. For example the following markdown text:
[code]
is converted to this:
[code]

Extension version: 0.34.3
VS Code version: Code 1.63.2 (Universal) (899d46d82c4c95423fb7e10e68eba52050e30ba3, 2021-12-15T09:37:28.172Z)
OS version: Darwin x64 20.6.0
Restrict

[2022-01-16 11:31] JumperBot opened #3255 "Resolve Conflicts using UI"
### Resolve Conflicts using UI

- Can the team please **add the `UI` for resolving file-specific conflicts** on **`Pull Requests`**?

- **If** it's already there, then **I'm not seeing it when having `conflicts`**.

Anyways, **thanks** for looking into this "issue" devs!

[2022-01-17 09:33] MilesCranmer commented on #3254
This bug makes editing comments on PRs broken. I see the same issue, and I note that it is particularly bad because backslashes will also be backslashed on repeated save. Which means that after a few edits of a PR comment, you are left with something like:
[code]
(yes it also backslashes an exclamation mark). It does the same for code blocks, which ends up removing the code block formatting.

[2022-01-18 01:41] aldok10 opened #3256 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-pull-request-github`
- Extension Version: `0.34.3`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.63.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-01-18 11:43] pokey opened #3257 "Many spurious user mentions inserted in text"
Issue Type: <b>Bug</b>

When editing a new GitHub issue from within VSCode, I'll get lots of spurious insertions of user names as I type, meaning I'm often cleaning up after this extension.  Here is an example:

![ezgif com-gif-maker](https://user-images.githubusercontent.com/755842/149932607-759a3709-38d4-4a9f-b930-db27db223cce.gif)

Notice how I'm just typing normally, no `@` or `<tab>`, but a r

[2022-01-18 13:57] alexr00 opened #3258 "Update a PR that has force pushes"
@alexr00 Hi, I have similar issue (an already reviewed PR that has been updated rebased pushed with more commits), but the notification is not showing up for me. How can i update the PR with new changes? `git pull` doesn't work (which makes sense), how can i reset it to the head?

![image](https://user-images.githubusercontent.com/7490180/147262274-6f168e63-81fd-4eb3-b602-8e2609c014e0.png)

_Origi

[2022-01-18 13:59] alexr00 commented on #3258
@sedghi did you try the refresh button?
![image](https://user-images.githubusercontent.com/38270282/149951214-54e100e0-78d4-4175-87e4-804ecbc70ad5.png)

[2022-01-18 14:10] sedghi commented on #3258
I don't have that refresh button hmmm

[code]

[2022-01-18 14:30] #3251 closed

[2022-01-18 14:32] alexr00 commented on #3253
Linking a PR automatically is tracked by https://github.com/microsoft/vscode-pull-request-github/issues/2676

Who would you expect the PR be auto assigned to? The same person as is assigned to the issue?

[2022-01-18 14:33] alexr00 commented on #3254
Is this a new issue, or has this been going on for a while?

[2022-01-18 14:36] alexr00 commented on #3257
Do you have the setting `"editor.quickSuggestions": true`?

[2022-01-18 14:37] alexr00 commented on #3258
Can you please share a screenshot?

[2022-01-18 15:07] pokey commented on #3257
It appears that I do:

[code]

I believe I turned them on at the [advice](https://github.com/atishay/vscode-allautocomplete#suggestions-in-commentsstrings) of the [All Autocomplete extension](https://marketplace.visualstudio.com/items?itemName=Atishay-Jain.All-Autocomplete)

[2022-01-18 15:38] diminutivesloop commented on #3254
I only noticed it recently and I'm pretty sure I've edited Markdown comments before without issue, so yes I think it's new.

[2022-01-18 22:37] RikkiGibson opened #3260 "PR shows completely different changes in GitHub view vs Pull Request view"
- Extension version (web): v0.34.3
- VSCode Version (web): 1.63.2
- Browser: Microsoft Edge Version 97.0.1072.62

Steps to Reproduce:

1. Open https://github.dev/dotnet/roslyn/pull/57667
2. Observe changes in CSharpCompilation.cs in "GitHub Pull Request" tab
3. Open the same PR in the "GitHub" tab and find the changes in CSharpCompilation.cs

**Expected behavior**: equivalent file changes shown in

[2022-01-18 22:42] pshroti commented on #2150
This should not be a closed issue. I am still running into this issue.

[2022-01-19 10:03] #3257 closed

[2022-01-19 10:04] alexr00 commented on #3257
I've pushed a change that will only include users in the quick suggest when on the Assignees line of the new issue file.

[2022-01-19 10:05] alexr00 commented on #2991
@zkldi I've pushed a change that will only show the users in the quick suggest on the "assignees" line, which I hope will improve this for you!

[2022-01-19 12:19] zkldi commented on #2991
Thank you!

[2022-01-19 13:21] pokey commented on #3257
Ah right yeah that seems like a nice fix thank you!

[2022-01-19 16:43] ian-h-chamberlain commented on #1342
For switching between files, I use this extension https://marketplace.visualstudio.com/items?itemName=geddski.macros

and create keyboard shortcut to a macro such as
[code]

[2022-01-19 20:14] siddharthvellore opened #3262 "Organization access is missing"
Steps to Reproduce:

1. Navigate to https://vscode.dev/ and grant access to "Remote repositories".
2. Able to access personal repositories.
3. No access to connected orgs.

[2022-01-20 02:55] macintacos commented on #160
@RMacfarlane is there an upstream issue we can follow to see if this will get fixed? I just discovered this and it's become quite the annoyance.

[2022-01-20 14:30] wtrocki commented on #3225
This is huge pain. I have PR with dozens of comments and it is not possible to make changes in code when you see comments all over editor. Any workarounds ?

[2022-01-20 16:58] segevfiner commented on #3225
Check out the workaround here: https://github.com/microsoft/vscode-pull-request-github/issues/1048#issuecomment-1003578855

[2022-01-21 09:06] alexr00 commented on #3225
@wtrocki you can also use the "Collapse all comments" command.

[2022-01-21 09:30] wtrocki commented on #3225
Collapse all commands is really good for this use case. Thank you

[2022-01-21 10:54] janosh opened #3263 "Same markdown writing experience as GH"
Would be nice if the description field for new PRs supported the same keyboard shortcuts as textareas on GitHub.

In particular, I'm missing the ability to hit cmd + e or the backtick key with text selected to surround it with backticks:

On GitHub with "this" selected and hitting cmd + e or hitting \`, I get `this`.

In `vscode-pull-request-github`, I get nothing/the selection is replaced by `.

[2022-01-21 11:14] ves-fyayc commented on #2741
Still getting API rate limit exceeded on extension version v0.35.2022012009 on VSCode. I'm trying to open a small PR in a private repo.

[2022-01-21 12:01] alexr00 commented on #2741
@ves-fyayc are any of the PRs you're opening public and if so can you share a link? If now, can you share the output from "GitHub Pull Request"?

[2022-01-21 13:14] MattExact commented on #2147
Could be related to VSCode / VSCode remote issues when using SSH keys with passphrases?
I had this issue, but realised I also could not sync / publish branches / ...,  whereas using the CLI worked fine.
Managed to fix this by adding keychain https://esc.sh/blog/ssh-agent-windows10-wsl2/

[2022-01-21 14:13] alexr00 commented on #3254
@diminutivesloop could you make a gif/screen capture of what you're seeing? I haven't been able to reproduce it. (https://gifcap.dev/ is made by another member of the VS Code team if you need a way to capture).

[2022-01-21 18:46] MilesCranmer commented on #3254
@alexr00 here is my recording, which presumably is the same issue @diminutivesloop is seeing

https://user-images.githubusercontent.com/7593028/150583048-be9a248d-69af-4812-a7fd-f79be5db0a94.mov

.

[2022-01-21 18:50] MilesCranmer commented on #3254
@alexr00 I also noticed that if I create the comment from the extension, it doesn't have this issue, which might be why you couldn't reproduce it(?). It's only when I edit a comment that already exists (that has such characters as above) will the backslashes appear.

[2022-01-24 13:18] melink14 commented on #2988
I'm seeing this now as well. (Spent awhile looking for the setting to fix before realizing the settings were removed)

I'm not sure which info is needed though. I first reproduced it with an unpublished branch but can also reproduce it with a random branch like: https://github.com/melink14/rikaikun/tree/melink14/xo

(Creating pull request in Github UI behaves as expected with title == commit)

[2022-01-24 13:22] alexr00 commented on #2988
Reopening for further investigation.

[2022-01-24 13:29] melink14 commented on #2988
As a follow up, I realized that melink14/xo branch has two commits so it's not the best example. Though the behavior still differs from the Github default of using the first commit.

I went ahead an published the branch I was just using without opening a PR for easier testing:
https://github.com/melink14/rikaikun/tree/melink14/pure-esbuild

In this one as well, Create Pull Request in vscode gives

[2022-01-24 14:17] PeterBenc opened #3265 "Can't load some PRs at all."
- Extension version: `v0.34.3` (tho the same behavior in the current pre-release `0.35.something`
- VSCode Version: `1.63`
- OS: Ubuntu 20.04

Steps to Reproduce:
Really hard to explain, but some of the PRs just fail to load. See the videos pls. For some reason, some work fine, some dont.

https://user-images.githubusercontent.com/22474126/150799058-26a2b82d-ac9e-4dab-a9dc-ff50ee7b329c.mp4

https:

[2022-01-24 14:25] PeterBenc opened #3266 "Allow commenting on commit file changes"
Current behavior:
If I want to review the PR commits I can't comment on the files, I opened through the `commits` view, I must find these changes in the `Files` view and comment on them there.

Example:

I cant comment in the `StakeModalValidatorInfo` if I opened it through commits but I can if I opened it through files(containing all the changes)

![image](https://user-images.githubusercontent.co

[2022-01-24 14:51] mtaran commented on #2988
+1!

I also still hit this pretty regularly. I only noticed that it's not especially consistent, but happens less on already-uploaded branches.

Would love to see this fixed, since it's a key part of one of the most common and high-impact uses of this extension.

[2022-01-24 15:58] alexr00 commented on #3047
To verify:
1. Open a PR using the pre-release version of the extension
2. Try the new "Open All Diffs" command.
3. Verify that all diffs are opened.

[2022-01-24 16:04] alexr00 opened #3267 "Test useReviewMode setting"
Refs: https://github.com/microsoft/vscode-pull-request-github/issues/3175

- [ ] anyOS
- [ ] anyOS

Complexity: 2

---

1. There is a new setting `githubPullRequests.useReviewMode`. Read the description of the setting and make sure it makes sense.
2. Try various values of the setting. Verify that excluding a value from the setting means that review mode is not entered after a reload when you're on

[2022-01-24 16:50] alexr00 commented on #3175
@mastazi I've changed the structure of the setting to be a bit clearer. The new structure will be available in the pre-release build tomorrow!

[2022-01-24 20:31] diminutivesloop commented on #3254
@MilesCranmer Yeah your screen capture reflects what I'm seeing.

[2022-01-24 21:15] mastazi commented on #3175
@alexr00 nice, I will try it out! Thank you!

[2022-01-25 08:17] melink14 opened #3268 "Issue Hover Card fails for external repository issue reference surrounded by parentheses"
Issue Type: <b>Bug</b>

Steps to Reproduce:

1. Make a TODO with issue in another repository using paren formatting:
[code]
2. Hover over it and confirm error message in logs:
[code]

It works if I put spaces around the issue number but it's a bit unwieldy considering same repo refs work differently.

Extension version: 0.34.3
VS Code version: Code 1.63.2 (899d46d82c4c95423fb7e10e68eba52050e30ba3,

[2022-01-25 14:32] alexr00 commented on #3260
@RikkiGibson Does this happen every time you open that PR? I'm not able to repro the issue.

If it does happen every time, would you be willing to try the[ pre-release version](https://github.com/microsoft/vscode-pull-request-github/wiki/Pre-release-Build) of the extension and see if it also reproduces there?

[2022-01-25 19:43] RikkiGibson commented on #3260
I looked again and the "GitHub Pull Request" view is still wrong, but wrong in a new way :)

![image](https://user-images.githubusercontent.com/5833655/151046457-61095024-e566-4be5-a4e5-89e537a2c530.png)

Switching to pre-release actually fixes the issue. Thanks for the tip!

I wonder if a specific issue was fixed between stable and pre-release? Did you use the version from the issue description w

[2022-01-26 07:11] bpasero commented on #3249
I think this is good, but in the multi-root case the display is still different:

**SCM Changes View**

![image](https://user-images.githubusercontent.com/900690/151118878-13c1914b-5c93-4cdd-a426-299d83e2bd84.png)

**PR Extension**

![image](https://user-images.githubusercontent.com/900690/151118916-b185913a-2c21-4815-b288-e6f914b5ef73.png)

Specifically the `monaco *` indicator seems to be missin

[2022-01-26 07:32] chrmarti opened #3269 "Stuck creating PR"
v0.35.2022012509

It somehow doesn't get out of the "no commits between" state. That was true when I first forgot to create a commit, but I then added that locally and later pushed to the remote. The view somehow doesn't recover.

<img width="490" alt="image" src="https://user-images.githubusercontent.com/9205389/151120421-8d2031b9-ef85-49aa-9d3d-e02da2f1a998.png">

I see a few of the following in

[2022-01-26 07:47] chrmarti commented on #3269
Reloaded the window, but now I'm stuck here:
<img width="575" alt="image" src="https://user-images.githubusercontent.com/9205389/151123113-78f88620-f55d-4bc8-b579-4d220805b0a6.png">

[2022-01-26 10:25] dbaeumer opened #3270 "useReviewMode: misleading description"
Testing #3267

The description says the open PRs will always end in review mode
<img width="498" alt="capture" src="https://user-images.githubusercontent.com/1931590/151146515-04337e64-e630-496e-a1af-c1db66e216e7.png">

However there seems to be a setting that I can turn to false. Is this ignored?

[2022-01-26 10:27] alexr00 commented on #3270
It is ignored. I will remove the `open` option.

[2022-01-26 10:37] dbaeumer opened #3271 "Review mode not entered for merged PRs"
Testing #3267

- I checked out a merged PR
- settings
[code]
- reload the Window

Review mode not entered. I would have expected the Review mode being entered.

[2022-01-26 10:41] #3270 closed

[2022-01-26 10:43] alexr00 commented on #3271
@dbaeumer I'm not able to repro this. Did you change the setting before or after checking out the PR  branch?

[2022-01-26 10:48] alexr00 commented on #3249
@bpasero where does the "monaco" come from? Is it a label set in the workspace file? If so, I would keep as is since we already group files by pull request, which seems like the logical way to do it in this extension.

[2022-01-26 10:53] alexr00 commented on #3260
I tried both stable and pre-release when trying to repro, but no luck on either. There are some significant refactors to improve performance in pre-release, so something could have fixed it.

[2022-01-26 12:20] dbaeumer commented on #3271
The PR was actually merged not closed. But the result should have been the same.

[2022-01-26 12:24] dbaeumer opened #3273 "We should support a closed and Not merged mode since merged PRs are all closed"
This would allow to have three distinct sets.

[2022-01-26 12:29] dbaeumer commented on #3271
@alexr00  I couldn't reproduce but I guess that the closed PR was merged. Since makes it hard to decide which flag is taken. I opened https://github.com/microsoft/vscode-pull-request-github/issues/3273 to make this clearer. And may be the flag should be named `closedAndNotMerge` otherwise there is a big overlap between closed and merged. Does that make sense?

[2022-01-26 12:36] alexr00 commented on #3271
I see. I find that `closed` and `merged` are distinct enough since they are different PR states, but it is true that when you search for "closed" PRs you can also see merged PRs so I can understand the confusion. I would still call the settings `closed` and `merged`, but I would improve the setting description.

[2022-01-26 13:42] dbaeumer commented on #3271
Makes sense. But what is missing is a easy way to query for `closed but not merged`.

[2022-01-26 14:10] alexr00 commented on #3271
@dbaeumer "closed but not merged" is what `closed` would be for.

[2022-01-26 15:55] #3254 closed

[2022-01-26 17:18] ClayBenson94 opened #3274 "Feature Request: List if folder is marked as "viewed""
Currently, individual files can be marked as "viewed" in GitHub Pull Requests, and the extension properly shows a "check mark" icon next to those files.

It would be nice, for when reviewing larger PRs, to show if all files within a folder have been marked as viewed. The example below show that I've viewed the 2 files, but when the folder is collapsed, it's not possible to tell that I've already m

[2022-01-26 17:38] bpasero commented on #3249
@alexr00 there is nothing you have to do other than passing the `Uri` into the `ILabelService`:

[code]

That will take care of everything. Maybe take a look how the "Open Editors" view in the explorer does it.

[2022-01-26 17:39] krsinghshubham opened #3275 "it requires frequent window reload"
- Extension version: latest
- VSCode Version: latest
- OS: Macos BigSur

Steps to Reproduce:

1. Have a large project somewhere with 6k files with SSO enabled.
2. Work on a file having no pr history, and get back to other file and all the features will stop working.

[2022-01-26 17:42] IanMatthewHuff opened #3276 "Wording improvment for useReviewMode setting"
Testing #3267

Wording is subjective so feel free to discard any and all suggestions here :). But I did find some of the wording confusing here.

First there is a plural on `pull requests states` that is unneeded. The plural is that multiple states are controlled by the setting not multiple pull requests. Also the `Controls which` term feels redundant for a setting (unless this wording is a VS Cod

[2022-01-26 18:02] IanMatthewHuff commented on #3276
I'm not sure if this is a separate issue or simply relating to the wording issue, but per the second sentence regardless of if I set "open" to true or false open pull requests always open for me in review mode. This would match up with the wording of the main setting, but if that is the case I don't see why "open" is an option for the modes.

[2022-01-26 18:04] IanMatthewHuff commented on #3267
Merged and Closed settings worked for me as expected. Open setting did not, but per my comments in #3276 this might be expected? I might just be confused by the setting wording.

[2022-01-26 18:28] IanMatthewHuff commented on #3167
Looks good. Verified.

![image](https://user-images.githubusercontent.com/812783/151224296-a69e2813-dae0-478e-b558-3901981d9bbe.png)

[2022-01-26 18:28] rzhao271 commented on #3160
Looks like both viewlets are stuck on "Loading..." now.
Also, though the menu identifier warning shows up, I noticed it's as-designed so that's not an issue here.

![Screenshot](https://user-images.githubusercontent.com/7199958/151223978-0bdbf41b-fbbc-4bac-898a-f69a33bd640d.PNG)

[2022-01-26 20:07] MilesCranmer commented on #3254
Thanks @alexr00!

[2022-01-26 20:56] rzhao271 opened #3277 "I keep being asked to sign in, even though it seems I'm already signed in"
On Insiders on Windows:

1. Have both the built-in Git and GHPRI extensions enabled (I wasn't able to repro the issue with just the Git extension).
2. Navigate to a folder with a git repository. The folder I navigate to has a PR already checked out.
3. :bug: Get asked to log in, even though in the Accounts section, I'm already authenticated.
4. Press cancel.
5. :bug: Two quickpicks asking for my u

[2022-01-26 21:07] IanMatthewHuff commented on #3167
Sorry had the process wrong (I had removed verification-needed after verifying) added it back in along with verified.

[2022-01-26 21:53] shubham-agarwal-dd commented on #363
+1

[2022-01-27 08:15] dbaeumer commented on #3271
@alexr00 I was referring to adding a query to the GitHub viewlet that only shows `closed not merged PRs`. Something like this

[code]

Or is that possible?

[2022-01-27 09:35] #3271 closed

[2022-01-27 09:35] alexr00 commented on #3271
I have updated the description of "closed" to try to clarify closed vs. merged.

[2022-01-27 10:06] alexr00 commented on #3276
Great wording suggestion. I have made a small tweak because "open" is  a bit overloaded here and I want to avoid using "open" unless referring to the state of the PR:
[code]

I've also updated the description of merged and closed to use similar language:
[code]

And finally, I have removed the `open` option as it is confusing and doesn't do anything.

[2022-01-27 10:07] #3276 closed

[2022-01-27 10:27] alexr00 opened #3283 "Polish TreeItem description === true"
The `TreeItem` API allows the `description` to be set to `true`, which indicates that the relative dirname of the resource should be used as the description. There are some problems with this:

- A slash is prepended to the relative path
- We don't include the root when in multiroot

Example from GHPRI where there are two PRs, each from a different workspace root:
![image](https://user-images.gith

[2022-01-27 10:28] alexr00 commented on #3249
@bpasero I had made the `description` change in the extension, but it looks like we have a mechanism form automatically doing `labelService.getUriLabel(resource, { relative: true })` for the description in VS Code. However, it adds some ugly slashes and doesn't seem to include the root.

New issue with all the details: https://github.com/microsoft/vscode/issues/141634

[2022-01-27 11:47] dbaeumer commented on #3271
Thanks for the tip. Will verify tomorrow.

[2022-01-27 12:25] #3160 closed

[2022-01-27 16:04] alexr00 commented on #3037
@bdwain are you able to try out the [pre-release](https://github.com/microsoft/vscode-pull-request-github/wiki/Pre-release-Build) version of the extension to check if the issue is fixed there?

[2022-01-27 16:23] bdwain commented on #3037
@alexr00 i haven't seen the issue occur in a while, so I can't say for sure anymore if this changed anything.

[2022-01-27 16:35] alexr00 commented on #3037
Ok, thanks @bdwain. We'll leave this one unverified then.

[2022-01-28 01:46] TylerLeonhardt commented on #3231
I believe the verification for this is:

1. Open playground.code-workspace in VS Code
2. Run the Create Pull Request command in VS Code
3. Verify the PR description is populated

In which case, this is verified. Please correct me if I'm wrong.

[2022-01-28 08:49] alexr00 commented on #3231
That's correct, thank you @TylerLeonhardt!

[2022-01-28 09:03] arnetheduck commented on #2988
One way I've been able to reproduce:

when creating a PR that targets a non-default branch, after switching to it the title and description should be updated, iff the new branch has a single commit only compared to the _new_ "into" branch.

This is something that happens quite often when developing against an "unstable" branch, while the "stable" branch is set as the default.

Github automatically

[2022-01-28 11:23] ves-fyayc commented on #2741
The PRs are private and the output in the console when I try to load a PR is
`[Info] GithubRepository> Unable to fetch issues without milestone: Error: GraphQL error: API rate limit exceeded for user ID 51325222.
[Info] GithubRepository> Unable to fetch PR: Error: GraphQL error: API rate limit exceeded for user ID 51325222.`

[2022-01-28 12:22] alexr00 commented on #2741
@ves-fyayc can you try signing out and signing in again in VS Code with your GitHub account? The Accounts menu is near the bottom of the activity bar.

You shouldn't be getting any rate limiting if you're signed, so it's possible something is up with your sign in. If signing out and in again solves it, then I can have the extension automatically prompt you do so when the rate limit error occurs.

[2022-01-28 13:02] kiumarsj commented on #3102
No, not about mine.
I have upgraded to the 1.63.2 version but still,  have the same problem.
I am using the KDE neon user edition which is an ubuntu-base Linux

[2022-01-28 13:03] kiumarsj commented on #3102
No, not about mine.
I have upgraded to the 1.63.2 version but still,  have same problem.
I am using the KDE neon user edition which is an ubuntu-base Linux

[2022-01-28 15:08] alexr00 commented on #3277
@rzhao271 can you also share the output for GitHub Pull Request?

[2022-01-28 15:09] alexr00 commented on #3275
@krsinghshubham can you list one or two of the features that stop working?

[2022-01-28 15:10] alexr00 commented on #3273
I think this has been covered with https://github.com/microsoft/vscode-pull-request-github/issues/3271.

[2022-01-28 15:10] #3273 closed

[2022-01-28 16:39] rzhao271 commented on #3277
Yep.

[code]

[2022-01-28 17:29] ves-fyayc commented on #2741
I tried sign out and in againt and it worked, so it is probably a good idea to do the automatical prompt when the rate limit occurs.

[2022-01-28 22:00] JacksonKearl opened #3278 "Cannot read property 'owner' of undefined after "create pull request" and opening the view"
![image](https://user-images.githubusercontent.com/8586769/151627250-437ece16-49dc-4fe8-80f3-c4b0ad74fa9d.png)

found while verifying https://github.com/microsoft/vscode-pull-request-github/issues/3207, the branch had just been published to a second origin repo under my same account (JacksonKearl/CAHours2 versus the cloned JacksonKearl/CAHours)

also repros in Insiders/Nightly

[2022-01-28 22:08] JacksonKearl commented on #3207
Works well when the two origins have different owners, ran into #3278 when they're both the same owner.

[2022-01-28 22:34] rzhao271 commented on #3277
I can also repro the issue with GHPRI disabled when I run `git fetch` in the terminal.
But, does that mean that GHPRI is trying once in a while to fetch information?

[2022-01-29 00:15] rzhao271 opened #3279 "Does useReviewMode setting take in additional properties?"
Verifying https://github.com/microsoft/vscode-pull-request-github/issues/3276

I noticed in the Settings UI that the `githubPullRequests.useReviewMode` setting currently points the user to the JSON file.
If the only keys the user can configure are closed and merged, then setting `"additionalProperties": false` in the schema should allow for the Settings UI to render the setting properly.

[2022-01-30 14:57] azuredeepika opened #3280 "Taking long time to clone but finally not succeding in cloning"
Issue Type: <b>Performance Issue</b>

Taking long time to clone but finally not succeding in cloning

Extension version: 0.34.3
VS Code version: Code 1.63.2 (899d46d82c4c95423fb7e10e68eba52050e30ba3, 2021-12-15T09:40:02.816Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4300U CPU @ 1.90GHz (4

[2022-01-30 14:57] azuredeepika commented on #3280
![log](https://user-images.githubusercontent.com/97817617/151704956-d88ac7be-765c-49a3-8b36-6d7269e0f4bd.PNG)
![VSCloneissue](https://user-images.githubusercontent.com/97817617/151704958-636c661e-dca9-4b35-b842-8b0a13addb93.PNG)

[2022-01-30 14:58] azuredeepika commented on #3280
Attaching the error screenshots for reference. Kindly look into the issue and do the needful.

[2022-01-30 20:56] tboddyspargo opened #3281 "Avoid suggesting Issue and PR numbers immediately after comment hash"
_I didn't find any issues relating to this specific behavior. I hope I didn't miss anything..._
# Summary
It would be really nice if the Issue and Pull Request auto-complete suggestion feature was not triggered by the hash symbol that indicates a comment.

When I am writing commends have have a blank comment line, my instinct is to type `[Enter]`, `#`, `[Enter]` to achieve this. However, this resu

[2022-01-31 08:53] alexr00 opened #3282 "Prompt for sign in when a rate limit error is encountered"
Not sure why this happens, but occasionally signed-in users will start seeing rate limit errors:

[code]

Sign out + sign in resolves these errors. When this occurs, we should automatically prompt for sign in again.

https://github.com/microsoft/vscode-pull-request-github/issues/2741#issuecomment-1024164158

[2022-01-31 08:54] alexr00 commented on #2741
Thanks for confirming that @ves-fyayc. I will make the change: https://github.com/microsoft/vscode-pull-request-github/issues/3282

[2022-01-31 12:21] #3279 closed

[2022-01-31 12:21] alexr00 commented on #3279
Great tip, thank you!

[2022-01-31 14:22] alexr00 commented on #2707
Duplicate of this fixed issue: https://github.com/microsoft/vscode-pull-request-github/issues/3200

[2022-01-31 14:22] #2707 closed

[2022-01-31 20:22] rzhao271 commented on #3277
I'll move this issue to the main vscode repo.
I noticed when I typed in `git pull` into the terminal that I got sent to the web interface this time to auth, instead of having the quickpicks pop up asking for my credentials.

[2022-02-01 00:54] roblourens commented on #1612
Should it be verifiable with some other PR with the update button?

[2022-02-01 08:54] alexr00 commented on #1612
I couldn't repro this. @Tyriar are you able to verify this?

[2022-02-01 13:38] alexr00 commented on #3283
Moved back to microsoft/vscode-pull-request-github since VS Code tree views actually do the right thing here already. The issue is that this view shows resources with the scheme `filechange`, which is an extension specific scheme. This scheme enables our file decorations, so we can't just switch over to the `file` scheme.

[2022-02-01 14:31] Tyriar commented on #1612
Let's call this verified with the improved logging, I haven't hit it since but if I do I can share the log.

[2022-02-01 16:43] runthis opened #3286 "PHP DocBlock - don't show hover cards for @-mentioned users"
Issue Type: <b>Bug</b>

Create a PHP docblock with `@return` or `@todo` and hover it.

[code]

Good list of tags
https://github.com/php-fig/fig-standards/blob/master/proposed/phpdoc-tags.md

Related: #2498 & #3122

Extension version: 0.32.0
VS Code version: Code 1.61.2 (6cba118ac49a1b88332f312a8f67186f7f3c1643, 2021-10-19T14:57:20.575Z)
OS version: Windows_NT x64 10.0.18363
Restricted Mode: No
Rem

[2022-02-01 19:26] rzhao271 commented on #2638
@TBBle does the newest pre-release version work for you?

[2022-02-02 09:14] LondonAppDev commented on #486
Hey @alexr00, was point 1 meant to say "The definition *is* part of the PR?" I ask because I have a PR checked out and I can only "Go to Definition" for items that are included in that PR (using Python).

[2022-02-02 09:56] alexr00 commented on #486
Thanks @LondonAppDev you are correct!

[2022-02-02 21:45] egamma opened #3287 "Improve the interaction for 'viewed files' in the Changes View"
Toggling the viewed state for a file in the Changes view is not intuitive:

![image](https://user-images.githubusercontent.com/172399/152242314-66f23f8f-aa96-4c65-86ff-2ac1999309f7.png)

After clicking the 'checked' inline action, the toggle action moves around and is replaced with very different icon.
![image](https://user-images.githubusercontent.com/172399/152242354-b1716b93-1287-47d4-a30e-d4e2

[2022-02-02 23:46] misolori commented on #3287
Also worth pointing out that we use a mixture of checks, would be nice to consolidate/make it a bit more consistent:

<img width="300" src="https://user-images.githubusercontent.com/35271042/152256740-7dbb5fa8-bd56-4a62-b1af-ffa49ba65ad6.png">

[2022-02-03 03:42] nirou8 opened #3288 "Managing Multiple github accounts"
It would be great if we can connect and switch between GitHub accounts.

I'm already logged in with one personal account and everything works perfectly, but if I want to work on another repository from another user, it will fail and show a message "fatal: repository ..... not found.

[2022-02-03 10:03] alexr00 opened #3289 "Outdated comments in a non-checked out PR cause a console error"
[code]

This also causes some comments not to be fully added, so if you try to edit a comment later then there will be more errors and possible bugs.

[2022-02-03 15:32] alexr00 commented on #3288
duplicate of upstream issue https://github.com/microsoft/vscode/issues/127967

[2022-02-03 15:32] #3288 closed

[2022-02-03 19:41] mattlubner commented on #1048
Thank you for this! I have been stuck in "pull request mode" ever since we created a PR to merge our default branch into another one. Manually editing my `.git/config` file to remove that association has _finally_ gotten me out of pull request mode.

It would be nice if this extension removed that association when exiting review mode, so that it'd be possible to leave pull review mode without swit

[2022-02-04 10:47] odil-io commented on #3028
I would love to overrule the Default Branch setting from GitHub (or other VCS) to avoid conflicts. As I'm not always able (or permitted) to edit a Repo's settings.

[2022-02-04 11:47] #3268 closed

[2022-02-04 13:17] #3289 closed

[2022-02-04 13:18] #3283 closed

[2022-02-04 16:05] alexr00 opened #3294 "After making a change to a PR that was made on a fork the "Files" tree is empty"
![image](https://user-images.githubusercontent.com/38270282/152561959-8fdf51d8-02da-4916-b108-988129246175.png)

Refreshing the tree doesn't bring the files back.

[2022-02-04 20:10] Tyriar opened #3297 "Lots of duplicate files in PR changes view"
![image](https://user-images.githubusercontent.com/2193314/152596330-e7d27dae-e241-4459-901b-34b1727dfbcb.png)

PR: https://github.com/microsoft/vscode/pull/142211

Log

[code]

ext version: 0.37.2022020316 Pre-Release

Version: 1.65.0-insider (user setup)
Commit: 62de8dc3f78b8bef1eb62deeb093164a8d76c254
Date: 2022-02-04T11:47:20.200Z
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9

[2022-02-04 20:11] Tyriar commented on #3297
Clicking the refresh button fixed it

![image](https://user-images.githubusercontent.com/2193314/152596614-e877e0bd-5ffe-46b9-aaaa-49068c30edba.png)

[2022-02-07 07:33] tyler36 opened #3298 "Add "today" as query option"
I want to add 2 queries:
- show new issues
- show issues closed today

Somethign similar to:

[code]

However, all the Github [search documentation](https://docs.github.com/en/search-github/searching-on-github/searching-issues-and-pull-requests) relates to setting a specific date.

Is something like this already available?  I feel like this would be a variable handled by the extension.

Ideally, s

[2022-02-07 13:04] alexr00 commented on #3297
@Tyriar do you know what you were doing when that happened? Had you just pushed a change to the branch?

Might be related to https://github.com/microsoft/vscode-pull-request-github/issues/3294. I just pushed a fix for that, so it will be in the next pre-release build.

[2022-02-07 13:17] Tyriar commented on #3297
I remember there were changes I hadn't pulled. Either on my other computer I was working or it or I hit the update branch button, can't remember the specifics.

[2022-02-08 08:57] alianZhen opened #3299 "Ask for a feature implement"
Hello，I'm  a beginner of vscode extension developer.I also want to achieve this feature like this picture.But I cannot find the position from the source code.So could you please tell which api or contribute point was used.Thanks!
![image](https://user-images.githubusercontent.com/27906971/152951708-6d0b637d-ecd2-4038-9a4b-73d512342212.png)

[2022-02-08 09:06] alianZhen commented on #3299
ok.I found it

[2022-02-08 09:06] #3299 closed

[2022-02-08 09:07] alianZhen commented on #3299
https://github.com/microsoft/vscode-extension-samples/tree/main/comment-sample

[2022-02-08 12:44] alexr00 commented on #1793
@cpatti97100 a new version of VS Code stable was released last week (version 1.64) and I released a new version of GitHub Pull Requests and Issues (version 0.36.0) last week too so you're probably good to go.

[2022-02-08 13:18] ZafarAlladien opened #3300 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-pull-request-github`
- Extension Version: `0.32.0`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.62.3`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\ZAFAR~1.ALL\AppData\Local\Temp\GitHub.vscode-pull-request-github-unresponsive.cpuprofile.txt`

Find more details here: https://github

[2022-02-08 14:39] PeterBenc opened #3301 "Allow checking out the commits when reviewing"
If possible, I like to review PRs commits by commit. I d like to be able to check out these commits one by one, see what has changed and be able to comment on it and be able to edit them and try out some suggestions before proposing them.

Current behavior:
 - commenting on separate commits doesn't work, (already opened an issue for that)
 - can not make changes to the files
 - without checking th

[2022-02-08 14:40] varna commented on #3017
Same here. Am I using it in the wrong way?

p.s. My project is in a private organisation repo, while issue branches are created on my personal account fork for some reason.

[2022-02-08 16:25] wrslatz commented on #1793
Does login for GitHub Enterprise work _without_ also logging into GitHub.com? I can't seem to get this to work with the latest versions. I'm happy to open a separate issue to troubleshoot further.

[2022-02-08 17:28] marvin1up opened #3302 "Display comment bubbles different colors based on participant"
The comment bubbles provide a great place to quickly show where comments are in the code, but the current user, the original author, and other reviewers are all shown with a "white" comment bubble (and white indicator in the file gutter).

It would be great if the different participants added different colors.  For simplicity maybe any reviewer comments are a shade of blue, and the PR author comme

[2022-02-08 19:55] JoaoPedroAlex commented on #2572
Hello, I am suffering from this situation and I do not see any error. How can I debug this?

[2022-02-08 23:51] janakjjp opened #3303 "New pull requests on branches off master try to merge into a wrong branch"
- Extension version: v0.36.0
- VSCode Version: 1.64.1 (Universal)
- OS: macOS Monterey (12.2)

Steps to Reproduce:

1. Stage, commit and push a branch off `master` onto a GitHub Enterprise instance;
2. Issue the Pull Request command, and observe the fields in the Create Pull Request dialog in VS Code.

Expected behavior:
- "INTO" shows the repo in question and the "master" branch. (The repo is lar

[2022-02-09 03:06] adam-p opened #3304 "Preventing intellisense menu from loading"
Issue Type: <b>Bug</b>

As suggested by extension bisect. And it doesn't happen in all windows. I don't know.

Extension version: 0.36.0
VS Code version: Code 1.64.1 (d6ee99e4c045a6716e5c653d7da8e9ae6f5a8b03, 2022-02-07T17:16:22.147Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-10875H CPU @ 2

[2022-02-09 03:07] #3304 closed

[2022-02-09 10:03] stuartleeks opened #3305 "Allow commenting on lines not changed in a PR"
I often find myself wanting to comment on lines that haven't changed in a PR. This is typically to call out other places that need updating based on the changes in the PR, but that had been missed.

From what I can tell, the existing behaviour only allows comments to be added on lines that were changed in the PR?

[2022-02-09 11:23] hediet opened #3316 "Github.dev: Weird Default Description When Creating PR"
![recording](https://user-images.githubusercontent.com/2931520/153190337-f893964a-7766-42c4-aa48-a0f50f2faaf3.gif)

[2022-02-09 13:49] alexr00 opened #3306 "Commenting ranges often don't show when using github.dev or vscode.dev"
The commenting range, shown surrounded in yellow here, sometimes doesn't show.

![image](https://user-images.githubusercontent.com/38270282/153214229-d25244c3-d013-4db4-8c76-2e03fd91607a.png)

[2022-02-09 13:50] alexr00 commented on #3306
Fixed in main by https://github.com/microsoft/vscode-pull-request-github/commit/48bb6db679042486573e8ab592e489c548815442

[2022-02-09 18:36] cpatti97100 commented on #1793
Hey @alexr00 thank you for reaching out!

So at the moment I have Code Version: 1.64.1 (Universal) and GitHub Pull Requests and Issues 0.36.0

in settings I have
[code]

when I start the app and go the extension page, I see this

![image](https://user-images.githubusercontent.com/2529599/153266388-b48d08de-af6b-467e-9153-bbc3f30a0e18.png)

then I do the sign in flow into my private regular github

[2022-02-09 19:21] wrslatz commented on #1793
I was able to generate an access token in the GitHub Enterprise instance (under Developer Settings for your user).

The login to GHES seems to work in my case (from the GitHub Authentication logs), but the extension still can't recognize or pull the projects for my workspaces (I see logs saying the repo isn't recognized and can't find the remotes).

[2022-02-10 07:23] cpatti97100 commented on #1793
success! thanks!

[2022-02-10 08:46] alexr00 opened #3309 ""The current repository does not have a push remote for..." when trying to create a PR from github.dev"
1. Open a repo with github.dev.
2. Create a branch withing github.dev.
3. Try to create a PR. The "there is no upstream, do you want to publish" dialog will show.
4. "The current repository does not have a push remote for..." error shows in the "create PR" webview.

[2022-02-10 09:43] bzlom opened #3310 "Do you want to create a pull request notification stopped working"
Might be a simple fix, but I could't find it mentioned anywhere. With the latest release of the plugin a feature was added: `Added a "Don't show again" button to the "Do you want to create a pull request" notification to better surface the associated setting.` .

I believe I pressed on the `Don't show again` button and now I don't get the popup any longer, which is expected - but I would like to r

[2022-02-10 12:41] krsinghshubham commented on #3275
1. Open Changes icon does not work
2.  Commit details for specific lines does not show up

[2022-02-10 12:47] alexr00 commented on #3275
@krsinghshubham are you maybe referring to features provided by the GitLens extension? The GitHub Pull Requests and Issues extension doesn't show commit details for specific lines and we don't have an "Open Changes" icon.

[2022-02-10 12:48] krsinghshubham commented on #3275
@alexr00 ohh, i didn't knew. Thanks for informing.

[2022-02-10 12:48] #3275 closed

[2022-02-10 13:06] alexr00 commented on #3297
I'm pretty sure this is a duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/3294

If we see it again we can re-open.

[2022-02-10 13:06] #3297 closed

[2022-02-10 13:38] alexr00 commented on #3309
This is happening in github.dev and vscode.dev because the GitHub Repositories extension's `Repository.getBranch` is returning a `Branch` that has no `upstream` set.

Interestingly, `repository.state.HEAD` _does_ have the `upstream` set.

@joyceerhl ideally this would be fixed in GitHub Repositories since there are other places we expect there to be an `upstream` too. Note: I don't think this is a

[2022-02-10 13:51] alexr00 commented on #3309
Added an easy work around for this case!

[2022-02-10 13:56] #3294 closed

[2022-02-10 14:13] alexr00 commented on #3294
To verify (you MUST use VS Code desktop for part of this, but it's ok to start in vscode.dev or github.dev if you want):
1. Find a repository that you don't own that you have commit rights too. We'll call this upstream.
2. Make a fork of upstream. We'll call this fork.
3. Make a PR from fork into upstream. The change should include 3+ files.
**From here on out, you must use VS Code desktop**
4. Op

[2022-02-10 14:44] aeschli commented on #3294
Verified with PR extension running on resources from Github Repositories.

[2022-02-10 14:57] alexr00 commented on #3306
It does not happen every time, and I am confident of the fix. Thank you for verifying!

[2022-02-10 15:04] alexr00 commented on #3302
@marvin1up we're about to use color to indicate resolved/unresolved, so we won't be able to use it for the user. I do like the idea of differentiating self comments vs. other's comments in some way though.

Thanks for using the extension!

[2022-02-10 15:17] alexr00 commented on #3310
@bzlom the `Don't show again` button sets this setting: `githubPullRequests.terminalLinksHandler`. To get the notification back you can set it to `ask`, or if you always want to use the extension to create PRs you can set it to `vscode`.

[2022-02-10 15:17] #3310 closed

[2022-02-11 04:56] BlueGlassBlock opened #3314 "Avoid inserting issue titles in commit message suggestion"
_I  searched and didn't find any issues relating to this... Hope that I didn't miss anything..._

# Summary

Currently commit message completion also adds the title of the issue,

which makes it hard to trigger `close #1` or `fix #1` to make GitHub automatically close the certain issue.

### Current Behavior

_In commit message_

Assuming that the repo has a `#1: Example issue`

1. type `close #`

[2022-02-11 07:04] alexr00 commented on #3309
It expects `upstream.remote` to be `origin`, since that's what it is on `repository.state.HEAD`.

[2022-02-11 07:36] #3242 closed

[2022-02-11 08:09] alexr00 commented on #3242
This issue is fixed in the latest pre-release build.

Commenting should be fixed by https://github.com/microsoft/vscode-pull-request-github/issues/3306, which went out in 0.36.1 yesterday.

[2022-02-11 08:33] #3316 closed

[2022-02-11 15:11] johnpapa commented on #3309
Thanks for working on this. It is an issue for our microsoft learn student ambassadors who are teaching a workshop on how to use github.dev to create branches, commit, push, make a PR, and merge.

Thanks again!

[2022-02-11 17:30] clenfest opened #3318 "list of files in "changes in pull request" view disappear if in new vscode side panel"
Issue Type: <b>Bug</b>

Not sure of exactly how to reproduce, but if I moved the "changes in pull request" tab from the main side bar to the new side panel, I will be able to see the list of files for some period of time, but eventually they always seem to go away and not be listed. Refreshing does not seem to properly reload them, but restarting vscode usually will make it work again temporarily.

[2022-02-11 17:33] clenfest commented on #3318
Here's a screenshot. Plenty of commits for the PR, but files list is empty.

![image](https://user-images.githubusercontent.com/12638044/153640096-7ace8fd3-6632-4bb5-8d73-4661f180003e.png)

[2022-02-11 17:33] Venkat-Swaraj opened #3319 "Extensions are not working in codespaces"
- Extension version: 1.5.2
- VSCode Version: 1.64
- OS: Windows 11

Steps to Reproduce:
C++ intellisense extension,tabnine any extension is not working. While I type code it doesn't give any suggestions which is intended behaviuor of C++ intellisense.I tried reset intellisense database. But still the problem persists.

[2022-02-12 20:32] brianjmurrell commented on #603
Not really.  You have a feature to suggest a change as a patch in a comment but it's not using GitHub's _suggestion_ facility as it does not provide the reader with the tools that _suggestion_ facility provides to be able to apply the suggestion right from the UI.

So while you have similar feature, it does not satisfy the original request, IMO.

[2022-02-14 05:15] joyceerhl commented on #3309
@alexr00 Made that change--I also noticed that RemoteHub never sets `remote` in the result of `Repository.getBranches`. Could this be a problem for https://github.com/microsoft/vscode-pull-request-github/blob/49489d66d3988c61bec54ea2b55c0d64b3b22504/src/issues/util.ts#L408-L415?

[2022-02-14 08:04] alexr00 commented on #3309
👍 thanks for pointing that out! I'll make the same workaround change for the recovery release there.

[2022-02-14 12:34] alexr00 commented on #3319
Sounds like an issue with the C++ extension, not with the GitHub Pull Requests and Issues extension.

[2022-02-14 12:34] #3319 closed

[2022-02-14 12:37] alexr00 commented on #3318
@clenfest would you be willing to try out the [pre-release version](https://github.com/microsoft/vscode-pull-request-github/wiki/Pre-release-Build) of the extension and reply back with whether you end up seeing the same issue there? I made a fix last week that may address the problem you're seeing.

[2022-02-14 12:40] alexr00 commented on #3314
@BlueGlassBlock checkout the setting `githubIssues.issueCompletionFormatScm`. You can change how the suggestion is formatted using that setting.

[2022-02-14 12:40] #3314 closed

[2022-02-14 18:07] xmatthias commented on #3318
I've been hitting this too and can confirm that (at least for my case) it's fixed with the pre-release version.

[2022-02-14 21:48] clenfest commented on #3318
Yeah, it looks like it's take care of. Thanks again.

[2022-02-15 08:37] alexr00 commented on #3318
Thanks @xmatthias! I'll wait until I hear back from @clenfest before closing.

[2022-02-15 10:26] #3303 closed

[2022-02-16 01:55] berkeleymalagon commented on #363
+1 💙

[2022-02-16 05:34] misolori commented on #3287
Love how clear the checks are, it would be nice if the position of the icons could stay the same so it could be an easy "toggle" which makes me wonder if we can find a decorator for "not yet reviewed" so the position stays consistent?

[2022-02-16 11:50] alexr00 commented on #3287
What if we swap the "git" decoration (M, D, A, etc.) for the check?
![Recording 2022-02-16 at 12 48 06](https://user-images.githubusercontent.com/38270282/154258853-958bbd69-2ac1-4f6b-a6e4-6f195f04c072.gif)

[2022-02-16 12:35] jablagH commented on #3309
Thanks for try to fix this issue! This affects an important part of end-of-degree project.

[2022-02-16 14:32] Tyriar opened #3323 "Confusing error when trying to create a PR"
Maybe this is a problem with GHPRI, I did the following:

1. Opened github.dev on https://github.com/microsoft/vscode-docs
2. Made a change
3. Created a new branch via the status bar
4. Committed the change
5. Tried to create a PR, clicking create gave me:
  ![image](https://user-images.githubusercontent.com/2193314/154285949-2736274c-943a-4c0e-aed4-106c126f2829.png)
6. That was confusing as the b

[2022-02-16 14:44] joyceerhl commented on #3323
👍Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/3309

[2022-02-16 14:44] #3323 closed

[2022-02-16 15:56] lychung7 commented on #3287
@misolori we had also explored an indicator next to the file name for when the file hasn't been marked as viewed yet. Although the dot is used in other scenarios in list views. I think what @alexr00 suggested for swapping could also be a good idea! Users might not need to see the git decorations after they mark them as viewed.

https://user-images.githubusercontent.com/60596156/154302890-912387d6-

[2022-02-16 17:40] utkarsh22garg opened #3324 "How to have enterprise github URL in Copy as Permalink feature ?"
When I try to do copy as permalink, it copies URL with github.com/.... but I would like to have github enterprise URL instead when copying.

Is there a way to achieve so ?

- Extension version: 0.36.1
- VSCode Version: 1.64.1 (system setup)
- OS: Windows_NT x64 10.0.19042

[2022-02-16 22:04] colemickens opened #3325 "Support Device Auth Flow"
Uh. Where is the documentation covering vscode-auth and why it's necessary?

Why does this extension seem to intentionally not support any other OAuth flow that might be more usable than expecting to be able to POST back to a browser or private URL? (Especially when past issues refer to a workaround that allowed PATs?)

[2022-02-16 22:07] colemickens commented on #3325
I guess the context is here: https://github.com/Microsoft/vscode-pull-request-github/issues/93

It's too bad that GitHub doesn't have manual authorization code support.

I think this extension should, at the very least, support manual tokens and support the beta device auth flow rather than MITMing (whether it has access to them or not) user github tokens.

[2022-02-16 22:08] colemickens commented on #3325
https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps#device-flow

[2022-02-16 22:14] colemickens commented on #3325
Octokit already supports this auth flow as well (but it also supports PATs...).

[2022-02-16 22:31] colemickens commented on #3325
Wow, what a nightmare, this uses the builtin github auth provider which... doesn't seem great from first glance. Doesn't use octokit, hardcodes web callback auth.

anyway, guess this issue isn't here after all

[2022-02-16 22:35] #3325 closed

[2022-02-17 10:10] #3287 closed

[2022-02-17 10:28] #3309 closed

[2022-02-18 04:50] mouse07410 opened #3329 "Fetching pull requests for remote 'origin' failed, please check if the url . . . is valid"
Issue template says

Unfortunately, it pre-filled nothing, but created a new issue in `microsoft/vscode` rather than here. I had to fill out everything myself: https://github.com/microsoft/vscode/issues/143344

- GitHub Pull Requests Extension version: v0.36.2
- VSCode Version: 1.64.2
- OS: macOS Monterey 12.2.1

Steps to Reproduce:

1. Start VSCode and open directory that contains project cloned

[2022-02-18 11:10] nguyentranchung opened #3330 "Feature request: Hide reviewed files"
<img width="384" alt="Screen Shot 2022-02-18 at 20 10 26" src="https://user-images.githubusercontent.com/9611224/154671815-80e63fa7-a338-4c32-a19f-968b85417a0a.png">

[2022-02-18 12:51] diminutivesloop opened #3331 "PR Description Not Loading in Firefox on github.dev"
- Extension version: 0.36.2
- VSCode Version: 1.64.2
- User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:97.0) Gecko/20100101 Firefox/97.0
- Embedder: github.dev

Steps to Reproduce:

1. Open a PR on github.dev in Firefox.
2. Open the PR description from the sidebar.

A new tab loads but its contents never load. The following error is logged to the console:
[code]

This issue persists e

[2022-02-19 16:16] mharris717 commented on #3318
I've also been experiencing this. I just switched to pre-release version. Can't be sure it fixes it till I let VSCode run for a while. Will report back on Monday to confirm fixed.

Thanks!

[2022-02-19 16:53] Walfal commented on #3102
Problem solved, I had installed vscode with snap, but when I installed it with a .deb, it works

[2022-02-21 14:19] alexr00 opened #3332 "Test mark as viewed"
Refs: https://github.com/microsoft/vscode-pull-request-github/issues/3287

- [x] anyOS @rzhao271
- [x] anyOS @mjbvz

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode-pull-request-github/issues/new?body=Testing+%233332%0A%0A&assignees=alexr00)

---

The old UX for marking a file in a PR as viewed caused some button jumping and used icons that were hard to understand. Within the lim

[2022-02-22 15:09] alexr00 commented on #3278
I'm no longer able to repro this.

[2022-02-22 15:09] #3278 closed

[2022-02-22 15:25] alexr00 commented on #3318
Closing since so far there are no reports of this issue occurring with the pre-release version.

[2022-02-22 15:42] alexr00 commented on #3329
@mouse07410 thank you for creating an issue in this repo!

This extensions GitHub Enterprise support is maintained by the community, but I can tell you that the error `Fetching pull requests for remote 'origin' failed, please check if the url . . . is valid` is shown when we get a 404 back. You might try signing out of your account in VS Code, reloading VS Code, then signing in again.

[2022-02-22 15:49] alexr00 commented on #3331
@diminutivesloop this seems to be fixed in VS Code insiders. Switching to insiders is very easy if you want to get PR description back right now:

![image](https://user-images.githubusercontent.com/38270282/155168237-46f63fa6-d2f8-4be9-a173-4496847be60a.png)

[2022-02-22 15:49] #3331 closed

[2022-02-22 16:53] alexr00 commented on #3318
@mharris717 do you have any clues about what you were doing when this occurred? (made a commit, changed branches, created a pr, pulled, etc.)

[2022-02-22 16:58] mouse07410 commented on #3329
Only in that case?

When I'm in VSCode terminal tab, git works fine. Also, just now I got an error
[code]

But, despite this message, clicking the "Synchronize Changes" button causes **successful** synchronization of the repo, pulling from and pushing to the remote.  All this **without** doing anything explicit with signing out of the account in VS Code.

[2022-02-22 18:40] milunova commented on #2572
I was having the same issue and after much digging I was able to find the problem. What did you name your remote repo in vscode? Run the following command in the terminal in the same location as the git folder:

`git remote -v`

You should see the name on the left hand side. If it is not named origin/upstream the extension will not work. Looking at the extension settings, you can see that is what

[2022-02-22 18:43] LyleGuay commented on #2685
I would like to see this feature as well!

Currently, once a conversation has the label "Outdated", you can't "Resolve Conversation" from within VSCode. You need to switch back to the Github.com PR page to resolve the conversation.

[2022-02-22 18:57] mharris717 commented on #3318
It happens constantly. Restarting VSCode fixes it.

I'm pretty sure it requires some activity to trigger it, and not just time, since I didn't touch computer for 24h+ and when I returned it was still working.

It seems to break pretty fast while I'm using VSCode. I can't say for sure that switching branches is a cause. I would guess, cause I'm switching branches all the time, but I don't have a go

[2022-02-22 18:59] mharris717 commented on #3318
Once it breaks, it never unbreaks without a restart.

It may be getting "stuck" on a previous branch. I've seen it showing the title for "a branch i've switched away from a while ago," along with no files.

[2022-02-22 19:01] mharris717 commented on #3318
The output for `GitHub Pull Request` is still going while the pane is broken.

I switched to master and the pane went away, then switched back and pane reappeared, still in broken state

[code]

[2022-02-22 19:04] RikkiGibson commented on #3260
I think dotnet/roslyn#57667 still shows some bad behavior in my Edge, but other pull requests seem to work fine. I wonder if some local cache got into a bad state specifically for that pull request.

[2022-02-22 19:04] mharris717 commented on #3318
installed extensions with GitHub in name
![image](https://user-images.githubusercontent.com/64296/155201019-c8119bfd-93cc-424d-8e0c-2aba23df3cf1.png)

[2022-02-22 19:30] ryan-efendy opened #3335 "Disable auto-opening PR comments/discussions"
As a user, I want to have an option/setting to disable auto-opening GitHub comments/discussion when I navigate to a file.

[2022-02-22 20:13] ilyakochik opened #3336 "No GitHub Pull Requests and Issues in the sidebar, issues autocompletion and hover not working"
- Extension version: `v0.36.2`
- VSCode Version: `1.64.2 (Universal)`
- OS: `macOS Monterey 12.1`

I have Node.js project, GitHub repo, and a local VSCode with following plugins: ESLint, GitHub Codespaces, GitHub Pull Requests and Issues.

Problems:
- There is no GitHub Pull Requests and Issues in the sidebar
- When I start typing `// #` issues lookup is not triggered
- There is no hover over issu

[2022-02-23 10:26] alexr00 commented on #3260
That could be it. Could you try going to https://vscode.dev/github/dotnet/roslyn/pull/57667 and seeing if it repros there?

[2022-02-23 10:31] alexr00 commented on #3329
@mouse07410 did the sign-out + sign in again work? The auth scopes that are used for fetching pull request might be different from those needed to synchronize changes (not sure, I don't know which scopes specifically both use), so just because one thing is working doesn't mean we have the appropriate auth token for everything we try to do in the extension. Additionally, the synchronize changes but

[2022-02-23 12:14] alexr00 commented on #3335
Checkout the setting `githubPullRequests.commentExpandState`.

[2022-02-23 12:14] #3335 closed

[2022-02-23 12:23] alexr00 commented on #3336
@ilyakochik can you set the settign `githubPullRequests.logLevel` then reload your VS Code window and share the Output from GitHub Pull Request again?

[2022-02-23 12:24] alexr00 commented on #3336
You could also try signing out and signing in again in VS Code.

[2022-02-23 13:03] shamar-morrison commented on #1376
Has there been any updates on this? Would love for it to get added

[2022-02-23 14:02] mouse07410 commented on #3329
No, and it's unclear to me how to manage accounts (GitHub proper, and GitHub Enterprise - I have several of those).
Also, it's unclear whether your proposed solution would force _the user_ to sign-in again (which in my view would not be acceptable)?

If anything, scope for pulling **and pushing** changes is definitely wider than the scope to merely _fetch_.

Also, I pasted that exact URL into a br

[2022-02-23 14:06] alexr00 commented on #3329
In that case, we'll just have to wait and see if a member of the community who is passionate about GitHub Enterprise wants to take a look at the issue.

[2022-02-23 14:27] mouse07410 commented on #3329
I can only ad that (a) the "Accounts" button seems to show two _other_ accounts, but not _this_ one, and (b) all the "normal" GitHub functionality seems to be working on this repo with VS Code and Terminal. The only component that seems to have a problem with access, is "vscode-pull-request-github", and it does not give enough info to let me know what it was doing, and what problem it hit. The URL

[2022-02-23 15:10] RikkiGibson commented on #3260
Fascinating. Right now I get the gray bars indicating I can leave a comment, but no actual content diffs in github.dev:

![image](https://user-images.githubusercontent.com/5833655/155346784-0b950d59-211a-4fde-b32b-89bc7cac5ef7.png)

In vscode.dev/github I get the proper content diffs:

![image](https://user-images.githubusercontent.com/5833655/155346919-9f2df841-7832-4f90-8c98-1ca714f6ae41.png)

[2022-02-23 15:16] alexr00 commented on #3260
The no diffs is caused by https://github.com/microsoft/vscode-remote-repositories-github/issues/121 We're still trying to get to the bottom of that one.

I think it's safe to say that the original issue was caused by caching though if you can't repro it on vscode.dev. If you see the incorrect diffs (not the no diffs) again, lets reopen for further investigation since we shouldn't end up with a bad

[2022-02-23 15:16] #3260 closed

[2022-02-23 19:02] roblourens opened #3348 "Resolving thread failed"
Testing microsoft/vscode#143545

- Check out this PR and click resolve on this thread: https://github.com/roblourens/testrepo/pull/5#discussion_r813191803
- I got this error popup:

`Resolving conversation failed: Error: GraphQL error: Variable $input of type ResolveReviewThreadInput! was provided invalid value for threadId (Expected value to not be null)`

Log:
[ghpr.log](https://github.com/micro

[2022-02-23 19:15] roblourens opened #3345 "Comment widget disappears after adding comment"

[2022-02-23 19:50] jeffreyscottfrench commented on #2327
Looks like you can click "exit review mode" from the PR overview page and it closes it out.

[2022-02-23 22:17] mjbvz opened #3337 "'Mark file as not viewed' triggered exception"
Testing #3332

1. Browse a pull request (don't actually check it out)
2. Click on one of the files to view a diff
3. In the command palette, run: mark file as not viewed

**bug**
I see an exception:

[code]

[2022-02-23 22:20] mjbvz opened #3338 "'Mark file as not viewed' always shows up in the command palette"
Testing #3332

1. Open a random file in a repo
1. Open the command palette and search `mark`

**Bug**
The `Mark file as not viewed` command always seems to be present. Instead I think it should only show when the current file is part of a PR

[2022-02-23 22:21] mjbvz opened #3339 "There is a `mark as not viewed` command but no `mark as viewed` command?"
Testing #3332

1. Open the command palette and search `mark`

**Bug**
There is a `Mark file as not viewed` command but not a `mark file as viewed ` command. I think both should either be present or both should be hidden

[2022-02-23 22:26] mjbvz opened #3340 "Hovering over `mark as not viewed control` also shows the tree item hover"
Testing #3332

1. Mark a file as viewed
2. Hover over the big filled in checkmark in the tree view for the file

**Bug**
I see both the button hover and the hover for the entire tree item show up

![Screen Shot 2022-02-23 at 2 25 44 PM](https://user-images.githubusercontent.com/12821956/155419708-0041d92a-5a20-4ef1-b2b3-1d0d897894cb.png)

This is confusing as it is easy to miss the much smaller bu

[2022-02-23 22:36] mjbvz opened #3341 "Two tab stops for mark file as viewed with VoiceOver"
Testing #3332

1. Using VoiceOver on MacOS
1. Open a list of files in the PR view
2. Select one
3. Then up arrow to continue going through list
4. Press tab to focus on another item
5. Hit tab to go to the 'mark file as viewed' button
6. Hit tab again

**Bug**
This goes to the originally selected 'mark file as viewed button'

This seems like a confusing UX as these two buttons have the same announ

[2022-02-23 22:38] mjbvz commented on #3332
Test on MacOS and seems to work well

To improve discoverability, could there also be a button in the editor tool bar that shows in diffs from a PR?

[2022-02-23 22:58] daviddossett opened #3342 "Invisible Button/Input Text in High Contrast Themes"
- Extension version: v0.36.2
- VSCode Version: 1.65.0
- OS: macOS 12.2.1

Steps to Reproduce:

1. Open a PR description or start creating a new PR
2. Switch to light HC theme (only available in Insiders right now)
3. Notice buttons have invisible foreground text

## Examples
<img width="421" alt="CleanShot 2022-02-22 at 11 52 19@2x" src="https://user-images.githubusercontent.com/25163139/155423535

[2022-02-24 09:12] alexr00 commented on #3341
@mjbvz do you have "Tab moves focus" turned on?

My steps:
1. Start NVDA on Windows (no mac to test on).
2. Open a list of files in the PR view
3. Select one
4. Then up arrow to continue going through list
5. Press tab **this causes focus to move to the first inline action on that item, which is "Open File"**
6. Hit tab to go to the 'mark file as viewed' button
7. Hit tab again **This causes focus

[2022-02-24 10:48] alexr00 commented on #3337
That command should not be available from the command palette.

[2022-02-24 10:49] #3337 closed

[2022-02-24 11:02] alexr00 commented on #3345
@roblourens I can only reproduce when I have `"githubPullRequests.commentExpandState": "collapseAll"` set, and I think collapsing the comment is correct in this case.

I agree about the delay and I will remove it.

[2022-02-24 11:05] joaomoreno opened #3346 "UI shows that I can merge a PR even though there are checks in place"
Steps to Reproduce:

1. Create a PR in a repo that mandates 1 review before merging PRs

🐛 UI shows that I can merge. Attempting to merge causes error

<img width="349" alt="image" src="https://user-images.githubusercontent.com/22350/155512704-1a60e141-fa86-41fc-be58-8f82b607ad81.png">

The UI should reflect GH's UI and prevent me from merging in the first place, while describing the reason.

[2022-02-24 11:12] mikebronner commented on #3310
@alexr00 This has stopped working for me for about a week now. I followed your advice above, the setting was set to `ask`, and I changed it to `vscode`, but PRs are not being prompted or created when clicking the Publish button on a new branch. Is this a different issue?

[2022-02-24 11:18] alexr00 commented on #3345
Looks like this isn't possible without new API to allow a comment to be created in a collapsed state.

[2022-02-24 12:40] alexr00 opened #3347 "Use setting for "Don't show again" options for branch publish"
The prompt to create a PR via clicking on a terminal link is controlled by a setting.

The prompt to create a PR via pushing a branch is not controlled by a setting.

We should control both by a setting since it's easy to click the "Don't show again" button and the be stuck in a state you don't want.

https://github.com/microsoft/vscode-pull-request-github/issues/3310#issuecomment-1049749846

[2022-02-24 12:41] alexr00 commented on #3310
@mikebronner it is a different, but related issue. I have opened https://github.com/microsoft/vscode-pull-request-github/issues/3347 to track adding a setting.

[2022-02-24 13:16] lszomoru opened #3349 "Comments panel - comment appears twice"
Testing microsoft/vscode#143545

1. Open a file from the pull request in the diff editor
2. Add a comment for the file

Comment appears twice in the comments panel.
It looks like the comment is added both to the file, as well as the "read only" resource.
![image](https://user-images.githubusercontent.com/3372902/155531027-134d3ddd-457e-484b-8673-eb28e97a2881.png)

[2022-02-24 13:37] alexr00 commented on #3348
This is a result of the hack used to work around https://github.com/microsoft/vscode/issues/130107.

For March, I'll add the API proposal in VS Code and adopt it here.

[2022-02-24 13:46] alexr00 commented on #3349
This has to do with how we handle comments from the "Pull Requests" view and the "Changes in Pull Request" view. Not a new issue, so I will fix for March.

[2022-02-24 13:52] mikebronner commented on #3347
@alexr00 Thank you! In the meantime, is there a way I can reset the state so that it prompts me again (clearing some kind of cache, some form of reset, etc)?

[2022-02-24 14:07] alexr00 commented on #3347
You could delete the folder where VS Code stores all user data, but I wouldn't recommend this since there's probably a lot of state in there that you want to keep. I will work on this in the next day or two and comment here when the setting is available in the [pre-release version](https://github.com/microsoft/vscode-pull-request-github/wiki/Pre-release-Build) of the extension.

[2022-02-24 16:14] maxfurman opened #3350 "Creating a pull request no longer uses commit message for PR description"
This extension used to use the latest commit message content to pre-fill the PR title and description when using the Create Pull Request feature. Now it only pre-fills the title and leaves the description blank. Did this behavior change intentionally? If so, is there a setting to switch it back?

- Extension version: 0.36.2
- VSCode Version: 1.64.2
- OS: MacOS 10.15.7

Steps to Reproduce:

1. Crea

[2022-02-24 16:21] roblourens commented on #3345
Oh yeah, I didn't realize I had a setting set for that

[2022-02-24 16:39] alexr00 commented on #3350
Thanks for the detailed issue! I'm not able to reproduce this issue. Can you share a sample commit message and how you committed (command line, VS Code source control view, etc.)?

[2022-02-24 17:03] maxfurman commented on #3350
Sure. I use the terminal with GIT_EDITOR="code --wait" to type the commit message into VS Code. We use a template for our commits so they all look like:

[code]

Generally speaking, I would want everything below the first line to be the description of the PR. The extension used to do this by default, so I'm not sure what changed.

[2022-02-24 18:25] rzhao271 commented on #3339
I'm on Windows and don't seem to see it.
I opened a PR and tried opening the diff of the file, the file itself, and the description view, before opening the command palette in each case.
v0.37.20220

![Command prompt not showing mark commands](https://user-images.githubusercontent.com/7199958/155584118-08b96ab9-2c02-4e6c-8fa1-2e141b39bbb9.PNG)

[2022-02-24 18:26] #3332 closed

[2022-02-24 18:56] pweiss-mri opened #3351 "No prompt to log in and PR view is just blank"
- Extension version: v0.36.2
- VSCode Version: 1.64.2 (user setup)
- OS: Windows_NT x64 10.0.19044

Full VS Code "About" info:
Version: 1.64.2 (user setup)
Commit: f80445acd5a3dadef24aa209168452a3d97cc326
Date: 2022-02-09T22:02:28.252Z (2 wks ago)
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19044

Steps to Reproduce:

1. Install exten

[2022-02-24 19:38] rzhao271 opened #3352 "pr.exit undefined error"
- Extension version: v0.37.20220224
- VSCode Version:
Version : 1.65.0-insider (user setup)
Validation : 3112460dc48ce7e557ea9feeaae04b912164b48b
Date : 2022-02-24T05:15:20.989Z
Electron : 16.0.9
Chromium: 96.0.4664.174
Node.js : 16.9.1
V8 : 9.6.180.23-electron.0
- OS: Windows 10

Steps to Reproduce:

1. Check out a PR
2. Go back to the view that lists all the PRs
3. In the status bar branch selec

[2022-02-24 20:12] roblourens commented on #3268
Works great but I noticed the highlight is includes the opening paren but not the closing paren

<img width="362" alt="image" src="https://user-images.githubusercontent.com/323878/155600047-ba84d910-90cd-4fad-91d0-48ac0b54153e.png">

[2022-02-24 23:30] rchiodo commented on #3289
@alexr00 can you list some verification steps? Thanks.

[2022-02-25 09:16] alexr00 commented on #3338
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/3337, that command should never be in the command palette.

[2022-02-25 09:16] #3338 closed

[2022-02-25 09:17] alexr00 commented on #3339
Neither should show. Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/3337

[2022-02-25 09:17] #3339 closed

[2022-02-25 09:48] alexr00 opened #3353 "Issue hover range is off by one"
![image](https://user-images.githubusercontent.com/38270282/155693400-3d8d3ea8-2f6c-45ef-b1bc-af5ef30e63d6.png)

https://github.com/microsoft/vscode-pull-request-github/issues/3268#issuecomment-1050222815

[2022-02-25 09:48] #3353 closed

[2022-02-25 09:54] lszomoru opened #3354 "Comments panel - comments list randomly changes"
Testing microsoft/vscode#143545

1. Show the comments panel by invoking the command
2. Navigate to a pull request in the pull requests view. I have a pull request that has 4 files - two files have comments while two files do not.
3. Click on each file of the pull request and notice how the list of comments changes randomly

[2022-02-25 12:53] alexr00 commented on #3289
To verify:
1. Setup or already have a PR in the following way (can be done from extension or github.com)
  a. Make a commit.
  b. Create the PR.
  c. Add a comment to a line in the PR.
  d. Make a commit in which you delete the line that the comment from (c) was on.
  e. Push commit to PR branch.
2. Install GitHub Pull Requests and Issue pre-release.
3. Open the repository from (1) in VS Code and

[2022-02-25 12:59] alexr00 commented on #3354
This has to do with how we handle comments for non-checked-out PRs. We have transient comments in this case, and it seems like we're not doing a great deciding when to remove them.

[2022-02-25 13:11] alexr00 opened #3355 "Add "Mark as viewed/unviewed" to editor toolbar"
https://github.com/microsoft/vscode-pull-request-github/issues/3332#issuecomment-1049284118

[2022-02-25 13:16] alexr00 commented on #3351
@pweiss-mri this indicates the the built-in GitHub Authentication extension has failed to activate. Do you have the built-in GitHub Authentication extension enabled?

[2022-02-25 14:06] alexr00 commented on #3350
Thanks for the example and details. I tried with exactly your sample commit message and I'm still not able to repro the issue. A few more questions:
- When do you push your branch?
- Is there only the one new commit between on your "from" branch?
- Can you share the Output from "GitHub Pull Request"?
- Can you also open the developer tools (command Developer: Toggle Developer Tools) and share any

[2022-02-25 17:51] meganrogge commented on #3316
Not sure how this was happening before/ if it only happened for specific cases, but the description was empty for me, so /verified

[2022-02-25 18:53] TylerLeonhardt opened #3357 "Create PR view should refresh itself somehow"
I was testing #2988 which worked but just to test it further, I wanted to add a 2nd commit and attempt to create a PR to see what the placeholder is then. I never "cancelled" the previous "Create Pull Request" view and as a result, after I pushed a 2nd commit to my branch and went into the "Pull Request" view (note, not Create Pull Request view) to click the button to create a pull request it simp

[2022-02-25 18:54] TylerLeonhardt commented on #2988
Verfied but opened https://github.com/microsoft/vscode-pull-request-github/issues/3357 as a result of testing this

[2022-02-25 19:27] rchiodo commented on #3303
/verified

Always show 'main' for me no matter how many branches
![image](https://user-images.githubusercontent.com/19672699/155776570-27018945-bb19-4959-8f4f-503748ac5f8f.png)

[2022-02-25 20:34] roblourens commented on #3269
I was also stuck here, after creating commits and pushing them:

<img width="431" alt="image" src="https://user-images.githubusercontent.com/323878/155799035-1a4cc8e1-48ca-4780-8aa1-e64f8b62e736.png">

until I reloaded the window

[2022-02-25 22:29] pweiss-mri commented on #3351
I had apparently disabled the built in github authentication extension sometime in the past and forgot about it.  This is working for me after I re-enabled that extension.

[2022-02-25 22:29] #3351 closed

[2022-02-26 22:07] LinqLover opened #3358 "Unable to edit PR from forked repository via github.dev"
- Extension version: v0.36.2
- VSCode Version: 1.64.2
- OS: github.dev

Steps to Reproduce:

1. Fork a repository that you do not have write access to
2. Create a new patch branch, make a commit, and push it to your fork
3. Create a PR to merge your patch branch into the upstream repo
4. On the PR page, press <kbd>.</kbd> to open github.dev
5. Edit a file
6. Go to source code control and try to co

[2022-02-28 04:11] Bruce-Jay commented on #2168
Thank you!!!
After downloading the git again, the problem is solved immediately.

[2022-02-28 08:55] alexr00 commented on #3351
I can add GitHub Authentication as required dependency of this extension, which should result in a more obvious error. I don't think this will cause an issue for enterprise users.

[2022-02-28 08:57] alexr00 commented on #3269
@roblourens what version of the extension did you have?

[2022-02-28 12:22] alexr00 commented on #3358
Moved to https://github.com/microsoft/vscode-remote-repositories-github/issues/140 since that's where support for the commit action from the source control view comes from.

[2022-02-28 12:22] #3358 closed

[2022-02-28 13:20] alexr00 commented on #3283
To verify:
1. Install the pre-release version of this extension.
2. Open a workspace with at least 2 folders, each with a GitHub repository.
3. Checkout a pull request in each of your open folders
4. In the "Changes in PR" view, verify that the description of each file doesn't start with a slash and that root folder is included in the description.

[2022-02-28 14:34] alexr00 commented on #3318
@mharris717 I've tried lots of switching branches and pushing commits but I haven't been able to trigger the issue. Next time you see it, can you open the developer tools (command "Developer: Toggle Developer Tools" and share the contents of the console?

[2022-02-28 14:44] alexr00 commented on #3068
I'm no longer seeing this occur in Firefox.

[2022-02-28 14:44] #3068 closed

[2022-02-28 15:53] aeschli opened #3359 "PR extension blocks the markdown completions"
v0.37.2022022811

- have the GH PR extension installed, but not logged in
- Open a release notes markdown file from vscode-docs (e.g. https://github.com/microsoft/vscode-docs/blob/vnext/release-notes/v1_65.md).
- Use code completion. Completion is loading a long time

Sign in
Now completions work.

[2022-02-28 16:25] mharris717 commented on #3318
Just restarted VSCode and saw this. The bug isn't occurring yet, but seems like a clue.

```[GitHub.vscode-pull-request-github]: `remoteHub/pullRequest` is not a valid menu identifier```

![image](https://user-images.githubusercontent.com/64296/156019715-324b44f5-1f24-44fb-8e37-4e37899847bb.png)

[2022-02-28 16:30] mharris717 commented on #3318
Bingo, just made it happen.

I made changes to the branch in a different unrelated working copy, pushed them, then pulled them down in VSCode into the WC open in VSCode (from VSCode terminal). Caused bug to happen in 1-2 seconds, which tracks with the error message.

![image](https://user-images.githubusercontent.com/64296/156020177-d0e3de4a-bf36-4308-be6d-b01a6dceb532.png)

[code]

[2022-02-28 16:35] mharris717 commented on #3318
If you have trouble reproing from here lmk, happy to attempt to repro my repro / narrow down the cause 🤣

[2022-02-28 17:05] JacksonKearl opened #3360 "Erroneous "Pull request successfully merged." in webview view"
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/8586769/156026236-120bb37b-400c-4300-a79d-a3c499658115.png">

[2022-02-28 17:50] assanesuzy opened #3361 "Let us comment on and resolve review comments left by other in Description view"
It seems that looking at the list of files, any comments that are outdated do not show up as a comment in the files. This creates a problem because if there is a line shift, it makes any comments in those lines as outdated and they don't show up even though they are not either marked as resolved or still needed. In the description it would be nice if we can have the ability to resolve or comment o

[2022-02-28 22:38] albireox commented on #2556
This is still not working for me. I have the key binding set but pressing cmd+s still won't create the issue.

[2022-03-01 03:08] JLlichofonnias opened #3363 "JLION MX419 LLC CORPORATION"
https://www.facebook.com/n/?mike.pech.1654%2Fposts%2F1955606087980751&aref=1646097089780988&medium=email&mid=5d91d8eb75a2aG5af504408facG5d91dd84d5cfcG318&bcode=2.1646097090.AbxH5ItXb3ghAcXu6Gg&n_m=pepelicho2508%40hotmail.com&lloc=new_view&rms=v2&irms=true

[2022-03-01 03:08] JLlichofonnias commented on #3363
https://mx.ebay.com/?mkcid=1&mkrid=711-53200-19255-0&siteid=0&campid=5338626684&toolid=20008&mkevt=1&customid=esmxtopsitescuratemmx

[2022-03-01 12:31] alexr00 commented on #3318
@mharris717 this helps, thank you. I haven't been able to repro the issue yet, so I think this is a timing issue. Do you use the "mark file as viewed" feature when reviewing pull requests?

[2022-03-01 13:12] alexr00 commented on #2556
@albireox what version of this extension are you using?

[2022-03-01 14:46] mharris717 commented on #3318
Nope. These are generally my own PRs, I often just like the view to see my pushed changes so far.

[2022-03-01 14:47] mharris717 commented on #3318
I can try to do another repro while recording my screen, will do that today if I have time.

[2022-03-01 14:48] mharris717 commented on #3318
And just to be clear on how I have things setup
![image](https://user-images.githubusercontent.com/64296/156190631-76c83332-8b27-43e2-8e5e-bfaa61697c81.png)

[2022-03-01 17:36] albireox commented on #2556
v0.36.2

[2022-03-01 21:28] brianjmurrell opened #3364 "Option to set PRs to default to Draft"
It would be useful/nice to be able to set an option that defaults to creating new PRs as Drafts.

[2022-03-02 07:14] bpasero opened #3365 "Sorting order of issues in SCM commit box is off"
Steps to Reproduce:

1. configure this settings

[code]

2. open a multi root workspace with `vscode` and `vscode-docs`
3. make a change to a file in `vscode` repo and press `Ctrl+Space` in commit box
4. compare sorting order in suggest widget compared to sorting order in GH issues list

![image](https://user-images.githubusercontent.com/900690/156312935-37be99be-7116-4b2b-97dd-3ef96fffcb9d.png)

[2022-03-02 07:14] bpasero commented on #3365
For example, "No editor symbols when open files" is the last entry in suggest but the third entry on GH.

[2022-03-02 07:17] bpasero opened #3366 "Allow to modify git commit issue reference in settings"
Currently when I accept a issue suggestion in the git commit field, it gets inserted like this:

[code]

I would like to see this instead:

[code]

[2022-03-02 13:42] albireox commented on #2556
https://user-images.githubusercontent.com/568775/156372837-cf7a2d0d-be38-4ee7-8361-068230a77947.mp4

[2022-03-02 14:41] alexr00 commented on #3361
@assanesuzy you should be able to see these comments in the comments view (command "View: Focus on Comments View"). If you click on them there, it will open a file at the commit with the comment and you can reply there.

Does that work for you?

Side note: the comments view is not easy to find right now. We are going to make it easier to find.

[2022-03-02 14:50] alexr00 commented on #2937
@chivalry there was an issue where you could end up quite a lot of double state, Should be fixed by https://github.com/microsoft/vscode-pull-request-github/commit/b27aafefddc997034d82e9bc52d0679ec2e4183e. Please do ping this issue if you're still seeing the bug!

[2022-03-02 14:50] #2937 closed

[2022-03-02 15:03] alexr00 commented on #2529
A lot has changed in the last year. If you see this issue again I will reopen and investigate promptly!

[2022-03-02 15:10] assanesuzy commented on #3361
That view is actually where my problem lies. The reason why I was mentioning the "Description" view is because the comments are not always up to date in the view you mentioned. There have been many instances where there were recent review comments added and they do not show up in the files in this same view. They are only visible in the "Description" view. I've tried refreshing and closing and ope

[2022-03-02 15:25] alexr00 commented on #3361
@assanesuzy I think I understand now. The "review summary" comments only show in the Description:

![image](https://user-images.githubusercontent.com/38270282/156391506-04482b08-e84c-4943-ab91-4b12bdba9783.png)

However, the non-summary comments that are part of that review should be shown in the Comments view, so you should still be able to get to the non-summary comment from there. Does that wor

[2022-03-02 15:39] alexr00 commented on #2443
We can make sure we take into account whether the local file is deleted when we set the command for the tree item. However, I don't think it's worth listening for file events and updating the tree.

Changes for this are needed here:
https://github.com/microsoft/vscode-pull-request-github/blob/a3040499b41ea55fcab3500bf599b7f0c5e7a98e/src/view/treeNodes/fileChangeNode.ts#L40-L64
If the `parentURI` f

[2022-03-02 15:42] alexr00 commented on #2458
Changes are needed in this method to make sure the file we're opening makes sense:

https://github.com/microsoft/vscode-pull-request-github/blob/a3040499b41ea55fcab3500bf599b7f0c5e7a98e/src/view/reviewManager.ts#L409-L421

[2022-03-02 15:45] assanesuzy commented on #3361
Interesting. What I'm missing is that section where it says "Add new review comment". When the I create a  PR and someone else leaves review summary with other non-summary comments, I am looking for the ability to leave a non-summary comment in response to whatever their comments are. I guess I'll wait for that feature to be released and I'll see if that fixes my issue. Thank you for your help.

[2022-03-02 16:01] alexr00 commented on #2215
This is working for me. If you're still seeing the issue I'll reopen and investigate!

[2022-03-02 16:03] alexr00 commented on #2556
@albireox can you share the text of the log please? Part of what I need to see is cut off :)

[2022-03-02 23:03] ceedgedev opened #3368 "Publish no longer prompts to create a PR"
- Extension version: I don't see a version, but more info says released 9/7/2018, and the last update was 3.2.2022
- VSCode Version: 1.64
- OS: Windows 10

Steps to Reproduce:

1. Made and saved changes
2. Staged changes
3. Signed commit of staged changes
4. Publish button - In the past, at this point, a message would ask if I wanted to create a Pull Request which I do. I no longer get that option

[2022-03-03 04:42] JLlichofonnias opened #3369 "The resource cannot be found."
https://pstcdypisr.clouda.sat.gob.mx/suol790825n10

[2022-03-03 09:05] fraziercs2i opened #3370 "Automatically update (or offer to update) issue branches"
creating a branch directly from the arrow showing next to the issue  in VS Code seems to rebase the branch on the date of creation of the issue. Is there anyway to avoid/set this? Any support will be nice!
VS code version 1.64.0

[2022-03-03 09:11] albireox commented on #2556
Oh sorry, here it is

[code]

[2022-03-03 09:40] cbrnr commented on #3368
I noticed this too. You can manually create a PR by clicking on the GitHub icon in the left sidebar and then on the "Create Pull Request" icon near the top. However, I would really like to see the automatic prompt again whenever I publish, because this saves a lot of time.
<img width="451" alt="Screen Shot 2022-03-03 at 10 39 36" src="https://user-images.githubusercontent.com/4377312/156538294-40d

[2022-03-03 13:32] harshanarayana opened #3371 "Unable to Access Enterprise Git Pull Requests"
[code]

With the repo configuration as above, and following VSCode settings

[code]

I am unable to see any PRs being listed in the VSCode.

![Screenshot 2022-03-03 at 7 00 28 PM](https://user-images.githubusercontent.com/1404867/156574477-a21deb84-c655-457c-9ce5-30d329a1b5b8.png)

[code]

[code]
[code]

Is there something I am doing wrong?

- Extension version: v0.36.2
- VSCode Version: 1.64.2 (U

[2022-03-03 15:31] ceedgedev commented on #3368
Thanks, I'll give that a try. Though I wish they would fix it.
If you create a PR, then want to make more changes in Visual Studio Code, what is the best way to do it. I know to stage the changes then do a commit, so it is signed. What comes after the commit to get it pushed up to the GitHub website, so the change shows in the PR?

[2022-03-03 15:37] cbrnr commented on #3368
You just synchronize your changes, this will update the PR.

[2022-03-03 17:25] ceedgedev commented on #3368
Ok, thanks

[2022-03-04 01:56] Ark-kun commented on #2739
@alexr00 Nothing interesting.
Two remotes - origin and upstream, both on GitHub. Many branches. Some of them remote.

The only unusual thing is the usage of git worktree.

[2022-03-04 07:03] cbrnr commented on #3368
It looks like something changed in v0.36 (https://github.com/microsoft/vscode-pull-request-github/releases/tag/v0.36.0) and maybe we clicked on "Don't show again" accidentally. However, I do not know how to revert this choice, I didn't find this setting in the preferences.

[2022-03-04 11:57] aymericbouzy commented on #3263
Ideally it could be possible to edit the description in a regular editor?

[2022-03-04 14:06] diminutivesloop opened #3372 "Not auto-suggesting to open PR after push"
Issue Type: <b>Bug</b>

1. Create a new git branch and commit changes
2. Push that branch via the "Git: Push" command

No notification appears offering to create a PR from the pushed branch. This behavior existed until recently.

Extension version: 0.36.2
VS Code version: Code 1.65.0 (Universal) (b5205cc8eb4fbaa726835538cd82372cc0222d43, 2022-03-02T11:11:20.886Z)
OS version: Darwin x64 20.6.0
Rest

[2022-03-04 18:27] JacksonKearl opened #3373 "Strange rendering when comment location has been deleted"
<img width="1697" alt="image" src="https://user-images.githubusercontent.com/8586769/156820679-cf593bb7-a224-4d1b-bc29-510c12da58b5.png">

When I went to the diff view I see:
<img width="1253" alt="image" src="https://user-images.githubusercontent.com/8586769/156820787-7d484e44-dd35-4d79-8e7d-5b94e2d8d4ef.png">

which seems better

[2022-03-04 18:27] JacksonKearl commented on #3373
Source: https://github.com/microsoft/vscode/pull/144352

[2022-03-04 19:49] JacksonKearl commented on #3373
<img width="1047" alt="image" src="https://user-images.githubusercontent.com/8586769/156831837-87b0c66d-9f65-40d9-8d15-7c844ed131ff.png">

[2022-03-04 19:50] JacksonKearl commented on #3373
now the diff editor is broken too

[2022-03-05 00:05] mjbvz commented on #3341
Here's a recording of what I'm seeing with VoiceOver on:

![Recording 2022-03-04 at 16 04 15](https://user-images.githubusercontent.com/12821956/156857990-19866910-d027-45ac-96f1-7a54114bd236.gif)

The confusing part is that I end up with two mark file as view tab stops that both have the same generic announcement text on voiceover. I suspect this is a generic tree view issue and not specific to P

[2022-03-05 00:40] jaypatrick commented on #888
I know this is an old thread, but I wanted to chime in that I find it utterly ridiculous that PR submitters cannot approve their own PR's. We have dozens of projects with only one developer on them (Think: maintenance mostly), and we *must* follow the standard PR lifecycle as part of our contracts with clients/customers. Having to get an admin to approve "already approve" PR's is an enormous time

[2022-03-06 09:45] acababaev opened #3374 "Is it [easy, possible] to make this works with another git client?"
For example, gitea, gitlab, space, bitbucket, or other..

[2022-03-07 02:40] fadialzammar commented on #3374
As stated in the [FAQ](https://github.com/Microsoft/vscode-pull-request-github/wiki), every provider is different and would require a separate extension. These exist for most popular providers already.

[2022-03-07 11:45] alexr00 commented on #3370
@fraziercs2i let me make sure I understand:

1. You "Start working" on an issue from the arrow next to the issue.
2. A branch is created for you.
3. You do some work, but don't finish in one day so you stop working on the issue and check out another branch.
4. Some days later you "Start working" on the same issue again using the arrow next to the issue.
5. The branch's head pointer is at the same

[2022-03-07 13:08] egamma opened #3376 "Add @user completion support for 'CODEOWNERS' files"
In a CODEOWNERS [file](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners) you can specify owners using the @user convention. Suggest to enable @user completions in CODEOWNERS files.

[2022-03-07 13:48] alexr00 opened #3377 "There are two sign in prompts when using vscode.dev"
The first prompt comes from the GitHub Repositories extension.

The second prompt comes from GitHub Pull Requests and Issues extension.

We should only show one prompt.

[2022-03-07 14:54] alexr00 commented on #2739
Thanks @Ark-kun. Looking through the logs your shared I see:
[code]
We have fixed several react errors like this in the last couple months. Do you still see this issue?

It might be that this is related to git worktree though, so I will take a look into that.

[2022-03-07 15:26] harshanarayana commented on #3371
I did some digging and looks like I found the quick fix.

[code]

Adding the above in `src/github/credentials.ts` under `initialize` seem to fix the issue. Looks like 7aebab4 seem to have broken a small case.

I rebuilt the extension with above changes and got it working until we get an official fix.

[2022-03-07 15:41] #3365 closed

[2022-03-07 15:47] #3346 closed

[2022-03-07 17:56] ChenCMD opened #3378 "If the Leave a comment field is not written, Request Changes and Submit will not work."
- Extension version: v0.38.0
- VSCode Version: 1.65.0
- OS: Windows 10 Home 20H1 (build: 19043.1526)

Steps to Reproduce:

1. Checkout to the branch where the Pull Request exists and enter Review Mode.

2. Leave a Pending comment on a line somewhere in the code.

3. From the sidebar, press `Request Changes and Submit` without filling in the `Leave a comment` field.

Result: I get `Requesting chang

[2022-03-07 19:31] jmarolf opened #3379 "Cannot determine if a file has been viewed until you hover over it."
Version: 1.65.0
Commit: b5205cc8eb4fbaa726835538cd82372cc0222d43
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.51 Safari/537.36 Edg/99.0.1150.30
Embedder: github.dev

Steps to Reproduce:

1. Open a pull request
2. Mark a file as "Viewed"

<img width="119" alt="image" src="https://user-images.githubusercontent.com/9797472/157103922-8c7

[2022-03-07 19:42] jmarolf opened #3380 "Allow a review to sort by viewed/unviewed files"
Today we have three buttons at the top that affect the list of files to review:
<img width="102" alt="image" src="https://user-images.githubusercontent.com/9797472/157104747-d1d9080d-7d5c-4ee6-9834-1e016e8f118d.png">

- Toggle View Mode
- Refresh
- Collapse All

I would like there to be a fourth option "Filter" that allows me to filter the set of files shown in the list.

Something ~ like this:

<

[2022-03-07 21:53] ChenCMD commented on #3378
Ah, this was me misunderstanding the nature of the problem.
(To be precise, the problem was that I kept getting a ReviewMode for a PullRequest that was different from the branch I checked out.)

And this problem probably already existed (#3357).
Our apologies.

[2022-03-07 21:53] #3378 closed

[2022-03-08 10:12] JoachimKoenigslieb opened #3381 "Enable extensions (eg. lint, typescript) inside the readonly mode"
Hi,

I've tried to use this amazing extension to review code changes. The only issues I've encountered is that my linter and typescript support is not active in the pull requests view. I would love to get help to spot issues in the files I'm reviewing using my usual extension tools.

Is this possible to implement?

Joachim

[2022-03-08 13:22] alexr00 commented on #3377
Thanks for taking a look! I figured it would be the scopes. It looks like the `read:user` and `user:email` scopes may not be needed for GHPRI as I only see that we need the username. I'll do some testing and see if they can be removed. Does RemoteHub definitely need `workflow`?

[2022-03-08 13:28] alexr00 commented on #3377
Tested, and GHPRI needs all the scopes `['read:user', 'user:email', 'repo']`.

@TylerLeonhardt is there anything we can do here to avoid the 2 login prompts?

[2022-03-08 13:35] alexr00 commented on #3341
I understand now, thank you.

@isidorn is there well defined behavior that we should have here? If not, I could just add the aria label for the tree item before each inline action. This seems a bit aggressive though since then if there are 2 inline actions on one tree item then the aria label for the tree item will read before both of them.

[2022-03-08 15:23] Tyriar opened #3382 "PR view should emphasize assigning to yourself like on .com"
Assigning in extension requires filtering/scrolling:

![image](https://user-images.githubusercontent.com/2193314/157268585-b82af13f-4d8d-4d7a-b619-f9f7ce65001e.png)

Assigning via .com doesn't:

![image](https://user-images.githubusercontent.com/2193314/157268714-015417dc-1e87-4ec9-949c-e5d6f75f81d6.png)

[2022-03-08 15:33] alexr00 commented on #2556
Thanks for the logs!

My apologies for misunderstanding. We only do ctrl/cmd + S to create the issue when auto save is **on**. We don't want to override VS Code's built-in keyboard short cut for using ctrl/cmd + S for save.

You can add your own keyboard shortcut for this if you want it though. The command is `issue.createIssueFromFile`.

[2022-03-08 15:45] joyceerhl commented on #3377
We definitely need `workflow` due to https://github.com/microsoft/vscode-remote-repositories-github/issues/32

It's probably not a good idea for RemoteHub to ask for scopes it doesn't need. Also the authentication api will not hand out tokens which are authorized for more scopes than the extension needs in order to abide by principle of least privilege.

![image](https://user-images.githubusercont

[2022-03-08 15:52] alexr00 commented on #3377
Yep, this is the expected and correct behavior. I was hoping that @TylerLeonhardt might have something like token down-scoping support in the works.

[2022-03-08 15:54] TylerLeonhardt commented on #3377
@alexr00

Sadly no. There is nothing on the GitHub side that can help us here. There are plans to introduce the ability to do "token down scoping" which would let us mint a token for just [X] silently if we have a token for [X and Y], but that won't really help us here because the scopes are not a subset of each other...

If we really want to get rid of the second prompt, we can have the two exten

[2022-03-08 16:24] alexr00 commented on #3377
Thanks for the details!

[2022-03-08 16:48] isidorn commented on #3341
I think the problem here is that two inline actions get shown. This should not happen, unless the user is using the mouse hover.

So my suggestion is to only show the inline action item on focused items. But not on selected ones.
And in this case the item is shown both on the focused and the selected one => resulting in two items 🐛

[2022-03-09 10:35] lucasrodes opened #3383 "PR not working"
- Extension version: v0.38.0
- VSCode Version: 1.65.0
- OS: Linux 5.10.93-1-MANJARO

Steps to Reproduce:

1. Working on the project https://github.com/owid/covid-19-data I checkout to a PR using the UI
![image](https://user-images.githubusercontent.com/18101289/157424167-b0099cb5-4276-468d-bd46-7a8a7d4f00bb.png)
2. Next, I edit some files and commit.
3. Finally, when it is time to push, it doesn't