[2019-10-08 18:49] #1265 closed

[2019-10-08 18:54] #653 closed

[2019-10-08 21:12] RMacfarlane commented on #170
I contacted GitHub support about this quite a while ago about this and they agreed that the API was returning the incorrect location in this case - I'm going to go ahead and close this issue since I have no way of linking this to an upstream issue and since there've been no other reports of this

[2019-10-08 21:12] #170 closed

[2019-10-08 21:31] RMacfarlane commented on #28
This has already been completed, the "Change in Pull Request" tree should diff with the actual file on disk and should allow opening it directly

[2019-10-08 21:31] #28 closed

[2019-10-08 21:33] RMacfarlane commented on #40
Closing since we should now handle file changes that don't have blob content by showing a notification to open them on GitHub

[2019-10-08 21:33] #40 closed

[2019-10-08 21:39] RMacfarlane commented on #99
Usernames within comments are now linkified on the description page, so they stand out visually from other text:
![Screen Shot 2019-10-08 at 2 39 21 PM](https://user-images.githubusercontent.com/3672607/66435324-6f89fd00-e9d9-11e9-893a-56b3f1332aa7.png)

[2019-10-08 21:39] #99 closed

[2019-10-08 21:52] RMacfarlane commented on #591
I'm no longer able to reproduce this in the latest version of the extension. If you see this problem again, please reopen the issue. Thank you!

[2019-10-08 21:52] #591 closed

[2019-10-08 21:55] RMacfarlane commented on #364
This was implemented for comments within editors with https://github.com/microsoft/vscode-pull-request-github/pull/842

[2019-10-08 21:55] #364 closed

[2019-10-08 21:58] RMacfarlane commented on #331
Closing as a duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/601

[2019-10-08 21:58] #331 closed

[2019-10-08 22:02] RMacfarlane commented on #1346
@OliverHuntsman To clarify, when you first tried to authenticate, did you use the `Github Pull Requests: Sign in to GitHub` command?

Can you check that the folder you have open is pointing to a GitHub remote? (Run `git remote -v`)

[2019-10-08 22:19] RMacfarlane commented on #1339
@yulrizka I think your issue sounds different, mind opening another issue for this?

The white bar is controlled by the "Commenting Range Provider" that the extension registers. There are different providers registered based on whether or not the pull request is currently checked out. For the checked out case, the code is here: https://github.com/microsoft/vscode-pull-request-github/blob/760ce513a

[2019-10-08 22:20] RMacfarlane commented on #1339
@melink14 Thanks for reporting this, it seems like something is going wrong with focus in the comment editor

[2019-10-08 22:23] RMacfarlane commented on #1338
I'm going to close this again since it's pretty low priority. There's this item (https://github.com/microsoft/vscode-pull-request-github/issues/1310) tracking removing the need for the `--enable-proposed-api` flag at all - I believe the API we're relying on will move to stable very soon

[2019-10-08 22:23] #1338 closed

[2019-10-08 22:24] RMacfarlane commented on #1333
Since we've moved away from showing a notification on normal auth success to just have a change in the status bar, I think it no longer makes sense to do this

[2019-10-08 22:24] #1333 closed

[2019-10-08 22:26] RMacfarlane commented on #1309
Closing this since you're unblocked and there's another issue to track the removal of the command line switch. Thanks!

[2019-10-08 22:26] #1309 closed

[2019-10-08 22:44] RMacfarlane commented on #1262
@fazo96 Sorry I missed responding to this earlier - it looks like you might be using a community or OSS build of VSCode, can you try launching it with `code --enable-proposed-api GitHub.vscode-pull-request-github`? There's an existing issue to remove the need for this flag in this case https://github.com/microsoft/vscode-pull-request-github/issues/1310 that depends on a change from VSCode

[2019-10-08 22:45] RMacfarlane commented on #1262
@JKwaak Were you able to get this working after installing git?

[2019-10-08 22:51] #1251 closed

[2019-10-08 23:11] RMacfarlane commented on #1179
Closing as a duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/1090

[2019-10-08 23:11] #1179 closed

[2019-10-08 23:43] RMacfarlane commented on #1178
This should already be fixed in the latest version of the extension (0.12.0). If you run into this issue again, please open a new issue. Thank you!

[2019-10-08 23:43] #1178 closed

[2019-10-08 23:44] #1030 closed

[2019-10-08 23:45] RMacfarlane commented on #986
Closing as designed.

[2019-10-08 23:45] #986 closed

[2019-10-08 23:48] RMacfarlane commented on #959
Since exiting review mode is equivalent to changing branches, I think we don't want to add another command to do this

[2019-10-08 23:48] #959 closed

[2019-10-08 23:48] bryceschober opened #1364 "The "Delete Review" button **really** needs an "Are you sure?" dialog"
The "Delete Review" button **really** needs an "Are you sure?" dialog

Without thinking through what I was doing, I clicked on it, and my WTFs per minute spiked in the ensuing regret-fest.

[2019-10-08 23:50] RMacfarlane commented on #1364
Yes, we should definitely add an additional dialog to prevent this. Sorry for your lost work!

[2019-10-08 23:58] bryceschober opened #1365 "Remove the "Finish Review" button from the in-code comment dialog"
It really seems out-of-place, has no equivalent in the GitHub UI, and doesn't allow the user to specify the review result type. If nothing else, it deserves a dialog asking:

[2019-10-09 00:05] bryceschober commented on #1365
I suppose it would be fine if it was just a convenience short-cut to the more full-featured dialog on the "Description" page...

But now that I look at that more closely, it's differences to the standard GitHub UI are confusing. It looks like the VS Code version in the "Description" page doesn't allow the "comment" review result that the GitHub UI does.

IMO, the GitHub UI is much more logical in

[2019-10-09 06:06] JeffreyCA commented on #1356
Might be related to https://github.com/microsoft/vscode/commit/b8869cd9891e6653e2b8ca01e679d20e705f452c#diff-c4bac697371864c22d8c91f349b5865b

[2019-10-09 11:34] SakamotoRyoutaMF commented on #1101
@PierreMarchand20

hello!
your target repository's URL may be `git@~~`.
In my case, I can create PR when I fix it `https://~~`.

I hope this information is helpful!!

[2019-10-09 17:04] RMacfarlane opened #1367 "@octokit/rest deprecation warnings"
- Extension version: 0.12.0

Some new warnings for deprecations that we need to address:

Deprecation: [@octokit/rest] "number" parameter is deprecated for ".pulls.get()". Use "pull_number" instead

Deprecation: [@octokit/rest] octokit.search.issues() has been renamed to octokit.search.issuesAndPullRequests() (2018-12-27)

[2019-10-09 17:07] #1364 closed

[2019-10-09 17:14] #1367 closed

[2019-10-09 17:21] RMacfarlane opened #1368 "Pull request isn't brought up to date when checked out again"
- Extension version: 0.12.0

1. Check out a PR
2. Switch back to a different branch
3. Additional commits are pushed to the PR
4. Use 'Checkout' button on this PR again

The checkout process should do a pull to bring it up to date, but seems to be skipping this

[2019-10-09 17:31] RMacfarlane commented on #1158
This should already be fixed in the latest version of the extension (0.12.0). If you run into this problem again, please open a new issue. Thank you!

[2019-10-09 17:31] #1158 closed

[2019-10-09 17:39] RMacfarlane commented on #1136
I'm closing this issue because it needs more information but hasn't had any recent activity. To reopen it, please provide more details. Thank you!

[2019-10-09 17:39] #1136 closed

[2019-10-09 17:42] RMacfarlane commented on #1249
Closing as a duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/1035

[2019-10-09 17:42] #1249 closed

[2019-10-09 17:51] RMacfarlane commented on #1223
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/1037

[2019-10-09 17:51] #1223 closed

[2019-10-09 17:51] #847 closed

[2019-10-09 17:53] RMacfarlane commented on #830
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/486

[2019-10-09 17:53] #830 closed

[2019-10-09 17:55] RMacfarlane commented on #902
Closing as I'm no longer able to reproduce this issue with the latest version of the extension

[2019-10-09 17:55] #902 closed

[2019-10-09 17:55] RMacfarlane commented on #869
The default has been changed to ["origin", "upstream"]

[2019-10-09 17:55] #869 closed

[2019-10-09 18:01] RMacfarlane commented on #610
Closing this issue as the extension is tracking git state for both of those cases

[2019-10-09 18:01] #610 closed

[2019-10-09 18:04] RMacfarlane commented on #474
Closing this issue since I haven't been able to reproduce it in the latest version of the extension and believe it has been fixed since this was filed

[2019-10-09 18:04] #474 closed

[2019-10-09 18:08] RMacfarlane commented on #615
Closing as a duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/200

[2019-10-09 18:08] #615 closed

[2019-10-09 18:13] RMacfarlane commented on #151
We've reduced the number of situations that cause tree refreshes now, it shouldn't happen in the background anymore.

The tree refreshes on:
- Switching branches
- Changing the repo remotes
- Changing the remotes or tree layout settings

[2019-10-09 18:13] #151 closed

[2019-10-09 18:28] RMacfarlane commented on #202
Since we have introduced a new view for the extension that appears when you install it, I think this is now much easier to discover. So, closing this issue

[2019-10-09 18:28] #202 closed

[2019-10-09 18:30] RMacfarlane commented on #248
Since we now have a separate view for the extension that gets shown by default when first creating the extension, I think this should now be much more discoverable. So, closing this issue

[2019-10-09 18:30] #248 closed

[2019-10-09 18:58] RMacfarlane commented on #1234
Extension version 0.12.0 should now show a more detailed error notification when this happens - please let me know what you see

[2019-10-09 18:59] RMacfarlane commented on #1161
I haven't been able to reproduce this - let me know if you see this again in the latest version of VSCode.

[2019-10-09 18:59] #1161 closed

[2019-10-09 20:03] MrYann commented on #1359
Ok, first of all, thanks for the swift and precise answer.

There is progress, but still not victory. Now I get
[code]
I read on stack overflow that this might be a git config problem, so I ran the command
[code]
but this changed nothing here.

On a side note, I see that the Pull Requests extension has the following output, which might mean something to you :
[code]

[2019-10-09 21:19] lvarado commented on #1346
FYI, I had the same issue and came here looking for clues. Turns out I had to open a folder in a new window with vscode to get this extension set up. I previously had a workspace open with multiple folders and there was no sign in button on the status bar, and manual setup didn't work. Might be something worth trying.

[2019-10-09 21:40] RMacfarlane opened #1369 "Display pending label for all pending comments on the description page"
![Screen Shot 2019-10-09 at 2 37 22 PM](https://user-images.githubusercontent.com/3672607/66522533-80eb0c00-eaa2-11e9-91b6-6bfa9905239a.png)

Comments that are pending should be marked with a label like they are on GitHub. In this example, I replied twice to an existing comment. Both "test" comments have not yet been posted, but look like they are already appended to the existing review.

![Screen

[2019-10-09 21:59] RMacfarlane commented on #633
I can no longer repro this issue, this should be fixed in the latest version of the extension 0.12.0

[2019-10-09 21:59] #633 closed

[2019-10-09 22:02] bryceschober opened #1370 "Conversation comment source links don't work"
Issue Type: <b>Bug</b>

In conversation view, the source comments source locations are decorated as links, but do nothing when clicked or ctrl-clicked.

Extension version: 0.11.2
VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:35:15.005Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core

[2019-10-09 22:09] akosasante commented on #1369
👋  I'd like to take a look at resolving this

[2019-10-09 22:16] RMacfarlane commented on #1369
@akosasante Great! The code that renders the comments is here: https://github.com/microsoft/vscode-pull-request-github/blob/1432e8ab94c2b046e810b08ea14c21d71f15b543/preview-src/comment.tsx#L20

[2019-10-09 22:18] RMacfarlane commented on #1370
@bryceschober Can you add a screenshot of one of these links? Do you mean these?

![Screen Shot 2019-10-09 at 3 18 13 PM](https://user-images.githubusercontent.com/3672607/66524729-150ba200-eaa8-11e9-9984-c68ee80c7bb9.png)

[2019-10-09 22:19] OliverHuntsman commented on #1346
Here’s the issue

https://drive.google.com/a/gemmasutton.com/file/d/1RryZVvLaiUNmS3NGLkqKM7YBcdcs4R7p/view?usp=drivesdk

How do you mean you opened a folder in a new window? Which folder? Any folder?

[2019-10-09 22:45] RMacfarlane commented on #1359
Hmm, which step do you see the permissions error on? Running `Create Pull Request` again?

Is the repository you're working with something you own? It sounds like you have the remote correctly configured, so I'm wondering if maybe you don't have permission to create a branch there

[2019-10-09 23:03] #906 closed

[2019-10-09 23:04] lvarado commented on #1346
That drive link needs sharing permissions, I'm not able to see it. To clarify what I said earlier, I opened one of my project folders which has a git repo in it. I'm not sure if the repo matters, you may be able to open any folder.

[2019-10-09 23:17] RMacfarlane commented on #1102
Looking at this again, I think our current usage of `vscode-editor-font-*` is correct, since this is used for rendering code diff sections on the webview. So I believe no action is needed.

[2019-10-09 23:17] #1102 closed

[2019-10-09 23:19] RMacfarlane commented on #1057
Closing since I'm unable to reproduce in the latest version of the extension (0.12.0)

[2019-10-09 23:19] #1057 closed

[2019-10-09 23:26] RMacfarlane commented on #349
Closing, as I'm no longer able to repro, and since there have been various refactoring to VSCode core for commenting since this

[2019-10-09 23:26] #349 closed

[2019-10-09 23:28] RMacfarlane commented on #1026
Closing as a duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/473

[2019-10-09 23:28] #1026 closed

[2019-10-09 23:30] RMacfarlane commented on #489
I'm not able to reproduce this issue in 0.12.0, closing since there have been no new reports of this.

[2019-10-09 23:30] #489 closed

[2019-10-09 23:31] RMacfarlane commented on #595
Closing as a duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/199

[2019-10-09 23:31] #595 closed

[2019-10-10 00:15] bryceschober commented on #1370
@RMacfarlane Your screenshot is exactly what I mean.

[2019-10-10 02:09] alienfetuseater commented on #1244
@RMacfarlane could you elaborate on the solution you would have suggested to @TcpAckFrequency, I also on arch am having issues getting set up. logging in with `ctrl-p GitHub Pull Requests: Sign in to GitHub ` does not login, the signin button in the sidebar does not open a browser to authenticate through, and manually pasting in credentials are deleted on refresh.

[2019-10-10 08:18] EvgeniyMakhmudov opened #1372 "Error when view empty file"
Issue Type: <b>Bug</b>

PR have empty file in list of files (In my example it is` __init__.py` file, this is normal situation). When i try to look this file and click in menu occured error. The text of popup window is

On GH it can be viewed normally.

Extension version: 0.12.0
VS Code version: Code 1.39.0 (9df03c6d6ce97c6645c5846f6dfa2a6a7d276515, 2019-10-09T06:58:03.188Z)
OS version: Linux x64 4

[2019-10-10 12:12] OliverHuntsman commented on #1346
@RMacfarlane There is no `Github Pull Requests: Sign in to GitHub `command?

[2019-10-10 12:32] OliverHuntsman commented on #1346
@lvarado I've changed the sharing now, the folder doesn't have a git repo in it bu tI get the same results with a folder which does have a git repo

[2019-10-10 16:00] RMacfarlane commented on #1346
@OliverHuntsman If you click on the GitHub icon on the activity bar on the right, what message is shown? Can you run the `View: Toggle Output` command (by Cmd + shift + p) and choose "GitHub Pull Requests" from the dropdown and copy the output from that?

[2019-10-10 16:16] RMacfarlane opened #1373 "Warn when closing description page with unsaved text"
- Extension version: 0.12.0

Steps to Reproduce:

1. Open the description page of a PR and start typing in the bottom text area
2. Close and reopen the description page

Typed text is lost. We should show a dialog asking the user to confirm closing the page when they have unsaved data

[2019-10-10 16:17] RMacfarlane commented on #940
This was fixed with https://github.com/microsoft/vscode-pull-request-github/pull/1201. However, if instead of switching tabs, you completely close and reopen the page, text is lost. I've filed a new issue for that: https://github.com/microsoft/vscode-pull-request-github/issues/1373

[2019-10-10 16:17] #940 closed

[2019-10-10 16:18] #973 closed

[2019-10-10 16:50] RMacfarlane commented on #1244
@alienfetuseater There are some steps for this here: https://github.com/microsoft/vscode-pull-request-github/wiki#personal-access-token-authentication

By "manually pasting in credentials are deleted on refresh", do you mean that you that you are signed out again when VSCode is reloaded?

[2019-10-10 16:55] RMacfarlane commented on #353
I'm not able to reproduce this, I believe we've already fixed this upstream

[2019-10-10 16:55] #353 closed

[2019-10-10 17:02] RMacfarlane commented on #376
The tree items have already been changed to display the file name, and then the full path as a description after it the same way the explorer and search show.

Additionally, we just merged a PR that will add a setting for toggling between a tree and a flat view of these files - by default it's set to tree.

[2019-10-10 17:02] #376 closed

[2019-10-10 17:05] RMacfarlane commented on #455
Closing this, as the extension has been changed to add a new icon to the activity bar that will show the "GitHub Pull Requests" tree expanded by default

[2019-10-10 17:05] #455 closed

[2019-10-10 17:09] RMacfarlane commented on #793
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/238

[2019-10-10 17:09] #793 closed

[2019-10-10 17:14] RMacfarlane commented on #1370
Thanks for confirming! I'm having trouble reproducing this myself.

- Does this happen when you have the pull request checked out, when you're on a different branch and just looking through the "GitHub Pull Requests" tree, or both?
- Does this happen for all file links? Was the file added, deleted, or modified?

The expected behavior is that this should open that file in a new editor (or focus the

[2019-10-10 17:17] #755 closed

[2019-10-10 18:20] #1372 closed

[2019-10-10 18:42] #1368 closed

[2019-10-10 18:51] bmbermn commented on #798
Im not sure why but when I create PR's via VSCODE I am still not getting the template pulled in, is there anything I need to do to enable this functionality?

[2019-10-10 18:54] RMacfarlane commented on #798
@bmbermn This is with version 0.12.0 of the extension? Can you open a new issue and include the name and relative location of your template to the root of the repository?

[2019-10-10 19:03] RMacfarlane commented on #1311
Thanks @bm-stschneider, this should have been fixed as part of https://github.com/Microsoft/vscode-pull-request-github/commit/3bc2d96209c17044c90985c41cde1efe47590730, commentHandlers were not be unregistered properly

[2019-10-10 19:03] #1311 closed

[2019-10-10 19:25] MrYann commented on #1359
Ok. I tried that and the error I get now is
[code]
(xxx being the repository, and yyy the owner)

[2019-10-10 19:53] alienfetuseater commented on #1244
On Thu, Oct 10, 2019 at 12:50 PM Rachel Macfarlane <notifications@github.com>
wrote:

By deleted I mean the token I paste into settings

“GitHubPullRequest.login”: {[
  Server: github.com,
  User: ‘myUserName’,
  Token: ‘myGeneratedToken’
]},

Is deleted from the settings.json on reload and I never got logged in. It
says at the bottom toolbar “GitHub signing in...” or what not

[2019-10-10 20:51] yulrizka opened #1374 "Cant comment on added line when the repo is checked out"
- Extension version: v0.12.0
- VSCode Version: 1.40.0-insider
- OS: osx

Steps to Reproduce:

1. Open a pull request
2. Checkout the source code using Description page
3. Open a file with added line

expectation:
I would see the white gutter to be able to comments

reality:
The white gutter was not shown. See below on the right side
<img width="690" alt="a" src="https://user-images.githubuserconte

[2019-10-10 21:14] OliverHuntsman commented on #1346
Hi, no output

![Screenshot 2019-10-10 at 22 12 14](https://user-images.githubusercontent.com/33024777/66607045-491bbb80-ebab-11e9-950e-3d8c89f4a297.png)

[2019-10-10 21:15] RMacfarlane commented on #1346
Ok, thanks, this helps. What's the result of running `git remote -v` in the terminal?

[2019-10-10 23:06] #1305 closed

[2019-10-10 23:07] RMacfarlane commented on #1300
Closing since I believe this was fixed with https://github.com/microsoft/vscode-pull-request-github/pull/1296, I'm not able to repro it. Let me know if you see it again

[2019-10-10 23:07] #1300 closed

[2019-10-11 10:04] urandu opened #1376 "Multi line comments"
Currently on GitHub, it is possible to have multi line comments. It would be whorthwile to also have this feature on this extension.

I would be more than happy to take this up..

[2019-10-11 13:40] durdenx commented on #1178
It doesn't work for me. Is there anything to do to get logged in to github ?

[2019-10-11 16:16] RMacfarlane commented on #1178
@durdenx The extension should prompt you to log in when you open a folder that has a remote pointing to GitHub. If you have problems with the sign in process, it's also possible to manually provide a token following the steps here: https://github.com/microsoft/vscode-pull-request-github/wiki#personal-access-token-authentication

If you don't see a prompt to sign in or "Sign in to GitHub" in the st

[2019-10-11 17:16] RMacfarlane commented on #1376
Yes, this would be great to have!

To get this to work will require some changes in VSCode, it controls the gutter that is used to add comments. It would need to add support for opening the comment editor from a selection.

[2019-10-11 17:19] RMacfarlane commented on #1238
Closing since this has resolved itself - the issue may have been with the extension's ability to detect a GitHub remote.

[2019-10-11 17:19] #1238 closed

[2019-10-11 17:21] RMacfarlane commented on #1180
Closing since the original issue has been fixed. @scrossan-crown I haven't been able to reproduce this on the latest version of the extension (0.12.0), please let me know if you see it again

[2019-10-11 17:21] #1180 closed

[2019-10-11 18:41] yulrizka commented on #1374
I think i found the problem. This happens if the root of the root folder (project) is not the same as the git repository.

https://github.com/microsoft/vscode-pull-request-github/blob/93f6317869a62b885078072e6f816ef44ae3686c/src/view/reviewCommentController.ts#L441-L442

for example:
[code]

For example if `file1` changed:

* If I open open vscode on the root (`repo`), relative path would be `a/b/

[2019-10-11 19:06] RMacfarlane commented on #1374
Nice find! The comment controller stores a `_repository` property that has information about the git repository, including the path to the root: `this._repository.rootUri.path`. So I think something like `nodePath.relative(this._repository.rootUri.path, document.uri.path)` would work

[2019-10-11 19:54] yulrizka commented on #1374
Hmm it seems that it's not so easy to changed. For example this line now failed

https://github.com/microsoft/vscode-pull-request-github/blob/93f6317869a62b885078072e6f816ef44ae3686c/src/view/reviewCommentController.ts#L389-L393

It seems that this was design to be workspace related. I found 6 instances of `asRelativePath`.

[2019-10-11 20:28] yulrizka commented on #1374
I tried to change all of the them, seems to be working. But I'm not too familiar with the whole code thus I'm not sure what the impact will be :sweat_smile:

[2019-10-11 22:22] #1343 closed

[2019-10-11 22:34] RMacfarlane opened #1378 "Files that have been renamed show incorrect commenting range when the PR is checked out"
- Extension version: 0.12.0

Steps to Reproduce:

1. In a PR, have a file change that is only the file being renamed
2. Check out this PR
3. Open the rename file change from the "Changes in Pull Request" tree

The entire right hand editor appears commentable, when in fact, there have been no code changes. Opening this change in a diff editor at all is confusing - it looks like the file is being ad

[2019-10-11 22:59] RMacfarlane commented on #1247
I'm no longer able to reproduce this with version 0.12.0 of the extension

[2019-10-11 22:59] #1247 closed

[2019-10-12 16:06] beriberikix opened #1379 "Add Projects and Milestone when view pull request"
When viewing a pull request description there is an option to add a reviewer and label. On github.com you can also add Projects and Milestones. It would be very convenient
<img width="387" alt="Screen Shot 2019-10-12 at 9 03 54 AM" src="https://user-images.githubusercontent.com/178376/66704317-93965880-eccf-11e9-90c1-531a293c4b85.png">
 to mirror the options.

[2019-10-13 10:51] yulrizka commented on #908
@RMacfarlane, Is adding comments in a pending review for Github Enterprise not supported?

I tried to play around to make it work, I managed to create pending 'Review' by using octokit.
but got error while trying to add comment.

[code]

or it should use a different API?

[2019-10-14 13:31] alienfetuseater commented on #1244
also I tried launching vscode from command line with the option `code --enable-proposed-api GitHub.vscode-pull-request-github  `.  vscode code starts and the prompt box appears that says
`In order to use the Pull Requests functionality, you must sign in to github.com` which i click but nothing happens. no browser opens up initiating oauth, only a message on the bottom toolbar, as i said above `Sig

[2019-10-14 13:55] alienfetuseater commented on #1244
By deleted I mean i edit settings.json to reflect the following:

[code]

then i reload the window and the above turns into:

    {
     "workbench.iconTheme": "vscode-icons",
        "editor.fontLigatures": true,
    }

immediately after this deletion from settings.json the pop up in the lower right corner that says `In order to use the Pull Requests functionality, you must sign in to github.com`

[2019-10-14 16:32] #1374 closed

[2019-10-14 16:50] RMacfarlane commented on #908
@yulrizka It should be, though it's possible it's not in older versions.

There are several different versions of GitHub's API - the [REST one](https://developer.github.com/v3/) that octokit uses (v3), and a new [graphql one](https://developer.github.com/v4/)(v4). The v3 version doesn't support adding comments to pending reviews, you have to create the review all at once. So we're using the v4 ver

[2019-10-14 18:33] yulrizka opened #1381 "Incorrect GraphQL URL for github enterprise"
- Extension version: 0.12.0
- VSCode Version:  1.40.0-insider
- OS: Osx
- Github Enterprise version: GitHub Enterprise Server 2.16.12

Steps to Reproduce:

1. Login with github enterprise
2. See the log message
[code]
I think this is related to https://github.com/microsoft/vscode-pull-request-github/issues/947

This is caused by invalid graphQL URL for the enterprise version. The reason is that th

[2019-10-14 21:05] #1369 closed

[2019-10-14 21:26] RMacfarlane commented on #1359
Ok, this may be a bug, or something the extension could make clearer. Can you check that all of the remotes listed when you run `git remote -v` in the terminal are part of the "GitHub Pull Requests: Remotes" setting?

[2019-10-14 21:30] RMacfarlane commented on #1317
@kalyanaramansanthanam Are you using GitHub enterprise? I'm wondering if https://github.com/microsoft/vscode-pull-request-github/issues/947 is related to this

[2019-10-15 04:18] JeffreyCA commented on #1351
I noticed if you press Cancel, the webpage still says success.

In addition, the instructions on the webpage for when the redirection failed might have to be changed because Step 3 says "Click Signing in to null... in the status bar."

It should say github.com instead of null, and if the status bar changes to "Sign in to github.com" after cancelling how would the user be able to manually input the

[2019-10-15 04:20] JeffreyCA commented on #1156
It would be helpful to post some screenshots so we can visually compare the two

[2019-10-15 05:01] #1378 closed

[2019-10-15 05:12] JeffreyCA commented on #1361
The best I could get was setting the `::-webkit-scrollbar-corner` pseudo element background color to transparent.

[code]

Result:
<img width="679" alt="Screen Shot 2019-10-14 at 10 01 25 PM" src="https://user-images.githubusercontent.com/9157833/66801891-81830880-eecf-11e9-82c3-40d117805699.png">

There is still a white border around the top and left sides of the square.

[2019-10-15 14:23] RMacfarlane commented on #1085
I can no longer repro this issue, looks like it's already been fixed

[2019-10-15 14:23] #1085 closed

[2019-10-15 14:24] RMacfarlane opened #1383 "Editing comment on description page does not immediately update text"
- Extension version: 0.12.0

1. Add a comment on a PR on the description page
2. Edit the comment, click save
3. Value is rendered as old value, though clicking edit again shows the updated text, and on GitHub the comment has been successfully updated

[2019-10-15 14:26] #1383 closed

[2019-10-15 14:54] RMacfarlane commented on #1307
@john4 I'm having trouble reproducing this - do you have an example PR where this happens? What do the reviews look like on such a PR?

[2019-10-15 18:08] RMacfarlane commented on #1361
@JeffreyCA I think that looks better than before

[2019-10-15 18:23] RMacfarlane commented on #1351
Hmm, the behavior I see now is that the browser automatically opens, there's no dialog asking if you want to open the login link. You mean after the browser is open and you've clicked "Continue"? As far as I know, I don't think there's a way for the web page to detect that opening the link to VSCode was cancelled.

Agree that we shouldn't display null in the status bar 😄

I think it's reasonable t

[2019-10-15 19:42] MrYann commented on #1359
The terminal command gives me
[code]
The same URL twice, pointing to my account's fork. No mention of the URL to the original repo I want to to be pulled from.

The Remotes setting has
[code]

[2019-10-15 19:46] RMacfarlane commented on #1359
Ok, I see. Can you run `git remote add upstream https://github.com/xxx/yyy.git` in the terminal where xxx and yyy are for the original repo?

But before that, when you currently run `Create Pull Request`, what options are shown to you?

[2019-10-15 21:44] #1157 closed

[2019-10-15 21:45] RMacfarlane commented on #1220
Should be fixed with https://github.com/microsoft/vscode-pull-request-github/commit/6f5b6051ed11b9c0b4c201d17a12d6316e70089a

[2019-10-15 21:45] #1220 closed

[2019-10-15 21:48] RMacfarlane commented on #1165
I haven't been able to reproduce this, from looking at the log, I think the problem may have been with the way we dispose comments on the VSCode side. There have been some changes there that may have fixed this

[2019-10-15 21:48] #1165 closed

[2019-10-15 21:55] RMacfarlane commented on #988
Closing this since I'm no longer able to reproduce it

[2019-10-15 21:55] #988 closed

[2019-10-15 22:03] RMacfarlane opened #1384 "Commenting ranges incorrect on deleted file"
- Extension version: 0.12.0

Steps to Reproduce:

1. Create a PR including a change that's a file deletion
2. Open diff view from the tree

In the "GitHub Pull Requests" tree, the view for the file shows a commentable range on the right hand side for the new empty file. Trying to add a comment there fails. If checked out, the "Changes in Pull Request" tree, both sides are not commentable. Commenti

[2019-10-15 22:43] #1384 closed

[2019-10-16 01:14] #897 closed

[2019-10-16 01:23] RMacfarlane commented on #657
Closing, as I'm not able to reproduce this

[2019-10-16 01:23] #657 closed

[2019-10-16 01:28] RMacfarlane commented on #794
Closing as I'm not able to reproduce this with the latest version of the extension

[2019-10-16 01:28] #794 closed

[2019-10-16 01:33] RMacfarlane commented on #834
Closing as I can't repro this in the latest version of the extension

[2019-10-16 01:33] #834 closed

[2019-10-16 01:38] RMacfarlane commented on #1137
Closing as I'm not able to reproduce with the latest version of the extension

[2019-10-16 01:38] #1137 closed

[2019-10-16 01:40] RMacfarlane opened #1385 "Navigating to outdated comment from comments panel shows duplicates"
- Extension version: 0.12.0

Steps to Reproduce:

1. Check out a PR that has outdated comments
2. From the comments panel, click on one of the outdated comments

The file opens for that commit with the outdated comment duplicated.

[2019-10-16 03:36] RMacfarlane commented on #1095
This should have been fixed with https://github.com/microsoft/vscode-pull-request-github/commit/cc9b8de1617486c38f3c88d53fc559dcb758fc42, changing the selected repository in the source control viewlet should cause the extension to update

[2019-10-16 03:36] #1095 closed

[2019-10-16 05:28] JeffreyCA commented on #1361
I agree, I looked into whether there were any other instances of this. The Issue Reporter text area resizer also has the same appearance when there are scrollbars:

<img width="622" alt="Screen Shot 2019-10-15 at 10 26 20 PM" src="https://user-images.githubusercontent.com/9157833/66890440-13a41300-ef9b-11e9-8a05-22c709d9dbb7.png">

[2019-10-16 15:55] #1361 closed

[2019-10-16 18:00] MrYann commented on #1359
Before: `Create Pull Request` gives me 2 options `Parent Fork` and `https...xxx.git` (my repository
). I select Parent Fork, then I am asked what branch (I leave the default `master`). This leads me again to `Creating pull requests failed: No matching repository perfect-deck found for zzz` (zzz being the name of the remote owner)

That: `add upstream` changes many things.
1. I resorted to creating

[2019-10-16 21:16] #1385 closed

[2019-10-16 21:52] RMacfarlane commented on #1359
Thanks for sticking with this and for the detailed write up!

For the "Created by me" category, it should show requests created from both the extension and the website, so it sounds like that may be a bug. If you still see this, would you mind creating another issue for it?

There is a related issue about what you first saw with "Parent Fork" - https://github.com/microsoft/vscode-pull-request-gith

[2019-10-16 21:56] RMacfarlane commented on #817
This should already be fixed with the latest commenting API

[2019-10-16 21:56] #817 closed

[2019-10-16 22:50] RMacfarlane commented on #785
I've been unable to reproduce this in the latest version of VSCode (with that comment text), so will close this out

[2019-10-16 22:50] #785 closed

[2019-10-17 08:15] MrYann commented on #1359
And thanks to you for steadily providing support ;)

Ok, I get for self-pull requests, and I will open a separate issue for the "created by me".

Regarding this current issue, I'm not sure: should I close it since "add upstream" probably solved it, or should I leave it open since it would be nice that the extension provides some guidance regarding the steps to take from the (mandatory?) fork (inst

[2019-10-17 15:20] bpasero opened #1389 "Everytime I open VSCode I get a notification that I need to sign in to use the extension"
We should serve as a good role model here and not abuse notifications:

![image](https://user-images.githubusercontent.com/900690/67023036-6e0bb380-f102-11e9-9e43-f8e06ff7fcf2.png)

Please either add a button to never notify again or simply not show it.

//cc @RMacfarlane

[2019-10-17 21:13] #903 closed

[2019-10-17 21:19] #628 closed

[2019-10-17 21:22] #1270 closed

[2019-10-17 22:29] #238 closed

[2019-10-17 23:12] RMacfarlane commented on #1075
Closing as I haven't been able to reproduce this with the latest version of the extension

[2019-10-17 23:12] #1075 closed

[2019-10-18 07:40] lifez commented on #1342
I would take this.

[2019-10-18 08:15] SimonWilliams-STL opened #1393 "Groups not available in reviewer list"
- Extension version: 0.12.0
- VSCode Version: 1.39.2
- OS: Windows 10 (1903)

Steps to Reproduce:

1. Create a pull request
2. Click on the plus next to reviewers to add a reviewer

The pick list that is presented contains all the people that would be presented on the website, but not the groups.

[2019-10-18 09:00] lifez commented on #806
I will take this

[2019-10-18 09:08] lifez commented on #1293
@RMacfarlane If I just change color or bolder the author-name. Would be nice?

[2019-10-18 17:59] #1307 closed

[2019-10-18 18:00] #806 closed

[2019-10-18 18:02] RMacfarlane commented on #1393
@SimonWilliams-STL This looks like a duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/1126, let's track it there

[2019-10-18 18:02] #1393 closed

[2019-10-18 18:05] RMacfarlane commented on #1293
@lifez Yes, I think bolder would be nice! It would also be consistent with github.com where usernames are bold

[2019-10-18 18:34] RMacfarlane commented on #442
@Maskime Thanks for your feedback! This sounds similar to https://github.com/microsoft/vscode-pull-request-github/issues/1160.

I've previously reached out to GitHub to try to clarify what the exact circumstances are for patches not being returned and am still waiting for a response. This is definitely a pain point! With some refactoring we may be able to handle this by just making additional netw

[2019-10-18 23:50] #1356 closed

[2019-10-19 06:09] shaodahong opened #1396 "Support quote reply"
~1. support `@`  autocomplete~
2. support `Quote reply` shortcut

[2019-10-20 02:28] lifez commented on #1293
@RMacfarlane I will take this :)

[2019-10-20 14:31] lifez commented on #1293
<img width="537" alt="Screen Shot 2562-10-20 at 21 29 52" src="https://user-images.githubusercontent.com/2588927/67161021-ca7c0680-f380-11e9-9f3a-ec8c4bdd12d6.png">

I think just bolder is not enough. What do you think if i change author color to white

<img width="497" alt="Screen Shot 2562-10-20 at 21 31 18" src="https://user-images.githubusercontent.com/2588927/67161058-02834980-f381-11e9-85bd-

[2019-10-20 14:39] lifez commented on #1379
@RMacfarlane I would to work on this feature. But first could you please tell me how to develop without often press refresh button. Do we have something like hot reload ?

[2019-10-20 17:20] RMacfarlane commented on #1379
@lifez If you change code in the `preview-src` folder and close and reopen the webview after compiling, it should be updated. For code changes outside of that folder, the VSCode window needs to be reloaded to pick up the changes

[2019-10-21 00:47] lifez commented on #1293
@RMacfarlane

[2019-10-21 07:56] alexr00 commented on #363
I can use this extension the first time I look at a PR, but after there are changes I can't. I don't need to re-review everything. I just need to review the changes since the last time I looked. Just being able to select which commits to use would solve this for me.

[2019-10-21 15:59] RMacfarlane commented on #1293
@lifez That looks good to me! But we need to be careful that it works for all themes. Instead of hardcoding a color, we should use a css variable for an existing theme color. `color: var(--vscode-editor-foreground)` is an example of this

[2019-10-21 17:16] RMacfarlane commented on #1396
There is an existing issue for adding @ support: https://github.com/microsoft/vscode-pull-request-github/issues/1206

So let's use this issue to track quote reply

[2019-10-21 17:46] #305 closed

[2019-10-21 22:11] #664 closed

[2019-10-22 00:07] ebubekirduman commented on #1158
Hello, I am using version 0.12.0. I'm having the same problem. what is the solution?

[2019-10-22 12:15] #521 closed

[2019-10-22 13:53] ebubekirduman opened #1398 "sign in problem"
Issue Type: <b>Bug</b>

I can't access Github. Output error:
"[Info] /Users/ebubekirduman/.ssh/config: EISDIR: illegal operation on a directory, read
[Info] Looking for Go repository "

how do I solve this problem?

Extension version: 0.12.0
VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:33:00.827Z)
OS version: Darwin x64 19.0.0

<details>
<summary>System Inf

[2019-10-22 15:30] brianjmurrell commented on #1063
I guess it missed the May 2019 sprint.  :-(

[2019-10-22 16:39] RMacfarlane commented on #1398
@ebubekirduman The ssh config error can be ignored, it doesn't matter if this isn't found. The "Looking for Git repository" message indicates that the Git extension doesn't associate the folder you currently have open with a git repo. Do you have git installed and a folder associated with a git repo open?

[2019-10-22 17:02] RMacfarlane opened #1400 "Comment thread collapsed after actions on comments for workspace files"
Issue Type: <b>Bug</b>

1. Check out a pull request
2. Open one of the changed files (use "Open File" action from the "Changes in Pull Request" tree)
3. Add comment
4. Do something that changes the comment state, like clicking the edit button

:bug: Comment thread collapses

Extension version: 2019.10.31144
VS Code version: Code - Insiders 1.40.0-insider (c58aaab8a1cc22a7139b761166a0d4f37d41e998,

[2019-10-22 17:04] #1293 closed

[2019-10-22 17:12] rebornix commented on #1063
Then I think this can be closed now.

[2019-10-22 17:13] RMacfarlane commented on #1063
We implemented adding/removing reviewers, not changing assignment, so I think this feature request should still be open :)

[2019-10-22 17:57] RMacfarlane opened #1401 ""Element with id is already registered""
Issue Type: <b>Bug</b>

1. Expand a pull request category that's not "All" in the "GitHub Pull Request" tree that has some PR in it
2. Expand the "All" category

Get error notification "Element with id <PR url> is already registered"

Extension version: 2019.10.31144
VS Code version: Code - Insiders 1.40.0-insider (c58aaab8a1cc22a7139b761166a0d4f37d41e998, 2019-10-22T05:25:41.549Z)
OS version: Dar

[2019-10-22 18:05] #1401 closed

[2019-10-23 19:07] doupp-adsk commented on #520
Coming back to this to point out that there is UI already in the web to do something like this. Details are here:

https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/reviewing-proposed-changes-in-a-pull-request#marking-a-file-as-viewed

![Mark as read on github.com](https://help.github.com/assets/images/help/pull_requests/viewed-checkbox.png)

I could easily see this as

[2019-10-23 19:40] #1398 closed

[2019-10-23 23:54] #1396 closed

[2019-10-24 18:35] #123 closed

[2019-10-24 18:40] RMacfarlane opened #1405 "Handle checkout failure when deleting pull request"
- Extension version: 0.12.0

Steps to Reproduce:

1. Check out a pull request
2. Make local changes to the workspace
3. Merge the PR
4. Use "Delete" button from the description page and check all boxes

Delete tries to switch branches and delete the old branch. This silently fails with a "DirtyWorkTree" error from git since there are local changes.

[2019-10-24 19:00] #1400 closed

[2019-10-24 23:13] RMacfarlane opened #1407 "Display of outdated comments on description page"
- Extension version: 0.12.0

Steps to Reproduce:

1. Open the description page on a PR that has outdated comments

I believe there was previously a box rendered near the top of the comment saying "Outdated". At a minimum, we should bring that back. Even better would be having a collapsed view of these by default as they are on github.com and a way of toggling their visibility

[2019-10-24 23:16] #1389 closed

[2019-10-25 00:26] IllusionMH opened #1408 "Display add/remove controls for reviewers and labels only to users with write access"
Currently any user can see controls to add reviewers and labels which might be confusing (PR author might try to request review which will lead to an error notification).

With PR #1404 it is now possible to make Overview closed to web version and display these controls only to users who can make changes.

[2019-10-25 00:43] rebornix opened #1409 "Load more fails in Assigned To me"
Issue Type: <b>Bug</b>

[code]

Not sure yet if it's because of the recent change of caching.

Extension version: 2019.10.34029
VS Code version: Code - Insiders 1.40.0-insider (b53811e67e65c6a564a80e1c412ca2b13de02907, 2019-10-24T07:02:04.820Z)
OS version: Darwin x64 19.0.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz (8 x 2200)|

[2019-10-25 01:15] JacksonKearl commented on #360
VS Code has allowed removing status bar items since the June 2019 release.
![image](https://user-images.githubusercontent.com/8586769/67536049-2fd63d00-f68a-11e9-97d8-fa52deb573c2.png)

With #1410 clicking the status bar item item will give you options for changing queries, remotes, or signing out of GitHub.

[2019-10-25 06:56] Kaukjan opened #1411 "Extension does not work, the tab on the sidebar shows an empty window."
- Extension version: 0.12.0
- VSCode Version: 1.39.2
- OS: Windows 10

Steps to Reproduce:
1. Instal github pull requests.
2. No step 2 needed.
![Sieppaa](https://user-images.githubusercontent.com/56914243/67549737-9d777d00-f70d-11e9-8ced-87058a35bf73.PNG)

The extension installs, then nothing happens except github icon appears on the sidebar.
Clicking on the icon an empty page appears.
Clicking o

[2019-10-25 07:17] foolip opened #1412 "Spurious "This branch has conflicts that must be resolved" warning"
- Extension version: 0.12.0
- VSCode Version: 1.39.2
- OS: Debian 4.19.37

Steps to Reproduce:

1. Clone the wpt repo and find https://github.com/web-platform-tests/wpt/pull/19754 in the list of pull requests in VS Code. For me it's under "Created By Me" but for others it may be hard to find.
2.At the bottom of the "Description" view, "This branch has conflicts that must be resolved" will be shown

[2019-10-25 07:20] foolip opened #1413 "Checks not listed in "Description" view, only Statuses are"
- Extension version: 0.12.0
- VSCode Version: 1.39.2
- OS: Debian 4.19.37

Steps to Reproduce:

1. Clone the wpt repo and find https://github.com/web-platform-tests/wpt/pull/19754 in the list of pull requests in VS Code. For me it's under "Created By Me" but for others it may be hard to find.
2.At the bottom of the "Description" view, "2 successful checks" will be shown. On github.com, a total of

[2019-10-25 07:22] foolip commented on #1413
For comparison, this is what https://github.com/web-platform-tests/wpt/pull/19754 looks like to me right now:
![image](https://user-images.githubusercontent.com/498917/67551304-dfea8b00-f708-11e9-863b-a3332db08cd7.png)

Note the "19 successful checks".

[2019-10-25 07:25] foolip commented on #1412
If it'll help to debug this issue, at the time I was looking the `refs/pull/19754/merge` ref of the repo was pointing at https://github.com/web-platform-tests/wpt/commit/4c234adbd7ffa423a23deafecd9c1a9a832f24ce. The first parent of that merge is https://github.com/web-platform-tests/wpt/commit/b482734e5092c5f5a6aadc66aa1c599742f2dc67 (the master branch) and the second is https://github.com/web-pla

[2019-10-25 10:35] Tyriar opened #1414 "Error running command pr.pick: Cannot read property 'startsWith' of undefined"
![image](https://user-images.githubusercontent.com/2193314/67564631-3b505500-f6d8-11e9-806b-ea3843e2ec7d.png)

This happened when checking out this vscode PR:

![image](https://user-images.githubusercontent.com/2193314/67564664-515e1580-f6d8-11e9-97f7-64162ed6fea7.png)

It worked the second time.

Output channel:

<details><pre>
[Info] Looking for git repository
[Info] Git repository found, initia

[2019-10-25 14:35] rfdunn commented on #1379
This would be a really helpful enhancement. We track things across multiple project boards and so every pull request requires a project - which currently means you always have to go to the website to edit the PR and assign to the appropriate project, which sort of makes the Extension redundant.

[2019-10-25 17:29] RMacfarlane commented on #1409
@rebornix We added an `id` property to the pull request node, which allows the tree implementation to preserve collapsed state across refreshes: https://github.com/microsoft/vscode-pull-request-github/blob/b603c271aaf443301524118578902a6c2fbdbde3/src/view/treeNodes/pullRequestNode.ts#L452

Do you know how that PR is getting duplicated in the "Assigned to Me" section? Do you have differently named

[2019-10-25 17:43] RMacfarlane commented on #1412
Thanks for reporting this @foolip! Looks like we are missing a "pending" state for this message - should display that the mergability is still being calculated in that case

[2019-10-25 18:02] foolip commented on #1412
Aha, that would explain it. I had just created the PR then.

[2019-10-25 18:08] RMacfarlane commented on #1411
@Kaukjan Can you open the command palette (Ctrl+shift+p), run the `Developer: Toggle Developer Tools` command, and report if there are any errors in the console?

[2019-10-25 18:13] RMacfarlane commented on #1363
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/1268

[2019-10-25 18:13] #1363 closed

[2019-10-25 18:23] #967 closed

[2019-10-25 23:20] #1036 closed

[2019-10-25 23:20] #1409 closed

[2019-10-25 23:50] #360 closed

[2019-10-26 00:03] JacksonKearl commented on #1407
I actually don't see them collapsed by default on GitHub... on GitHub there is a separate "Mark Resolved" button, and "Resolved" threads are collapsed by default. A thread con be resolved even if it is not outdated, so I think this is an orthogonal feature.

[2019-10-26 00:19] JacksonKearl commented on #1254
Closing as dupe of #339.

[2019-10-26 00:19] #1254 closed

[2019-10-26 00:20] JacksonKearl commented on #1407
Looks like resolving convos is already covered in #339. #1417 adds the "Outdated" label, I'll look into "Resolved" next.

[2019-10-27 18:32] emtei opened #1421 "LGTM: Unnecessary self assignment in pullRequestNode"
Found by LGTM [report link](https://lgtm.com/projects/g/microsoft/vscode-pull-request-github/snapshot/cb6d19308dc80a998002c7771df5ebe6cd0536ff/files/src/view/treeNodes/pullRequestNode.ts?sort=name&dir=ASC&mode=heatmap#x69881219b0217846:1)

Whole this block of code seems to be useless. But i`m not so experienced in this module to remove it so i decided to open issue firstly.

https://github.com/mic

[2019-10-28 11:20] srescio commented on #681
could maybe change the "checked out" indicator to **bolded PR title**? it would even stand out more, I think sourceTree app does that to tell you which branch you're on

[2019-10-28 15:16] RMacfarlane commented on #1421
@emtei With the comments API in VSCode, the only way to get the UI to update is by updating certain properties on the comment thread. Setting `comments`, `range`, `label`, `contextValue`, or `collapsibleState` on the comment thread object will trigger an update event and redraw the comment widget. Because we have just updated data on the comments here, we need to signal to VSCode that it should re

[2019-10-28 15:16] #1421 closed

[2019-10-28 15:21] RMacfarlane commented on #1421
Would accept a PR adding a comment that explains this block

[2019-10-28 17:30] #354 closed

[2019-10-28 17:43] #1405 closed

[2019-10-28 18:40] eamodio opened #1422 "PRs view always show expanded on reload even if collapsed"
- Extension version: `Nightly 2019.10.36902`
- VSCode Version: `1.40-insiders`
- OS: `Windows 10 (1903)`

I always keep the PRs view collapsed on the SCM sidebar, but every time I reload, the view expands itself

[2019-10-28 19:53] emtei commented on #1421
@RMacfarlane Thank you for the comprehensive explanation. I opened the request according to your request.

[2019-10-28 21:22] RMacfarlane commented on #1422
@eamodio This is with the `githubPullRequests.showInSCM` setting set to true? I'm also seeing this with VSCode stable

[2019-10-28 21:23] eamodio commented on #1422
@RMacfarlane Yup -- yeah, this is definitely not new.

[2019-10-28 22:36] curtisgibby opened #1424 "Reviewers should be listed in a "relevance" order"
Currently, the "Add Reviewers" popup lists potential reviewers in an order that I don't understand. It's not alphabetical, it doesn't appear to have anything to do with people who've recently interacted with the files in the PR, or even the repo itself. I simply see everyone in my organization.

![image](https://user-images.githubusercontent.com/1086964/67722302-610e8000-f99e-11e9-92b6-e82368fc359

[2019-10-28 23:48] #1407 closed

[2019-10-29 10:53] Stykro commented on #1411
Hello, I've the same problem. This is my report in the console
![Problem](https://user-images.githubusercontent.com/57135336/67761026-c0be6700-fa42-11e9-82ea-6df3ab2371f2.png)

[2019-10-29 12:17] stoamandl commented on #1411
Hi,
same behavior on my new vscode installation.

- Version: 1.39.2 (user setup)
- Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
- Date: 2019-10-15T15:35:18.241Z
- Electron: 4.2.10
- Chrome: 69.0.3497.128
- Node.js: 10.11.0
- V8: 6.9.427.31-electron.0
- OS: Windows_NT x64 10.0.16299

like @Kaukjan

I get this error in my console

notificationsAlerts.ts:38 Error: command 'pr.configurePRViewlet'

[2019-10-29 16:26] IllusionMH commented on #1424
@RMacfarlane I can take a look at this suggestion today if there are no objections.

As I can see now all `mentionableUsers` are pulled for repository, however GitHub displays only `assignableUsers`.
Are there any drawbacks if I'll change request to `assignableUsers` instead?

[2019-10-29 16:29] curtisgibby commented on #1424
Also, would it be possible to pull the users' GitHub avatars into the list, for quick visual reference?

[2019-10-29 16:35] IllusionMH commented on #1424
At this moment built-in VS Code [Quick Pick component](https://code.visualstudio.com/api/references/vscode-api#window.showQuickPick) is used for list and it has limited API with only few text fields to display for an item.

Custom dropdown implementation inside WebView would be required to display avatars and it's up to maintainers to decide if it should be implemented.
IMHO it should be separate

[2019-10-29 17:22] RMacfarlane commented on #1424
@IllusionMH That would be great!

The extension also registers a completion provider for completing usernames when using '@' in editor comments, so we should make sure that code path still uses `mentionableUsers`. Moving to `assignableUsers` for this makes sense to me.

[2019-10-29 17:27] curtisgibby commented on #1424
I agree that using the `assignableUsers` instead of the `mentionableUsers` makes sense, and should theoretically help pare down the list of users in that Quick Pick component. However, I'm unclear if something can be done about the sort order of the users in that list as well. Can someone help me understand the logic behind the current ordering?

[2019-10-29 17:53] IllusionMH commented on #1424
@RMacfarlane thanks I saw that there is another usage, but wasn't sure how to trigger it for sure (looks like only comments use this list and I tried in WebView). I'll create separate requests for reviewers.

@curtisgibby current order depends on what GitHub API returns - no sorting applied. So question is to GH devs.
But I'll add sort by `login` at least.

[2019-10-29 18:59] sbatten opened #1426 "Sign in failing in firefox"
Testing https://github.com/microsoft/vscode/issues/83296

1. Use firefox
2. Click sign in
3. Allow pop-up
4. Sign in
5. Close page

:bug: extension still waiting for sign-in

[2019-10-29 22:05] RMacfarlane commented on #1411
I'm having trouble reproducing this myself - it looks like the extension just isn't being activated at all. If you open the output panel, is there a "GitHub Pull Requests" entry in the dropdown?
![Screen Shot 2019-10-29 at 3 03 33 PM](https://user-images.githubusercontent.com/3672607/67812881-6d0d4700-fa5d-11e9-922c-c26071b0b76f.png)

If that's selected, is there anything printed in that output ch

[2019-10-29 22:13] Yvesllc commented on #1411
Hi,

Thank you for your message. I have this in the output panel
[Info] C:\Users\ydela\.ssh\config: ENOENT: no such file or directory, open 'C:\Users\ydela\.ssh\config'

I don't know how to deal with that...

Yves

________________________________
De : Rachel Macfarlane <notifications@github.com>
Envoyé : mardi 29 octobre 2019 23:05
À : microsoft/vscode-pull-request-github <vscode-pull-request-git

[2019-10-30 02:17] marcin-rzeznicki commented on #1411
@RMacfarlane the following seems to be the culprit:

[code]

[2019-10-30 12:23] brianjmurrell commented on #1222
I find the current workflow quite cumbersome.  I'm not even sure where I'm supposed to find "Changes in Pull Request".  I just open "Created By Me", find the PR I want to read the comments on and make changes to and then look for the files with the diamond as noted above.  However from there, the rest of the current workflow is just too difficult to even use.

In the PR I've selected, if I open th

[2019-10-30 16:41] RMacfarlane commented on #1411
@marcin-rzeznicki Ok, thanks! This is a known issue when using VSCodium or other community builds: https://github.com/microsoft/vscode-pull-request-github/issues/1309#issuecomment-522389581

Here's the issue tracking removing the proposed API: https://github.com/microsoft/vscode-pull-request-github/issues/1310

We're still waiting on one API to be promoted to stable, until then it should work if y

[2019-10-30 17:24] RMacfarlane commented on #1426
Upstream issue: https://github.com/microsoft/vscode/issues/83610

[2019-10-30 17:24] #1426 closed

[2019-10-31 00:47] marcin-rzeznicki commented on #1411
@RMacfarlane oh! thank you so much for the info - I must admit I didn't know it; it's really helpful

[2019-10-31 04:16] justasitsounds opened #1429 "Add a confirmation prompt to 'Delete Review'"
Currently clicking the 'Delete Review' button in the comment interface deletes the entire review, without prompting for confirmation. It also looks the same as the 'Finish Review' and 'Add Comment' buttons that it appears alongside - the only distinction being the text. I would argue that 'Delete Review' and 'Add Comment' functionality do not belong together - they should not be presented in the s

[2019-10-31 04:17] justasitsounds commented on #1429
Some more UX ideas for how to prevent accidental data loss: https://uxmovement.com/buttons/how-to-design-destructive-actions-that-prevent-data-loss/

[2019-10-31 17:24] RMacfarlane opened #1430 "Migrate to `vscode-test` module"
Currently, the extension uses `vscode` for pulling in types and testing. We should migrate to `@types/vscode` and `vscode-test` modules as described here: https://github.com/Microsoft/vscode-extension-vscode#readme

[2019-10-31 17:28] RMacfarlane opened #1431 "Remove branching logic for graphql"
WIth https://github.com/microsoft/vscode-pull-request-github/pull/1382, GitHub enterprise should now be correctly hitting the graphql endpoint. The last supported GitHub enterprise version, 2.16, has graphql support described here: https://developer.github.com/enterprise/2.16/v4/

All of our current calls should be supported with those schemas, so we can remove the branching logic we have of falli

[2019-10-31 17:40] RMacfarlane commented on #1429
Thanks for the feedback @justasitsounds!

We've checked in a fix for adding a confirmation dialog here, but it hasn't been shipped yet: https://github.com/microsoft/vscode-pull-request-github/issues/1364 Our release schedule roughly follows VSCode so we should create a new version of the extension next week.

I agree that having the 'Delete Review' button doesn't really belong on individual commen

[2019-10-31 23:09] #1412 closed

[2019-11-01 04:45] mjmatthiesen opened #1432 "Support Azure DevOps Pull Requests"
[I've read this](https://github.com/Microsoft/vscode-pull-request-github/wiki#4-what-about-supporting-other-providers-such-as-gitlab-and-bitbucket). I understand why you wouldn't necessarily support competitors. Github is MS. DevOps is MS. The current Azure extension is awful as far as PR support goes.

I have not delved into the source of this extension at all, so I cannot imagine what the diffic

[2019-11-01 11:48] IllusionMH commented on #1381
Looks like #1382 resolved this issue but didn't use `fixes #1381` to trigger auto-close.

[2019-11-01 12:07] yulrizka commented on #1381
It should, i might missed the '#' character in the PR title

[2019-11-01 12:07] #1381 closed

[2019-11-01 17:08] RMacfarlane commented on #1432
Hi @mjmatthiesen, I'm sorry for your frustration, but this request is out of the scope of this project.

This extension is tightly coupled to GitHub and is meant for that audience. It is a totally reasonable ask to build another extension that would do the same for Azure DevOps, or add it to an existing Azure extension, but we do not want to have to support both here. The GitHub API is similar to

[2019-11-01 17:08] #1432 closed

[2019-11-01 21:32] #1424 closed

[2019-11-01 21:42] #1408 closed

[2019-11-01 21:42] #1065 closed

[2019-11-02 00:32] JacksonKearl commented on #89
Closed with #1417

[2019-11-02 00:32] #89 closed

[2019-11-03 09:34] SilWorkBench commented on #1221
I faced the same issue on Win10 with Edge and found the following workaround:
Restart the sing in procedure from vs code. When Edge is opened, do not continue the procedure on Edge. Instead, copy the URL that from Edge to Internet Explorer and continue the process in internet explorer. That worked for me.

[2019-11-03 09:48] LarnuUK commented on #1221
Edge and Internet Explorer don't work on Mac or Ubuntu though. It's a Windows only Browser. :)

[2019-11-03 10:16] SilWorkBench commented on #1221
Of course you are right. Just thinking that the issue may be related to the browser and not to vscode. My 2 cents...

[2019-11-04 09:12] BenudharSahoo commented on #1331
facing the same issue on vs code 1.39.2 version

[2019-11-04 15:48] OliverHuntsman commented on #1346
Sorry for the delay on replying

![Screenshot 2019-11-04 at 15 47 34](https://user-images.githubusercontent.com/33024777/68134777-852c0d00-ff1a-11e9-85d3-f74af91cd04c.png)
![Screenshot 2019-11-04 at 15 47 47](https://user-images.githubusercontent.com/33024777/68134778-852c0d00-ff1a-11e9-8523-36a068ca96fa.png)

[2019-11-04 15:59] OliverHuntsman commented on #1346
OK, so now I've set the remote repository as Github using the terminal and pull requests is ow working - thank you so much for your help.

FYI I used this command when I created a new repository in GitHub for an existing directory on my machine. I guess the obvious was staring me in the face

![Screenshot 2019-11-04 at 15 58 33](https://user-images.githubusercontent.com/33024777/68135720-059f3d80-

[2019-11-06 00:02] jsn-miller commented on #605
This was happening to me because I was on a branch different from that of the PR. After checking out the PR's branch by clicking on the PR title and selecting "Checkout Pull Request", I could then comment on the diffs.

[2019-11-06 07:07] saif003 commented on #888
There is no setting or configuration which allows modifying this restriction?
I do understand this is against the essence of PRs but since github's UI does allow authors to approve their own PRs, I believe there should be some sort of configurability which allows turning this off.

[2019-11-06 18:00] Tyriar commented on #888
@saif003 this is a bug in the extension imo, request changes shouldn't be an option or it should give a nicer error message.

[2019-11-07 01:11] james616616 commented on #1411
same here

Version: 1.39.2
Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
Date: 2019-10-18T10:58:05.878Z
Electron: 4.2.12
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 4.19.81-1-MANJARO

![image](https://user-images.githubusercontent.com/7071922/68351475-ee906380-0146-11ea-9eff-cd1c5ef071ae.png)

[2019-11-07 04:51] saif003 commented on #888
@Tyriar agreed on request changes option but regarding approving, I think that should be configurable.

[2019-11-07 06:14] Tyriar commented on #888
@saif003 GitHub doesn't work like that so the extension could not allow it if it wanted to.

[2019-11-07 09:37] saif003 commented on #888
@Tyriar i'm not sure what do you mean by,

because I'm able to approve and merge my own PRs,
![Screenshot (1023)](https://user-images.githubusercontent.com/36731927/68377023-7a1beb80-016b-11ea-9fa4-89772cba341d.png)

semantically does approve here means some thing else?

[2019-11-07 14:40] cbrnr opened #1435 "Title in extensions sidebar too long"
The title in the extensions sidebar is "GITHUB PULL REQUESTS: GITHUB PULL REQUESTS". I guess one half can be removed so that it just reads "GITHUB PULL REQUESTS".

- Extension version: 0.12.0
- VSCode Version: 1.39.2
- OS: macOS 10.15.1

[2019-11-07 15:52] Tyriar commented on #888
That screenshot is just showing the merge button, approve is greyed out as shown in the top screenshot:

![image](https://user-images.githubusercontent.com/2193314/68404540-900dba00-0133-11ea-9bc7-fb7debf44a09.png)

[2019-11-07 19:54] RMacfarlane commented on #1435
In VSCode for a custom viewlet, if there is only one view in it, it displays "{Viewlet name}: {View name}".

We could considering showing the "Current Pull Request" view all the time to prevent this, with a message if the current branch is not associated with a PR.

[2019-11-09 06:15] JeffreyCA commented on #1248
I can work on this 🙂

[2019-11-09 15:34] rinaldochristy opened #1437 "Unable to sign-in to GitHub using VSCode"
- Extension version: 0.13.0
- VSCode Version: 1.40.0
![Github sign in error](https://user-images.githubusercontent.com/45920198/68531046-7e343e80-030e-11ea-8cb6-72938456b6c0.PNG)

- OS: Windows 10

Steps to Reproduce:

1.
2.

[2019-11-09 15:50] #1437 closed

[2019-11-09 15:51] rinaldochristy commented on #1437
The issue is resolved.

[2019-11-11 15:56] wanderingstan opened #1439 "Wrong minimum node version in wiki (minor)"
tl;dr: Required _minimum_ version on wiki should be `>=8.9.3` not `>=8.9.1`.

On the [Contributing](https://github.com/Microsoft/vscode-pull-request-github/wiki/Contributing#build-and-run) page of wiki it says node versions `>=8.9.1, <9.0.0`:

![image](https://user-images.githubusercontent.com/673455/68600202-4ee11700-045f-11ea-8d52-d7a038d2e0b3.png)

But the included module `vscode` seems to requ

[2019-11-11 16:04] callumlocke opened #1440 "Status bar button "Sign in on [Enterprise domain]" actually authorizes github.com"
- Extension version: 0.13
- VSCode Version: 1.40.0
- OS: macOS Mojave

Steps to Reproduce:

1. Open a GitHub Enterprise project in VSCode.
2. Note the status bar button offers to "Sign in on [github enterprise domain]":
  ![image](https://user-images.githubusercontent.com/250617/68600821-152e0180-049b-11ea-9258-9a151434ade3.png)
3. Click it, and it opens `vscode-auth.github.com/authorize...` in yo

[2019-11-12 19:29] #1440 closed

[2019-11-12 19:29] RMacfarlane commented on #1440
@callumlocke Thanks for catching this! As a temporary work around, you can follow the directions here for manually adding an auth token: https://github.com/microsoft/vscode-pull-request-github/wiki#personal-access-token-authentication

[2019-11-12 19:30] RMacfarlane commented on #1439
@wanderingstan Thanks! I've updated the wiki.

[2019-11-12 19:30] #1439 closed

[2019-11-13 01:15] Tarrowren opened #1441 "extensions conflict"
- Extension version: 0.13.0
- VSCode Version: 1.40.0
- OS: Windows10

Steps to Reproduce:

1.install extensions SQL Server(mssql) 1.7.0
2.install extensions Github Pull Requests
3.there are two "+" here, the one on the right can't be used, click the one on the left
4.
![批注 2019-11-13 090924](https://user-images.githubusercontent.com/35626141/68724017-55a19280-05f5-11ea-8fe5-4365f3163ddc.png)

[2019-11-13 01:39] RMacfarlane commented on #1441
This is being caused by the SQL Server extension: https://github.com/microsoft/vscode-mssql/issues/1455

It looks like they have already checked in a fix for it but haven't yet released a new version

[2019-11-13 01:39] #1441 closed

[2019-11-13 07:46] ivanvoznyakovsky opened #1442 "Progress info modal does not show up when creating a pull request"
Issue Type: <b>Bug</b>

There used to be a modal in bottom right corner with progress information while creating a PR, eg. pushing the brach, found pull request template etc. Now it does not show up and it's really confusing that you know something is going on in background but you can't really see what.

Extension version: 0.13.0
VS Code version: Code - Insiders 1.41.0-insider (0d728c31ebdf03869d

[2019-11-13 10:58] ivanvoznyakovsky commented on #1442
closing as it's not the issue of the extension. reason is that information messages were blocked by default in zen mode.

[2019-11-13 10:58] #1442 closed

[2019-11-13 11:31] saif003 commented on #888
@Tyriar my bad you are right,

[2019-11-13 11:35] Fleischhauer opened #1443 "Git: fatal: HttpRequestException encountered"
- Extension version: 0.13.0
- VSCode Version: 1.40.0 (user setup)
- OS: Windows_NT x64 10.0.17134

Steps to Reproduce:
1. Push commit
(Popup opens)
2. Enter credentials
(Pop-Down on top opens and asks again for username and password)
3. Enter credentials again
(Popup-Window shows error: Git: fatal: HttpRequestException encountered)

I use TFA. I'm behind a compony proxy and had to setup proxys in

[2019-11-13 12:04] albireox opened #1444 "Improvements to merge squash"
It would be useful if the default commit message when using merge squash included the PR number, similar to what GitHub does. So, if the PR number is 16 the first line in the message would be "The Commit Message (#16)".

Similarly, the message could also contain a list of all the commit messages being squashed. The final commit message would be

[code]

[2019-11-13 16:49] cyb3rw0lf commented on #1411
I have the same issue, using the official Windows 10 64bit release, also tried from cmd with `code --enable-proposed-api GitHub.vscode-pull-request-github` but still doesn't work.

Version: 1.40.0 (user setup)
Commit: 86405ea23e3937316009fc27c9361deee66ffbf5
Date: 2019-11-06T17:02:13.381Z
Electron: 6.1.2
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18362

[2019-11-14 00:01] RMacfarlane commented on #1443
This sounds like two separate issues to me - pushing commits is handled by a separate, built in extension in VSCode. Do you see the same issue when pushing from command line?

For the authentication issue with this extension, can you go to the output panel in VSCode, choose "GitHub Pull Requests" from the dropdown, and paste the contents of the log here? Is there anything in the console log? (F1 -

[2019-11-14 08:19] Fleischhauer commented on #1443
You mean in the Command Palette? Git: Clone causes the same to happen.
Sorry, I'm not used to VSC and manually using GIT.

GitHub Pull Requests has several commands, which one?
When I toggle developer tools, the console on the right says:
[Extension Host] [vsonline][activate][info] Extension activating Object +94ms
console.ts:137 [Extension Host] [vsonline][EnvironmentDetailsExplorer][info] Updati

[2019-11-15 07:22] Fleischhauer commented on #1443
I got it working now. I had to enter the token as password for git.
I also uninstalled this plugin and noticed that nothing changed. As I only wanted to push, it doesn't look like I need this plugin.

[2019-11-15 16:33] RMacfarlane commented on #1443
Ok, thanks for the update! I'll close this issue.

[2019-11-15 16:33] #1443 closed

[2019-11-15 17:02] pelletier commented on #1090
@RMacfarlane this workaround does not seem to be working for me. Regardless of which repository I select in the "Source Control" list, the Create Pull Request dialog always selects the same repository.

[2019-11-15 17:28] neils95 opened #1447 "Failed to get pull request review comments"
- Extension version: 0.13.0
- VSCode Version: 1.40.0
- OS: Windows 10

Steps to Reproduce:
I am using github enterprise, and am able to succesfully view open PRs and ADD comments. So if I add a comment on the PR, it shows up on github website. However, for some reason, VS code does not load any comments made on the github website.

The extension log output is: `Failed to get pull request review co

[2019-11-15 17:36] RMacfarlane commented on #1447
@neils95 What version of github enterprise are you using?

[2019-11-15 17:39] neils95 commented on #1447
Going back to version 0.12 of the extension fixes this for me. Version of github enterprise is 2.15.6

[2019-11-15 21:49] neils95 commented on #1343
- Extension version: 0.12.0
- VSCode Version: 1.40.0
- OS: Windows 10
- Github enterprise version: 2.15.6

I am still experiencing this @RMacfarlane  Every comment i add publishes a new review.

[2019-11-15 21:51] neils95 opened #1448 "Adding comments to a review creates multiple reviews"
- Extension version: 0.12.0
- VSCode Version: 1.40.0
- OS: Windows 10
- Github enterprise version: 2.15.6

I am still experiencing the bug reported in #1343  @RMacfarlane. Every comment i add publishes a new review.
Creating a new issue, since #1343 was closed.

[2019-11-15 21:53] RMacfarlane commented on #1448
@neils95 This has been fixed in the latest version of the extension, 0.13.0. I saw your other issue that caused you to downgrade to 0.12.0 and am working on a fix for it.

[2019-11-15 21:53] #1448 closed

[2019-11-18 15:26] mattkrebs1974 opened #1449 "Code works on "CodePen" but not "VS Code" --- not sure why"
Ive made a carousel that rotates in CodePen but will not rotate in VSCode. The attribute that makes it rotate is the one that says "data-ride="carousel" In other words if you take that attribute out it won't work.

I'm hoping that someone could tell me why this is not working in VS Code.

Here is the HTML<pre lang="HTML"

`

<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">

[2019-11-18 15:53] RMacfarlane commented on #1449
@mattkrebs1974 This repository is used for tracking issues and features for the GitHub Pull Request extension. A better place to ask this question would be https://stackoverflow.com/questions/tagged/visual-studio-code.

[2019-11-18 15:53] #1449 closed

[2019-11-19 15:37] yesunhuang commented on #1411
Well, it seems that the solution is to download Git manually and install again. It did fix the problem on my machine.

[2019-11-19 17:49] mix3d opened #1450 "PR Title hover edit icon causes reflow and click target moves (Bad UX)"
- Extension version: 0.13.0
- VSCode Version: 1.40.1
- OS: MacOS Catalina, Windows 10
(has occurred for several versions of the plugin)

Steps to Reproduce:

1. Have a longer PR title in a somewhat narrow window.
2. Hover the title to edit or click the Link to see it in Github.com
3. The edit icon causes reflow and the target of click moves
![github vscode bug](https://user-images.githubuserconten

[2019-11-20 05:34] james616616 commented on #1411
this dosent help on my machine

[2019-11-20 11:47] jasonwilliams commented on #1447
@RMacfarlane its failing for me on Github Enterprise too
our version is `GitHub Enterprise 2.15.6`

I've since rolled back to v0.12 for now

[2019-11-20 14:38] phatmann commented on #1172
The Jira extension has a copy link icon next to their links. Works well and looks clean. We should do the same.

[2019-11-20 17:15] rajesh-pandian commented on #988
We are getting PR's listed twice under the Review Request tab.
Is this a bug in Github?
![image](https://user-images.githubusercontent.com/24638162/69261355-6622b180-0b8f-11ea-95f3-2ddd4f556885.png)

[2019-11-20 17:17] RMacfarlane commented on #988
@rajesh-pandian Do you mean on GitHub as in your screenshot, or in the GitHub Pull Requests tree in VSCode?

[2019-11-20 17:20] rajesh-pandian commented on #988
in GitHub as in the screenshot.

[2019-11-20 17:31] RMacfarlane commented on #988
Then this would be an issue with GitHub. You can see if anyone else has reported it at https://github.community/ or try contacting their support

[2019-11-21 09:38] jzsplk commented on #1234
+1

[2019-11-21 16:28] RMacfarlane commented on #1234
@jzsplk Was there any additional information in the error? What version of the extension are you using?

[2019-11-22 17:42] neils95 commented on #1090
@RMacfarlane I am experiencing the same. Using version 0.12 of the extension (had to downgrade because of another open PR)

When I try to create a pull request from a multi root workspace, it always selects the first repo. I can never create a PR for another repo in the workspace.

[2019-11-24 03:49] JacksonKearl opened #1451 "Esc doesnt collapse comment"
Issue Type: <b>Bug</b>

Open comment in a file of a checked-out PR, but don't focus the input box. Press Esc. The thread does not collapse (bug), focus the input box and press Esc, the thread collapses.

Extension version: 0.13.0
VS Code version: Code - Insiders 1.41.0-insider (599c076d91be1374cf51004cec610f3bcaf4c9cd, 2019-11-22T07:19:06.796Z)
OS version: Darwin x64 18.7.0

<details>
<summary>Sys

[2019-11-25 18:04] cscherrer commented on #1411
Just reinstalled git, doesn't help.

[code]

[2019-11-25 22:43] roblourens opened #1452 ""Element with id..." notification"
I keep seeing this pop up today, using the nightly extension

![image](https://user-images.githubusercontent.com/323878/69584373-e2ebcc00-0f91-11ea-9ef2-da376495b7a5.png)

[2019-11-26 07:08] Hunterttt commented on #1411
doesn't work on my laptop

[2019-11-26 09:50] st-schneider opened #1453 "Changes in pullrequest empty left side"
Issue Type: <b>Bug</b>

When I click a file in the changes in pull request window the left side of the diff is empty as if the file was newly created/added. If I look at the file history with tools like gitlens I see the actual change.

Extension version: 0.13.0
VS Code version: Code - Insiders 1.41.0-insider (a63d88ec550107a66c08d813fb5d3c32c9e131a7, 2019-11-26T05:35:03.763Z)
OS version: Darwin x

[2019-11-26 09:55] bm-stschneider opened #1454 "Extra add comment"
Issue Type: <b>Bug</b>

There seem to be a leftover add comment in lowercase on inline discussions.
![image](https://user-images.githubusercontent.com/30625381/69619078-4d0c7b80-103b-11ea-8d29-61e99eec19e2.png)

Extension version: 0.13.0
VS Code version: Code - Insiders 1.41.0-insider (a63d88ec550107a66c08d813fb5d3c32c9e131a7, 2019-11-26T05:35:03.763Z)
OS version: Darwin x64 17.7.0

<details>
<sum

[2019-11-26 22:04] RMacfarlane commented on #1454
@bm-stschneider Can you include your list of installed extensions? I don't see the string "Add comment" with this casing anywhere in the extension source code, so I'm unsure where it would be coming from

[2019-11-27 07:58] bm-stschneider commented on #1454
Not all of them are actually enabled, does that make a difference?

<details><summary>Extensions (66)</summary>

Extension|Author (truncated)|Version
---|---|---
better-comments|aar|2.0.5
cucumberautocomplete|ale|2.14.1
cypress-snippets|and|1.2.0
atlascode|atl|2.1.5
vscode-custom-css|be5|3.0.9
color-info|bie|0.5.1
markdown-mermaid|bie|1.4.1
mermaid-markdown-syntax-highlighting|bpr|1.0.1
better-tom

[2019-11-27 08:06] bm-stschneider commented on #1454
I don't have an idea where to look, sadly you can't see by which extension this was added. Should I check for multiple extension versions or reinstall?

[2019-11-27 08:08] bm-stschneider commented on #1454
Ok found it, hit that button and got an error in the dev console. Atlassian is to blame.

[2019-11-27 08:08] #1454 closed

[2019-11-27 22:05] rwspeight-orange opened #1455 "Hitting escape when editing a comment should confirm cancellation."
Hitting escape while editing a comment terminates edit mode and abandons unsaved work.  Confirming the cancellation with the user would help prevent lost work and user frustration.

[2019-11-30 15:16] reflog commented on #1090
Same here. In multi-repo workspace only one repository's pull requests are shown, no matter what is selected in SCM viewlet

[2019-12-02 22:42] RMacfarlane commented on #1090
Thanks all, I'm able to reproduce and have created this upstream issue: https://github.com/microsoft/vscode/issues/85975

However, I'm still able to get this to work currently if I change the selection more than once.

[2019-12-02 22:46] RMacfarlane commented on #1453
@bm-stschneider I'm having trouble reproducing this, do you see this consistently for all files?

[2019-12-03 07:53] bm-stschneider commented on #1453
Currently I don't see this at all. Maybe some update fixed it?

[2019-12-03 10:11] n00ne1mportant commented on #1331
Same issue on Arch, can't open any settings or configs. Just gives me the message as OP described.
Please reopen this

[2019-12-03 14:00] GKServer opened #1456 "command: git.clone not found"
Issue Type: <b>Bug</b>

I have tried reinstalling VS CODE and unable to open an online github repo
https://github.com/chucktomasi/sn-learn-javascript.git

Extension version: 0.13.0
VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Co

[2019-12-03 14:51] phatmann commented on #1172
Another (easier?) solution is to add a Copy Link command to the contextual menu for PRs in the Explorer.

[2019-12-03 15:08] phatmann commented on #1450
This is actually so bad that I am considering not using the extension any more. Deeply distracting and disconcerting.

@mix3d Would you consider submitting a PR to fix this?

[2019-12-04 19:45] kieferrm opened #1457 "Edited text is displayed as plaintext instead of markdown"
Issue Type: <b>Bug</b>

1) Edit the description of a PR on the PR overview page. Use back-tick and empty lines to separate paragraphs
2) Save

Get this:

![image](https://user-images.githubusercontent.com/4674940/70175396-7b1d3b80-168b-11ea-9020-316660d7a2df.png)

Note: When you reopen the editor, the presentation is correct.

Extension version: 2019.11.2342
VS Code version: Code - Insiders 1.41.0

[2019-12-05 00:42] manekenpix commented on #1262
@RMacfarlane I have the same problem as @JKwaak and @fazo96. Launching vscode with `code --enable-proposed-api GitHub.vscode-pull-request-github`. I wonder if there's a way to make that change permanent?
Thanks!

[2019-12-05 00:43] manekenpix commented on #1262
Sorry, sent the message before finishing it. I was saying that sending the message from terminal with the arguments you suggested works.

[2019-12-05 13:52] Ghostbird commented on #906
Thanks so much for this feature!

[2019-12-05 15:01] GeorgeWL commented on #906
Yeah this is honestly one of the best features added this year.

[2019-12-05 15:04] GeorgeWL commented on #906
Draft PR's I feel should be a feature, but also should have their own Issue for it.

[2019-12-06 05:51] Wolftousen opened #1458 "View PRs at the orignization level rather than repo level"
This may be my lack of knowledge as i've only used this plugin for a few days now, but it would be nice to have an option to have the queries run at the organization level instead of the individual repo level.

Our organization uses a multirepo set up and we generally have 10+ repos open in vscode at any given time.  While this isn't so much an issue for the average dev, being the architect and pr

[2019-12-06 19:02] RMacfarlane commented on #1456
@GKServer The `git.clone` command comes from the built in Git extension. Can you please file this issue on VSCode instead? https://github.com/microsoft/vscode

The documentation here might be helpful: https://code.visualstudio.com/Docs/editor/versioncontrol#_git-support

[2019-12-06 19:02] #1456 closed

[2019-12-06 19:10] RMacfarlane commented on #1458
@Wolftousen Thanks for the write up! This is currently not possible, but is certainly a reasonable feature request.

[2019-12-06 19:13] #1450 closed

[2019-12-06 22:21] RMacfarlane commented on #906
@GeorgeWL There should be an existing command for draft PRs, `GitHub Pull Requests: Create Draft Pull Request`. Perhaps it would be more discoverable if we had a single command that would ask if you wanted to publish the PR as a draft or not at the start?

[2019-12-07 23:44] nija-at opened #1460 "plugin should switch to least privelege permissions"
Thanks for this wonderful plugin! However, I'm hesistant on authorizing this plugin to do EVERYTHING on my Github account.

The plugin requests Github authorization for write (and read) on EVERYTHING - including repo, team discussions, wiki, etc.

![Firefox_Screenshot_2019-12-07T23-44-17 244Z](https://user-images.githubusercontent.com/16217941/70381965-d875ee80-1910-11ea-91e1-397999e699f3.png)

Co

[2019-12-09 10:49] GeorgeWL commented on #906
I think what they're proposing however is just a setting in the settings ui for "Always Draft PRs" or similar.

@RMacfarlane

I think single command would end up making the process slower for all those who don't have any interest in Draft PRs tbh.

[2019-12-09 17:20] #1431 closed

[2019-12-09 17:37] #1457 closed

[2019-12-09 18:36] RMacfarlane opened #1461 ""Unable to open 'filename': resource is not available" for image diff views"
Issue Type: <b>Bug</b>

1. In the GitHub Pull Requests tree, expand a PR that has images or gifs in it and open one of these files

Error is shown and image is not opened. Also happens when the PR is checked out

Extension version: 2019.12.12573 (Nightly)
VS Code version: Code - Insiders 1.41.0-insider (87c2e0be5d7359ce110c4c9ec9f6df71be996f8a, 2019-12-06T21:34:49.305Z)
OS version: Darwin x64 18.7

[2019-12-09 18:39] RMacfarlane commented on #667
You can log out of the extension by clicking on the username shown in the statusbar, or by pressing F1 and running the `GitHub Pull Requests: Sign out of GitHub` command

[2019-12-09 18:39] #667 closed

[2019-12-10 00:14] RMacfarlane commented on #1452
@roblourens I'm having trouble reproing this, do you still see this?

[2019-12-10 00:20] RMacfarlane commented on #1216
Extension does not require reload after installation now

[2019-12-10 00:20] #1216 closed

[2019-12-10 00:23] roblourens commented on #1452
I haven't seen it recently.

[2019-12-10 04:35] RikkiGibson opened #1462 "Add a fetch button to the "local repository out of date" message box"
Related to #1288

It feels like the message box that shows "Your local repository is not up to date so only partial content is being displayed" could be improved to add a button which does a fetch on the base branch and reloads the document.

I would be willing to try and contribute a fix for this if the team is open to this.

[2019-12-10 11:10] jasonwilliams commented on #1447
@RMacfarlane do you know what the bug is?

[2019-12-10 17:04] boazdori opened #1463 "numpy not loading with run code"
Version: 1.40.2 (user setup)
Commit: f359dd69833dd8800b54d458f6d37ab7c78df520
Date: 2019-11-25T14:54:45.096Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. run code import numpy in the editor
2. I am getting
Traceback (most recent call last):
  File "c:\Users\user\Documents\Visual Studio 2017\Projects\test1.py"

[2019-12-10 17:07] #1463 closed

[2019-12-10 17:14] myartsev opened #1464 ""Code Helper (Renderer) wants to use your confidential information..." osx pop-up"
![image](https://user-images.githubusercontent.com/4885345/70551846-553dde00-1b46-11ea-8f65-6b1e739ed900.png)

- Extension version: 0.13.0
- VSCode Version: 1.40.2
- OS: macOS Mojave 10.14.6

![image](https://user-images.githubusercontent.com/4885345/70551736-1b6cd780-1b46-11ea-9a78-4948a53ff6f8.png)

Steps to Reproduce:

1. Open VS code
2. Get pop-up
3. Deny
4. Keep getting the pop-up intermitten

[2019-12-10 18:09] mix3d commented on #814
Def bumping this one. If VSCode has access to it as part of the native VCS implementation, wouldn't there be an API to grab that list with?

[2019-12-10 18:52] RMacfarlane commented on #1447
@jasonwilliams The problem is that the "state" property on comments doesn't exist on the GraphQL schema for enterprise 2.15, it's available in 2.16 and up. GraphQL throws when you request data that's not available on the schema

[2019-12-10 18:53] RMacfarlane commented on #1452
Optimistically closing this, let me know if you see it again.

[2019-12-10 18:53] #1452 closed

[2019-12-10 19:09] RMacfarlane commented on #1464
@myartsev The extension stores your login credentials in the keychain, and tries to retrieve them when the extension loads. So seeing this popup the first time is expected. The keychain API doesn't expose a way for the extension to know if a user has explicitly clicked "Deny", so I don't believe there is a way for us to prevent additional asks if the window gets reloaded.

[2019-12-10 19:10] #1464 closed

[2019-12-10 20:07] myartsev commented on #1464
@RMacfarlane sorry to be pedantic, but the "first time" for what? First time for when the extension gets installed (& it never needs it again?) or first time after launching vscode?

Either way, I've had the extension for a while, and this is somewhat recent, didn't use to have this come up before.

[2019-12-12 15:24] msorens commented on #460
Wow! This is great @RMacfarlane ! That (a) goes well above and beyond my original request, and (b) works great!

For other readers, I would just reiterate what the VSCode settings themselves say: if you want to add to the defaults, you have to explicitly include them. @RMacfarlane has done that in the example above. The first three are the defaults; the fourth one is the custom one requested by th

[2019-12-13 17:33] sbatten opened #1465 "Delete local branches command surfacing branches that do not exist causing hang"
In my case these were all the steps (not a minimal repro):

1. Have a bunch of branches from the extensions
2. Execute the `Delete local branches and remotes` command
3. Select all and delete

...wait... it did not terminate after several minutes

4. Reload window
5. Repeat 1 - 4
6. Execute the command again but select 1 branch.

:bug: => notice that the command hangs and Git output channel says t

[2019-12-13 18:31] JacksonKearl opened #1466 ""Your branch is old, Would you like to pull" causing merge conflict"
Not sure exact steps to get into this situation, but I had an old PR branch locally, the author added commits, rebased the whole thing onto master, then force pushed. I checked it out, and saw that the files were still in the old state.

I got a notification saying "This branch can be updated" or similar, but when I clicked "pull", I got a bunch of merge conflicts (the old changes conflicting with

[2019-12-13 23:58] #1465 closed

[2019-12-13 23:59] RMacfarlane commented on #1465
I checked in a fix to prevent showing the branch you are currently on in the quick pick and to properly exit on error. I'm still not sure why the git config is out of sync with git, I'm wondering if it's an issue with git for windows itself. What version are you using?

[2019-12-14 06:06] 2403772980ygy opened #1467 "proxy server ignored"
- Extension version: idk
- VSCode Version: 1.41.0-insider
- OS: windows build 19041.1

HTTPS_PROXY environment variable ignored: Invalid URL: 127.0.0.1:1080 at startup

Steps to Reproduce:

1. set https_proxy environment to this value
2. install the extension......

[2019-12-15 14:58] Ayivugwe commented on #1221
Hi there. I was facing the same problem and now I'm signed in.

Steps :

1) Click Sign in to github.com
2) Edge( in my case) opens the athaurization  link
3) Copy the link
4) In my case, I pasted it in Firefox Developer Edition and hint Enter
5) Success message : Authorization was successful
6) Then I was redirected to VS Code.
7) That's all and now I'm signed in.

[2019-12-15 23:36] JoyceMassau commented on #1234
+1
Pull request creation failed. Validation failed: You can't perform that action at this time.
- OS: Windows 10 Home Single

Any Solution for this?

[2019-12-16 11:22] OoDeLally opened #1468 "Unable to edit local file"
- Extension version: 0.13.0
- VSCode Version: 1.41
- OS: Linux Mint 19.1

Steps to Reproduce:
1. Check out a PR

![image](https://user-images.githubusercontent.com/1717629/70903060-5a93a080-1ffe-11ea-97e8-6ed48cffd258.png)

I'm on the correct PR branch.

2. Now I am unable to open the actual file to edit it.
The only option I have is to open it in GitHub.

![image](https://user-images.githubuserco

[2019-12-16 11:28] OoDeLally commented on #1468
When opening the local file in the regular way (edit-mode), I do have access to the comment.

![image](https://user-images.githubusercontent.com/1717629/70903513-55832100-1fff-11ea-992a-f386c4ec5cb7.png)

It proves that VSCode was able to make the connection between the remote file and the local file. But it simply doesnt give me the way to move from one to another.

[2019-12-16 15:21] sbatten commented on #1465
[code]

[2019-12-16 17:48] jdkorigan opened #1469 "keyboard shortcut Ctrl+P+Q for docker"
Hello,

not sure if it is a bug, but when executing a container on VS code for Windows in a terminal and want to get out without killing it, Ctrl+P+Q should be used. But keyboard shortcuts are already assigned,
so removing the intial keyboard shorcuts enable to make it work.
Ctrl-C doesn't work either, but exit can be used in that case.

Best regards

[2019-12-16 18:31] RMacfarlane commented on #1469
@jdkorigan I think you may have opened this issue in the wrong repository, this one is meant for the GitHub Pull Request extension. Perhaps https://github.com/Microsoft/vscode

[2019-12-16 18:31] #1469 closed

[2019-12-16 18:32] RMacfarlane commented on #1467
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/701

[2019-12-16 18:32] #1467 closed

[2019-12-16 18:42] RMacfarlane commented on #1466
I think what we should do is

- Only show option to pull if branch has not been force-pushed or rebased
- If branch has been rebased, show a different dialog asking if you want to hard reset to the new head commit

[2019-12-16 19:28] ChrisHines commented on #947
This was fixed for me by #1382 in release 0.13.0.

[2019-12-16 19:28] #947 closed

[2019-12-17 09:52] alexdima opened #1470 "Bad tree indent rendering"
I am just using the GH PR extension, and the changes in src/lib are rendered less indented than the changes in the root

I was expanding this PR -- https://github.com/microsoft/monaco-typescript/pull/51

![image](https://user-images.githubusercontent.com/5047891/70984800-68f3c200-20bb-11ea-97a3-bc36e69e5cd4.png)

[2019-12-19 08:16] ericblade commented on #1221
Same problem here on a new laptop that I'm configuring.  No matter what browser I used, if it was the default browser, it wouldn't work.  Started with Edge, tried Chrome, Vivaldi.  Ended up pasting the URL into Vivaldi and that got it to work.

[2019-12-19 18:04] quinnpatrick opened #1471 "Create predefined text for Description page comment field"
Background: Our auditors are looking for specific approval wording on the approval comment.
Request: It would be nice to use a keybinding (or other macro type feature) to enter a predefined comment.  We are doing this today via the "Replies" option on the web.

[2019-12-19 19:10] tirelibirefe commented on #1262
where did u enter that command?

[2019-12-19 21:34] manekenpix commented on #1262
@tirelibirefe terminal

[2019-12-25 09:48] segevfiner commented on #408
There are multiple duplicate issues like this, probably one that I opened too. And this is one of the reasons I'm not using this extension after trying it.

The way "Exit Review Mode" works is confusing, it doesn't exit review mode, it just switches branches. Meaning that once you switch back to the branch you will be in review mode again as that state in the extension is left behind.

In my opini

[2019-12-27 20:31] CarlosNihelton commented on #1411
That fix worked for me. I saved that command as a shell script on my Linux box and replaced the launcher command by the script. Worked like a charm!

[2019-12-30 18:30] emowtion commented on #1411
have the same problem, please fix it

[2019-12-30 22:42] Meno-101 opened #1472 "command 'pr.refreshList' not found"
- Extension version: 0.13.0
- VSCode Version: 1.41.1
- OS: Windows 10 Pro latest update.

Steps to Reproduce:

1. cloned the repository and installed dependencies.
2. the actual extension works but the running doesn't.

It's very similar to the Issue #1411 other than it's a clone version, feel free to close this PR, I felt it's related but in a different approach.

the running command is npm run w

[2020-01-02 20:46] mydogspies commented on #1411
This does unfortunately not work on my Windows 10 Pro machine. Guessing there is more to it. I also don't really see why Git would have to be installed? I admit I did not try it with Git installed but it's not mentioned as a prequisite for this plugin.

[2020-01-04 11:17] deerawan opened #1473 "Missing Rich Code Navigation"
- Extension version: 0.13.0
- VSCode Version: 1.41.1, 1.42.0-insider
- OS: Darwin x64 19.2.0

Steps to Reproduce:

1. Open vscode / vscode insider
2. Install Extension
3. Open PR
4. Try to click right to open menu but couldn't see code navigation options there e.g peek definition, go to definition. `cmd + click` is also not working.

![rich-code-navigation](https://user-images.githubusercontent.co

[2020-01-06 17:07] RMacfarlane commented on #1472
@Meno-101 Can you scroll up in the dev console to see if there is an error about the extension not activating?

[2020-01-06 18:25] RMacfarlane commented on #1473
@deerwan Unfortunately, code navigation only works if you have already checked out the pull request, and if you're exploring the files from the "Changes in Pull Request" tree that appears in that case. I would like to change it so that it also works from the tree in your screenshot as well when the PR is checked out. This issue covers that: https://github.com/microsoft/vscode-pull-request-github/i

[2020-01-06 18:25] #1473 closed

[2020-01-07 04:37] TheSpyder opened #1474 "Unable to sign in - certificate expired error"
- Extension version: 0.13.0
- VSCode Version: 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:57:51.166Z)
- OS: macOS Catalina 10.15.2 (Darwin x64 19.2.0)

Steps to Reproduce:

1. Click sign in to github
2. Accept the browser authorization request
3. Whether the browser activates vscode, or I copy the authorization token into the `manually provide response` prompt myself, it fails

[2020-01-07 08:26] deerawan commented on #1473
@RMacfarlane ah noted, thank you for your response. I tried from "Changes in Pull Request" and it works, I could navigate it well.

Your explanation about need to checkout first makes sense. 👍

[2020-01-07 15:41] iansan5653 opened #1475 "Error signing in to github.com: TypeError: s.env.createAppUri is not a function"
Version: 1.42.0-insider (user setup)
Commit: 629a08ed6231d7af269ae61a5cc610490d1f7f5d
Date: 2020-01-07T05:28:24.258Z
Electron: 6.1.6
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.16299
GitHub Pull Requests v0.13.0

Steps to Reproduce:

1. Open a repository in VSCode
2. Click "Sign in to github.com"

The extension errors with "Error signing into github.com"

[2020-01-07 18:05] RMacfarlane commented on #1475
Thanks @iansan5653, this should be fixed with https://github.com/microsoft/vscode-pull-request-github/commit/3375b2a0719b66fc56dcd6d8589d73e71e537a7a. Publishing a new version of the extension now.

[2020-01-07 18:05] #1475 closed

[2020-01-07 20:10] iansan5653 commented on #1475
Confirmed, thanks!

[2020-01-08 09:12] makeway4pK opened #1476 "Signing in after offline vscode startup requests new token"
Issue Type: <b>Bug</b>

1. Disconnect internet.
2. Start vscode into a workspace/project/folder that uses git
3. Github Pull Requests doesn't sign in (expected)
4. Connect to internet, after a while.
5. Github Pull Requests doesn't detect internet connection (expected, but can
    be a feature request).
6. Click on "Sign in to github.com" in status bar.
7. New browser window opens, asking for a ne

[2020-01-08 18:36] Meno-101 commented on #1472
Solved thanks 🙂

[2020-01-08 18:36] #1472 closed

[2020-01-10 00:47] gorandp commented on #1221
I got that problem but I fixed it.
OS: Ubuntu 18.04.3
Browser: Firefox 72.0.1
VS Code version: 1.41.1
Extension version: 0.14.0

Try this:
1. Log out from "github.com" in your default browser if you are already
2. Go to VS Code and try to sign in with the extension.
3. Press continue and then try to log in
4. Success page

But after that I got an error message inside the VS Code extension. And I g

[2020-01-11 18:01] benmcclelland commented on #1474
I am seeing the same issue.

Version: 1.41.1
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-18T14:57:51.166Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 19.2.0

extension version 0.14.0

[2020-01-13 18:51] IllusionMH commented on #1413
Looks like duplicate of #457

[2020-01-13 19:14] IllusionMH commented on #1241
Looks like it was implemented in #1173
`(draft)` is added to PR tree item description [code](https://github.com/microsoft/vscode-pull-request-github/pull/1173/files#diff-01df2fed876de92b7e2298ee7d0513f5R402)
![image](https://user-images.githubusercontent.com/1312662/72284419-98113b00-3649-11ea-87c1-eb4cd4365d2e.png)

Draft PR can be created using `>GitHub Pull Requests: Create Draft Pull Request`

[2020-01-13 20:01] RMacfarlane commented on #1241
Thanks @IllusionMH! Closing since this has been addressed with `(draft)` in the description

[2020-01-13 20:01] #1241 closed

[2020-01-13 21:38] RMacfarlane commented on #1413
Thanks @IllusionMH! Closing as a duplicate.

[2020-01-13 21:38] #1413 closed

[2020-01-16 22:20] liang2zhu1 commented on #339
The extension is awesome but this features is really blocking me from using that day-to-day

[2020-01-17 16:37] ghs180 commented on #339
This extension would be perfect if it had this feature :).

[2020-01-19 20:00] MosesMachua commented on #1411
For me the issue was Git was out of date on my mac. Updated via Homebrew and error went away.
$ brew update
$ brew upgrade git

[2020-01-21 10:31] msgongora commented on #1474
I'm having same issue after trying to sign in:

[```
Debug 167407s 650ms] PullRequestManager> Displaying configured remotes: origin, upstream
[Debug 167440s 213ms] Error signing in to github.com: Error: certificate has expired
[Debug 167440s 214ms] Error: certificate has expired
        at TLSSocket.onConnectSecure (_tls_wrap.js:1317:34)
        at TLSSocket.emit (events.js:200:13)
        at TLSS

[2020-01-21 18:19] Dan-Gamin commented on #1411
I also got this issue
![Screenshot_21](https://user-images.githubusercontent.com/58695417/72831272-2a898e00-3c8b-11ea-93db-75ea9c508328.png)

[2020-01-21 20:05] powershellshock commented on #1411
Got this same error trying to click on the config (gear) icon for this extension
![image](https://user-images.githubusercontent.com/19479179/72838984-6d357100-3c5f-11ea-8e03-0d26259fd276.png)

[2020-01-21 23:23] benmcclelland commented on #1474
I just checked, and this happens starting with plugin version 0.12.0.  The last working version is 0.11.2.  I am able to install an older version by clicking setting icon for the plugin and selecting "Install Another Version..." then selecting 0.11.2.

[2020-01-21 23:30] RMacfarlane commented on #1411
@Dan-Gamin @powershellshock If you don't click on any of the icons on the view and wait for a bit, does the view eventually load?

The icon on the activity bar is loaded in VSCode before the extension has been completely activated, I've created an issue about this in VSCode: https://github.com/microsoft/vscode/issues/89058 For me, on Windows, it can take about 15 seconds for the extension to actua

[2020-01-22 17:31] jongio opened #1478 "Remotes UI not clear"
I want to add a remote using the extension, the UI only has one text box.  What does it expect?  The URL to the remote or the name?  I think it should be two text boxes the name of the remote, i.e. 'upstream' and the remote 'https://github..."

![image](https://user-images.githubusercontent.com/2163001/72918134-fef1bc80-3cf9-11ea-821d-640c29bf3f10.png)

[2020-01-22 21:22] powershellshock commented on #1411
No.  I tried launching VScode and doing nothing for 1 minute, then clicked on the extension and waited another 1 minute before clicking on the configure (gear) icon.  Same result with identical error.

[2020-01-22 22:30] RMacfarlane commented on #1411
@powershellshock Can you try hitting F1 and then running Developer: Toggle Developer Tools and see if there is anything in the console? What version of VSCode and the extension are you using?

[2020-01-24 19:14] RogWilco opened #1479 "What other variables are available for queries besides ${user} ?"
The README has some great examples of how queries are constructed, but I was curious where the value for `${user}` comes from and whether there are any other variables available when adding custom queries.

I'd love to be able to reference things like the current branch name, or maybe even the current commit hash, etc.

[2020-01-24 19:37] RogWilco commented on #1479
To answer my own question, it looks like currently the `${user}` is the only available variable. Consider labeling this as a feature request rather than a question. I'd love to include other dynamic values in my PR queries (namely the currently checked out branch name).

[2020-01-27 06:38] devuser300 opened #1480 "GitHub pull requests Signin option not available"
In my VS code setup, I installed **GitHub Pull Requests** extension.
Now I need to sign in using **GitHub Pull Requests: Sign In to GitHub** but no such command shows up in Command Palette. Please help me understand if this command has been removed or replaced with some other command.

[2020-01-27 09:13] ldicarlo commented on #1480
Does launching code with that command works:
` code --enable-proposed-api GitHub.vscode-pull-request-github . ` ?

[2020-01-27 09:16] devuser300 commented on #1480
I am able to launch code with this command but the Signin option is still not available.

[2020-01-27 10:48] ldicarlo commented on #1480
Sign in should also appear inside the Github tab, on the left.

[2020-01-27 11:12] devuser300 commented on #1480
Sign In does not appears in the GitHub tab. For that matter, none of the options appear in that tab on the left.

[2020-01-27 11:57] adamchengtkc commented on #1480
I have the same problem. Turns out you most of the commands are only available after opening a folder with git already initialised. Is this intended behavior?

[2020-01-27 14:25] westbury commented on #1090
The underlying problem in vscode is fixed: https://github.com/microsoft/vscode/commit/afa24c3c042927973ac88935b173187b89f510d4

Once this makes it to the vs-code release you will no longer need to switch multiple times.  The other problem that @forstermatth and @mtxr have, however, still remains.

[2020-01-27 18:07] OgyCode10 commented on #1480
Having the same issue, after installing Git to my Mac, the only thing that shows up on the left panel is "No Git repositories found" but Does not give me the option to sign in, or give it a repository.

[2020-01-27 19:59] RMacfarlane commented on #1480
To load the list of pull requests, the extension needs the following:
- A folder must be open
- That folder needs to have git initialized, so we can tell what git repo to use
- You must sign in

For each of these, if the condition isn't met, a message should be displayed in the view. These conditions are ordered.  So @OgyCode10 the "No Git repositories found" message is by design. It should look l

[2020-01-28 04:50] devuser300 commented on #1480
![image](https://user-images.githubusercontent.com/60257165/73236292-ce0cfe00-41b7-11ea-836a-3674920ed01d.png)

[2020-01-28 08:21] devuser300 opened #1482 "Creating Pull Request from VS Code going on for too long"
I am creating a new pull request from VS Code. It is going on for almost an hour. VS Code just shows the status as **Creating Pull Request: Start creating pull request**. No updates other than that.

[2020-01-29 01:04] RMacfarlane commented on #1482
@devuser300 Can you provide some more information?

- What version of the extension are you using?
- What version of VSCode are you using?
- What is printed in the output console? (`F1` -> `View: Toggle Output` -> Select "GitHub Pull Request" from the dropdown) It looks like this:
![Screen Shot 2020-01-28 at 5 02 38 PM](https://user-images.githubusercontent.com/3672607/73319025-016b7f00-41f0-11ea-

[2020-01-29 07:00] gsbuildtechs commented on #1411
![image](https://user-images.githubusercontent.com/60421507/73334554-0b669f80-423b-11ea-932f-8fb4ffd6bc3e.png)
THis is what is printed in the output

[2020-01-29 10:15] DennstedtB opened #1483 ""Command 'pr.configurePRViewlet' not found""
After installing I try to do some settings ( on the Configure-button ) - but then I get the error message "command 'pr.configurePRViewlet' not found".

I use VS-Code Version 1.41.1 and extension version 0.14.0
This also happens when I use older versions ( tried every version til 0.10.0 )

What can I do?

EDIT:
My "About" info:
Version: 1.41.1 (user setup)
Commit: 26076a4de974ead31f97692a0d32f90d73

[2020-01-29 10:37] DennstedtB commented on #1483
don't know why - but now it works.

[2020-01-29 10:37] #1483 closed

[2020-01-29 16:23] powershellshock commented on #1411
notificationsAlerts.ts:38 Error: command 'pr.configurePRViewlet' not found
    at u._tryExecuteCommand (commandService.ts:80)
    at commandService.ts:73
    at processTicksAndRejections (internal/process/task_queues.js:89)
    at async o.run (actions.ts:190)

[cid:image002.png@01D5D696.7C050580]

[cid:image006.png@01D5D696.7C050580]

Regards,
Jared Poeppelman, CISSP | Identity and Cloud Security

[2020-01-29 16:27] ldicarlo commented on #1480
Please, can you confirm that your studio code is opened in a github repository ?

[2020-01-29 17:37] OgyCode10 commented on #1480
yes it is, I figured it out ty

On Wed, Jan 29, 2020 at 11:27 AM ldicarlo <notifications@github.com> wrote:

--
Emmanuel Tejeda
Biological Sciences
Talent Development

[2020-02-01 16:29] Vallek opened #1484 "Can't create comments from checkout pull request"
- Extension version:
- VSCode Version: 1.41.1
- OS: Windows 10

How I can't add comments:
1. Go to PR side panel
2. Click "checkout pull request" from context menu
3. Open local version of file
4. Add comment (plus buttons)
5. Click "Add comment"
6. Get error (see screenshot)
![pr1](https://user-images.githubusercontent.com/22982571/73595370-e9199e00-4528-11ea-9879-e737babe6f22.png)

How I can add

[2020-02-03 15:13] jasonwilliams commented on #1447
@RMacfarlane it might be worth closing this and saying you only support Github Enterprise 2.16 and up in the wiki

[2020-02-04 12:29] dentuzhik commented on #520
This issue relates to [this issue](https://github.com/microsoft/vscode-pull-request-github/issues/1278) as well, and for me I have to review PR in two places, one in VSCode because of a nice tree structure and editor, and another in Github to mark file as viewed. Would be great to have it in VSCode.

Can somebody maybe point to the place in source where one might think implementing this?
\cc @RMac

[2020-02-04 18:47] RMacfarlane commented on #520
Hey @dentuzhik!

There isn't a way to render a checkbox in the tree, but we could show a checkmark decoration next to files that are marked as viewed. In the below screenshot, the diamond and letter indicating the git status are tree decorations:
![Screen Shot 2020-02-04 at 10 22 19 AM](https://user-images.githubusercontent.com/3672607/73774108-4df71300-4738-11ea-8213-aff69cce6a09.png)
These are i

[2020-02-04 22:10] #1478 closed

[2020-02-04 22:10] RMacfarlane commented on #1478
Updated the setting description to note that it should be by name. By default, "origin" and "upstream" should appear in the list which would also hopefully make this clearer

[2020-02-04 23:49] jongio commented on #1478
Thank you Rachel!

[2020-02-04 23:54] RMacfarlane commented on #1484
Thanks for reporting this @Vallek! I'm having trouble reproducing this issue so far, I'll see if I can add some more logging to narrow down the problem. Do you consistently see this problem?

[2020-02-05 00:00] RMacfarlane opened #1486 "Review comment summary not rendered on description page"
Issue Type: <b>Bug</b>

1. Create a review on a PR and leave a summary
2. Open the description view of this PR

The summary comment is currently rendering with no content:
![Screen Shot 2020-02-04 at 3 59 52 PM](https://user-images.githubusercontent.com/3672607/73798345-67638380-4767-11ea-8106-1a4d3e324042.png)

Extension version: 0.14.0
VS Code version: Code - Insiders 1.42.0-insider (705f01577dd

[2020-02-05 00:22] #1486 closed

[2020-02-05 09:25] Vallek commented on #1484
Hi! I don't have a lot of repos to test it, but it never works with two repos I'm working with. I think it used to work some time ago.
Could it be some settings?

[2020-02-05 12:29] dentuzhik commented on #520
Much appreciated help, thank you 🙌
I will look over the code and see if I can make something work :)

[2020-02-05 20:03] judy commented on #339
Throwing my hat in here too. This extension is unusable to me until I can hide resolved comments/see only unresolved comments.

[2020-02-05 22:05] #1326 closed

[2020-02-05 22:05] RMacfarlane commented on #815
Should be fixed as part of https://github.com/microsoft/vscode-pull-request-github/commit/34a23f9d8e8e32edf802b96f128504668cb8e701

[2020-02-05 22:05] #815 closed

[2020-02-05 22:16] #866 closed

[2020-02-05 22:17] RMacfarlane commented on #890
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/450

[2020-02-05 22:17] #890 closed

[2020-02-05 23:59] #886 closed

[2020-02-07 17:28] kevintechie opened #1487 "Spell check comments"
Would it be possible to add spell check to the comment boxes?

[2020-02-08 21:58] Glandos opened #1488 "Wrong remote protocol"
- Extension version: 0.14.0
- VSCode Version: 1.42.0
- OS: Debian/unstable

Steps to Reproduce:

1. Try to checkout a PR within a repository where the remote is configured like `origin	git@github.com:Glandos/project.git`
2. The created remote for the PR is `author	git://git@github.com:author/project`
3. The checkout fails with:

[2020-02-10 19:37] mjbvz opened #1489 "High cpu usage with large log file"
Issue Type: <b>Bug</b>

Using the latest nightly, I'm seeing high cpu usage usage in the extension host with the latest nightly when I open a large log file:

![Screen Shot 2020-02-10 at 11 36 37 AM](https://user-images.githubusercontent.com/12821956/74183340-a11a0b80-4bf9-11ea-984a-e835f7d0a7d9.png)

Here's the file I was opening: [tsserver.log](https://github.com/microsoft/vscode-pull-request-gi

[2020-02-10 19:38] mjbvz commented on #1489
Hey @rebornix, I'm assigning you since @rebornix suggested this may be caused by your recent changes to detect user names and issue references

[2020-02-10 19:40] rebornix commented on #1489
Considering that the link detection is usually costly, we should move the computation below to workers, like what we did in the core

https://github.com/microsoft/vscode-pull-request-github/blob/4d89bf3c05e262f61f4302a43f654ad4aca3ce74/src/issues/issueLinkProvider.ts#L19-L32

[2020-02-10 19:51] rebornix commented on #1489
Discussed with @mjbvz about how to mitigate this issue as currently we don't have a facility in the extension host for mirroring text models in a worker, here are some of our proposals

1. Stop link detection after a certain amount of lines (@mjbvz opens a large ts log file which leads to this issue)
2. Move the computation to a worker. This would be the ideal solution as it mimics the core but we

[2020-02-11 16:46] alexr00 commented on #1489
Yes, the link detection is very costly. Can you point me to the code in core where we do `setTimeout` for tokenization? No matter what I've tried so far I still get the the unressponsive extension host warning with that large file.

[2020-02-11 17:07] mjbvz commented on #1489
@alexr00 Would it make sense to limit the length of the line we check as well? In most cases, I believe we would expect the issue reference to be within the first say 500 characters or so on a line (the exception being files like markdown that often use soft wrapping)

[2020-02-11 22:43] rebornix commented on #1489
@alexr00  Pointers to text model tokenization https://github.com/microsoft/vscode/blob/rebornix/notebook/src/vs/editor/common/model/textModelTokens.ts#L261-L293 .

[2020-02-11 23:59] TheSpyder commented on #1474
Seems to have fixed itself for the moment, decided to give it one more go before removing the extension and it worked. I'm not sure if there was a software update, or if whatever server the extension tries to connect to has changed certificates.

[2020-02-12 01:53] rebornix commented on #1489
Ran into this issue with a small file, which contains a long line and GHPR crashes the extension host

<details>

[code]
</details>

[2020-02-12 07:03] rebornix commented on #1489
After adding breakpoints to the link provider, I found that when a file is opened, the `provideDocumentLinks` method is invoked every second even if I didn't anything in VS Code on my machine. if @alexr00 can't reproduce this, I can take a look tomorrow.

[2020-02-12 10:08] alexr00 commented on #1489
@rebornix I don't see the link provider get called ever second. Is there something that's modifying the file you have open?

[2020-02-12 10:40] alexr00 commented on #1489
Added a max line count of 2000 and a max line length of 150 when line wrapping is off.

[2020-02-13 16:14] Tyriar opened #1491 "Hover doesn't add links for PR descriptions"
<img width="304" alt="Screen Shot 2020-02-13 at 8 13 10 AM" src="https://user-images.githubusercontent.com/2193314/74454426-bcbf2500-4e38-11ea-80c1-00fdfa931534.png">

Created one for the white follow link text at https://github.com/microsoft/vscode/issues/90614

[2020-02-14 22:38] neverendingqs opened #1492 "Refreshing causes comment boxes to be loaded again instead of updating the existing one"
Issue Type: <b>Bug</b>

* Load a pull request
* Add a comment on the web UI
* Note: comment does not automatically show up in VS Code
* Hit refresh
* Comment box with comment shows up in VS Code
* Hit refresh again
* Another comment box with the same comment shows up underneath the first one

Extension version: 0.14.0
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-

[2020-02-14 22:50] RMacfarlane commented on #1492
Thanks for reporting this!

[2020-02-15 12:52] Tyriar opened #1493 "Issue links should only be created for comments or actual links"
It's linkifying a bunch of CSS colors, ctrl+clicking them results in an error:

<img width="506" alt="Screen Shot 2020-02-15 at 4 49 18 AM" src="https://user-images.githubusercontent.com/2193314/74588109-b0f56f00-4fae-11ea-9107-0b29af698df9.png">

Code:

https://github.com/xtermjs/xterm.js/blob/5f0217cdb0baf353b3deedfab25e6e9b49c3d45f/addons/xterm-addon-webgl/src/WebglRenderer.api.ts#L898-L914

So

[2020-02-17 10:29] #1491 closed

[2020-02-17 10:31] alexr00 commented on #1491
Added detection of issue numbers in the issue body text. The PR review webview gets the issue body HTML instead of the issue body text. In the HTML, it's a link. I can't do that in the hover because the hover supports only markdown and I deliberately strip out most formatting to more closely match what the hovers on GitHub look like.

[2020-02-17 11:39] alexr00 commented on #1493
Hmm, I don't think we have real API for determining a SymbolKind at a position. @aeschli is that correct?
Checking if a potential link is actually an issue would be quite costly, so that doesn't seem like a good option either.

[2020-02-18 06:07] almaceleste commented on #1275
I think it is a very important feature request cause now it's very hard to find a desired pullrequest by its number.
If we have `prNumber` variable why it is not added before `title` to the `label`?
https://github.com/microsoft/vscode-pull-request-github/blob/0bc18142a7b54215bf98836403ffb728c6452a3b/src/view/treeNodes/pullRequestNode.ts#L366

[2020-02-18 17:18] MrMage commented on #339
+1. It would be great if resolved comments could at least be indicated _somehow_ in the UI, or if the extension could remember the "collapsed" state across closing and re-opening a particular diff.

[2020-02-18 22:16] Tyriar opened #1494 "Unwanted GitHub issue suggestions in untitled markdown file"
This was very unexpected as a user of `"files.defaultLanguage": "markdown"`, I don't think this should happen for untitled files:

<img width="721" alt="Screen Shot 2020-02-18 at 2 13 55 PM" src="https://user-images.githubusercontent.com/2193314/74782784-005ec800-5259-11ea-94b3-83e6391e83a3.png">

[2020-02-18 22:17] Tyriar opened #1495 "Issue suggestions popping up when editor.quickSuggestions is false"
I set this which is meant to disable all suggestions unless I explicitly ask for them:

[code]

Typing "C#" triggers it though:

<img width="391" alt="Screen Shot 2020-02-18 at 2 16 49 PM" src="https://user-images.githubusercontent.com/2193314/74782930-559ad980-5259-11ea-86e8-1089f26532f2.png">

Is this something that VS Code should prevent from happening based on the setting or should this extens

[2020-02-19 10:32] egamma opened #1496 "foo"
https://github.com/microsoft/vscode-pull-request-github/blob/5ae87ff6f1ad1b1a7278e579fdf86f65b6268e6a/src/github/issueOverview.ts#L23-L23

[2020-02-19 10:34] #1496 closed

[2020-02-19 12:16] GeorgeWL opened #1497 "Feature Request: Settings Option - Delete Branch after Merge"
# Proposed Reasoning
My workplace has the policy of "delete branch after Peer Review and Merge", I can imagine others may have the same.
What I'm proposing is a settings option for **Delete Branches after Merge**
[code]

[2020-02-20 16:06] alexr00 commented on #1495
I think that setting only suppresses suggestions when typing characters that aren't trigger characters. If the suggestion providers uses a trigger character then you'll still see the suggestions. @alexdima can you confirm this?

[2020-02-20 20:24] l3ender commented on #1474
I am still having this issue with VSC 1.42.1 on Windows with extension version 0.14.0.

I confirmed that the certificate is not expired and it is signed by a public CA.

[code]

@TheSpyder Could you please share any detail, or reopen the issue? Thanks!

[2020-02-20 22:59] alexdima commented on #1495
I don't know. @jrieken will know what the setting does.

@Tyriar your setting is for markdown files, are you typing in a markdown editor?

[2020-02-21 02:51] phuongnd08 opened #1498 "Cannot submit pull request comment"
- Extension version:
- VSCode Version:
- OS:

Steps to Reproduce:

1. Open a pull request
2. Select a file
3. Comment on a line
4. Expected: See commented posted. Actual:
![image](https://user-images.githubusercontent.com/184037/75000005-be6b9700-548f-11ea-9750-70c88f281a63.png)

[2020-02-21 05:26] jrieken commented on #1495
Correct

* `editor.quickSuggestions` trigger IntelliSense as you type words
* `editor.suggestOnTriggerCharacters` trigger IntelliSense as type trigger characters

[2020-02-21 08:41] alexr00 commented on #1495
Closing as desgined then.

[2020-02-21 08:41] #1495 closed

[2020-02-21 09:03] alexr00 commented on #1494
This should be fixed now.

[2020-02-21 09:05] alexr00 commented on #1493
This should be improved now.
However, there is no good way to determine if a something is a comment, so it's still not great.

[2020-02-21 09:10] #1493 closed

[2020-02-21 09:10] #1494 closed

[2020-02-21 15:00] Tyriar commented on #1495
fwiw this was an untitled file where the default language is markdown. I'll add `editor.suggestOnTriggerCharacters` to `[markdown]`, thanks.

[2020-02-21 15:33] matejcik opened #1499 ""We couldn't find commit" when submodules exist"
Issue Type: <b>Bug</b>

In review mode, clicking on any file in "changes in pull request" at all will yield the error "We couldn't find commit", and the diff will be empty or just contain the full text of the remote file.

to reproduce:
1. open a project with no submodules
2. check out a pull request locally, verify that the review mode generally works
3. close vscode
4. use `git submodule add` to

[2020-02-21 18:31] kieferrm opened #1500 "Setting to control the format of the issue link"
When creating an issue from code such as for a todo comment, currently the issue id is inserted in the code. I'd prefer to get the full URI. We should have a setting to control the behavior.

[2020-02-23 19:03] amundv commented on #1025
This seems to still be the case:
[code]

[2020-02-25 14:12] Tyriar opened #1502 "Only 2 suggestions single #"
![image](https://user-images.githubusercontent.com/2193314/75254745-afd5f600-5795-11ea-9f3c-af18da6831e6.png)

In this file but seems to be repo wide https://github.com/Tyriar/xterm.js/blob/master/test/api/MouseTracking.api.ts

Upstream repo is configured as `ups` and I set this:

[code]

Version: 1.43.0-insider (user setup)
Commit: 89cafb24e5d75a0c8d561a6cdd95e93b5679e152
Date: 2020-02-25T05:29:4

[2020-02-25 14:14] Tyriar opened #1503 "Hovers/links don't seem to work anymore?"
![image](https://user-images.githubusercontent.com/2193314/75254915-f592be80-5795-11ea-9147-07b94b021d8d.png)

Expecting this hover:

![image](https://user-images.githubusercontent.com/2193314/75254970-0b07e880-5796-11ea-9388-fd91c4a4c372.png)

Version: 1.43.0-insider (user setup)
Commit: 89cafb24e5d75a0c8d561a6cdd95e93b5679e152
Date: 2020-02-25T05:29:49.719Z
Electron: 7.1.11
Chrome: 78.0.3904.130

[2020-02-25 14:15] Tyriar opened #1504 "Suggestion doesn't appear when triggering intellisense manually"
Trigger completion with #:

![image](https://user-images.githubusercontent.com/2193314/75255040-2c68d480-5796-11ea-80d6-ffc8bbe60ca2.png)

Press esc and then ctrl+space:

![image](https://user-images.githubusercontent.com/2193314/75255009-1eb34f00-5796-11ea-8dcc-f77b063fc642.png)

Version: 1.43.0-insider (user setup)
Commit: 89cafb24e5d75a0c8d561a6cdd95e93b5679e152
Date: 2020-02-25T05:29:49.719Z
E

[2020-02-25 14:21] Tyriar opened #1505 "Hover gets reloaded even when hovering over different characters in the link"
![reload](https://user-images.githubusercontent.com/2193314/75255544-f5df8980-5796-11ea-9666-d09ccd7d4f83.gif)

Version: 1.43.0-insider (user setup)
Commit: 89cafb24e5d75a0c8d561a6cdd95e93b5679e152
Date: 2020-02-25T05:29:49.719Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Ext: 2020.2.29762

[2020-02-25 14:24] Tyriar opened #1506 "Links to comments should preview the comment text, not the original issue text"
![image](https://user-images.githubusercontent.com/2193314/75255829-671f3c80-5797-11ea-99c5-5acd01ceca84.png)

Expectation:

![image](https://user-images.githubusercontent.com/2193314/75255891-81f1b100-5797-11ea-9d86-20776a93970b.png)

https://github.com/xtermjs/xterm.js/issues/702#issuecomment-539105873

Version: 1.43.0-insider (user setup)
Commit: 89cafb24e5d75a0c8d561a6cdd95e93b5679e152
Date: 2

[2020-02-25 14:27] Tyriar opened #1507 "Link hovers work inconsistently"
The hover shows up sometimes and not others. Link to xtermjs/xterm.js inside a microsoft/vscode clone.

![image](https://user-images.githubusercontent.com/2193314/75256001-a8175100-5797-11ea-9ee0-b074544e5ff0.png)

There is this in the console which may or may not be related

<details><pre><code>ERR file:///c%3A/Users/daimms.REDMOND/Documents/dev/Microsoft/vscode has no GitHub remotes: Error: file

[2020-02-25 14:30] Tyriar opened #1508 "Hover preview whitespace and newlines should be combined into a single new line"
![image](https://user-images.githubusercontent.com/2193314/75256380-3d1a4a00-5798-11ea-8f4e-c3a7059cf423.png)

There should be a space before "Related".

github.com:

![image](https://user-images.githubusercontent.com/2193314/75256419-4c00fc80-5798-11ea-903d-5215f6907892.png)

Version: 1.43.0-insider (user setup)
Commit: 89cafb24e5d75a0c8d561a6cdd95e93b5679e152
Date: 2020-02-25T05:29:49.719Z
Elect

[2020-02-25 14:31] alexr00 commented on #1502
It's because the other issues there don't have a milestone assigned to them. I'll add a setting for including/excluding issues without a milestone.

[2020-02-25 14:32] Tyriar opened #1509 "Links to GH in hover preview should be truncated to #x links"
Expected: `#696`

![image](https://user-images.githubusercontent.com/2193314/75256586-8074b880-5798-11ea-9db8-15cd250548af.png)

Note also this particular link is a little more complicated as `sourcelair/xterm.js` was moved to `xtermjs/xterm.js`. If you validate the link this could be harder as you need to follow the redirect.

Version: 1.43.0-insider (user setup)
Commit: 89cafb24e5d75a0c8d561a6cd

[2020-02-25 14:34] alexr00 commented on #1503
Do you have master checked out? I tried to repro, and I saw some weirdness when the branch wasn't master.

[2020-02-25 14:34] Tyriar commented on #1502
I don't understand? Why would a milestone affect the completions?

[2020-02-25 14:35] alexr00 commented on #1504
This is intentional so that the issues suggestions don't show up everywhere. The suggestions only show if you trigger manually and there is a '#' to the left of the cursor.

Do you find this behavior to aggressive?

[2020-02-25 14:37] Tyriar commented on #1503
Yes it's master. It's Tyriar/xterm.js checked out to master, with xtermjs/xterm.js as remote `ups` and setting:

[code]

[2020-02-25 14:38] Tyriar commented on #1504
So when I'm after suggestions it could make it difficult to correct it, or to view what that issue was quickly without touching the mouse, since I need to start with # and re-enter it. Wouldn't providing it when `<separator>#<number>` is the proceeding text be more natural?

[2020-02-25 14:41] Tyriar opened #1510 "Links should follow redirects"
This link simply doesn't work because the Googlechrome/puppeteer -> puppeteer/puppeteer redirect isn't followed.

![image](https://user-images.githubusercontent.com/2193314/75257372-b5cdd600-5799-11ea-849f-ca6aa85e4f7f.png)

[code]

Version: 1.43.0-insider (user setup)
Commit: 89cafb24e5d75a0c8d561a6cdd95e93b5679e152
Date: 2020-02-25T05:29:49.719Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12

[2020-02-25 14:43] Tyriar opened #1511 "Issue link following hover title is redundant"
The red link just adds visual noise imo since the link number and link is available with ctrl+clicking the actual link (where the cursor already is initially) or by clicking "Follow link".

![image](https://user-images.githubusercontent.com/2193314/75257519-f2013680-5799-11ea-88fe-e1c7032e30db.png)

Version: 1.43.0-insider (user setup)
Commit: 89cafb24e5d75a0c8d561a6cdd95e93b5679e152
Date: 2020-02

[2020-02-25 14:44] Tyriar commented on #1508
A more extreme case of the problem:

![image](https://user-images.githubusercontent.com/2193314/75257697-2ffe5a80-579a-11ea-80c3-f5c10965c99b.png)

[2020-02-25 14:45] Tyriar commented on #1509
For external repo links it should be `user/repo#num`

[2020-02-25 14:47] Tyriar opened #1512 "GH links seem to break actual URLs containing hash fragments"
![image](https://user-images.githubusercontent.com/2193314/75257907-89668980-579a-11ea-95a2-f098dbe45a4f.png)

Line: https://github.com/xtermjs/xterm.js/blob/ae135ac181b080fce0a13853c19a768c973cc4be/yarn.lock#L40

Another case:

![image](https://user-images.githubusercontent.com/2193314/75258006-ae5afc80-579a-11ea-81e4-bd1032653a90.png)

Version: 1.43.0-insider (user setup)
Commit: 89cafb24e5d75a0

[2020-02-25 14:48] Tyriar commented on #1503
Another case:

![image](https://user-images.githubusercontent.com/2193314/75258146-e3ffe580-579a-11ea-90ea-135b7e97b841.png)

[2020-02-25 14:52] Tyriar opened #1513 "Register link provider after you know the maximum issue count"
An extension of https://github.com/microsoft/vscode-pull-request-github/issues/1493 and suggestion to fix the linkifying CSS problems; Could you check the max issue count before registering a link provider and make sure at the very least that the number of digits does not exceed that? This would solve matching CSS numbers for the vast majority of repos (VS Code is only just now almost at 100000).

[2020-02-25 14:54] Tyriar opened #1514 "Ensure links are not provided when numbers are followed by alpha-numeric characters"
In order to avoid matching on general hex values, could we make sure [a-zA-Z] does not follow the regex? This should not get matched:

![image](https://user-images.githubusercontent.com/2193314/75258714-c2ebc480-579b-11ea-8412-6a526d6beba0.png)

It might even be better to have a whitelist of allows characters afterwards if this works, for example whitespace, colon, semi-colon, comma, etc.

Version

[2020-02-25 15:00] Tyriar opened #1515 "Hovers can conflict with color picker"
Not sure what the answer is here but it's a bit wonky when the color picker shows up for the text at the link. The follow link tooltip does not show up and holding ctrl+hover will flash the link on and off.

![image](https://user-images.githubusercontent.com/2193314/75259148-6b018d80-579c-11ea-8a7e-ae8620941b0c.png)

Version: 1.43.0-insider (user setup)
Commit: 89cafb24e5d75a0c8d561a6cdd95e93b5679

[2020-02-25 15:02] Tyriar commented on #1503
Might be related to this error in console, there is a lot of them:

[code]

[2020-02-25 15:04] Tyriar commented on #1515
In settings:

![image](https://user-images.githubusercontent.com/2193314/75259552-0e52a280-579d-11ea-84c1-9336700911d0.png)

[2020-02-25 15:20] alexr00 commented on #1502
Projects use milestones to organize issues, so I build the query around milestones. I left out issues without a milestone because we rarely work on issues without a milestone. So I just need to include an option for allowing issues without a milestone.

[2020-02-25 15:20] alexr00 commented on #1504
Yes, that would work too. I'll update the check to include numbers after the #.

[2020-02-25 15:25] alexr00 commented on #1511
I'm going to remove the link provider, so this will be the way to go to the issue.

Until there is a different API for providing links in a more performant way, the link provider doesn't work well.

[2020-02-25 15:25] #1511 closed

[2020-02-25 15:34] alexr00 commented on #1508
I think the way these hovers look on GitHub is that there are no new lines, but there are spaces. I've fixed the issue by adding in a space where the new line was.

[2020-02-25 15:35] #1508 closed

[2020-02-25 15:38] Tyriar commented on #1502
@alexr00 key word there is _we_, shouldn't the default work on all issues and allow users to refine that to just the nearest milestone if they want to?

[2020-02-25 15:42] #1512 closed

[2020-02-25 15:42] alexr00 commented on #1512
Removed the link provider, since that needed to be done anyway.

[2020-02-25 15:43] alexr00 commented on #1513
I removed the link provider, so this shouldn't be a problem anymore.

[2020-02-25 15:43] #1513 closed

[2020-02-25 15:44] alexr00 commented on #1514
Link provider has been removed. If we decide to add it back, I will definitely make this change.

[2020-02-25 15:44] #1514 closed

[2020-02-25 15:49] alexr00 commented on #1515
Funny, the hover I see becomes scrollable. I'll fix the hover provider to not allow alpha numeric characters after it as you suggested in another issue.

[2020-02-25 15:55] Tyriar opened #1516 "Handle colon following create issue triggers"
I think this format is pretty common:

![image](https://user-images.githubusercontent.com/2193314/75264311-195d0100-57a4-11ea-94c8-e445a2f7b9d6.png)

Version: 1.43.0-insider (user setup)
Commit: 89cafb24e5d75a0c8d561a6cdd95e93b5679e152
Date: 2020-02-25T05:29:49.719Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Ext: 2020.2.29762

[2020-02-25 15:56] alexr00 commented on #1502
I was worried that fetching all issues without a milestone might end up being a lot of data, but I can include them by default and if people don't like it they can configure.

[2020-02-25 15:59] Tyriar opened #1517 "Issue are disabled for this repo"
Trying to create an issue for this line https://github.com/Tyriar/xterm.js/blob/ae135ac181b080fce0a13853c19a768c973cc4be/addons/xterm-addon-webgl/src/renderLayer/CursorRenderLayer.ts#L137

![image](https://user-images.githubusercontent.com/2193314/75264649-938d8580-57a4-11ea-82da-5c125f0e5708.png)

Likely related to my `ups` setup

Version: 1.43.0-insider (user setup)
Commit: 89cafb24e5d75a0c8d561

[2020-02-25 17:33] Tyriar commented on #1517
Still fails when I add an `upstream` remote:

[code]

[2020-02-25 18:05] Tyriar commented on #1502
@alexr00 can some of that loading be done lazily? If you had the highest issue or PR number you would know all the possibilities, then only going to the server when we need to display it?

[2020-02-25 20:27] connor4312 commented on #1516
Ran into this as well. Maybe it should match whitespace + todo + `.*`. I usually format my todos like `// todo(connor4312): something` so people know who to call if the blame gets obfuscated.

[2020-02-25 20:30] connor4312 opened #1518 "Issue links show loading state in editor until focus is restored"
1. Have your browser in another monitor
2. Click on an issue link in VS Code
3. The issue opens on the other monitor, but the loading state atop the editor sticks around until you focus back on the VS Code window

[2020-02-25 20:33] connor4312 opened #1519 "Create issue from selection doesn't include selected code"
I made [this selection](https://memes.peet.io/img/20-02-18aad58e-b11d-4a59-a3c1-588e7931885a.png) in a repo and ran the command "create issue from selection". I expected the selected code to be embedded in the created issue https://github.com/connor4312/mopidy-azure/issues/2, but it wasn't.

[2020-02-25 20:39] connor4312 opened #1520 "Code permalink fails if there's no remote tracked branch"
When I tried creating a permalink for some code, I got the rather cryptic message:

![](https://memes.peet.io/img/20-02-2c9a9631-ec37-41e6-ae35-0e6ab20cb331.png)

I figured out it's because my local branch wasn't tracking against the remote. It would be useful to show that, or open the permalink anyway if we see there's a remote branch that matches the local branch name.

[2020-02-25 20:50] connor4312 opened #1521 "Only suggest issues if already in a comment?"
Python uses `#` as its comment delimiter, which triggers issue suggestions every time I start writing a comment. Is there a way to only offer the completion if the `#` is in the body of a comment?

![image](https://user-images.githubusercontent.com/2230985/75286463-6f926a00-57cd-11ea-9a1e-1a2c96654f6b.png)

[2020-02-25 20:54] connor4312 opened #1522 "Issues without a milestone don't appear in suggestions"
We can `ignoreMilestones`, but it seems like issues without a milestone are never shown in completion. Many smaller projects or maintenance-mode projects without planned releases don't use milestones.  Maybe we should show them and have some magic `<None>` option in ignoreMilestones to refer to them.

[2020-02-25 20:59] connor4312 opened #1523 "A way to reference closed issues or issues not assigned to the user"
For most of my personal projects, the workflow I follow is merging several PRs/issues and then listing them in the changelog in a followup commit, e.g. https://github.com/connor4312/cockatiel/commit/7b7c100e950e320d85ce285afdb2a562949bce8f. However, I won't be able complete them, since they're closed (and if I have other contributors who have issues assigned to them that I'm mentioning in the chan

[2020-02-25 21:05] connor4312 opened #1524 "Adjust permalinks for locally changed files"
More of a feature request, and I'm not sure how possible this is, but it would be nice to have the permalink position automatically correct for any local/unstaged position changes.

[2020-02-26 02:30] kieferrm opened #1525 "Can't create a pull request"
Issue Type: <b>Bug</b>

My steps where:
- create a branch and push it to `origin`
- Select `Create Pull Request` from the command palette
- Enter `master` and select `commit`
-> Validation failed

Log info:
[code]

Extension version: 2020.2.29762
VS Code version: Code - Insiders 1.43.0-insider (89cafb24e5d75a0c8d561a6cdd95e93b5679e152, 2020-02-25T05:28:31.292Z)
OS version: Darwin x64 18.7.0
Remote

[2020-02-26 03:11] kieferrm opened #1526 "PR clogs up extension host for files with super long lines"
It seems that the todo code action provider cannot handle long lines. See [attached profile](https://github.com/microsoft/vscode-pull-request-github/files/4253229/GitHub.vscode-pull-request-github-insiders-unresponsive.cpuprofile.txt).

My use case: When generating updates for the GDPR registry I generate large single line `json` files. I can provide such a file. When I open one of those with the

[2020-02-26 08:02] alexdima opened #1527 "Garbled rendering of issue content"
Testing https://github.com/microsoft/vscode-internalbacklog/issues/947

* open `build/lib/standalone.ts` in vscode
* hover around line 295 on the link `https://github.com/Microsoft/monaco-editor/issues/148`

| ORIGINAL | VS CODE HOVER |
|---|---|
| ![image](https://user-images.githubusercontent.com/5047891/75323833-f569f000-5875-11ea-89dd-3e7a8f69a89b.png) | ![image](https://user-images.githubuser

[2020-02-26 08:39] alexdima opened #1528 "User card hover should render the profile image larger"
Testing https://github.com/microsoft/vscode-internalbacklog/issues/947

On GitHub, the user card preview renders the user avatar a lot larger than the VS Code hover does:

| GitHub | VS Code Hover |
|---|---|
| ![image](https://user-images.githubusercontent.com/5047891/75326894-be96d880-587b-11ea-9dc8-9e1a48a497e6.png) | ![image](https://user-images.githubusercontent.com/5047891/75326920-cbb3c780-

[2020-02-26 08:42] alexdima opened #1529 "Render user profile pictures as suggestion icons"
Testing https://github.com/microsoft/vscode-internalbacklog/issues/947

IMHO it would be better if the user profile picture would be rendered as the suggestion icon instead of the current icon:

![image](https://user-images.githubusercontent.com/5047891/75327133-26e5ba00-587c-11ea-9459-8174ea8a8b78.png)

[2020-02-26 08:47] alexdima opened #1530 "Render labels and open / close state in the issue hover"
Testing https://github.com/microsoft/vscode-internalbacklog/issues/947

Labels are very useful for me to quickly figure out what an issue is about. I would find it helpful if the labels would be rendered in the issue hover.

For example, `https://github.com/Microsoft/vscode/issues/34162`:

![image](https://user-images.githubusercontent.com/5047891/75327444-b1c6b480-587c-11ea-88ff-9741896f0a60.png)

[2020-02-26 08:56] alexr00 commented on #1529
https://github.com/microsoft/vscode/issues/91541, which could enable this.

[2020-02-26 08:58] alexr00 commented on #1530
@alexdima I had labels shown after the issue body, but removed it because folks thought they weren't useful without the colors. Would you still find labels useful if they were missing the colors?

[2020-02-26 09:28] alexr00 commented on #1527
Just putting a link to that same issue here so I can see GitHub's hover
https://github.com/Microsoft/monaco-editor/issues/148

[2020-02-26 09:39] #1527 closed

[2020-02-26 09:40] alexdima opened #1531 "Issue number intellisense does not work consistently"
Type `Fixes #` in the commit message. A list of issues appears:
![image](https://user-images.githubusercontent.com/5047891/75332072-120d2480-5884-11ea-935a-da1b87071407.png)

Type `91`. The list of issues narrows down:
![image](https://user-images.githubusercontent.com/5047891/75332205-48e33a80-5884-11ea-9a99-8546a7e0fd45.png)

Close the suggestions and retrigger them via Ctrl+Space. The list of i

[2020-02-26 09:41] alexr00 commented on #1527
Caused by bad counting when finding links in the issue body. Between that fix and the fix for adding spaces for new lines it now shows this:
![image](https://user-images.githubusercontent.com/38270282/75332379-91025d00-5884-11ea-80d4-563c67f8583b.png)

[2020-02-26 09:42] alexr00 commented on #1531
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/1504

[2020-02-26 09:43] alexr00 commented on #1531
I don't show the issue suggestion when triggered manually. But if the text looks like `#91` (# followed by numbers) it should show the issues when triggered.

[2020-02-26 09:43] #1531 closed

[2020-02-26 09:53] alexdima commented on #1530
I would personally like to see labels.

I am not sure how the rendering was before, do you have a screenshot?

[2020-02-26 09:59] alexr00 commented on #1530
I don't have a screen shot, but the hover is limited to markdown, so I showed them below the issue body in italics.

[2020-02-26 10:10] alexr00 commented on #1523
For the issues, we can definitely do this. What would be more useful for you: some setting that changes the the suggestion list to include closed issues, or the suggestion list switching to show only closed issues when you type "closed" after triggering the suggest? Or, as you suggest a command.

Users are harder. Currently, the user list comes from the repository. Where do the users you want to s

[2020-02-26 10:16] alexr00 commented on #1502
@Tyriar It's a trade off. When you type to filter, the issue body text is included in the filtering, which we couldn't do if it is lazily loaded.  I'll add no-milestone issues and we'll see what people think. Most projects are smaller, so it probably won't be an issue.

[2020-02-26 10:16] alexr00 commented on #1522
Yes, will add. Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/1502

[2020-02-26 10:16] #1522 closed

[2020-02-26 10:21] alexr00 commented on #1521
I wish I could do this, but the VS Code API doesn't have anything to support this. I've opened https://github.com/microsoft/vscode/issues/91555 to track this API request.

[2020-02-26 10:22] alexr00 commented on #1519
Your expectation was correct, this is a bug.

[2020-02-26 14:16] Tyriar commented on #1502
@alexr00 ah I see the problem, how many issues do you fetch?

Could you refine the results as you type or are they all needed up front? For example `#` fetches the latest x issues, `#1` fetches issues starting with 1 (1, 10, 11, ..., 100, 101, ...), `#12` fetches issues starting with 12, etc? It would be a shame if it only worked for a selection of issues.

[2020-02-26 15:22] alexr00 commented on #1502
@Tyriar As a user, I don't pay any attention to the issue number so I value having the body as filter text more. I could fetch only the n most recently touched issues with no milestone and include those in the list.

It is possible to refine the results as you type. I'm new to graphql, so maybe there's a way to do as you suggest with issues beginning with 1 with only one query, but I think it woul

[2020-02-26 15:48] connor4312 commented on #1523
I think this would be a good approach :)

Maybe the union of collaborators + [contributors](https://developer.github.com/v3/repos/#list-contributors)?

[2020-02-26 16:46] IllusionMH commented on #1523
Most broad option might be `mentionableUsers` in https://developer.github.com/v4/object/repository/

But not sure if it is frequent practice to mention issue authors, commenters, reviews in code.

[2020-02-26 19:16] voodoo144 commented on #1107
same issue

[2020-02-27 06:51] TheSpyder commented on #1474
It's failing again for me too. What a mess.

[2020-02-27 09:53] alexr00 commented on #1519
Do you have anything atypical about your git remote? I tried the same thing and it worked (https://github.com/connor4312/mopidy-azure/issues/6 sorry for polluting your repos issues!).
Can you also try the Open Permalink in GitHub command?

[2020-02-27 10:27] #1515 closed

[2020-02-27 13:21] alexr00 commented on #1518
I've removed links since they were not performant. But what platform were you seeing this with, and does it occur with non-issue links?

[2020-02-27 13:32] #1526 closed

[2020-02-27 13:32] alexr00 commented on #1526
Limited lines to 150 characters.

[2020-02-27 16:10] connor4312 commented on #1519
I think this may be the same as https://github.com/microsoft/vscode-pull-request-github/issues/1520 -- I didn't originally have the branch tracked (I have gp and gl locally aliased to `git push origin $(git_current_branch)` and `git pull origin $(git_current_branch)`)

[2020-02-27 16:26] connor4312 commented on #1518
I actually don't see this on OSX or my windows VM at work. I'll try to reproduce it again when I get home tonight and see if I can figure out what the difference is.

[2020-02-27 16:32] alexr00 commented on #1519
That would do it. I'll call this a dupe of #1520 then, since there needs to better handling of remotes in general.

[2020-02-27 16:32] #1519 closed

[2020-02-27 23:22] octref opened #1532 "Make reactions the same order as GitHub"
- Extension version: 2020.2.29762 nightly
- VSCode Version: 1.42
- OS: macOS 10.14

![image](https://user-images.githubusercontent.com/4033249/75495989-c7b7a080-5974-11ea-8060-cb34a2f5f7dc.png)

Having frown as the closest pick isn't really nice.

![image](https://user-images.githubusercontent.com/4033249/75495962-b66e9400-5974-11ea-8845-7e1c9368ccfb.png)

[2020-02-29 20:32] ahmelsayed opened #1533 "Highlighting/intellisense is wrong for the change in C# PRs"
I tried searching for 'highlight', 'hover', 'tooltip' but couldn't find any issues that seemed related. I could be wrong.

- Extension version: 0.14.0
- VSCode Version: 1.42.1
- OS: Windows (Using WSL2)

Steps to Reproduce:

1. Open a C# PR, I was looking at this one in particular https://github.com/Azure/azure-functions-core-tools/pull/1857, but it happens for all C# PRs I tried. Works fine for a

[2020-03-01 18:01] egamma commented on #1516
@connor4312 suggest that you also consider using `todo@connor4312`. It is one character less and the PR extension also offers completions when entering `@`.

[2020-03-01 18:05] egamma opened #1534 "'Create Issue from Comment' -> 'Create Issue'"
Since the code action also shows up when you are not in a comment

![image](https://user-images.githubusercontent.com/172399/75630850-5aaf3f80-5bee-11ea-8ab7-6399c8336c5d.png)

I suggest to rename the code action to 'Create Issue'.
I would also make the code action more specific to github: 'Create GitHub Issue'

[2020-03-02 09:57] egamma opened #1535 "Issues: Issue completions should handle repos with no milestones"
When a repository has no milestones or when an issue is not assigned to a milestone the there are no # completions. In this case I suggest to just show the 50 most recent (by modification date) issues.

[2020-03-02 10:23] IllusionMH commented on #1535
Looks like #1502

[2020-03-02 12:48] #1502 closed

[2020-03-02 15:09] #1534 closed

[2020-03-02 15:51] alexr00 commented on #1530
For open/close state, we use the same icon that GitHub uses, albeit without the color:
![image](https://user-images.githubusercontent.com/38270282/75692487-f059d600-5ca5-11ea-8d83-f411d1f48f60.png)
vs
![image](https://user-images.githubusercontent.com/38270282/75692581-11222b80-5ca6-11ea-9ca7-1e0049c8a85b.png)

[2020-03-02 16:03] alexr00 commented on #1530
And, here is how I had labels before:
![image](https://user-images.githubusercontent.com/38270282/75693756-b984bf80-5ca7-11ea-8fd1-158a9445c3b7.png)

I will re-add them and you can see what you think.

[2020-03-02 16:08] alexdima commented on #1530
Thank you for the screenshot. I see that it is almost impossible to get a good looking rendering using the current limited Markdown... We should also ask @jrieken for ideas... Maybe we can allow some subset of HTML ... ?

[2020-03-02 21:06] Romalouz commented on #1107
Same issue.
Extension Version: 0.14.0
VS Code: 1.42.1
OS: Windows_NT x64 10.0.17763

[2020-03-03 13:32] alexr00 commented on #1528
I can't align the text with the top of the image, but this still looks better
![image](https://user-images.githubusercontent.com/38270282/75780517-cc58cc00-5d5b-11ea-98fb-25bbd5ab6135.png)

[2020-03-03 13:35] #1528 closed

[2020-03-03 13:41] #1520 closed

[2020-03-03 13:42] alexr00 commented on #1520
I updated the message to "'Unable to create a GitHub permalink for the selection. Check that your local branch is tracking a remote branch."

[2020-03-03 13:45] alexr00 commented on #1516
It now does the insert in the first whitespace after the "todo" (or whatever your "todo" is). It does the same for the suggested issue title too.

[2020-03-03 13:45] #1516 closed

[2020-03-03 14:16] alexr00 commented on #1503
The problem here is that I currently assume that issues come from the `origin` remote, and in your case they come from the `ups` remote. I'll try to guess which remote you want (the first one that has a matching issue) and I'll add a setting `githubIssues.defaultRemote`. It will only impact issues written as `#123`, and not ones that are fully qualified (microsoft/vscode#123).

[2020-03-03 14:37] #1503 closed

[2020-03-03 14:38] alexr00 commented on #1507
@Tyriar I think this has been fixed by one of the other changes I've made since I can't reproduce it. Let Please re-open if you're still seeing it!

[2020-03-03 14:38] #1507 closed

[2020-03-03 14:43] alexr00 commented on #1510
The PR extension isn't providing that link, it's coming from core. I also see it followed correctly when I control click on it.

[2020-03-03 14:54] #1505 closed

[2020-03-03 16:48] alexr00 commented on #1517
Looks like there does need to be a setting for the default remote for issues. Otherwise, there is no way to know which remote you actually want to use for issues.

[2020-03-03 16:51] Tyriar commented on #1517
@alexr00 that setting already exists: githubPullRequests.remotes, you should use whatever logic the PR part uses to get the main upstream.

[2020-03-03 17:01] alexr00 commented on #1517
But if you have several remotes listed there then I still don't know where to create the issue.

[2020-03-03 17:04] #1500 closed

[2020-03-04 01:18] roblourens opened #1537 "EH is unresponsive"
![image](https://user-images.githubusercontent.com/323878/75835124-de923480-5d72-11ea-932b-68f3eaabe7b7.png)

Seems to be spending a lot of time in `issueMarkdown`, I am only seeing this in the vscode repo. If I reload the window it works for awhile.

[GitHub.vscode-pull-request-github-insiders-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-pull-request-github/files/4284530/GitHu

[2020-03-04 01:26] roblourens commented on #1537
I think this happens every time I start typing an issue number in the scm input

[2020-03-04 08:08] egamma commented on #1535
@IllusionMH agreed same issue, closing this one, thanks.

[2020-03-04 08:08] #1535 closed

[2020-03-04 08:43] #1504 closed

[2020-03-04 08:54] alexr00 commented on #1537
`issueMarkdown` has gotten more expensive since I added link detection within the issue body text. This needs to move to resolveCompletionItem.

[2020-03-04 08:56] #1537 closed

[2020-03-04 15:19] Tyriar commented on #1517
@RMacfarlane does the PR part do something clever happen here or does it just pull all PRs from all remotes?

[2020-03-04 15:20] Tyriar commented on #1510
@alexr00 by link I meant hover; the hover for the link should follow redirects so there is information available from `puppeteer/puppeteer`.

[2020-03-04 18:49] RMacfarlane commented on #1517
When listing PRs, it pulls PRs from all remotes, with some paging logic.

For creating PRs, we also have the issue of deciding which remote to use. We try to identify which one is the upstream, and show a quickpick to the user:
https://github.com/microsoft/vscode-pull-request-github/blob/773112bcc871ca16ae4922f2b7e7175deaa2e011/src/view/reviewManager.ts#L713-L717

Maybe it would be good enough to

[2020-03-04 19:42] #1532 closed

[2020-03-04 20:25] #1492 closed

[2020-03-04 23:08] RMacfarlane opened #1538 ""Checkout" button does not update on description page"
Issue Type: <b>Bug</b>

1. Open a description page of a PR
2. Click "Checkout"

PR branch is switched to and other UI updates, but the checkout button remains instead of switching to "Exit Review Mode". It appears after closing and reopening the description page

Extension version: 2020.3.5285
VS Code version: Code - Insiders 1.43.0-insider (3943d614597f9f7c384846613d417e97ea6d5ab4, 2020-03-03T21:

[2020-03-05 02:05] #1538 closed

[2020-03-05 15:15] #1517 closed

[2020-03-05 15:17] alexr00 commented on #1517
Thanks @RMacfarlane !
@Tyriar I made the change that Rachel suggested, and I tested that it does find the correct upstream in your case. Let me know if it works for you after the next nightly build!

[2020-03-05 19:16] RMacfarlane commented on #1525
I still haven't been able to repro this, but I pushed a change to log the complete error we get back from GH instead of the formatted error

[2020-03-05 19:22] neverendingqs opened #1539 "Unable to install latest nightly build"
Issue Type: <b>Bug</b>

[GitHub Pull Request Nightly Build](https://marketplace.visualstudio.com/items?itemName=GitHub.vscode-pull-request-github-insiders) shows that the latest version is `2020.3.6730` as expected. The [nightly build pipeline](https://rebornix.visualstudio.com/Pull%20Request/_build/results?buildId=1043&view=logs&j=3bd52376-4866-57aa-dfdb-d04952b84d8d&t=14bd693e-34d1-5172-806f-729

[2020-03-05 19:38] RMacfarlane commented on #1539
@neverendingqs It looks like this dropdown filters to versions that are compatible with your version of VSCode. We bumped the required version of VSCode to 1.43 at that time, the insiders version: https://code.visualstudio.com/insiders/

So you should be able to get the latest if you download Insiders - you can run VSCode Stable and Insiders side by side.

[2020-03-05 21:43] neverendingqs commented on #1539
That was it - thanks!

[2020-03-05 21:43] #1539 closed

[2020-03-06 21:54] connor4312 commented on #1518
Can't repro any more

[2020-03-06 21:54] #1518 closed

[2020-03-07 00:28] RikkiGibson opened #1540 "Unable to open file. The requested blob is too large to fetch via the API"
Issue Type: <b>Bug</b>

Encountered when reviewing dotnet/roslyn#42227. Reproduces when clicking on `OutVarTests.cs` in the file tree. Here's the error message I saw:

Extension version: 0.14.0
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.18362

[2020-03-07 16:52] varevarao opened #1541 "Support for ssh config hosts is broken"
Issue Type: <b>Bug</b>

- I have an ssh config setup with two hosts, for two accounts:
[code]
- When I install the extension no login option appears, as the tree view says I need to configure my remotes.
- `git remote -v` does list origin, which maps to `git@work:<repo_url>.git` (a private repo)
- The output for the extension reveals it's trying to load `https://work/<repo_url>` which of course do

[2020-03-07 17:06] varevarao commented on #1541
After this I start seeing the following when querying:
[code]

[2020-03-08 10:33] Abhinickz opened #1543 "Add support for "Hide Whitespace Changs"."
* Add support for "Hide Whitespace Changs".

[2020-03-09 14:58] #1530 closed

[2020-03-09 22:27] rebornix opened #1544 "Filter out keywords or invalid user names from hovers"
- Extension version: Nightly
- VSCode Version: 1.43.0-Insiders
- OS: macOS Catalina

Saw this when hovering on `@internal`, which is commonly used in VS Code code base.

<img width="590" alt="image" src="https://user-images.githubusercontent.com/876920/76262771-72a04800-621a-11ea-9bc2-ebdef67cdda3.png">

Though the user name is actually valid ... https://github.com/internal

[2020-03-10 01:39] RikkiGibson commented on #1540
here is the call that fails:

https://github.com/microsoft/vscode-pull-request-github/blob/6276756803c05ffea414a62e62be45834a2643e0/src/github/pullRequestManager.ts#L920

[2020-03-10 09:33] #1544 closed

[2020-03-10 09:49] alexr00 opened #1545 "Add setting for ignoring # issue trigger character"
Default should be python

[2020-03-10 09:50] alexr00 opened #1546 "Exploration: start to work on an issue"
Ideas: pick issue(s), seed commit message, option to work on a branch, create PR when done

[2020-03-10 09:52] alexr00 opened #1547 "Contribute a GH repository picker to the Git: Clone command"

[2020-03-10 09:53] alexr00 opened #1548 "Allow issues view and issues suggest query to be customized"

[2020-03-10 10:46] #1545 closed

[2020-03-10 12:02] steelerc69 commented on #1525
I am also getting this everytime I try to create a PR.  This started for me on Monday 9-Mar-2020 and am on the stable release build of VSCode.  My log looks very similar:

`[Info] Looking for git repository
[Info] Git repository found, initializing review manager and pr tree view.
[Info] Review> Validate state in progress
[Info] Review> Validating state...
[Info] No remote with name 'upstream' fou

[2020-03-10 14:40] alexr00 opened #1549 "Don't show empty issue code completion when issues haven't been fetched yet"
I wait to register the completion provider until the extension is finished getting set up. Instead, it should register sooner so it can show that the completions are loading.

[2020-03-10 15:18] alexr00 opened #1550 "Encode issue labels with a space when making links"

[2020-03-10 15:38] #1548 closed

[2020-03-10 15:38] #1550 closed

[2020-03-10 15:54] #1509 closed

[2020-03-10 15:56] alexr00 commented on #1523
FYI, you can now customize the query that is used in the issues view and the issues suggestions. Check out the `githubIssues.customQuery` setting.

[2020-03-11 03:16] JacksonKearl opened #1551 "Save action for this extension (nightly) causing saving package.json to hang"
![image](https://user-images.githubusercontent.com/8586769/76378967-10c00b00-630c-11ea-9107-ca19ecff92d9.png)

[2020-03-11 10:25] alexr00 opened #1552 "Make exclude from date words configurable"
https://github.com/microsoft/vscode-pull-request-github/blob/2856712a3b7c52b150c2d99542d43643a4050d47/src/issues/stateManager.ts#L15-L15

More context:
https://github.com/microsoft/vscode-pull-request-github/blob/2856712a3b7c52b150c2d99542d43643a4050d47/src/issues/stateManager.ts#L160-L163

[2020-03-11 10:29] alexr00 opened #1553 "Update issueData"
https://github.com/microsoft/vscode-pull-request-github/blob/2856712a3b7c52b150c2d99542d43643a4050d47/src/issues/stateManager.ts#L31-L33

[2020-03-11 12:38] #1553 closed

[2020-03-11 14:51] adrinjalali commented on #1411
I had the same issue, and the enable proposed API flag wasn't working.

Apparently the issue was that I had another vscode window open which wasn't run using the flag, and the new one was ignoring the flag and forking the existing open process or something (not sure why really). Closing all vscode and then running with the flag fixed the issue.

[2020-03-11 15:10] alexr00 opened #1554 "make exclude from date words configurable"
https://github.com/microsoft/vscode-pull-request-github/blob/2856712a3b7c52b150c2d99542d43643a4050d47/src/issues/stateManager.ts#L15-L15

Context:
https://github.com/microsoft/vscode-pull-request-github/blob/2856712a3b7c52b150c2d99542d43643a4050d47/src/issues/stateManager.ts#L90-L97

[2020-03-11 15:13] #1554 closed

[2020-03-11 15:18] alexr00 opened #1555 "make exclude from date words configurable"
https://github.com/microsoft/vscode-pull-request-github/blob/2856712a3b7c52b150c2d99542d43643a4050d47/src/issues/stateManager.ts#L15-L15

[2020-03-11 15:20] #1555 closed

[2020-03-11 15:21] alexr00 opened #1556 "make exclude from date words configurable"
https://github.com/microsoft/vscode-pull-request-github/blob/2856712a3b7c52b150c2d99542d43643a4050d47/src/issues/stateManager.ts#L15-L15

[2020-03-11 15:22] alexr00 commented on #1556
https://github.com/microsoft/vscode-pull-request-github/blob/2856712a3b7c52b150c2d99542d43643a4050d47/src/issues/stateManager.ts#L31-L33

[2020-03-11 15:32] alexr00 opened #1557 "make exclude from date words configurable"
https://github.com/microsoft/vscode-pull-request-github/blob/2856712a3b7c52b150c2d99542d43643a4050d47/src/issues/stateManager.ts#L15-L15

[2020-03-11 15:33] alexr00 commented on #1557
More context
https://github.com/microsoft/vscode-pull-request-github/blob/2856712a3b7c52b150c2d99542d43643a4050d47/src/issues/stateManager.ts#L31-L33

[2020-03-11 15:44] alexr00 opened #1558 "make exclude from date words configurable"
https://github.com/microsoft/vscode-pull-request-github/blob/2856712a3b7c52b150c2d99542d43643a4050d47/src/issues/stateManager.ts#L15-L15

[2020-03-11 15:52] alexr00 opened #1559 "make exclude from date words configurable"
https://github.com/microsoft/vscode-pull-request-github/blob/2856712a3b7c52b150c2d99542d43643a4050d47/src/issues/stateManager.ts#L15-L15

[2020-03-11 16:01] alexr00 opened #1560 "make exclude from date words configurable"
https://github.com/microsoft/vscode-pull-request-github/blob/2856712a3b7c52b150c2d99542d43643a4050d47/src/issues/stateManager.ts#L15-L15

[2020-03-11 20:17] CombeeMike opened #1561 "Use extension on windows with WSL"
I just installed this extension. Connecting to GitHub worked just fine but on PR checkout, i got the error message `Failed to execute git. Please check git output for more details`.

The git output shows the following:

[code]

I guess that's due to the fact that I'm on Win 10 and have not set up the SSH agent etc. in the Git Bash since I usually perform all Git operations which need authenticatio

[2020-03-11 21:16] RobelCSUN opened #1562 "Merge Conflict During Pull Request"
When making a pull request and there is a merge conflict that can not be resolved automatically, **vscode-pull-request-github** does not allow you to fix the merging conflict within the plugin itself. Currently, we have to go to the GitHub website to resolve the merging conflict occurred during pull request. It would  be nice if vscode-pull-request-github has this functionality.

[2020-03-12 08:49] alexr00 opened #1563 "make exclude from date words configurable"
https://github.com/microsoft/vscode-pull-request-github/blob/2856712a3b7c52b150c2d99542d43643a4050d47/src/issues/stateManager.ts#L15-L15

[2020-03-12 08:54] alexr00 opened #1564 "make exclude from date words configurable"
https://github.com/microsoft/vscode-pull-request-github/blob/2856712a3b7c52b150c2d99542d43643a4050d47/src/issues/stateManager.ts#L15-L15

[2020-03-12 08:58] alexr00 opened #1565 "make exclude from date words configurable"
https://github.com/microsoft/vscode-pull-request-github/blob/2856712a3b7c52b150c2d99542d43643a4050d47/src/issues/stateManager.ts#L15-L15

[2020-03-12 09:00] alexr00 opened #1566 "make exclude from date words configurable"
https://github.com/microsoft/vscode-pull-request-github/blob/2856712a3b7c52b150c2d99542d43643a4050d47/src/issues/stateManager.ts#L15-L15

[2020-03-12 09:25] szalonna opened #1567 "Tunneling socket issue, status code 502"
# Environment
- Extension version: 0.14.0
- VSCode Version: 1.43.0
- OS: Windows 10 Pro

# Steps to Reproduce

1. Corporate network with proxy and a Github Enterprise repository, repo authentication uses SSH key
2. Installed extension
3. No PR is visible

# Output
[code]

# Git remote
[code]

# Environment variables
`http_proxy` and `https_proxy` is set to the same proxy.

# VSCode config
- Http:

[2020-03-12 09:49] #1566 closed

[2020-03-12 09:50] #1556 closed

[2020-03-12 09:50] #1557 closed

[2020-03-12 09:50] #1558 closed

[2020-03-12 09:50] #1559 closed

[2020-03-12 09:50] #1560 closed

[2020-03-12 09:50] #1563 closed

[2020-03-12 09:50] #1564 closed

[2020-03-12 09:50] #1565 closed

[2020-03-12 11:59] jackfrey13 opened #1568 "Proposal: New setting for default target branch when creating a pull request"
At my company, we merge all feature branches into a development branch for QA and then at the end of the sprint the development branch gets merged into master for the production release. From what I can tell, using a dev branch is a standard practice that many companies follow. That being said, it would be nice to be able to set the default target for a given repo because right now the target alwa

[2020-03-12 13:02] uzairhashmani opened #1569 "Unable To login Github Account"
I am unable to login my account
![Capture](https://user-images.githubusercontent.com/25296722/76524305-a8983300-648b-11ea-8cea-374a33409143.PNG)

- Extension version:0.14.0
- VSCode Version:Latest 1.43
- OS:Windows 7

[2020-03-12 15:30] alexr00 opened #1571 "Make issue completion in SCM input configurable"
Examples:
`#1234`

`#1234: Issue Title`

`Issue Title - #1234`

[2020-03-12 15:31] alexr00 commented on #1571
Suggestion from @egamma that could enable this: Do something similar to what window title does: "window.title": "${activeEditorShort}${separator}${rootName}"

[2020-03-12 20:58] heaths opened #1572 "Unnecessary explorer bar scrolling when selecting a file"
When selecting a file in the explorer view, the view is scrolled to make the selected file the vertically centered selected file. This is not only annoying and a distraction when reviewing PRs, but unnecessary and inconsistent with the rest of VSCode. Selecting a file in the file explorer view doesn't do this. If I want the region to scroll, I would like to do so myself. This also helps me keep tr

[2020-03-13 16:02] #1571 closed

[2020-03-14 08:26] mhmmd-ysf opened #1574 "Indefinite load and an error"
It shows error message after i close a PR
**Error running command pr.pick: Cannot read property 'number' of undefined. This is likely caused by the extension that contributes pr.pick.**

- Extension version: 0.15.0
- VSCode Version: 1.43
- OS: Mac

Steps to Reproduce:

1. Close a Pull Request
2. The infinite loading begin
3. Plus an error message

[2020-03-14 12:50] #1569 closed

[2020-03-15 01:15] trepichio opened #1575 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-pull-request-github`
- Extension Version: `0.15.0`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.43.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2020-03-15 08:53] CombeeMike commented on #1561
FYI: Checkout seems to be working if I manually switch to the PR branch & perform a `git pull` inside the WSL before clicking on the "checkout" button in the extension...

[2020-03-16 13:15] mchugh19 opened #1576 "Unable to connect to github enterprise which is only available via http"
Issue Type: <b>Bug</b>

Our github enterprise server is not available via https, only http. When first connecting, I am redirected properly to the github enterprise server to authenticate. Afterwards, vscode gets a URL like: vscode-insiders://github.vscode-pull-request-github/did-authenticate?code=...
Which simply creates a notification popup

Sign in failed: Received bad state

I've also submitte

[2020-03-16 13:42] usaroch commented on #1576
I have the Same Issue.

VS COde Version: 1.43.0
Chrome Version: 80.0.3987.132
Mac OS - Catalina: 10.15.3

[2020-03-17 07:34] egamma opened #1578 "@user hovers are too wide"
pls see the screenshot below

![image](https://user-images.githubusercontent.com/172399/76832622-f6b18b80-6829-11ea-96a7-37100c9fdf97.png)

[2020-03-17 08:57] alexr00 commented on #1578
There is currently no API to support setting a width for a hover, but https://github.com/microsoft/vscode/issues/56525 and https://github.com/microsoft/vscode/issues/14165 are a bit similar.

Opened https://github.com/microsoft/vscode/issues/92833 to specifically request API.

[2020-03-18 16:04] paustint commented on #841
I have been having problems with this as well and I was able to capture a CPU profile while I had 100% CPU from this extension. I was not even using the extension at all, so it was running in the background and looks like it was stuck in garbage collection. The profile was for about 10-20 seconds.

[CPU-20200318T155400.148Z.cpuprofile.txt](https://github.com/microsoft/vscode-pull-request-github/fi

[2020-03-18 22:39] roblourens opened #1579 "Using high cpu in provideHover"
[GitHub.vscode-pull-request-github-insiders-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-pull-request-github/files/4351725/GitHub.vscode-pull-request-github-insiders-unresponsive.cpuprofile.txt)

![image](https://user-images.githubusercontent.com/323878/77014053-a5d78b00-692e-11ea-9ac5-33119b93ccd6.png)

Just noticed this. I don't have repro steps, sorry

[2020-03-19 12:34] sandhya-sago commented on #1054
Please do not persist to GitHub as it will trigger emails. I like the current behavior of explicitly saving them. That way, I can make sure that the comments are complete and there is no confusion.

[2020-03-19 14:34] alexr00 opened #1580 "Show multiple queries in the Issues view"
Similar to how the Pull Request view works.

[2020-03-19 15:01] #1580 closed

[2020-03-19 16:15] alexr00 opened #1582 "Add alt command for "start working on issue" that always prompts for branch"
Suggested by @eamodio

[2020-03-19 16:17] #1582 closed

[2020-03-20 00:24] Jonnokc opened #1583 "Show All PR's for All Repos?"
I traditionally work out of workspaces that contain multiple repositories. As it stands, it appears I have to navigate between each repository individually from within source control.

Is there a way to just all all the PR's for every repo within my active workspace?

[This comment](https://github.com/microsoft/vscode-pull-request-github/issues/493#issuecomment-429975824) appears to possibly refer

[2020-03-20 09:29] Yajo commented on #1525
Anybody has a workaround? :roll_eyes:

[2020-03-20 17:37] RMacfarlane commented on #1525
@steelerc69 @Yajo Can you use v0.15.0 of the extension and grab the logs?

[2020-03-21 16:25] eamodio commented on #1547
If this helps, I've implemented this in RemoteHub here:

https://github.com/eamodio/vscode-remotehub/blob/bc2a8371d3480802ec000c880e94a19ea5cfa0ee/src/commands.ts#L51-L62

[2020-03-23 09:15] alexr00 commented on #1547
Thanks for the pointer, I'll check it out!

[2020-03-23 17:30] kieferrm opened #1584 "Allow for better testability"
In order to all for better testability of GH API in development, we should support to redirect API calls to a local API endpoint. Proposal: Check if the environment variable GITHUB_TEST_SERVER is set and if so use it. For example: `GITHUB_TEST_SERVER="api.github.localhost"`. To avoid potential issues, we need user consent.

[2020-03-24 08:52] kresdjan opened #1585 "Add a remote GitHub repository"
Being able to quickly add a remote GitHub repository directly from VSCode without having to go to github.com and create a new repo first. Similar to WebStorm "Share on Github" feature. https://www.jetbrains.com/help/webstorm/manage-projects-hosted-on-github.html#share-on-GitHub

I apologies if this is already present in VSCode. I just haven't been able to find it.

[2020-03-24 08:53] alexr00 commented on #1585
Moved to the vscode-pull-request-github extension repo since if we add such a feature it will be here.

[2020-03-24 20:45] Stuk commented on #1044
I got the same problem when I started reviewing a PR through the extension. I have no idea how it got there.

[2020-03-24 21:00] cyrusmg commented on #517
It seems there has been an update on this one. The linked github documentation mentions limit of 3000 changed files, not 300 which seems to be the limit now (I see this issue being triggered with 320 changed files).

[2020-03-25 03:45] #1584 closed

[2020-03-25 21:56] erihanse opened #1586 "Focus on Pull Requests View doesn't work when Show In SCM is enabled"
Issue Type: <b>Bug</b>

Stepts to reproduce:
1. Enable option "Github Pull Requests: Show In SCM"
2. Issue command "GitHub Pull Requests: Focus on GitHub Pull Requests View"

Expected:
Pull Requests View is opened

Actual:
Focus is on folder explorer

Extension version: 0.15.0
VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:52:11.516Z)
OS version: Linux x64 4.

[2020-03-26 09:54] egamma opened #1587 "Issues: Custom query not scoped to current repository"
I've added a custom query to the Issues View
[code]
I would have expected that the query is scoped to the current repository. However, the result of the query is not scoped to the current repository but it appears to be all repositories:

![image](https://user-images.githubusercontent.com/172399/77630803-f14ff180-6f4b-11ea-8b48-e0539ea5ca60.png)

I can scope the query to a particular repo using th

[2020-03-26 09:59] egamma opened #1588 "Issue hover rendering issue"
The following issue https://github.com/microsoft/vscode-npm-scripts/issues/80 is not properly rendered (title in italic)

![image](https://user-images.githubusercontent.com/172399/77634160-cf0ca280-6f50-11ea-9cb9-07ec1cec0644.png)

[2020-03-26 10:41] alexr00 commented on #1587
I should add new variables for current repo to solve this.

[2020-03-26 23:23] Stuk commented on #1044
I ran into this again. I believe it's because of the fetch with a depth of 1:

https://github.com/microsoft/vscode-pull-request-github/blob/2285fdc17d20ce325163c23215f5fabc7a923be9/src/github/pullRequestGitHelper.ts#L42

This really interferes with reviewing the log of pull requests. Is it possible to make this configurable?

[2020-03-27 02:50] ClemensA4t1qbit opened #1589 "Add setting to allow turning off github user completion"
When coding in Python, I want the typing of `@` to trigger autocompletion for potential decorators, not have it populated with a number of github names. As such, it would be great if this autocompletion feature of this extension could be turned off in a setting.

[2020-03-27 09:19] alexr00 commented on #1546
Exploration is complete!

[2020-03-27 09:20] #1546 closed

[2020-03-28 14:39] heaths opened #1590 "Register system-wide URI handler to open PRs in Code"
GitHub's experience for PRs with a lot of files or with large files is painful, often grinding browsers to a halt even with 16GB of RAM. What would be great is if GitHub had a way to open PRs directly in Code, whether they made the change to the site themselves or added via browser extension.

To enable this, you could call window.registerUriHandler and add an onUri activation that opened the PR d

[2020-03-30 11:46] devamitk commented on #1251
Awesome !! Worked like a charm. :)

[2020-03-30 22:08] Yurickh commented on #949
Just checked and it seems to still be an issue as of this date.

[2020-03-31 01:12] kieferrm opened #1591 "Issue hovers: hard to distinguish between closes and open issues"
Issue Type: <b>Bug</b>

The only difference right now is the icons. Those, however, are visually very close and depending on which theme you use hard to distinguish.

Extension version: 2020.3.35461
VS Code version: Code - Insiders 1.44.0-insider (13b38d2a494612ace32c4fb878824d6329d4c51e, 2020-03-30T07:30:34.234Z)
OS version: Darwin x64 18.7.0
Remote OS version: Linux x64 5.0.0-1022-azure
Remote O

[2020-03-31 01:17] kieferrm opened #1592 "Issue hover: placement with word-wrap"
Issue Type: <b>Bug</b>

See the following screenshot. My mouse pointer is where the caret is. I'd expect the hover to show close to my mouse.

![Screen Shot 2020-03-30 at 6 14 21 PM](https://user-images.githubusercontent.com/4674940/77976743-a3701c00-72b2-11ea-8aa8-c6769b3a402b.png)

Extension version: 2020.3.35461
VS Code version: Code - Insiders 1.44.0-insider (13b38d2a494612ace32c4fb878824d6329

[2020-03-31 07:55] alexr00 opened #1593 "Changing "githubIssues.ignoreMilestones" doesn't update the view automatically"

[2020-03-31 09:31] chrmarti opened #1594 "Entering/leaving review mode: `Error: unknown handler`"
Issue Type: <b>Bug</b>

In the dev console, everything seems to work still:

[code]

(A private repository, in case that matters.)

Extension version: 2020.3.35461
VS Code version: Code - Insiders 1.44.0-insider (d7d1147d6b764a48b789000c03088ee9afabcd8a, 2020-03-31T08:22:34.682Z)
OS version: Darwin x64 19.2.0
Remote OS version: Linux x64 4.19.76-linuxkit

<details>
<summary>System Info</summary>

[2020-03-31 09:55] Yajo commented on #1525
I've done it but it gets stuck and I get no logs at all.

These logs are present before I hit the create pull request button:

<details><summary>git logs</summary>

[code]

</details>

<details><summary>github pull request logs</summary>

[code]

</details>

[2020-04-01 01:42] kieferrm opened #1595 "Created an issue from an untitled file"
1) create an untiled file
2) enter `todo <see below>`
3) use code action to create an issue
->

![image](https://user-images.githubusercontent.com/4674940/78090531-337b9780-737f-11ea-9f28-6db84a6d0242.png)

[2020-04-01 10:03] isidorn opened #1596 "Issue urls in issue hovers should show repo name if repository different"
1. Open vscode, add the following line to any file
[code]
2. Note how that issue references 3 issues in different repos
3. Currently you show all of them just as issue numbers, this is confusing since the user can not know which one belongs to what repo 🐛

I suggest to take the same appraoch as github

1. If the issue is from the same repo as the workspace just show issue number
2. If the issue is

[2020-04-01 14:50] #1596 closed

[2020-04-01 21:00] egamma opened #1597 "Small typo in settings description"
![image](https://user-images.githubusercontent.com/172399/78186187-9139dd80-746c-11ea-9af9-48c98683fd6b.png)

[2020-04-01 21:36] connor4312 commented on #1582
@alexr00 can you provide instructions to verify this?

[2020-04-02 02:02] bnb commented on #949
@RMacfarlane any update on this?

[2020-04-02 06:32] egamma opened #1599 "Support editing 'Working Issue Branch' setting in the Settings editor"
I would have expected that I can edit the working issue branch in the Settings editor:

![image](https://user-images.githubusercontent.com/172399/78217409-5364a580-74bc-11ea-8c71-1f6e29403c9f.png)

[2020-04-02 06:45] egamma commented on #1589
We should offer a similar setting as for `#` that can be defined per language.

@ClemensA4t1qbit there is a user setting `editor.suggest.showUsers` that you can use to turn this off.

[2020-04-02 12:28] alexr00 commented on #1582
Install the nightly build of the PR extension.
Open a repo where you have issues assigned to you.
Enable the issues view with `	"githubIssues.show": true`.
Open the issues view in the GitHub viewlet.
Alt+right click on on of the issues and start working on an issue.
Verify that in the context menu there is an option to start working on an issue with a branch prompt.
Verify that if you use that opt

[2020-04-02 12:30] alexr00 commented on #1597
Fixed by @connor4312 here https://github.com/microsoft/vscode-pull-request-github/pull/1598/files

[2020-04-02 12:30] #1597 closed

[2020-04-02 16:19] misolori commented on #1582
Verified

![image](https://user-images.githubusercontent.com/35271042/78272181-0be11800-74c2-11ea-907f-f0a182679925.png)

![image](https://user-images.githubusercontent.com/35271042/78272184-0d124500-74c2-11ea-8666-e9d67838157f.png)

However, when I go back to the issue and hit "Stop working on issue" any subsequent alt-clicks don't show that option:

![image](https://user-images.githubusercontent

[2020-04-02 16:22] ClemensA4t1qbit commented on #1589
I tried adding that to `settings.json` but it has no effect. It also doesn't show up as one of the autocomplete options. I am on the latest version of VSCode on MacOS.

[2020-04-02 16:40] RMacfarlane commented on #1589
@ClemensA4t1qbit This setting is currently only available in the insiders version of VSCode: https://code.visualstudio.com/insiders

[2020-04-02 21:29] kimadeline opened #1600 "Checking out a PR will try to fetch tags and display an error"
- Extension version: 0.15.0
- VSCode version: 1.43.2
- OS: macOS Catalina (10.15.3)
- git version: 2.24.1

Steps to Reproduce:

1. Clone https://github.com/microsoft/vscode-python (or a fork of it), and make sure you have the tags locally as well
2. Checkout a PR (here it was https://github.com/microsoft/vscode-python/pull/10883/)
3. The checkout succeeds, but I get a notification saying "Error" a

[2020-04-03 02:09] fpena06 commented on #1474
+1

[2020-04-03 07:47] Yajo commented on #1525
Today it wanted to print logs:

<details><summary>git logs</summary>

[code]

</details>

<details><summary>github pull request logs</summary>

[code]

</details>

My project has a submodule, and the PR is for the main project. I don't know if that matters...

[2020-04-03 08:43] alexr00 opened #1601 "Polish alt issue context menu"
https://github.com/microsoft/vscode-pull-request-github/issues/1582#issuecomment-607946985

[2020-04-03 08:44] alexr00 commented on #1582
Thanks for verifying! I've opened a new issue with that feedback so I can polish it in April.

[2020-04-03 09:41] alexr00 commented on #1599
It can actually be a boolean too, which is why you can't edit it here.
I'll break it into two settings.

[2020-04-03 10:00] #1599 closed

[2020-04-03 10:01] alexr00 commented on #1599
![image](https://user-images.githubusercontent.com/38270282/78348745-d3fdd180-75a2-11ea-9a01-cff0c7c3fe53.png)

[2020-04-03 16:42] Yurickh commented on #949
I took some time to dig a bit deeper on this, and I think it might to be in vscode's side to fix it actually.
You see, no context menu actually pops up inside the web view, and it's not related to any handler/style in this extension, rather it seems it's an issue with web views in vscode itself (e.g. https://github.com/microsoft/vscode/issues/12215)

[2020-04-03 21:41] roblourens opened #1603 ""has no github remotes" error"
- Open a folder with a git repo but no remotes
- I see this error repeated over and over in the developer tools

![image](https://user-images.githubusercontent.com/323878/78407184-d4f62980-75c9-11ea-9824-e77e498517f9.png)

[2020-04-05 21:17] GrimLink opened #1605 "@user hovers on scss functions and sassdoc comments"
## Versions
- Extension version: 0.15.0
- VSCode Version: 1.43.2
- OS: maxOS Mojave

## Steps to Reproduce:

1. Hover any name with a `@` symbol, e.g. `@if`
2. User reference is shown

![Screenshot 2020-04-05 at 23 04 18](https://user-images.githubusercontent.com/4387541/78510052-c60ea300-7792-11ea-983c-9a9a7993e6bb.jpg)

## Solution

Please exclude:
* `@`'s that are not a comment
* Documentation

[2020-04-06 02:46] wolftales commented on #1221
I am experiencing this same issue with Ubuntu 20.04 Dev, Mozilla, and VS Code.  I kept getting a popup asking me to let Mozilla know it crashed.

Following LarnuUK worked for me.

1. Download extension
2. get popup - clear it
3. Create token @ Github
4. Click "Signing into github.com message for the extension"
5. inputing the token
Add: 6. Typing in "github.com" (It doesn't default)
Add: 7. Ignori

[2020-04-06 08:56] DavideViolante opened #1606 "Closing the tab of Pull Request using Ctrl+W shortcut, closes the underlying tab too"
- Extension version: 0.15.0
- VSCode Version: 1.43.2
- OS: Ubuntu 18.04

Steps to Reproduce:
1. Open a PR using this extension
2. Try closing the PR tab (not the PR itself) using the keyboard shortcut Ctrl+W (I think on Mac is Cmd+W)
3. This will close VS Code if the PR tab is the only one open, or will close the underlying tab currently opened. The expected behaviour is that Ctrl+W will close the

[2020-04-06 17:45] gee4vee opened #1607 "Error signing into GHE"
Getting this error after authenticating with GHE using either the link or copy/paste method.

<img width="489" alt="image" src="https://user-images.githubusercontent.com/179807/78588366-196d0980-7804-11ea-88ad-fe98fa9bcf95.png">

- Extension version: 0.15.0
- VSCode Version: 1.43.2
- OS: 10.15.3

Steps to Reproduce:

1. Open a file contained in a GHE-enabled repo
2. Go the PR extension tab and cli

[2020-04-06 19:19] burkeholland opened #1608 "Allow editing of issue details when creating from code action"
When I create an issue from a TODO, I don't know that the comment would be exactly what I would want in the issue. It would be nice to get a details screen to add or remove details from the issue before it was submitted.

Perhaps this is something that could be turned off with a setting in case people don't want the friction.

[2020-04-07 06:18] egamma opened #1609 "Issue completions: incorrectly inserts qualified issue reference in mixed case repositories"
- Create a github repository using mixed case, e.g https://github.com/egamma/egammaCase
- Create an issue
- In the SCM box trigger an # completion and insert the issue

-> the issue gets completed with the qualified repository name
![image](https://user-images.githubusercontent.com/172399/78636221-322efb00-78a8-11ea-96bf-35b2a3e0d80f.png)

Pls see https://github.com/microsoft/vscode-pull-request-g

[2020-04-07 14:22] Tyriar opened #1610 "The remote '...' is not a GitHub repository"
When checking out https://github.com/microsoft/vscode/pull/91243

![image](https://user-images.githubusercontent.com/2193314/78680546-79b18900-78a0-11ea-92a4-cb8a4bf559ea.png)

I guess it's related to a `#` in the branch name? https://github.com/dormesica/vscode/tree/%2390993

[2020-04-08 14:13] #1549 closed

[2020-04-08 14:14] alexr00 commented on #1549
You can still hit this case, but the window is a bit smaller.

[2020-04-09 01:15] chrisjsewell commented on #1600
+1, this is unfortunately making the extension unusable for me at present, when trying to review a forked PR

[2020-04-09 11:29] johanbrandhorst commented on #1310
Is this stable yet? I find myself having to add this manually every time I update my version of VS Code.

[2020-04-10 13:06] Tyriar opened #1612 "fatal: --unshallow on a complete repository does not make sense . Please check git output for more details"
![image](https://user-images.githubusercontent.com/2193314/78992886-3f8af600-7af1-11ea-9256-f8d9b0b48d8a.png)

I did the following and this happened:

1. Checked out https://github.com/microsoft/vscode/pull/91615 for review via extension
2. While this was happening, I updated the branch with this button:
![image](https://user-images.githubusercontent.com/2193314/78992948-60534b80-7af1-11ea-905b-e8

[2020-04-10 13:30] Tyriar commented on #1610
https://github.com/xtermjs/xterm.js/pull/2739

![image](https://user-images.githubusercontent.com/2193314/78994375-bc6b9f00-7af4-11ea-9829-98a20d9ca9d1.png)

[code]

[2020-04-10 14:42] knotthere commented on #923
Still broken with version 0.15.0 & GitHub Enterprise ???.

[2020-04-10 16:46] phobos2077 opened #1613 "A list of files displayed in a PR is trimmed (very large PR)"
A PR with 1907 files is loaded and working, but there are many files missing in the extension UI. It seems like there is some kind of hard limit on the number of files loaded from github API and the rest is just discarded. Or some bug in the extension logic?

- Extension version: 0.15.0
- VSCode Version: 1.44.0
- OS: Windows 10 x64

Steps to Reproduce:

1. Open PR with 1907 files in "GitHub Pull R

[2020-04-10 19:18] RMacfarlane commented on #1310
No, the DecorationsProvider is still in proposed state

[2020-04-10 20:58] 333fred commented on #1589
Any idea when this will make it to the stable version? This bites me daily, sometimes hourly.

[2020-04-11 14:35] grm34 commented on #880
It's ok for title but seems not for description (or i forgot something?).

[2020-04-12 01:14] roblourens opened #1614 ""has no github remotes" error spam"
- Open a folder with a git repo but no github remote
- There are lots of errors in the developer tools

![image](https://user-images.githubusercontent.com/323878/79058240-f80b8380-7c30-11ea-8d22-6e754acad5af.png)

[2020-04-13 08:26] DavideViolante commented on #1606
I just noticed that this bug seems related to VS Code itself: https://github.com/microsoft/vscode/issues/86790 and many more similar issues are present in vscode repo already. Closing.

[2020-04-13 08:26] #1606 closed

[2020-04-13 18:59] Tyriar opened #1615 "Bad experience when git is not installed"
Using a new Windows 10 OS without git installed.

Nothing in viewlet and error about "git model" in devtools:

![image](https://user-images.githubusercontent.com/2193314/79150821-3ebac400-7d7e-11ea-8721-f5f0b4fd82bc.png)

[2020-04-13 21:24] RMacfarlane opened #1616 "Adopt VSCode Authentication Provider API"
Now that VSCode ships with a GitHub authentication provider, we can leverage it to get the access token we need. This will help unify the accounts UI, so we can remove the status bar item.

[2020-04-13 21:27] RMacfarlane opened #1617 "Update extension icon"
Adopt the PR icon in place of the GitHub icon

[2020-04-13 23:49] mctrafik opened #1618 "No remotes match the current setting."
- Extension version: 0.15.0
- VSCode Version: 1.44
- OS: Mac OSX 10.15.3
- Git: version 2.23.0

Steps to Reproduce:

1. Install VS Code, point to github (I'm using GH Enterprise)
2. Install vscode-pull-request
3. Go to Extension icon on the left-hand side.
4. Observe the message 'No remotes match the current setting.'

What should happen:

- Should see github auth attempt.

With output:

[code]

E

[2020-04-14 00:26] TheSpyder commented on #1607
If you look in `view -> output` and change the dropdown to `GitHub Pull Request` it will have more info. That's the same error I see in #1474 but I'm signing in to the public github.com 🤔

[2020-04-14 01:11] kieferrm opened #1619 "GHPR: Iteration Plan for April 2020"
### General
- [x] Change extension icon to be the official GH PR icon https://github.com/microsoft/vscode-pull-request-github/issues/1617 @rmacfarlane
- [x] Adopt GH authentication https://github.com/microsoft/vscode-pull-request-github/issues/1616 @rmacfarlane

### @user #issue hovers/completions
- [x] :runner: Hovers for users with location data are too wide https://github.com/microsoft/vscode-p

[2020-04-14 08:40] alexr00 commented on #1589
It's already in stable version 1.44 :)

[2020-04-14 10:07] Gama11 commented on #1589
That setting seems to do nothing for me in 1.44 with GitHub Pull Requests 0.15.0. Disabling the extension does the trick though...

What does this feature even have to do with pull requests?

[2020-04-14 10:33] jonathanvila opened #1620 "Plugin do not scan recursevely when multi repositories inside folder inside workspace"
- Extension version: 0.15.0
- VSCode Version: 1.44
- OS: Fedora 31

Steps to Reproduce:

1. Have a folder with several repositories
2. Add this top folder only to the workspace
3. Not even changing the repository in source pane makes the pull requests to appear

[2020-04-14 10:47] jonathanvila commented on #1620
Creating a new workspace with 10 repositories folders added to it ( instead of 1 ) makes the plugin to show some PRs ( 14 PRs ), but not all. Changing the project on Source pane, or Git pane doesn't make any difference .

[2020-04-14 11:07] egamma opened #1621 "Change default value of `issueCompletionFormatScm` to "${issueNumber} - ${issueTitle}""

[2020-04-14 11:12] egamma opened #1622 "Support to navigate from an issue query to its definition in the settings."
Provide an action in the Issues view that opens the corresponding query definition in the settings.

[2020-04-14 11:16] egamma opened #1623 "Issues: Add an action to create a new issue from the Issues view"

[2020-04-14 11:18] egamma opened #1624 "Issues view: Add a second query out of the box"

[2020-04-14 11:56] alexr00 commented on #1591
Let's make the icons different colors as they are on GitHub.

[2020-04-14 14:43] #1609 closed

[2020-04-14 15:35] misolori commented on #1617
Another related question is if we should adopt the [official GitHub logo](https://github.com/logos) in our codicons, because right now we use our outline version. This icon appears in the activity bar and status bar:

![image](https://user-images.githubusercontent.com/35271042/79243714-daa20980-7e2a-11ea-9fd8-fc85eb3eb758.png)

cc @bpasero

[2020-04-14 17:04] RMacfarlane commented on #1610
@alexr00 It looks like this is from the issue's stateManager trying to do `setCurrentIssueFromBranch`, specifically `this.manager.getPullRequestDefaults()`. When the repository state updates, the pullRequestManager is eventually notified to update its own state of GitHub repositories. But here it gets called before it has had a chance to update. I'm worried about having two separate event listener

[2020-04-14 17:07] 333fred commented on #1589
Same.

[2020-04-14 17:08] #1610 closed

[2020-04-14 19:30] Nixs108 commented on #1221
Worked for me. Thanks a bunch!

[2020-04-14 20:13] bedge opened #1625 "Self-hosted github auth fails for non-https instance."
The extension authentication fails for locally hosted github instances that are running over http.

When clicking on the "Sign into <my local github>" in the status bar, the generated URL is:

while the actual configured URL is
    http://my.local.url/
not
    https://my.local.url/
Note the missing "s" on http.

Editing the URL to change https -> http, gets me one step further, in that I get a tok

[2020-04-15 08:27] alexr00 opened #1627 "Have only one repository.state.onDidChange listener"
Currently the core PR part has a listener for onDidChange, and issues has one too. This could be problematic.
https://github.com/microsoft/vscode-pull-request-github/issues/1610#issuecomment-613564024

[2020-04-15 08:29] alexr00 commented on #1610
@RMacfarlane I added a debt item so I don't forget about using only the one listener.

[2020-04-15 08:59] #1595 closed

[2020-04-15 09:52] jrieken opened #1629 "Extension host frozen with large document"
* have this setting `"typescript.tsserver.log": "verbose"`
* open the TS server log
* in another editor request intellisense
* 🐌 the extension host will be slow, blaming this extension for taking up for then 5 seconds CPU time

<img width="819" alt="Screenshot 2020-04-15 at 11 50 21" src="https://user-images.githubusercontent.com/1794099/79324063-4e1d4700-7f0f-11ea-8604-ccba92706fc6.png">

[GitHub

[2020-04-15 09:55] jrieken commented on #1629
This due to finding a word with a custom (expensive) regexp https://github.com/microsoft/vscode-pull-request-github/blob/master/src/issues/issueHoverProvider.ts#L15. Which in this case will scan the entire document

[2020-04-15 10:13] jrieken commented on #1629
This isn't soo simple... You are using an API and the usage is correct but it triggers a very unhappy case here (with v e r y long lines). The API should at one point just bail out and throw the towel - I will follow up with that.

What you could do for finding links is this: Instead of running your own link-regex (which I suspect causes slowness), you could rely on the built-in link detection. Ru

[2020-04-15 11:40] alexr00 commented on #1629
Since this is for hovers using `vscode.executeLinkProvider` won't catch `#123` issue numbers, but it would be better than nothing.

Simplest work around would be to just not provide issue and user hovers when the line is very long. Users probably won't have issue hovers they care about on giant lines anyway (with the exception of markdown).

In this case, I will just not provide hovers if the line