[2020-04-15 11:53] jrieken commented on #1629
300 might be a little strict, I think 10000 should still do it. We might also come up with something smart here https://github.com/microsoft/vscode/issues/95319 and it might resolve this issue after all

[2020-04-15 17:22] askvortsov1 commented on #1052
I'm experiencing a similar issue. I'm running on the latest VSCode insiders, and there's no notification to log in. I'm assuming that https://github.com/microsoft/vscode-pull-request-github/pull/1626 should fix this, but it might make sense to change the 'No Remotes Match the Current Setting' message if there is no currently logged in user.

[2020-04-15 21:35] RMacfarlane opened #1635 "Navigate from pull request query to settings json"
Similar to https://github.com/microsoft/vscode-pull-request-github/issues/1622, have the same behavior for the queries in the PR tree

[2020-04-15 22:19] chrisdias opened #1636 "Bringing up quick pick of Reviewers takes a long time"
[code]

Nightly Build of extension: `2020.4.21062`

I am working on a PR in https://github.com/micrsoft/vscode-node-azure-pack

On the Description Page, click on the "+" next to Reviewers on the right side

![image](https://user-images.githubusercontent.com/1487073/79394420-49b35700-7f2c-11ea-9271-d3bd02927dfb.png)

result: after a few *minutes* the quick pick of people came up.

I realize there a

[2020-04-15 22:29] chrisdias opened #1637 "Enable Request Changes if no comment text"
I can only click the "Request Changes" button if I am editing the comment text in the Description.  So either I add a comment OR I add a comment and say Request Changes.  I feel like Request Changes should always be enabled, like the "Approve" button is.

![image](https://user-images.githubusercontent.com/1487073/79395118-d27ec280-7f2d-11ea-9594-cd00646eaec3.png)

[2020-04-15 22:29] burkeholland commented on #814
This one is kinda old so bumping it with a comment @RMacfarlane. When working against a feature branch with a long name, it's easy to mess this up or forget it. I've done it 3 times today already.

[2020-04-16 07:58] #1621 closed

[2020-04-16 08:01] #1622 closed

[2020-04-16 08:07] #1629 closed

[2020-04-16 08:10] #1591 closed

[2020-04-16 08:11] #1589 closed

[2020-04-16 09:12] bpasero commented on #1617
I find both GitLens and GH icon out of place with our new icons:

![image](https://user-images.githubusercontent.com/900690/79437957-327b7480-7fd3-11ea-938b-168d503ec3a8.png)

//cc @eamodio

[2020-04-16 10:15] alexr00 opened #1642 "Better issue data refresh"
From @dbaeumer: add a keybinding so that you can refresh the issues while in the suggest widget (would still then need to retrigger widget, but then issues would be refreshed at that point).

This is in addition to the issue refresh that happens on certain git actions.

[2020-04-16 15:11] 333fred opened #1645 "Add setting to allow turning off issue completion"
Like https://github.com/microsoft/vscode-pull-request-github/issues/1589, but for `#`. As I said in that issue, this bites me daily, and while user completion has actually been useful once, issue completion has not.

[2020-04-16 15:21] RMacfarlane commented on #1645
@333fred We have added a setting to turn this off:
<img width="603" alt="Screen Shot 2020-04-16 at 8 13 03 AM" src="https://user-images.githubusercontent.com/3672607/79473611-3b138100-7fba-11ea-8044-15a13acbc3bf.png">

however this change as not yet been shipped, it is only available in the nightly version of the extension: https://marketplace.visualstudio.com/items?itemName=GitHub.vscode-pull-req

[2020-04-16 15:27] 333fred commented on #1645
Ah, given https://github.com/microsoft/vscode-pull-request-github/issues/1589#issuecomment-607654343 I had assumed that this setting didn't exist and the linked PR only added it for user completion. Sorry about that.

Any idea when it will be released on stable?

[2020-04-16 15:27] #1645 closed

[2020-04-16 18:37] eisenhowerj commented on #1583
I'd like "Show PRs for All Repos for which I have the ability to review" whether I have a repo loaded into my workspace or not.

[2020-04-16 19:33] gee4vee commented on #1607
This is what I see in the output view:
[code]

[2020-04-16 20:31] misolori commented on #1617
I believe the GitHub PR icon will be updated to use the PR icon (which is what this original issue is about):

![image](https://user-images.githubusercontent.com/35271042/79503741-8c396a00-7fe6-11ea-97e5-8fd1b3059eb8.png)

[2020-04-16 22:28] mix3d opened #1646 "PR description draft / edit gets saved/copied into new PR"
- Extension version: 0.15.0
- VSCode Version: 1.44.1
- OS: Windows 10

Steps to Reproduce:

1. Create a PR, begin to edit the comment. Close the tab.
2. Create a new PR from a different branch. The PR window will open, with the Comment draft from the previous PR still open, including save/cancel buttons. (Normally the comment area is empty for a new PR, _"No description provided"_)

[2020-04-16 22:36] RMacfarlane commented on #1637
This is a limitation of GitHub - it's not possible to leave a "Request Changes" review without a comment

[2020-04-16 23:29] chrisdias commented on #1637
We could be better than github!

We could have it enabled and if no comment exists, then we say "Please leave a comment in order to request changes".  Or, we could default a comment that says "Changes requested".  Or, we leave a single space comment!

[2020-04-17 00:03] #1616 closed

[2020-04-17 02:31] RMacfarlane commented on #1617
Right, we'll use the PR icon in place of the GitHub icon.

As part of adopting the auth provider API, I also removed the status bar icon that has the GitHub icon. Now the only place it's used in the extension is as a fallback avatar if a user doesn't have one on the description page

[2020-04-17 10:08] #1603 closed

[2020-04-17 10:28] #1587 closed

[2020-04-17 10:30] #1588 closed

[2020-04-17 10:32] #1623 closed

[2020-04-17 15:10] svillar opened #1649 "Cannot signin due to ECONNREFUSED"
- Extension version: 0.15.0
- VSCode Version: 1.44.2
- OS: Linux

Steps to Reproduce:

1. Try to sign in in github by clicking on the bottom bar button
2. Follow steps on the browser. Eventually got redirected back to VSCode
3. Accept opening the `vscode://` URL when prompted
4. Fails to signin. The extension output shows

[code]

I can properly resolve `github.com` (checked with `nslookup` and op

[2020-04-17 15:14] #1624 closed

[2020-04-17 15:46] jonathanvila commented on #603
I found this feature very interesting.... is it gonna be put in the roadmap ?

[2020-04-17 17:53] #1617 closed

[2020-04-17 23:05] mix3d commented on #681
Why not use a branch style icon for the checked out branch, on top of the bolded title? There's nothing stopping someone from putting a ✔️ in the commit title, which would be confusing anyways.

[2020-04-20 07:42] ZeWaka commented on #1525
Hi, I have a submodule as well, and am experiencing this issue.
The extension just fails to load some of the time, and will crash after a few minutes other times.
<details>
<summary>scrubbed extension host logs</summary>
[2020-04-19 23:41:42.709] [exthost] [info] extension host started

[2020-04-19 23:41:46.648] [exthost] [info] eager extensions activated

[2020-04-19 23:41:47.086] [exthost] [erro

[2020-04-20 08:52] alexr00 opened #1653 "Can't add reviewers to a PR"
I created a PR (in this repo actually), and then clicked the '+' Reviewers as I have many times. Instead of showing the list of possible reviewers to add, I got an error toast "e is not an iterable", which also showed in the console.
Stack trace isn't very helpful, but here it is:
[code]

[2020-04-20 09:00] alexr00 opened #1654 "Create a draft PR from an issue"
- Have a setting that automatically creates a draft PR when you start working on an issue
- Add to the issue status bar menu an option to create a draft PR

[2020-04-20 10:39] alexr00 commented on #1653
Now it has asked me to sign in again (which I did). It shows the user picker, but then shows an error "Must have admin rights to Repository"

[2020-04-20 13:21] joaomoreno commented on #1547
@alexr00 @RMacfarlane I'm having a very hard time to figure out where to properly plug this in.

I've already updated the Git extension API definition which provides the [`registerRemoteSourceProvider`](https://github.com/microsoft/vscode-pull-request-github/commit/a084de90bd11b1841af2087973b60384229cb023#diff-807d5af6d15181ce7e48f5cff15976a6R216) API. This API call isn't scoped to any repository.

[2020-04-20 17:22] askvortsov1 commented on #1618
I'm experiencing a similar error, but only one some repositories, and I'm not on enterprise.

[2020-04-20 17:36] askvortsov1 opened #1656 "Remotes added via SSH do not work."
Remotes using ssh (git@github.com:USER/REPO) are not found, and if only they exist, an error message of 'no remotes match the existing setting' exist.

- Extension version: Nightly, 2020.4.25381 (also present on non-nightly)
- VSCode Version: 1.45.0-insider (2020-04-15 version)
- OS: Fedora 31

Steps to Reproduce:

1. Add a repository where all remotes are added via HTTPS
2. See the 'no remotes ma

[2020-04-20 18:15] #1462 closed

[2020-04-20 19:17] mix3d commented on #681
A quick mockup mixing many of the similar suggestions.
![image](https://user-images.githubusercontent.com/1474137/79790274-59ea7e00-8300-11ea-9335-9f608b33401c.png)
Notably missing is the PR creation date, which can be helpful when sorting through "which of these needs my attention most", though the PR # should be sufficient.

Noting that when opening one of the PRs, the immediate next row is prep

[2020-04-20 20:36] #1578 closed

[2020-04-21 09:29] alexr00 opened #1660 "Can't approve PR"
Since we started doing PRs, I've been exclusively using the PR webview to approve them. Today, while reviewing https://github.com/microsoft/vscode-pull-request-github/pull/1658 I get `Approving pull request failed. Not Found`. Info in the console isn't very useful.

Logs from the output:
[code]

[2020-04-21 09:46] alexr00 commented on #1660
It seems to be consistent. It also happened with the other PR I reviewed today.

[2020-04-21 09:50] alexr00 commented on #1660
I also can't leave comments

[2020-04-21 09:56] #1654 closed

[2020-04-21 09:57] #1593 closed

[2020-04-21 10:57] IllusionMH commented on #1616
Looks like after this change I'm unable to access org repos without separate approve from admins. Is it expected change?

[2020-04-21 11:13] joaomoreno opened #1662 "Don't pollute devtools when there's no GitHub remote"
My devtools fills up simply by opening a repository which doesn't have a github remote:

![image](https://user-images.githubusercontent.com/22350/79859754-c8e3d780-83d1-11ea-99d2-a8e339f7b615.png)

[2020-04-21 11:14] IllusionMH commented on #1662
Looks like duplicate of #1614

[2020-04-21 11:54] #1662 closed

[2020-04-21 12:46] sandy081 opened #1663 "Copy Github Permalink is broken on Web"
![image (2)](https://user-images.githubusercontent.com/10746682/79867608-e5d2d780-83de-11ea-92a4-5431aaffd6f8.png)

[2020-04-21 13:08] arubtsov commented on #603
It would be very handy if I could just open a file, make some changes in it and post them as a suggestion.

[2020-04-21 14:20] joaomoreno opened #1664 "Support to export code to GitHub"
There are a few scenarios:

- [x] **Single folder open, no repo.** Show welcome view content and status bar item to export the currently open file to a GitHub repository
- [x] **Single folder open, repo, but no remotes.** Show status bar item to export the currently open file to a GitHub repository.
- [x] **Multi folder open, some repos with no remotes.** Show status bar item to export one of the

[2020-04-21 14:40] RMacfarlane commented on #1660
Hmm, can you try signing out and in again? I'm wondering if something went wrong in token creation and you have a token with the wrong permissions

[2020-04-21 18:27] RMacfarlane commented on #1653
I think I've fixed this with https://github.com/microsoft/vscode/commit/fd88fb9667a70f9b0a81dbf36ef07d7fb330d0c7

I believe you're in a state where when you signed out, the token got revoked but not removed from the keychain, and now when you try to sign out, trying to revoke it again throws, preventing it from being removed ever

Let me know if signing out and in again now works.

[2020-04-21 20:10] IllusionMH opened #1665 "Restore option: Manually Provide Authentication Response"
Recent Nightly builds changes authentication method that relies on OAuth app which seems great (especially if also used for Settings Sync) bit has problems with access to private repos except your own.

It would be great to have option to manually provide token to resolve access problems as it worked in 0.15 and earlier.

[2020-04-21 20:34] IllusionMH opened #1666 "Reduce "No remote with name '${remote}' found..." spam in logs"
More like feature request than issue but affects at least 0.15 and Nightly.

Currently extension unconditionally logs every single remote name from `githubPullRequests.remotes` which doesn't exist in repo.

https://github.com/microsoft/vscode-pull-request-github/blob/917d04fd3d245707f589190d7e94a00925c90339/src/github/pullRequestManager.ts#L213-L217

If I have 4 common remotes in user setting and

[2020-04-22 05:21] RMacfarlane opened #1667 "Clean up credential store API"
Instead of exposing hasOctokit, getHub, loginWithConfirmation, login, etc., consolidate into a clearer API

[2020-04-22 09:12] alexr00 commented on #1506
New behavior:
![image](https://user-images.githubusercontent.com/38270282/79963774-1a4f9d80-848a-11ea-91dd-71507a14a706.png)

[2020-04-22 09:19] alexr00 commented on #1660
I have tried that, though not by choice. Several times the PR view has gone from having all the PR queries to just "Sign in", so of course I sign in again. I now also can't create PRs.

[2020-04-22 09:49] #1608 closed

[2020-04-22 10:56] #1547 closed

[2020-04-22 10:59] joaomoreno opened #1669 "Strange build error"
I always have this error when running the build locally. Not really sure how to fix it.

[code]

Also see it in Code:

![image](https://user-images.githubusercontent.com/22350/79974281-53dbd500-8499-11ea-8c39-770b165934ce.png)

[2020-04-22 11:03] joaomoreno commented on #1667
As a reference, here's what I converged on after lots of trial and error:

https://github.com/microsoft/vscode-pull-request-github/blob/a1d82e4c6f608fe89324240f81c66d7b2d4cd82f/src/gitExtensionIntegration.ts#L60:L70

[2020-04-22 11:36] alexr00 commented on #1653
It seems that I'm lacking a way to sign out of GitHub. What am I missing here?
![image](https://user-images.githubusercontent.com/38270282/79977287-4d039100-849e-11ea-995b-07b7f6c2c307.png)

[2020-04-22 14:11] Tyriar opened #1670 "New icon is thinner than the rest of the icons"
It also appears to be an svg not an icon font which makes it look more out of place (do all extensions have this problem?)

![image](https://user-images.githubusercontent.com/2193314/79992426-5114bc00-8468-11ea-957a-f352e9e9d240.png)

![image](https://user-images.githubusercontent.com/2193314/79992468-5d991480-8468-11ea-9092-f594d0f1524b.png)

[2020-04-22 14:56] misolori commented on #1670
Yes, because every extension icon they provide is an svg.

[2020-04-22 15:00] csullens-work commented on #1607
Same here with GHE...no errors in output, only in pop-up.

[2020-04-22 15:55] alexr00 commented on #1660
Ok, the way to repro the unintended sign out for me is to try to create a PR to this repo. It signs me out every time.

[2020-04-22 15:57] alexr00 commented on #1660
Apparently it only signs me out 3ish times. If I try to create a pull request enough times it eventually worked.

[2020-04-22 16:00] RMacfarlane commented on #1660
Huh, ok, I'll see if I can repro it.

Which version of Insider's are you on now? 9328b32008089c515f39a13db9c71e57c7d36823?

[2020-04-22 16:35] ecraig12345 commented on #1589
When will this be released? I'm disabling the extension until then because this behavior is too obnoxious...

[2020-04-22 16:41] ecraig12345 opened #1672 "Add settings for entirely turning off user and issue completion"
Like #1589 and #1645 but not per-language. I do not find these features useful and would like to completely disable them, without enumerating every single language I use.

More background: the reason I don't find these useful is because there are too many other contexts in which I might type `@` or `#` (even in comments) which have nothing to do with GitHub. You might be able to make inference of

[2020-04-22 16:52] RMacfarlane commented on #1656
@askvortsov1 I'm having trouble reproducing this, I've tried setting remotes to ssh form and they're correctly found

[code]

Are you able to share the full remote url you're using?

[2020-04-22 16:53] ecraig12345 commented on #1672
Also, even when I add the current language to the ignore list (using the nightly build), I'm still getting user completions?
[code]

[2020-04-22 17:01] RMacfarlane commented on #1653
If you have a `"configurationSync.store"` setting, can you remove it? That should cause the accounts icon to appear, where you can sign out from

[2020-04-22 17:04] RMacfarlane commented on #1653
I'm wondering if maybe I should expose logout in the auth provider API and we should keep the sign out command, it seems currently very hard to discover

[2020-04-22 17:08] RikkiGibson opened #1673 "Creating comment failed: HttpError: Not Found"
Using the nightly build (2020.4.31142) or master (0aa30ea) gives this error when I hit the "Add Comment" button. The comment view then changes to the "edit" mode with cancel/save buttons.

I tried to get a stack for this but I didn't manage to hit a breakpoint for it. The error in the developer console has a stack with one frame, but it's core workbench code. I wonder if there's something that can

[2020-04-22 17:16] RMacfarlane commented on #1673
Do you remember if you had the PR checked out when trying to comment?

[2020-04-22 17:22] RikkiGibson commented on #1673
I had an unrelated feature branch checked out in my local repo. Is that what you mean?

[2020-04-22 17:59] RMacfarlane commented on #1673
Yeah, that's what I meant. I'm able to repro this, looking into it now.

[2020-04-23 07:52] anmolarora opened #1676 "Mark a file as `Viewed` when reviewing a PR"

[2020-04-23 07:53] anmolarora commented on #1676
duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/1278

[2020-04-23 07:53] #1676 closed

[2020-04-23 08:01] alexr00 opened #1677 "Permalinks don't always work correctly when a subfolder is open"
Example: https://github.com/microsoft/vscode-extension-samples/blob/864892d0dd52abd8313c7e4d6ace9774701d950c/src/testView.ts#L44-L59

[2020-04-23 08:17] alexr00 commented on #1660
Yes. Now I'm on bd262894bbaac5156d5bf832160b7056c91decea and still having problems.

[2020-04-23 08:40] alexr00 opened #1679 "Squash and merge doesn't populate description"
When I squash and merge a PR, I expect the description to be populated with something (I would prefer it just have the original description on the PR, but I think GitHub usually does all the commit titles).

![image](https://user-images.githubusercontent.com/38270282/80078149-cbb80700-854e-11ea-8abf-870067d0c084.png)

[2020-04-23 08:51] #1601 closed

[2020-04-23 09:01] #1506 closed

[2020-04-23 09:23] alexr00 commented on #1663
You weren't signed in for the PR extension (sign in doesn't seem to work in the web @RMacfarlane FYI)

I'll hide the commands when you aren't signed in.

[2020-04-23 09:33] alexr00 opened #1681 "Add icons to issue status bar options"

[2020-04-23 10:00] alexr00 commented on #1653
Done. I still get many sign in problems. The PR extension often claims I've signed out. I also appear to be lacking the scopes required (or have some other problem) to comment on a PR and to merge a PR.

[2020-04-23 10:12] daniel-montalvo opened #1683 "Dealing with comments and suggestions in the inline editor"
Thanks for the very good work you are doing with this extension!

There seems not to be an apparent way to deal with comments in the inline editor for screen reader users (or I am totally missing it). There is a tree view for changes but not so for comments.

1. Is there an implemented workflow for inserting, replying, and suggesting using the VSCode inline editor that takes into account screen re

[2020-04-23 14:52] bkmeneguello commented on #222
I'm having this problem. My key was added to the agent but is still asking for username/password to checkout the PR.

[2020-04-23 15:09] RMacfarlane commented on #1653
I still haven't been able to reproduce the random sign outs - does it seem like it's always tied to a user action like starting a PR, or does it sometimes just happen?

For the comment/merge problem, when changing to the new authentication provider, we changed from using a first party GitHub app to a third party app. Accessing data on organization-owned private repos doesn't work by default for th

[2020-04-24 08:30] egamma opened #1687 "Issues: Editing a built-in query navigates to the end of the settings.json"
When trying to edit a built in query in the default setup (no setting customizations)

![image](https://user-images.githubusercontent.com/172399/80191513-1a7ca400-8616-11ea-8de1-ed45243ed95b.png)

then the settings.json opens at the end of the file since in the default setup there is no `githubIssues.queries` section in the settings.

Since the user expressed interest in editing the query, the def

[2020-04-24 08:32] #1677 closed

[2020-04-24 08:32] #1663 closed

[2020-04-24 08:33] #1681 closed

[2020-04-24 08:33] #1672 closed

[2020-04-24 08:34] #1614 closed

[2020-04-24 08:36] egamma opened #1688 "foo"
https://github.com/microsoft/vscode-pull-request-github/blob/b115bf36ebee5647c6a812c2130cbc5b44da662b/src/issues/issueFeatureRegistrar.ts#L24-L35

[2020-04-24 08:36] #1688 closed

[2020-04-24 08:39] egamma opened #1689 "foo"
https://github.com/microsoft/vscode-pull-request-github/blob/b115bf36ebee5647c6a812c2130cbc5b44da662b/src/issues/issueFeatureRegistrar.ts#L386-L386

[2020-04-24 08:39] #1689 closed

[2020-04-24 09:45] joaomoreno commented on #1664
A few considerations:

- In order to create a repo, the user must pick between public and private, and we must present this choice properly with a warning lest they end up accidentally publishing private data to the wild.
- Authentication is an issue when dealing with the git cli (`git push`). The auth token might be sufficient but it needs to be hooked up to the git cli. For now we prompt the use

[2020-04-24 10:22] ggcatu opened #1691 "We couldn't find commit"
Issue Type: <b>Bug</b>

Constantly getting this error, is really annoying and breaks the complete usage of the extension.

![image](https://user-images.githubusercontent.com/9058818/80202754-66cfe000-8626-11ea-976e-f85b3c35ebbc.png)

![image](https://user-images.githubusercontent.com/9058818/80202643-3d16b900-8626-11ea-9a31-791758a8f53f.png)

Extension version: 0.15.0
VS Code version: Code 1.44.2

[2020-04-24 18:02] askvortsov1 commented on #1656
Thanks for the quick reply! I currently have the following remotes:
origin  git@github.com:flarum/core.git (fetch)
origin  git@github.com:flarum/core.git (push)
rem     git@github.com:askvortsov1/core.git (fetch)
rem     git@github.com:askvortsov1/core.git (push)

In recent versions of nightly, the situation has changed a bit: instead of just saying that there's no matching remotes found, there's

[2020-04-24 18:11] RMacfarlane commented on #1656
What version of the nightly extension are you using? Does the pull request tree load despite the error message? Can you open the output panel and choose "GitHub Pull Request" and copy the logs from that here?

[2020-04-24 18:36] askvortsov1 commented on #1656
I'm on 2020.4.34022. The pull request tree does not load. After further testing, it looks like that error message only shows up if I add another remote over https (in which case the pull request tree DOES load), otherwise, it behaves like described in https://github.com/microsoft/vscode-pull-request-github/issues/1656#issue-603412513. Apologies for not clarifying that in my previous comment.

Afte

[2020-04-25 00:17] cconeill commented on #1251
Noting that this no longer works, the `githubPullRequests.hosts` config set in JSON is overwritten whenever the GitHub extension starts.

[2020-04-25 17:36] madeddie commented on #1126
I'm not well-versed in graphql at all. It's rather easy to find all teams of the parent owner organization of a repository, but not all of those teams would have access to that repository, so we would have to get the list of repositories per team and then filter in-app?

[2020-04-25 22:31] azec-pdx opened #1695 "Can't see PRs for GitHub org"
I am member of few organizations/teams in GitHub.
I contribute to multiple private repositories that belong to orgs.

When I installed VS Code extension for GitHub Pull Requests I used manually entered auth token with roles provided in [wiki doc](https://github.com/Microsoft/vscode-pull-request-github/wiki#personal-access-token-authentication).

- Extension version: `0.15.0`
- VSCode Version:
[cod

[2020-04-26 15:52] RMacfarlane commented on #1695
The extension looks at the remotes of the currently open folder and shows pull requests based on those. Do you have open the repository belonging to an organization?

[2020-04-27 11:25] aeschli commented on #1313
@joaomoreno FYI

[2020-04-27 12:39] #1687 closed

[2020-04-27 12:41] alexr00 commented on #1672
Try out the two settings `"githubIssues.issueCompletions.enabled"` and `"githubIssues.userCompletions.enabled"` and verify that they correctly disable issue and user completions.

[2020-04-27 13:06] alexr00 opened #1696 "Have a way to add assignees and labels when creating an issue"

[2020-04-27 13:16] alexr00 commented on #1642
To verify:
Trigger the issue suggestions
While the suggestions are showing, do `ctrl+shift+space`
Re-trigger issue suggestions and verify that they have been refreshed.

[2020-04-27 13:16] joaomoreno commented on #1664
Update:

- Authentication is now automatically handled in the core: https://github.com/microsoft/vscode/issues/96241
- Still need to figure out a `.gitignore` strategy

[2020-04-27 13:18] alexr00 commented on #1624
To verify:
Install the nightly build of the extension
Open the Issues view and verify that that there are two queries show: your issues grouped by milestone (the default query) and a second query with issues you created.

[2020-04-27 13:19] alexr00 commented on #1622
To verify:
Install the nightly build of the extension
Open the Issues view
Click on the tools icon next to a query title and verify that it opens your settings at that query.

[2020-04-27 13:26] alexr00 commented on #1587
To verify:
Modify a query in `githubIssues.queries` and use the `$(owner)` and `$(repository)` variables. Verify that they do what you expect!

[2020-04-27 13:28] alexr00 commented on #1506
To verify:
Install the nightly build of this extension
Hover over this in GitHub so you can see what it looks like: https://github.com/xtermjs/xterm.js/issues/702#issuecomment-539105873
Paste `https://github.com/xtermjs/xterm.js/issues/702#issuecomment-539105873` into an editor in vscode
Hover over that link and verify that it looks similar to the same hover on GitHub.

[2020-04-27 13:50] joaomoreno commented on #1313
This is now in core VS Code 🎆

[2020-04-27 13:50] #1313 closed

[2020-04-27 16:00] jonathanvila opened #1697 "Mark files as "viewed""
In Github you can mark a file as viewed and it collapses its content and also gives you an idea of what you have done in long PRs

[2020-04-27 16:21] jonathanvila opened #1698 "Do the full review on the comments view : add comments, modify code, navigate, intellisense"
I have been struggling to do my normal flow :

CASE A
* I have a PR assigned
* I take a look but I need to navigate the code and have intellisense in the view with the comments and with the side by side diff with master
-> Now I can only see/add the comments but not navigate and have intellisense in the same view.

CASE B
* I create a PR
* my colleague introduce comments
* I respond with more comm

[2020-04-27 16:22] RMacfarlane commented on #1697
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/1278

[2020-04-27 16:22] #1697 closed

[2020-04-27 17:20] azec-pdx commented on #1695
Thank you @RMacfarlane ! Indeed that was my problem. I was assuming that like GitHub UI for Pull Requests searches does, VSCode plugin will show all my PRs (globally) instead of being focused just on currently opened folder (being valid git repo).
I am closing the ticket therefore!

[2020-04-27 17:20] #1695 closed

[2020-04-27 18:41] ecraig12345 commented on #1672
Works for me. Thanks!

[2020-04-27 19:55] RMacfarlane commented on #1665
I just changed the authentication flow of the new GitHub authentication provider to be what this extension used to have. So, instead of directly using an OAuth app, it goes to an authentication server owned by GitHub, which grants tokens that do not have the restriction about organziation-owned private repos. Settings sync uses the same GitHub authentication provider.

This is a temporary solution

[2020-04-27 19:58] IllusionMH commented on #1665
So then it would be changed to OAuth again or there is some third alternative?

[2020-04-27 20:39] RMacfarlane commented on #1665
Not sure what it would be yet, the current possibilities are OAuth app again, or a GitHub app. GitHub app poses other challenges, instead of dynamically requesting tokens with different scopes, you have to specify permission at create time, so would not work well for the GitHub authentication provider. We're talking to some people at GitHub, so we may be able to come up with an alternative to thos

[2020-04-27 20:40] IllusionMH commented on #1665
Thanks for the explanation!

[2020-04-28 09:14] egamma opened #1699 "Signin state could be more prominent and use the new Welcome Views"
Testing https://github.com/microsoft/vscode/issues/96313

The PR View is currently showing a text label to signin:

![image](https://user-images.githubusercontent.com/172399/80469561-051eb700-8941-11ea-96f9-a99d00dd8182.png)

This could be made more prominent using a welcome view shown in this context, similar as the explorer is using in the empty state:

![image](https://user-images.githubusercon

[2020-04-28 12:40] isidorn opened #1700 "Error: persistant store not initialised"
Refs: https://github.com/microsoft/vscode/issues/96280

Ubuntu 18
VSCode insiders, no git credentials, purple no folder vscode

1. Clone repository
2. Choose GitHub
3. Type some repostiory name "vscode" press enter. Nothing happens 🐛

Do the clone flow again -> error persitant store not initialised in quick pick. I would not expect to see this user unfriendly error

![Screenshot 2020-04-28 at 14 3

[2020-04-28 12:57] joaomoreno commented on #1700
@RMacfarlane Is this an authentication API error?

[2020-04-28 13:22] sandy081 opened #1701 "Github authentication does not work in web"
Using Github account for settings sync from Web throws following error

![image](https://user-images.githubusercontent.com/10746682/80492257-0d3c1e00-8964-11ea-943e-674a31bfe9e2.png)

[2020-04-28 13:44] chrmarti opened #1702 "PR Title Source needed?"
https://github.com/microsoft/vscode-internalbacklog/issues/1021

Both the latest commit's message and the branch name seem unlikely to be helpful titles. Maybe instead just have an input box with #issuenumber as its preselected text?

![image](https://user-images.githubusercontent.com/9205389/80494574-18447d80-8967-11ea-8747-8199ac44f443.png)

[2020-04-28 13:47] chrmarti opened #1703 "Custom PR title default"
https://github.com/microsoft/vscode-internalbacklog/issues/1021

It seems to use the latest commit's message, but that might be unrelated. `#issue_number issue_title` might make more sense in most cases.

![image](https://user-images.githubusercontent.com/9205389/80494777-5cd01900-8967-11ea-818e-cee6d287f9ac.png)

[2020-04-28 13:52] chrmarti opened #1704 "Draft PR opens PR in 'review' mode"
https://github.com/microsoft/vscode-internalbacklog/issues/1021

This might need a 'work in progress' mode:
![image](https://user-images.githubusercontent.com/9205389/80495364-1a5b0c00-8968-11ea-866b-94f364e69613.png)

E.g., 'Approve' is enabled. 'Exit Review Mode' would need an other label.

[2020-04-28 13:56] chrmarti commented on #1703
Actually, that commit might have been part of the delta to the `master` branch. So maybe this is 'as designed'. (Trying to reconstruct what happened.)

[2020-04-28 13:57] chrmarti opened #1705 "Validation Failed: No commits between master and issue branch"
https://github.com/microsoft/vscode-internalbacklog/issues/1021

I started working on an issue while on `master` and then started a draft PR:
![image](https://user-images.githubusercontent.com/9205389/80496051-f6e49100-8968-11ea-8244-1d715a69e726.png)

[2020-04-28 14:05] chrmarti opened #1706 "Ask if I want to create a new branch"
https://github.com/microsoft/vscode-internalbacklog/issues/1021

I might sometimes start a (draft) PR from the target branch and sometimes from an issue branch that already has changes against the target branch. It might make more sense to ask the user if the current branch should be used or a new one should be created:
![image](https://user-images.githubusercontent.com/9205389/80496892-1334fd80-8

[2020-04-28 14:07] chrmarti commented on #1703
Checked the reflog, I was on another branch with 'Test' commit as delta against `master`. Closing.

[2020-04-28 14:07] #1703 closed

[2020-04-28 14:08] alexr00 commented on #1702
@chrmarti I almost always (even before using the PR extension) want to use the latest commit message as the title of my PRs, so this makes sense for me. I hate having the issue number in the title of a PR because it is utterly un-scannable (if I'm quickly looking through commits to try to find something suspicious, a number is meaningless), so I always put the issue number on a new line.

Because

[2020-04-28 14:19] chrmarti commented on #1702
I see, then make the last commit's message the default text in an input box and skip the PR Title Source step? The branch name doesn't make more sense than the issue number.

[2020-04-28 14:22] alexr00 commented on #1702
Sounds good to me!

[2020-04-28 14:33] chrmarti opened #1707 "Ask which branch to branch off from"
https://github.com/microsoft/vscode-internalbacklog/issues/1021

With `githubIssues.alwaysCreateDraftPR` it might make sense to ask the user where to branch off from and if to branch off at all (related #1706).

Currently when working on an issue and starting to work on another issue, the branch is first switched back to `master` and then the new branch is created from there. If not working on an

[2020-04-28 14:45] jrieken commented on #1629
@alexr00 fyi - your workaround shouldn't be needed any longer

[2020-04-28 14:50] chrmarti opened #1708 "Git Clone from GitHub does not show all my repositories"
https://github.com/microsoft/vscode-internalbacklog/issues/1022

Many repositories are shown (all I have access to?):
![image](https://user-images.githubusercontent.com/9205389/80501908-49757b80-8970-11ea-82a8-ed42bd6a52fb.png)

When I filter down to mine, only one is shown when I have many more:
![image](https://user-images.githubusercontent.com/9205389/80501767-1a5f0a00-8970-11ea-9a21-68a50d73d9

[2020-04-28 14:57] chrmarti commented on #1708
Also can't find all I have access to under `microsoft`. Maybe an arbitrary limit? Or paging?

[2020-04-28 14:59] alexr00 commented on #1629
Very nice, I will remove it!

[2020-04-28 15:10] joaomoreno commented on #1708
When you type, a search should be triggered. Do you see the quick pick get busy at all?

[2020-04-28 16:25] #1700 closed

[2020-04-28 17:17] misolori commented on #1702
I agree that we should use the last commit message, that is what the GH ui does as well:

Commit message
![image](https://user-images.githubusercontent.com/35271042/80517134-6fcbf480-8939-11ea-877e-4236395d3e0a.png)

Default text for pr
![image](https://user-images.githubusercontent.com/35271042/80517111-65115f80-8939-11ea-910d-d936a5882be0.png)

[2020-04-28 17:25] misolori opened #1710 "Issues pane shows no issues on load"
Testing https://github.com/microsoft/vscode-internalbacklog/issues/1021

![image](https://user-images.githubusercontent.com/35271042/80514809-df3fe500-8935-11ea-943a-0cbb8add52f8.png)

It's a small repo with 2 issues, one is assigned to me, and when I first open the pane the issues list is empty, which is confusing and makes me think something is broken. I click re-fresh and nothing happens. I the

[2020-04-28 17:26] misolori opened #1711 "Edit query icon should be pencil or gear"
Testing https://github.com/microsoft/vscode-internalbacklog/issues/1021

![image](https://user-images.githubusercontent.com/35271042/80516130-dd772100-8937-11ea-89ba-1234a48970eb.png)

We typically use the pencil (`edit`) icon for editing OR the `gear` icon for configuring settings.

The remote ssh extension uses the gear for configuring the connections:

![image](https://user-images.githubusercon

[2020-04-28 17:32] misolori opened #1712 "Issues pane needs better loading state"
The PR pane uses both the loading bar and a loading entry, we also do this in other views. I think the issues pane should also show the loading entry.

**Issues pane**
![image](https://user-images.githubusercontent.com/35271042/80518305-27add180-893b-11ea-9659-8ed351575542.png)

**PR pane**
![image](https://user-images.githubusercontent.com/35271042/80518342-31373980-893b-11ea-8021-e948c6c204ab.pn

[2020-04-28 17:46] misolori opened #1713 "Support creating issues within extension"
Just like you can create a pull request from within the extension, we should also support creating issues from within the extension. Simple two-step process for title and body message.

[2020-04-29 00:00] kieferrm opened #1714 "Present Sign-in option even when the folder is not a git repository"
Issue Type: <b>Bug</b>

Testing https://github.com/microsoft/vscode/issues/96313.

1) Create a new local folder with a couple of files
2) Open VS Code on this folder
3) Go to the PR extension
-> `No git repositores found`

We should rethink what we do here. It seems that we should at least allow to sign in here.

Extension version: 2020.4.39782
VS Code version: Code - Insiders 1.45.0-insider (abb4

[2020-04-29 05:29] chrmarti commented on #1708
It got busy. I didn't type an actual name (since I was expecting to get a list).

It works better after reloading today. I can repro what you mention, searching for `chrmarti/vscode` only shows 8 out of 15 expected results.

[2020-04-29 05:36] misolori commented on #1714
I also ran into this except I had no folders opened. This is a fresh install of insiders + the pull requests extension, I expected to see a sign in option at the minimum.

[2020-04-29 05:42] misolori opened #1716 "When cloning repo and not signed in, ask the user to sign in"
Testing https://github.com/microsoft/vscode/issues/96280

![image](https://user-images.githubusercontent.com/35271042/80563865-2911e500-89a1-11ea-8d3e-c8b22b75819e.png)

Attempted to clone a repo without being logged in and was hit with this weird error. There is no clear action as to what the user should do. I expected to be asked to sign in and for this error to be friendlier as I assume this me

[2020-04-29 09:28] alexr00 commented on #1713
We sort of have this, but only for issues created from code. Should add for just creating general issues.

[2020-04-29 09:30] alexr00 commented on #1710
The issues pane starts out empty because we wait for auth and other extension setup to happen first. I think having the 'Loading...' message will help this, and I'll put an error in there if something goes wrong.

[2020-04-29 09:32] joaomoreno commented on #1716
This is a dupe which was fixed in today's GHPR nightly. Can you try again @misolori?

[2020-04-29 11:38] egamma opened #1717 "Add a hover command for issues in the Issues View"
‘Start to work on issue’ is currently somewhat hidden in the context menu of the Issues view. Adding an inline command will improve its discoverability.

![image](https://user-images.githubusercontent.com/172399/80591825-a465ac00-8a1e-11ea-8677-c1f0198630c1.png)

[2020-04-29 12:42] alexr00 opened #1720 "Remove apply patch option from issue actions"
It does not satisfy a real use-case.

[2020-04-29 12:45] aeschli commented on #1642
A shortcurt for a refresh is a good thing, not just when doing code completions, but also to update the issue section in MyIssue. IMO it would be cool to have a shortcut that is available everywhere (I know, easier said than done, not many shortcurt left)

[2020-04-29 14:21] dbaeumer commented on #1642
I need to reopen this since it doesn't work for me under Windows in the Git input field when picking a issue.

[2020-04-29 14:23] dbaeumer commented on #1642
See screen shot
<img width="878" alt="capture" src="https://user-images.githubusercontent.com/1931590/80607306-a38c4480-8a35-11ea-8741-f17531381c49.png">

Although pressing Ctrl+Shift+Space the item 197 doesn't disappear. But it should.

[2020-04-29 14:24] alexr00 commented on #1642
@dbaeumer did you retrigger the suggestions? I don't believe there's a way to refresh the widget itself from an extension.

[2020-04-29 14:25] dbaeumer commented on #1642
Yes, pressed `Ctrl+Shift+Space` a couple of times.

[2020-04-29 14:27] alexr00 commented on #1642
But did you close the suggest widget and re-open it? It is still working for me.

[2020-04-29 14:48] kieferrm opened #1724 "Missing issue view icon"
Issue Type: <b>Bug</b>

Testing https://github.com/microsoft/vscode/issues/96318.

- drag the Issues view into the activity bar
->
![image](https://user-images.githubusercontent.com/4674940/80610118-ceeb4100-89ed-11ea-98fa-21625b10da2c.png)

The view should use the GH issues icon.

Extension version: 2020.4.39782
VS Code version: Code - Insiders 1.45.0-insider (4bd206856db30c27d38aa0f1fbe74bac6156

[2020-04-29 15:19] alexr00 commented on #1724
@sbatten The Pull Requests view has the same problem and it's using the exact same icon as the view container. Are we missing something:
https://github.com/microsoft/vscode-pull-request-github/blob/1f59d962f36b1e20ad447bfd8e3c07d70a3a7c74/package.json#L333-L348

[2020-04-29 15:36] misolori commented on #1716
Tried this today and it's still happening. It's unclear from #1700 what is the expected behavior, I expect to be asked to sign in if I am already not.

**GitHub PR Extension**
Version: 2020.4.39782

**Insiders**
Version: 1.45.0-insider
Commit: 4bd206856db30c27d38aa0f1fbe74bac6156edc7
Date: 2020-04-29T05:31:36.229Z
Electron: 7.2.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS:

[2020-04-29 15:55] roblourens opened #1725 "Gap between labels in issue preview"
I see this large gap between the two labels

![image](https://user-images.githubusercontent.com/323878/80617641-f949f800-8a07-11ea-8bc9-9589d5560433.png)

`https://github.com/xtermjs/xterm.js/issues/702#issuecomment-539105873`

[2020-04-29 17:42] gi opened #1726 "Add Out-of-date Branch Workflow: Warning and Update Action"
Situation:
* PR branch is no longer up-to-date with the base branch
* Project requires that PR branches be merged with latest changes

On the website, this warning is shown:
![Screen Shot 2020-04-29 at 10 29 58](https://user-images.githubusercontent.com/7407551/80627740-11138300-89ec-11ea-87ba-5b334590b25d.png)

In the extension, the Description view only shows:
![Screen Shot 2020-04-29 at 10 39 1

[2020-04-29 20:59] egamma opened #1727 "Allow to edit the issue title when editing the issue description in the editor"
When editing the description I would also like to have the option to edit the title.

This could be done by a similar convention as for git comment, where the title of the commit message is separated from the body using an empty line.

![image](https://user-images.githubusercontent.com/172399/80646521-2da3cf80-8a6d-11ea-875a-8d2ff53ae913.png)

[2020-04-29 21:27] #1673 closed

[2020-04-29 23:01] roblourens opened #1728 ""Delete Branch" loop"
- Verified https://github.com/microsoft/vscode-internalbacklog/issues/979
- Closed PR
- "Delete branch"
- Accepted the dialog to delete the local and remote branches
- Waited a couple seconds, and the Delete Branch button appears again
- If I click it, it asks to delete the remote branch, I accept it, repeat

![Apr-29-2020 17-56-45](https://user-images.githubusercontent.com/323878/80654989-35e7150

[2020-04-29 23:02] roblourens opened #1729 "Console log spam"
![image](https://user-images.githubusercontent.com/323878/80655164-94ac8e80-8a43-11ea-9888-5c4bb3e7970c.png)

https://github.com/microsoft/vscode-pull-request-github/blob/0008869fbd3fecd6b0553be99a261325e3a8a2f9/preview-src/context.tsx#L172

[2020-04-29 23:12] roblourens commented on #1728
And the branch is not deleted on the remote

[2020-04-29 23:15] RMacfarlane commented on #1728
Anything in the output channel or dev console?

[2020-04-30 01:47] roblourens commented on #1728
No

[2020-04-30 08:06] dbaeumer commented on #1642
I was expecting that the widget reloads. Having to close and reopen it makes it pretty hard to use from a user perspective. A user has to open the widget, press ctrl+shift+space, close the widget and reopen it :-). Any objection to reopen the issue to make this refresh automatically?

[2020-04-30 09:04] egamma commented on #1713
See also #1727. If this is supported then you could do this from an editor.

[2020-04-30 09:08] egamma commented on #1708
CC @jrieken he has addressed some of the repository query peculiarities for the github-issues-notebook.

[2020-04-30 09:30] joaomoreno commented on #1716
@RMacfarlane I thought https://github.com/microsoft/vscode-pull-request-github/pull/1709 fixed this?

[2020-04-30 09:31] jrieken commented on #1708
You can query for all repos of an org (https://developer.github.com/v3/repos/#list-organization-repositories) BUT the microsoft-org has 3500+ repos and paging them all (1000 at a time) takes minutes and isn't feasible.

In GH issue land I use a combination of repo for user (https://developer.github.com/v3/repos/#list-repositories-for-the-authenticated-user) and plain repo search (by name and org).

[2020-04-30 09:35] joaomoreno commented on #1716
@misolori I really can't repro this. Are you sure you are on latest Insiders and latest GHPR nightly?

https://msit.microsoftstream.com/video/6400a4ff-0400-96d0-a721-f1ea8ac5c139?list=studio

[2020-04-30 09:37] joaomoreno commented on #1708
That's exactly what I currently have. You can always find a repo if you know its name since it's Quick Open API.

@chrmarti If you type the name of a repo, can you not find it in quick open?

[2020-04-30 09:40] #1705 closed

[2020-04-30 09:40] #1720 closed

[2020-04-30 09:40] #1711 closed

[2020-04-30 09:56] #1717 closed

[2020-04-30 10:27] Chathula commented on #1376
is there any update on this? waiting for this :(

[2020-04-30 11:39] #1642 closed

[2020-04-30 18:31] JacksonKearl opened #1731 "No issue suggestions on non-writable repos"
1. Clone repo like https://github.com/egamma/egammaCase
2. In SCM, type `#`. No results
3. Trigger suggestions. Only user Egamma result shows.

[2020-04-30 18:31] Tyriar opened #1732 "Default issue query should be the actual query"
![image](https://user-images.githubusercontent.com/2193314/80746035-10571b80-8ad6-11ea-91cf-0155b59285a3.png)

Can this be `"author:${user}"` or whatever the default is instead?

[2020-04-30 18:35] Tyriar commented on #1732
Hmm, maybe it's special how it's split up by milestone so this can't be accomplished.

[2020-04-30 18:35] Tyriar opened #1733 "Suggestion: Explain issue query in the query field"
Right now all the meat of the description is in githubIssues.queryies:

![image](https://user-images.githubusercontent.com/2193314/80746211-59a76b00-8ad6-11ea-855f-ec03c79980ef.png)

The query syntax could be explained here though which would simplify both fields by explaining a single thing in each.

![image](https://user-images.githubusercontent.com/2193314/80746282-7a6fc080-8ad6-11ea-9d27-c8984

[2020-04-30 18:37] urandu commented on #1376
@Chathula I will be pushing out a PR on this within a week from now

[2020-04-30 18:40] connor4312 commented on #1589
@ecraig12345 you can use the nightly version of the extension, `github.vscode-pull-request-github-insiders`, or wait until stable is bumped next week 🙂

[2020-04-30 18:40] Tyriar opened #1734 "Should the "Created Issues" query default to sort by newest?"
Sorting by last updated seems not as useful as newest created as when I search for recently updated issues I normally want to look at either issues that are assigned to me or _any_ issue, just restricting this to ones I created seems odd.

[2020-04-30 19:02] connor4312 opened #1735 "Cannot read property login of undefined"
- Extension version: 2020.4.42661
- VSCode Version: 1.45.0-insider@a0fe37870c42e0704a492cdc6b8550b4cf23f63c (2020-04-30T05:39:08.281Z)
- OS: Windows_NT x64 10.0.18363

Unfortunately I'm not sure how I got into this state. I updated my settings (to add "githubIssues.ignoreMilestones"), then the Github view (both issues and PRs) blanked out and this error was logged:

![](https://memes.peet.io/img/2

[2020-04-30 19:04] Corry104 commented on #1464
it' one of your extensions that is causing this prompt to come out. Mine was Live-Share.
Disable all extensions, reload and then enable them again. You will see that the bugged one will show that prompt immediately as soon as you click the "enable" key. Remove the extension will fix it. If you really need that extension remove it and look for something that does the same but from a different sourc

[2020-04-30 19:09] connor4312 opened #1736 "Use a different icon for closed issues in the Issues view"
While testing https://github.com/microsoft/vscode-pull-request-github/issues/1591

I noticed that if I edited the issue query to include closed issues, we don't distinguish those in the issues view. We should use the "closed" icon as appropriate.

![](https://memes.peet.io/img/20-04-606de59d-448c-4019-8ea3-5021894d5c2e.png)

[2020-04-30 19:21] chrmarti commented on #1708
Yes, typing the full name works.

[2020-05-01 12:47] egamma opened #1737 "Issues: Edit button wording - mention that you can also edit the title"
'... or use the edit button to edit the issue title and description'

![image](https://user-images.githubusercontent.com/172399/80806134-1cb4a480-8bba-11ea-8f6d-070512b1225e.png)

[2020-05-01 13:56] roblourens opened #1738 "Can't create PR from a multiroot workspace"
I have a workspace with 3 git repos. I want to create a PR in the vscode repo but the extension is only looking at another one

I pushed a branch in vscode then ran "Create Pull Request"

![image](https://user-images.githubusercontent.com/323878/80810504-97b19700-8b89-11ea-99d6-c60e93932119.png)

`microsoft/notebook-extension-samples` is the parent of `notebook-provider`

[2020-05-01 13:57] roblourens commented on #1738
Oh duh I just have to select it in the scm view

[2020-05-01 13:57] #1738 closed

[2020-05-01 16:51] roblourens commented on #1673
Should the fix be in the latest nightly build? I still repro this.

[2020-05-01 16:53] RMacfarlane commented on #1673
Yeah, it should be. Can you try signing out and in again? I'm wondering if the first-party vs third-party app registration is also making a difference here

[2020-05-01 18:02] RMacfarlane commented on #1735
Hmm!  If you see this again, can you grab the log from the "GitHub Authentication" channel in the output panel?

[2020-05-01 18:03] connor4312 commented on #1735
will do

[2020-05-01 18:04] roblourens commented on #1673
That worked

[2020-05-01 18:05] roblourens opened #1739 "Comment deleted through web UI is not cleared"
- Open file in some PR (I didn't check out the PR)
- Leave a comment
- delete the comment in the browser
- It doesn't disappear from vscode
- Reply to the comment

![image](https://user-images.githubusercontent.com/323878/80829283-744c1380-8bac-11ea-9aec-f135b7cc0bac.png)

[2020-05-01 21:00] roblourens opened #1741 "No issues shown in multiroot workspace"
- Open workspace with vscode, and another repo
- Select vscode in the SCM view

No issues shown:

![image](https://user-images.githubusercontent.com/323878/80841375-df094900-8bc4-11ea-9aaf-5e36223db95f.png)

When I open the vscode folder on its own, then I see the issues

[2020-05-01 21:10] RMacfarlane commented on #1716
I'm also not able to repro this now, @misolori can you try again when you have a chance?

[2020-05-01 21:19] RMacfarlane commented on #1698
Hey @jonathanvila

For Case A, there is a way to do this currently, but is perhaps not immediately discoverable. If you open the description page of the PR and click "Checkout", a new view in the sidebar should appear titled "Changes in Pull Request". Here you can browse the diffs as before, or navigate to the file as it is on disk using this button:
<img width="421" alt="Screen Shot 2020-05-01 at

[2020-05-01 21:57] misolori commented on #1716
Just tried this again and it's fixed, there's a notification to sign in. Thanks for following up!

[2020-05-01 21:57] #1716 closed

[2020-05-02 11:32] adam-p commented on #1649
Same problem. Same version of VSCode and the extension, but on Windows 10 Pro. This has been the state probably for a couple of weeks.

I also double-checked that I can ping `api.github.com`, but I don't think that's the problem -- it looks more like a local proxy can't be connected to.

[code]

[2020-05-02 12:37] Haibao425 opened #1743 "No remote with name 'origin' found. Please update your 'githubPullRequests.remotes' setting."
- Extension version: 0.15.0
- VSCode Version: 1.44.2
- OS: 10.15.4

Steps to Reproduce:
1. Private repo.
   Command "git remote -v" shows:
   origin https://xxx.xxxx.com/xx (fetch)
   origin https://xxx.xxxx.com/xx (push)

2. Change settings.json:
    Add:
    "githubPullRequests.hosts": [
         {"host": "https://xxx.xxxx.com/xx"}
    ]

3. Output shows:
[Info] Git repository found, initializin

[2020-05-03 22:30] chrisdias opened #1744 "Make PRs and Issues explorers have same commands"
the issues explorer doesn't have the same commands as the PR explorer.

![image](https://user-images.githubusercontent.com/1487073/80927457-e65e5d00-8d52-11ea-8fbe-71ee20da666b.png)

- collapse all
- settings gear - could bring up the `"githubIssues.queries"` setting

[2020-05-03 22:34] chrisdias opened #1745 "Suggest: Rename extension to simply "GitHub""
Because the name is so long ("GitHub Pull Requests and Issues"), its the PR and Issue part is lost in the Marketplace:

![image](https://user-images.githubusercontent.com/1487073/80927587-916f1680-8d53-11ea-887c-295d43e5d18c.png)

Suggest to simplify the naming, maybe just "GitHub"

[2020-05-03 22:42] chrisdias opened #1746 "2 prompts for access to GitHub account"
testing https://github.com/microsoft/vscode-internalbacklog/issues/1022

[code]

When I install the nightly extension, I am asked 2x for permission

- make sure that you are logged in with your github account, and make sure that there are no trusted extensions
- install the GitHub PR Nightly build extension

Result: 2 identical prompts:

![image](https://user-images.githubusercontent.com/1487073/8

[2020-05-03 22:59] chrisdias commented on #1744
also, PRs shows me a "Sign In" node but Issues does not.

![image](https://user-images.githubusercontent.com/1487073/80928075-f710d200-8d56-11ea-848b-f8a0b6b834fc.png)

(sorry if this should be a new issue)

[2020-05-04 11:59] alexr00 commented on #1734
That makes a lot of sense! I will change it.

[2020-05-04 12:01] alexr00 commented on #1732
That is correct. Instead of using the `search` GitHub API, it uses a faster (or at least it should be) repository query API.

[2020-05-04 12:01] #1732 closed

[2020-05-04 13:54] alexr00 opened #1749 "Consider refreshing the PR view when a pull request is approved"
If I'm going through the "Waiting for my review" query and approving PRs, it would be nice if as I approve them they vanish from that query (which they will do when I click the button to refresh the view).

[2020-05-04 14:14] egamma opened #1750 "user completions are rendered differently in the editor and in comments"
user completions in comments:

![image](https://user-images.githubusercontent.com/172399/80975240-1e80a100-8e22-11ea-89d7-80c1ce7efdbc.png)

user completions in the editor

![image](https://user-images.githubusercontent.com/172399/80975378-4f60d600-8e22-11ea-9128-be24ef253525.png)

[2020-05-04 17:44] #1729 closed

[2020-05-04 19:07] #1667 closed

[2020-05-04 22:15] thommackey commented on #1278
Is this a duplicate of #520?

[2020-05-05 01:04] RMacfarlane opened #1752 "Case mismatch when pushing branch created from issue"
Issue Type: <b>Bug</b>

1. Have a username that has uppercase letters
2. Start working on an issue from the issues view
3. Click on issue status bar item and choose "Create pull request for #<issue-number>" from the quickpick

This errored with "Failed to execute git":
[code]

I also tried running the `GitHub Pull Requests: Create Pull Request" command, which also failed to push the branch to the

[2020-05-05 02:39] SawSeeSee opened #1753 "How to reset my GitHub login credentials?"
I logged in with my GitHub account A, and I wanna log out and log in with another account. I tried to reinstall this plugin, but it didn't work.

[2020-05-05 03:09] chrisdias opened #1754 "Assign a Pull Request"
I would like the ability to assign a PR to a person from VS Code.  I can do this from the browser, it seems like its missing from the tool (Reviewers is there).

[2020-05-05 06:16] dave-hart opened #1755 "Unable to authenticate with github enterprise"
My current vscode workspace has an enterprise github project open, but the github pull requests plugin authenticates me with GitHub.com rather than my enterprise server.

I have been using the extension for a number of months with no problems, but when opening vscode yesterday I was prompted to authenticate, and have thus far been unable to get it to authenticate with my enterprise server.

I have

[2020-05-05 07:55] alexr00 commented on #1750
@RMacfarlane do you like the full name or the username more?

[2020-05-05 09:32] joaomoreno commented on #1667
@RMacfarlane Thanks, looks great!

[2020-05-05 12:46] #1737 closed

[2020-05-05 14:11] roblourens opened #1756 ""Error" when check out PR"
When I check out this PR: https://github.com/microsoft/vscode/pull/96128

I get this notification
![image](https://user-images.githubusercontent.com/323878/81075695-4c142b80-8eb0-11ea-9054-9b85e2e5cc88.png)

and git seems to be in a weird state where it says there is only one commit:

![image](https://user-images.githubusercontent.com/323878/81075742-5d5d3800-8eb0-11ea-8001-0cb2a03f60a8.png)

(Thi

[2020-05-05 14:45] kgorking opened #1757 "Pulls PRs from subproject after visit to Source control tab."
- Extension version: 0.15.0
- VSCode Version: 1.44.2
- OS: Windows 10, version 2004, build 19041.208

Steps to Reproduce:

1. I open up my cmake project.
2. Click the GHPR tab, where it correctly shows the 2 PRs from my project.
3. Click the source control tab
4. Click back to the GHPR tab. It auto-updates, and then pulls PRs from a subproject (google/benchmark in my case).

Gif attached.
![pr-bug

[2020-05-05 16:40] #1430 closed

[2020-05-05 16:42] RMacfarlane commented on #1754
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/1063

[2020-05-05 16:42] #1754 closed

[2020-05-05 16:47] RMacfarlane commented on #1753
Hey @SawSeeSee, there should be a command `GitHub Pull Requests: Sign out of GitHub` available from the command palette. It can also be accessed by clicking the gear icon on the pull request view:
<img width="666" alt="Screen Shot 2020-05-05 at 9 46 55 AM" src="https://user-images.githubusercontent.com/3672607/81092425-6c92b480-8eb5-11ea-8aa4-28c612c3a5a1.png">

[2020-05-05 16:54] RMacfarlane commented on #1750
How about username with full name as detail? That would match GitHub most closely:
<img width="290" alt="Screen Shot 2020-05-05 at 9 53 29 AM" src="https://user-images.githubusercontent.com/3672607/81093033-5802ec00-8eb6-11ea-8d0d-13ee61955862.png">

[2020-05-05 17:05] RMacfarlane commented on #1743
I'm not sure I understand this, is https://xxx.xxxx.com a github domain?

[2020-05-05 17:08] RMacfarlane commented on #1756
I believe this is a duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/1612

[2020-05-05 17:08] #1756 closed

[2020-05-05 19:07] ryanmahan commented on #1656
Were you able to solve the SSL issue? I am receiving similar logs from an enterprise github server, running 0.16.0

`[Info] serverAuthPromises failed: request to http://{serveraddress} failed, reason: write EPROTO 140648442604280:error:100000f7:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER:../../third_party/boringssl/src/ssl/tls_record.cc:242:`

[2020-05-05 19:12] askvortsov1 commented on #1656
Unfortunately no, I'm no longer sure it's an issue with my installation, I think it might be with the extension itself

[2020-05-06 06:50] Haibao425 commented on #1743
https://xxx.xxxx.com is a github domain, but this is private git domain not in github.com, in this domain, we have many project folders, and each folder is a repo.

[2020-05-06 11:40] joaomoreno opened #1759 "`Publish to Github` appears before Git extension scans for open folder"
From @JacksonKearl:

The `Publish to Github` welcome view command can appear before the Git extension has time to detect that there is actually a repository in the open folder.

We should make that welcome view contribution depend on an additional context key which indicates when the Git extension has scanned the open folder for any repositories.

[2020-05-06 14:53] alexr00 commented on #1727
Already done :)

[2020-05-06 14:53] #1727 closed

[2020-05-06 20:39] misolori opened #1763 "Issues view shows comments in title description"
![image](https://user-images.githubusercontent.com/35271042/81225878-ce7b1900-8f9e-11ea-9ef5-c6a73b4d6146.png)

I expected for comments to be stripped out since they don't appear on the web preview on GitHub

[2020-05-06 20:44] smith commented on #320
@connorshea in the GitHub web app if you drop an image it creates a markdown link and uploads the image to user-images.githubusercontent.com. I guess you would have to implement that behavior in the extension's text fields in order for that to work.

That's a bummer too, because if I can't drag images from Gif Keyboard to PR approvals, I can't approve PRs with this extension. It's great for everyt

[2020-05-06 21:33] misolori opened #1764 "Add option to filter issues list"
<img width="50%" src="https://user-images.githubusercontent.com/35271042/81229835-5532f480-8fa5-11ea-8761-f42d3c398ac9.png">

Looking through the sea of text on the issue view, I was scanning for a few keywords on an issue I know I want to start but had a hard time searching for it. Would love to have a quick filter icon to filter the queries, similar to the todo extension:

<img width="50%" src="

[2020-05-06 21:44] misolori opened #1765 "Prompt to commit changes when creating a pull request with no changes"
![image](https://user-images.githubusercontent.com/35271042/81231236-ae038c80-8fa7-11ea-8927-adbb12ba218a.png)

1. Start working on an issue
2. Start a pull request through the UI (status bar item)
3. :bug: Extension says I have no pending changes

Since I started working on the issue and have pending changes that haven't been committed (i just forgot to commit them), I expected the extension to a

[2020-05-07 00:24] robertwt7 opened #1766 "Failed to install"
Hey guys, when I try to install on WSL it doesn't seem to work

I checked similar issue at #586 however my vs code version is higher.

Here's the screenshot of what's happening, doesn't seem to show me any other log, was pretty excited for this extension after watching github satelite!

Please help

Cheers

![image](https://user-images.githubusercontent.com/15647967/81241182-f1640680-904c-11ea-882

[2020-05-07 01:22] RMacfarlane commented on #1766
@sandy081 Any ideas here?

[2020-05-07 07:11] sandy081 commented on #1766
@robertwt7 Can you please check if you are not able to install only this extension or other extensions?

You can find more logs here
- Help -> Toggle Developer Tools -> Console
- View -> Open View… -> Log (Window)
- View -> Open View… -> Log (Remote WSL)

[2020-05-07 07:27] robertwt7 commented on #1766
Only this extension, I just installed the github extension and it was fine

Right here's what i got from the log

[code]

[2020-05-07 09:41] alexr00 commented on #1765
@RMacfarlane I think this makes a lot of sense to have when working on an issue. Is this something you are interested in having for all pull requests, or should I only add it for the "work on an issue flow"?

[2020-05-07 09:46] #1750 closed

[2020-05-07 09:57] tinganho opened #1767 "I cannot see any pull requests"
- Extension version: 0.15.0
- VSCode Version: 1.44.2
- OS: Mac

Steps to Reproduce:

1. Install extension and open the tab
I have 8 PRs:
![image](https://user-images.githubusercontent.com/1324476/81281224-d6e45a00-9059-11ea-95a6-650f5c43cadd.png)

But none of the is showing up:
![image](https://user-images.githubusercontent.com/1324476/81281156-bfa56c80-9059-11ea-8439-fa98bed7f121.png)

[2020-05-07 11:04] DanTup commented on #1105
This seems quite dangerous - if you had a larger number of checks, you might not realise that there are failed checks not showing up 😕

![Screenshot 2020-05-07 at 12 03 28](https://user-images.githubusercontent.com/1078012/81287548-dd270600-905a-11ea-8c89-3a16982223eb.png)
<img width="698" alt="Screenshot 2020-05-07 at 12 03 33" src="https://user-images.githubusercontent.com/1078012/81287554-de583

[2020-05-07 15:32] Randalphwa opened #1768 "Comment string creates issue in a different repository"
- Extension version 0.15.0
- VS Code version 1.44.2
- OS: Windows 10

Description:

I had one file open in Visual Studio Code. I entered a comment using the TODO string, clicked the problem solver and accepted the rest of the string as the issue title. The extension then created an issue in a different repository and updated the issue number in the current comment pointing to the issue in the othe

[2020-05-07 21:13] RMacfarlane commented on #1767
Hi @tinganho, can you share what the result of running `git remote -v` in your currently opened folder is? It looks like the extension is having trouble finding the repository

[2020-05-07 21:39] JustinGrote commented on #1105
The only checks I see come up are Appveyor even though I have many other checks (15 in total). @RMacfarlane any idea why they are being filtered? This seems more like a bug than a feature request.

![image](https://user-images.githubusercontent.com/15258962/81347123-5c730480-9070-11ea-901f-dda9e3b39b99.png)
![image](https://user-images.githubusercontent.com/15258962/81347196-80364a80-9070-11ea-96a

[2020-05-07 21:49] RMacfarlane commented on #1105
The view in GitHub combines data from a couple of different sources. In the extension right now, we're using this "combined status for a specific ref" API: https://developer.github.com/v3/repos/statuses/#get-the-combined-status-for-a-specific-ref

Originally I thought this would return all of the checks, but GitHub action results are not included in this result. So, we need to make an additional q

[2020-05-07 21:53] RMacfarlane opened #1769 "Make current repository more obvious in tree views"
Currently in the github viewlet, there's no UI indicating what is being used as the repository. This can be confusing for a couple of different reasons - it's not obvious that the pull request searches are going to be done for the repo of the currently open folder, you might think that "Assigned To Me" would be across repos. And it also makes multiroot workspaces hard to work with. Changing the se

[2020-05-07 22:08] JustinGrote commented on #1105
@RMacfarlane apparently the API required is in preview but it is here:
https://developer.github.com/v3/checks/runs/#list-check-runs-for-a-git-reference

[2020-05-07 23:19] jeroenvisser101 opened #1770 "Avoid showing user cards on module attributes or assigns"
Issue Type: <b>Bug</b>

It should be possible to either disable (for a language) or to scope user hover cards to just comments.

In both Ruby and Elixir, the `@username` syntax is often used to refer to a module attribute or an assign.

Extension version: 0.15.0
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version: Darwin x64 19.3.0

<details

[2020-05-07 23:46] v-vazquez commented on #1755
They removed the support because they don't have servers... What ...

https://github.com/Microsoft/vscode-pull-request-github/wiki

[2020-05-08 02:15] TheSpyder commented on #1474
Using the vscode April 2020 update, the cert error pops up as a notification, so hopefully this issue will be a bit more visible now.

[2020-05-08 04:53] sasikumardr commented on #1755
Workaround for now is to downgrade to extension version 0.15

[2020-05-08 05:53] bpasero opened #1771 "Copy Permalink should not show a notification"
This feels unneeded and eventually is just annoying:

![image](https://user-images.githubusercontent.com/900690/81375073-faaeab00-9100-11ea-9373-964a36e39a85.png)

[2020-05-08 05:54] bpasero opened #1772 "Copy Permalink: Does not work in multi-root workspace"
Steps to Reproduce:

1. have more than one folder in VSCode (multi root)
2. select Copy Permalink on a file of the first root

=> the URL is built with the second folder.

I think the extension is not multi-root ready. Not sure if that is only specific to this command or entirely.

[2020-05-08 06:06] marcuslyons commented on #1156
Would something like this work, or is this too far?

### Before - no spacing:
![before-spacing-change](https://user-images.githubusercontent.com/10541922/81375737-61ab7000-90bf-11ea-89a0-008f7745d3af.gif)

### After - centered:
![after-spacing-changes](https://user-images.githubusercontent.com/10541922/81375788-7f78d500-90bf-11ea-8cfa-d47f18372412.gif)

[2020-05-08 06:09] mzavattaro commented on #1767
I had a similar issue. My solution (whilst it may be more luck), was getting into one of my pull requests, assigning it to myself then restarting VSCode and they all appeared. I did notice that when I moved the Github Extension Icon around on the activity bar, it completely lost all the pull requests and I had to restart VSCode for them to appear again. Not sure what the cause or trigger is.

[2020-05-08 07:17] tinganho commented on #1767
@RMacfarlane :

origin	git@github.com:nordicfactory/Studio.git (fetch)
origin	git@github.com:nordicfactory/Studio.git (push)

[2020-05-08 07:54] alexr00 commented on #1769
I like the idea of having the repo as the view title, but since issue queries can be outside that repo it will still be confusing. We could have another view that shows current information, like repo and user.

[2020-05-08 07:54] alexr00 commented on #1768
Was the file you had open in the folder you had open?

[2020-05-08 08:11] tim-hilt commented on #1251
That's right. After watching [Sana and Burkes Satellite Video on YouTube](https://www.youtube.com/watch?v=T6sW1Dk9B4E&t=621s), i wanted to check the extension out, but the authentication-process didn't work out for me.

[code]

OS is Arch Linux.

[2020-05-08 08:43] KnisterPeter commented on #1755
I'm really sad about this :cry:

[2020-05-08 08:52] haringsrob commented on #1286
I found this today, opened a big pr, and indeed only a subset of the commits were visible.

I was checking settings but could not find anything related, refreshed, restarted all without any effect.

@rebornix: While this could be a feature request it seems more that this is a bug?

[2020-05-08 08:52] #1744 closed

[2020-05-08 10:06] erihanse commented on #1755
Shouldn't this have been mentioned in the changelog atleast?

[2020-05-08 11:22] ajmasia opened #1773 "Be able to custom the branch name when starting work on an issue"
Currently, when you start working on an issue a branch is created with this format `<userName>/issue<issueCode>`. It would be nice to have if you could customize the branch name 😄

[2020-05-08 11:27] erihanse opened #1774 "Add setting to allow turning off issue triggers"
Issue Type: <b>Bug</b>

I tried to remove all the default items in the "Github Issues: Create Issue Triggers" option. Now every line has the option to file an issue on github. Is there a way for us to turn this feature off?

Extension version: 0.16.0
VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:10:24.511Z)
OS version: Linux x64 4.15.0-99-generic

<details>

[2020-05-08 12:53] codeartlabs commented on #1755
Is there any chance to config the enterprise host and its token as follows?
![image](https://user-images.githubusercontent.com/7697703/81407358-d76e1500-916d-11ea-8095-5182e5147a85.png)
I tried but it doesn't work...

[2020-05-08 14:07] priv-kweihmann commented on #1773
I second that, if I insert a static string like `staging`, the selection will go to default creating unwanted local branches, instead of using the given setting

[2020-05-08 14:14] priv-kweihmann opened #1775 "Option to just copy the configured commit message from issues view"
It would be nice to have an extra option beside "Copy ID" and "Copy URL" to copy the configured (by "workingIssueFormatScm") and expanded commit message to clipboard when selecting a single issue in the tree view.
Sometimes I need that information for none git related things and it would save me a few clicks to retrieve that information if the option existed.

[2020-05-08 14:58] RMacfarlane commented on #1767
@tinganho Thanks! Can you open the output panel and select "GitHub Pull Request" and paste the log from there?

@mzavattaro This sounds like a different issue, I'll create a new issue for it. I'm having trouble reproducing it myself. Do you have multiple folders open in the workspace?

[2020-05-08 14:59] RMacfarlane opened #1776 "Pull request results changed when navigating to source control tab"
I had a similar issue. My solution (whilst it may be more luck), was getting into one of my pull requests on Github.com, assigning it to myself then restarting VSCode and they all appeared. I did notice when I moved the Github Extension Icon around on the activity bar, it completely lost all the pull requests and I had to restart VSCode for them to appear again. Not sure what the cause or trigger

[2020-05-08 15:02] RMacfarlane commented on #1776
@mzavattaro Do you have multiple folders open in the workspace? I'm wondering if the folder selection gets changed when you open the source control tab

[2020-05-08 15:05] RMacfarlane commented on #1774
This sounds like a bug to me, if the "issue triggers" array is empty we should treat that it as off

[2020-05-08 15:14] RMacfarlane commented on #1753
I'm going to go ahead and close this issue. Please let me know if that doesn't work for you.

[2020-05-08 15:14] #1753 closed

[2020-05-08 15:19] tinganho commented on #1767
@RMacfarlane
[code]

[2020-05-08 15:20] fearthecowboy commented on #1114
I'm seeing this too. I just installed the extension and tried to comment on an PR in a repo.

![image](https://user-images.githubusercontent.com/133736/81420279-9db4f400-9104-11ea-9812-82a1b8af6a4f.png)

Is this something that can only be fixed at the org level?

[2020-05-08 15:20] tinganho commented on #1767
We don't use Github flow, so no `upstream` remote. Is it a prerequesite?

[2020-05-08 15:24] RMacfarlane commented on #1767
No, that should be ok. Just by default the extension will look for 'origin' and 'upstream' branches.

It looks like it's finding two github remotes - do you have multiple folders open in the workspace?

[2020-05-08 15:29] tinganho commented on #1767
no,  I only use one:

![image](https://user-images.githubusercontent.com/1324476/81421199-5bfe6a80-9151-11ea-8185-c5db1df0b754.png)

[2020-05-08 15:48] RMacfarlane commented on #1767
Hmm, ok. Thanks for your patience, I'm still not sure why this isn't working.

If you run the command `Developer: Toggle Developer Tools`, are there any errors in the console? If you click the "refresh" button at the top of the pull request view, do the results change?

[2020-05-08 15:52] tinganho commented on #1767
I don't know if this one is relevant?
![image](https://user-images.githubusercontent.com/1324476/81423402-ab926580-9154-11ea-9cda-639a350d0487.png)

[2020-05-08 16:34] misolori commented on #1773
Does using the setting `githubIssues.workingIssueBranch` solve this for you? This allows you to customize the branch name, the default is `"githubIssues.workingIssueBranch": "${user}/issue${issueNumber}"`

[2020-05-08 16:37] misolori opened #1777 "Allow users to fully customize pull request queries in tree view"
![image](https://user-images.githubusercontent.com/35271042/81427181-45cfba80-910f-11ea-81b2-4e6ae78cc54b.png)

I would expect that whatever queries I set in the `githubPullRequests.queries` setting would only show up in the tree view. It appears that there is always a "All" and "Local PR Branches". I'd love it if I could hide the others and only show the ones I specified.

[2020-05-08 16:40] priv-kweihmann commented on #1773
@misolori no not really - as I wrote setting it to something static, will lead to the effect that the default of `"${user}/issue${issueNumber}"` is used, which kind of makes it impossible to do something off the standard here

[2020-05-08 16:43] misolori commented on #1773
Ah, I see now. We could make it so that whenever `githubIssues.workingIssueBranch` is set to blank that it will prompt you for the branch name.

[2020-05-08 16:45] priv-kweihmann commented on #1773
Yeah that would be an option, although having a fixed string in the config, which is taken into account would be the better solution IMO. Anyway empty = ask should solve my problem for now

[2020-05-08 16:55] ajmasia commented on #1773
It should be dynamic 😄  I think the simplest option is when the user starts working on an issue, the plugin asks what is the branch name. So each user could put the name as he prefers ...

[2020-05-08 17:03] ajmasia commented on #1773
It would also nice to have if the plugin asked you from which branch you create the new one.
By default the current! 😄

[2020-05-08 17:23] 7automaton commented on #1309
Hello,
I use Codium. The authentication API doesn't like the `vscodium://` URI, contrary to the `vscode://` URI, as shown in this GIF:

![vysCCNF8Cp](https://user-images.githubusercontent.com/56928485/81430002-50e11580-9124-11ea-893f-272079a63537.gif)

The API will let me through with the `vscode://` API with an `801` code (I don't have VS Code installed), and it forbids me if I use the `vscodium:

[2020-05-08 17:28] 7automaton commented on #1309
Actually, please don't respond to this yet. I'm going to move this to a new issue.

[2020-05-08 17:40] 7automaton opened #1778 "API: Cannot sign in with VSCodium URI"
Hello,
I use Codium. The sign in/authentication API prevents me from signing in with Codium's URI, contrary to VS Code's URI. I've already authenticated the plugin with my account here. The API doesn't like the `vscodium://` URI, contrary to the `vscode://` URI, as shown in this GIF:

![vysCCNF8Cp](https://user-images.githubusercontent.com/56928485/81430002-50e11580-9124-11ea-893f-272079a63537.gif

[2020-05-08 18:10] ewen-lbh commented on #1773
I like to use a slug of the issue name as the branch name, which I find way more descriptive than just using the issue number, what are the variables currently available? (Didn't see it in the settings entry in "Feature contributions" neither in the wiki)

[2020-05-08 18:17] RMacfarlane commented on #764
We've now added issues related features, here's documentation on what is supported so far: https://github.com/microsoft/vscode-pull-request-github/blob/master/documentation/IssueFeatures.md

[2020-05-08 18:17] #764 closed

[2020-05-08 18:26] RMacfarlane commented on #1653
Closing as I believe this has been fixed by the upstream changes to the GitHub auth provider

[2020-05-08 18:26] #1653 closed

[2020-05-08 19:10] RMacfarlane commented on #1669
Are you still seeing this if you pull the latest and re-run yarn? I may have fixed this with https://github.com/microsoft/vscode-pull-request-github/commit/60006465c818d0227f0bb3a02b36582623a917d1

[2020-05-08 19:45] 7automaton commented on #1778
I figured out how to workaround this issue.

1. Go to your user settings on github.com, then go into Developer > Personal access tokens.
2. Click "generate new token".
3. Call the token whatever you want, like "VS Codium GitHub Pull Requests plugin token".
4. Check the following boxes:
![image](https://user-images.githubusercontent.com/56928485/81442786-d9b67c00-9139-11ea-9d80-0fa2e0d872dd.png)

[2020-05-08 20:15] onyekaa commented on #1767
Can confirm the same issue.

At first I thought it was because I had two paths in my workspace (but other git-related tools work fine), so I removed one.  Still no remotes found.

Version: 1.45.0
Commit: d69a79b73808559a91206d73d7717ff5f798f23c
Date: 2020-05-07T15:57:33.467Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

I get this under the

[2020-05-08 20:29] RMacfarlane commented on #1767
@onyekaa Thanks for reporting this. It looks like your issue is a bit different. From the logs, it seems the extension isn't able to get a response from the remotes you have. Do you have something like this in your `~/.ssh/config` file?
[code]

Is a firewall blocking the requests? If you change the remotes to be just https instead of ssh over https does it work?

[2020-05-08 20:53] onyekaa commented on #1767
@RMacfarlane Indeed I do. Can't even remember why I added that in there but I'm not using a firewall so I'm not sure what the issue was.

Taking that entry out and leaving only the `origin` remote in the VS settings seems to have resolved it, though, thanks.

[2020-05-08 21:24] Randalphwa commented on #1768
Yes -- the file that was open was in the root of my $(workspace)/ directory.

On Fri, May 8, 2020 at 12:55 AM Alex Ross <notifications@github.com> wrote:

[2020-05-08 22:21] JustinGrote commented on #1105
FYI it does still *enforce* the checks even if not visible in this URI, so I feel a bit better about that at least:
![image](https://user-images.githubusercontent.com/15258962/81453889-99f29300-913f-11ea-828c-7f98457148ce.png)

[2020-05-09 00:27] askvortsov1 commented on #1656
@RMacfarlane any updates on this? Thanks!

[2020-05-09 01:08] phstc opened #1779 "Unable to create a GitHub permalink for the selection. Check that your local branch is tracking a remote branch."
- Extension version: 0.16.0
- VSCode Version:  1.45.0
- OS: macOS 10.15.4

Steps to Reproduce:

1. CMD+Shift+P enter "Copy GitHub Permalink"
2. Then you should get

![image](https://user-images.githubusercontent.com/105652/81459905-05ecef80-9170-11ea-9f9b-e7f6cabbcbf3.png)

The integration with pull requests and issues is working fine. But I can no longer copy the permalink.

[2020-05-09 05:52] tamuhey opened #1780 "Sometimes pointing subdirectory's git repository, not root directory's."
- Extension version: 0.15.0

About vscode:

[code]

Steps to Reproduce:

1. clone the repository: https://github.com/PKSHATechnology-Research/camphr
2. open with `$ code camphr`
3. create new issue via `quick fix`
4. **sometimes** opened new issue in another repository of subdirectory (It does **not always**)

[2020-05-09 13:30] Tyriar opened #1781 "Permalink should use the upstream repo if possible"
I copied the permalink to paste into github but it ended up using my fork which doesn't show the preview, it should have been xtermjs/xterm.js instead:

![image](https://user-images.githubusercontent.com/2193314/81475048-69057300-91be-11ea-8294-848103c7b3af.png)

I guess it should do this naively if the latest commit _for the file_ exists in upstream?

[2020-05-09 19:27] tk3369 commented on #1755
Seems counter-intuitive that a paying customer is getting fewer features...

[2020-05-09 20:55] abheist opened #1782 "Show warning when both nightly and stable versions are enabled"
When installing the nightly and stable version together, every icon is rendered twice in the sidebar.

- Extension version: v2020.5.10981 & v0.16.0
- VSCode Version:
[code]
- OS: macOS

Steps to Reproduce:
1. Install both extensions together, nightly and stable.
I'm not sure, will it be count as a bug or not. I downloaded the nightly version for testing it. But IMO it should not happen.

Gif for r

[2020-05-09 22:14] StephanTLavavej opened #1783 "Hover cards should appear for GH-1783 in addition to #1783"
- Extension version: 0.16.0
- VSCode Version: 1.45.0
- OS: Windows 10 Enterprise

Steps to Reproduce:

1. Hover over a comment like `// see #1783`. A hover card is displayed. This is awesome. :smile_cat:
2. Hover over a comment like `// see GH-1783`. No hover card is displayed. Infinite sadness. :crying_cat_face:

`GH-` references are [supported by GitHub](https://help.github.com/en/github/writing

[2020-05-10 04:37] sasikumardr commented on #1755
This is not github's offering. As far as vscode team's concern, they are just helping vscode community with some useful extensions.  As they mentioned in wiki, they have some technical and resource challenges for providing support for GitHub enterprise.
May be we should help creating PRs for adding this support rather than expecting everything from dev team.

[2020-05-10 06:18] tk3369 commented on #1755
That's fair... but Microsoft owns GitHub.  I guess I'm expecting a little more :-)

The wiki says:

It's unclear how to contribute PR.  Maybe there's a better write-up somewhere about the challenge...

[2020-05-10 06:37] ericblade opened #1784 "Dozens of issues showing that are not from my repo, no issues from my repo are showing"
- Extension version: 0.16.0
- VSCode Version: 1.45.0
- OS: Win 10 2004

Steps to Reproduce:

1. Open a folder that currently contains a checkout of https://github.com/ericblade/quagga2
2. Switch to the Github Pull Requests and Issues view

Results:
![image](https://user-images.githubusercontent.com/1451847/81492591-0320f600-9267-11ea-9a1f-645d11fcd7cd.png)

None of these issues are from my github,

[2020-05-10 10:33] kgorking commented on #1776
I have the same issue, as reported in #1757

[2020-05-10 10:36] georgi-denchew commented on #1698
I had to find this comment from @RMacfarlane in order to find out how I can have the code diff, navigation and IntelliSense in the same view, so it's probably worth making this feature easier to discover from within VS Code or just enable it by default.

[2020-05-10 11:06] jonathanvila commented on #1698
@RMacfarlane  I have already tried that but I dont see the differences ( old code vs new code )
![image](https://user-images.githubusercontent.com/1836434/81497488-1c559100-92bf-11ea-88ee-bbbafd6a3d0d.png)

[2020-05-10 17:41] localjo commented on #1767
I have a similar problem. In the output panel under "GitHub Pull Request", I only see this:

[code]

All I've done was install the extension, and open the folder of a GitHub repo, with the following remotes:

[code]

Maybe I'm missing some essential setup step?

[2020-05-10 23:11] onyekaa opened #1785 "'Stop Working on Issue' Not Working"
Extension version: 0.16.0
VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T15:57:33.467Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d_baseline: enabled<br>gpu_

[2020-05-10 23:46] #1619 closed

[2020-05-10 23:58] TheSpyder commented on #1474
vscode _itself_ is the one throwing the certificate error now. I guess I need to log this on the core vscode repo.

[2020-05-11 08:13] joaomoreno commented on #1669
I don't see it in Code, but I do see it in the build:

![image](https://user-images.githubusercontent.com/22350/81539136-14a1f500-9370-11ea-93fa-ab40761c98cf.png)

[2020-05-11 09:24] ggcatu commented on #1755
Wow, this is really a shame, I use this extension daily for github enterprise, I wouldn't mind contributing to this..

[2020-05-11 10:13] alexr00 commented on #1781
Agree. Forks in general aren't really supported at the moment.

[2020-05-11 10:53] igbominadeveloper opened #1786 "Disable Approve button when a user is viewing their own PR"
- Extension version: 0.16.0
- VSCode Version: 1.45.0
- OS: Windows

Steps to Reproduce:

1. View a PR that you submitted
2. The Approve Button is active on the PR

Screenshot:
![Annotation 2020-05-11 115031](https://user-images.githubusercontent.com/12516195/81554017-f642f600-937d-11ea-81cf-e97a15c9c19f.png)

[2020-05-11 12:55] #1733 closed

[2020-05-11 12:55] #1734 closed

[2020-05-11 13:09] sandy081 opened #1787 "Notification showing copied to clipboard"
![image](https://user-images.githubusercontent.com/10746682/81565305-66ab4080-9399-11ea-99bb-b15438a6322b.png)

[2020-05-11 13:56] alexr00 commented on #1787
@sandy081 you just want the notification to be removed?

[2020-05-11 13:59] egamma opened #1788 "GHPR: Iteration Plan for May 2020"
## Iteration plan for May

### Repositories
- [x] Make clone from/publish to GitHub generally available @joaomoreno
- [x] Complete Support to export code to GitHub #1664 @joaomoreno
- [x] :runner: Add a remote GitHub repository https://github.com/microsoft/vscode/issues/98158 @joaomoreno
- [x] :runner: Add interface to control what gets included in the repo https://github.com/microsoft/vscode/issu

[2020-05-11 15:49] travisgroth opened #1789 "Can't checkout PRs with a slash"
- Extension version: 0.16.0
- VSCode Version: 1.45.0
- OS: OSX

Steps to Reproduce:

1. Create a PR from a branch with a `/` in the name, eg `feat/myfeature`
2. Attempt to checkout the PR with this extension

This results in an error message and fails to check out the branch:

[code]

[2020-05-11 15:53] RMacfarlane commented on #1786
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/888

[2020-05-11 15:53] #1786 closed

[2020-05-11 18:48] JustinGrote opened #1790 "[Feature Request] When Squash Merging, should collate commits into list of description like Web does"
Per the title, when you have a lot of commit messages and go to squash merge, the web interface takes these and makes them a markdown list in the description part of your commit. The extension currently just brings over the PR title and doesn't collapse the commit names into the description like so:

![image](https://user-images.githubusercontent.com/15258962/81599345-508f8700-937d-11ea-9f18-89ed6

[2020-05-11 22:36] sdwheeler opened #1791 "The output source view does not change when extension is loaded"
When extension is loaded, VSCode cannot switch between **Output** views.

- Extension version: 0.16.0 - full list below
[code]
- VSCode Version:
[code]

Steps to Reproduce:

1. Load the extension in VS Code.
2. Open the output pane (Ctrl+Shift+U)
3. Use the dropdown menu to select another output source

Expected behavior: the view changes to the selected output source
Actual behavior: The output s

[2020-05-11 22:41] sdwheeler opened #1792 "Create PR should support PR Templates"
My repo uses a PR template. When I create a PR using the VS Code extension, the PR does not use the PR template.

The repo also has several Issue templates. I would like the extension to support these as well.

Repo: https://github.com/MicrosoftDocs/PowerShell-Docs

[2020-05-11 23:54] RMacfarlane commented on #1790
This looks like a duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/1679, let's track it there

[2020-05-11 23:54] #1790 closed

[2020-05-12 00:29] JustinGrote commented on #1790
Agreed, did a search but didn't come across this one. Thanks!

[2020-05-12 07:59] vaclavbenes opened #1793 "Its possible connect to github enterprise"
Hi, its possible configure extension with different github. (Use of github enterprise)

[2020-05-12 08:14] sandy081 commented on #1787
Sorry I thought I mentioned in the description.

yeah, I felt it is too obvious and noisy.

[2020-05-12 08:15] alexr00 commented on #1724
Now that https://github.com/microsoft/vscode/issues/93968 is fixed I've verified that this is working.

[2020-05-12 08:15] #1724 closed

[2020-05-12 08:16] alexr00 commented on #1787
You're not the first person to say that. I'll remove it.

[2020-05-12 09:55] #1710 closed

[2020-05-12 09:56] alexr00 commented on #1712
Copied what the Pull Requests view does.

[2020-05-12 10:00] alexr00 commented on #1702
Since the selected option is the last commit message, I don't think there is any further work here.

[2020-05-12 10:00] #1702 closed

[2020-05-12 10:01] #1712 closed

[2020-05-12 15:24] GABeech commented on #1793
It looks like they removed support for GHE with version 0.16.

It took me a bit of digging, and it doesn't look like there was any notification that this support was going away - but I don't pay close attention to the issues here.

I'm personally a bit confused about the reasoning (that they don't have resources to test against it). Especially since they appear to be using Octokit.rest which has f

[2020-05-12 22:15] JustinGrote commented on #1105
As an update, I recently had to rebuild my Azure Pipelines connection, and now it started showing up in Checks API for some reason...
![image](https://user-images.githubusercontent.com/15258962/81751006-72633980-9463-11ea-9126-f6a37615bebe.png)

[2020-05-12 22:16] JustinGrote commented on #1314
This is probably a dupe of #1105 in the sense that the additional API to get this info has not been implemented into the extension yet.

[2020-05-12 23:12] drayfar commented on #1616
After this change, I can no longer sign in to GitHub Enterprise using a PAT - the command `GitHub Pull Requests: Manually Provide Authentication Response` listed in the Wiki no longer exists.

[2020-05-12 23:13] drayfar commented on #1793
+1 I can no longer use this extension now that #1616 is in

[2020-05-12 23:41] ryanmunene79 opened #1797 "VS Code java editing and debugging"
I have been using vs code for sometime now and lately or maybe I didn't notice before but whenever I open a page *.java or java related a new jvm instance is created. This becomes a problem as its not managing its sessions as when I close the tabs the jvm(s) are still running. Attached screenshots
![Screenshot from 2020-05-13 02-42-20](https://user-images.githubusercontent.com/15321831/81755999-30

[2020-05-13 01:39] deerawan commented on #1793
I experienced this issue in `0.16`. As interim, we could install the previous version `0.15.0` in VS Code

![image](https://user-images.githubusercontent.com/1243921/81761833-55377500-950e-11ea-88d0-5151f2f2c04e.png)

[2020-05-13 07:39] soszilla commented on #1778
After trying your solution this is the response i get from GitHub Authentication Provider: "The input did not matched the expected format".

VSCodium version: 1.45.0
GitHub PullRequests version: 0.16.0

[2020-05-13 08:37] AdityaGovardhan commented on #1525
I had a similar issue with 'no matching pull request metadata found for current branch' while creating a pull request from vs-code, I cloned the repo using ssh instead of https and it seems to work. I don't know if it's the logical solution though.

[2020-05-13 08:40] ermshiperete opened #1799 "Can't stop work or start work on a different issue"
Issue Type: <b>Bug</b>

I was able to start working on an issue which created a branch and displays the checkmark in front of the issue.

However, I'm not able to stop work or start to work on a different issue. Trying those options simply do nothing.

I haven't tried what happens if the issue gets closed, but it should be possible to switch work on issues before that.

Extension version: 0.16.0
V

[2020-05-13 09:26] alexr00 commented on #1768
Was either repository a fork? Can you share the repository you had open and the repository that the issue was created in?

[2020-05-13 09:26] joaomoreno opened #1800 "Duplicate issues in quick open picker"
![image](https://user-images.githubusercontent.com/22350/81795552-8a42c800-950c-11ea-8ed6-1f5271f9d817.png)

[2020-05-13 09:27] #1759 closed

[2020-05-13 10:31] SulthanNK opened #1801 "Extension issue"

[2020-05-13 10:33] SulthanNK opened #1802 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-pull-request-github`
- Extension Version: `0.16.0`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.45.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[code]

[2020-05-13 10:34] #1801 closed

[2020-05-13 14:07] dvsoukup commented on #1793
I read the change log on this.  I can sympathize with the lack of hands to assist with development on the enterprise functionality.

That being said though, it's a no-go to do that.  A "solution" is not to just use a previous version (v0.15).  Many thousands of people whom use this extension are now effectively blocked from ever getting updates.  You rip the rug out from underneath them.

A nicer

[2020-05-13 14:57] RMeli opened #1803 "Problems with GitHub Workflows"
Since I installed this extension, I get the following error when I try to `git push` changes to a GitHub Workflow:

[code]

- Extension version: 0.16.0
- VSCode Version: 1.45.0
- OS: macOS / Ubuntu 18.04 via VSCode Remote

Steps to Reproduce:

1. Modify a Github workflow file in `.github/workflows`
2. Try to push the changes with `git push`

[2020-05-13 16:04] azinoviev commented on #1793
+1

I'm really upset about this decision. GitHub Enterprise integration was extremely useful feature.
If there's not enough resources to test it, it'd prefer to have it buggy, than not to have it at all.

[2020-05-13 18:08] Randalphwa commented on #1768
I just tried again with version 16, and the problem persists. This time I
was a bit more careful about the steps in the hopes I can give you a better
repo case.

I opened up a folder in a repository I wanted to change, and opened a file
in that repository. I then opened up a header file in a different
repository, and move that into a split window. I then opened up a different
file in that split wi

[2020-05-13 18:26] Randalphwa commented on #1768
Tried in a public repository, problem repros.

ttTrace: https://github.com/KeyWorksRW/ttTrace.git

This contains a submodule called ttLib.

1. Cd to src and run code
2. Open the file ../ttLib/include/ttlibspace.
3. Split the editor so that this file is on the right.
4. In the left editor group open the file traceview.cpp
5. In traceview.cpp, add a // TODO description line
6. Click the lightbulb an

[2020-05-13 18:54] RMacfarlane commented on #1803
Hey @RMeli, this looks like a duplicate of https://github.com/microsoft/vscode/issues/97396, so I will go ahead and close this

[2020-05-13 18:54] #1803 closed

[2020-05-13 18:56] RMacfarlane commented on #1802
Hey @SulthanNK, can you give some more context about this? What were you doing with the extension and what happened?

[2020-05-13 18:59] RMacfarlane commented on #1797
Hey @ryanmunene79, it looks like you may have opened this issue on the wrong extension - did you mean to open this on the java extension?

[2020-05-13 19:07] RMeli commented on #1803
Yes, I completely missed it with a quick search. Sorry!

[2020-05-14 08:39] kieferrm opened #1804 "Clone repo from GH"
Issue Type: <b>Bug</b>

1) Cmd+Shift+P
2) Clone Repo
3) Clone from GH
4) Paste in GH ssh url
-> no matches

VS Code version: Code - Insiders 1.46.0-insider (e88b8d32aa7233f6cb3665f6dae9fa78b1e8aafb, 2020-05-13T08:04:25.590Z)
OS version: Darwin x64 18.7.0

[2020-05-14 09:34] #1763 closed

[2020-05-14 09:35] #1787 closed

[2020-05-14 09:37] alexr00 commented on #1768
@Randalphwa thank you for the additional repro steps!

[2020-05-14 10:10] Richard-Lynch commented on #1793
+1, very unhappy to see this feature go, would love to know if there’s any effort which can be made by the community to get it back

[2020-05-14 10:46] alexr00 commented on #1800
This is happening because you have multiple queries that return overlapping sets.

[2020-05-14 16:39] zyansheep commented on #1778
I also have this problem, is there some way to enter the token manually in a config file or settings? If not, how can I configure the `git` command to use a token for all https requests to github?

[2020-05-14 20:52] zbjornson opened #1807 "Some JSDoc tags are interpreted as GitHub users"
- Extension version: 0.16.0
- VSCode Version: 1.45.0
- OS: Win64

Steps to Reproduce:
1. Insert ` /** @typedef {number} something */` in an editor.
2. Hover over `@typedef`
    ![image](https://user-images.githubusercontent.com/469365/81984521-21ce1680-95f2-11ea-84b1-41c0127a26bf.png)

Also happens for `@extends`, `@return`, `@returns`, ...

[2020-05-14 20:57] zbjornson commented on #1807
Oops, sorry. Initially I only searched for `@typedef`, but just found this is a duplicate of:

#1770
#1605

[2020-05-14 20:57] #1807 closed

[2020-05-14 22:08] penyuan commented on #1778
I can also confirm this problem as reported by @7automaton and mentioned by @marcorichetta in [this issue](https://github.com/VSCodium/vscodium/issues/401).

**My environment:**
 - OS: RHEL 8.2 (Gnome 3.32.2 in Xorg mode with Linux kernel 4.18.0)
 - Architecture: x86_64
 - VSCodium version: 1.45.0 (no Github extensions, just vanilla git support)

This is a jarring UX problem. How can we help fix i

[2020-05-14 22:30] RMacfarlane commented on #1792
Thanks for the repo link!

The extension should already support using the PR template when creating a PR, so I'm not sure why it isn't picking it up. The next time you create a PR using the extension, could you check to see what is in the output log? (Open the output panel and select "GitHub Pull Requests" from the dropdown). I assume you're on the latest version of the extension?

Issues template

[2020-05-14 23:42] sdwheeler commented on #1792
OK, I reinstalled and tried again. I am having strange problems that are easier to demo than to explain in an issue.

I created a new PR and this time the template worked. But it does not let me finish editing the template before the new PR is create. I have to select the Description view of the PR then edit it. Edit is failing due to an OAUTH problem. I need to figure out how to reauthorize the a

[2020-05-15 08:47] #1800 closed

[2020-05-15 08:48] #1713 closed

[2020-05-15 10:20] pbrezina opened #1808 "Provide keyboard shortcuts to iterate over changes in Pull Request"
I think GH PR diff view very useful when reviewing a pull request but I'd like to do it on keyboard only.

Please, provide a way to iterate through changes in selected PR.

[2020-05-15 10:22] pbrezina opened #1809 "View commits in pull request rahter then merging all changes"
I'd like to go through commits in PR one by one instead of seeing all updated files with final diff.

[2020-05-15 10:22] pbrezina commented on #1809
E.g. what `tig` does.

[2020-05-15 13:18] RMacfarlane commented on #1809
Hey @pbrezina, this is currently possible if you click the "Checkout" button on a PR. This adds a new view which has a list of all commits and their diffs:
<img width="303" alt="Screen Shot 2020-05-15 at 6 18 06 AM" src="https://user-images.githubusercontent.com/3672607/82054479-dd835a80-9673-11ea-97f5-8202f3fdbc6e.png">

[2020-05-15 13:18] #1809 closed

[2020-05-15 13:27] alexanderkjeldaas opened #1811 "Cannot login to github when using two browsers"
- Extension version: 0.16.0
- VSCode Version: 1.45.1
- OS: X

Steps to Reproduce:

1. Open URLs by default in Chrome
2. Be logged in on github in Firefox
3. Get vscode to open the login url
4. It opens in Chrome
5. Copy the URL to Firefox to continue the login process
6. Error 801 is given by github

<img width="510" alt="Screenshot 2020-05-15 at 15 26 30" src="https://user-images.githubuserconten

[2020-05-15 13:28] alexanderkjeldaas commented on #1793
@Richard-Lynch fork?

[2020-05-15 15:46] MFAshby commented on #1613
I have observed the same problem. I think the problem is here https://github.com/microsoft/vscode-pull-request-github/blob/b7c553b2676cb6594cbda0c815737314e71d1fe4/src/github/pullRequestManager.ts#L1915

This is only returning 300 changed files maximum.

[2020-05-15 17:58] jaladh-singhal commented on #1069
Is there any progress on this issue?

I'm facing same problem with a project having one submodule. Only submodule PRs/issues are shown, none of parent repository which is what I want!

[2020-05-15 18:12] MFAshby commented on #1613
I think files should be listed with octokit.pulls.listFiles, I'll submit a PR for this.

[2020-05-15 21:34] ScottTodd opened #1813 "Show hover cards when issue numbers are followed by `)`"
We'd like to have code comments like `// TODO(#123456)`, but a trailing space (or other whitelisted character) is needed for the hover cards to appear, like `// TODO(#123456 )`.

Looks like `\)` could be added to the final capture group here: https://github.com/microsoft/vscode-pull-request-github/blob/74e02d29f31fed271d46682a5651e2ff143c35a3/src/issues/util.ts#L16

Not sure if there are other usa

[2020-05-15 21:44] GMNGeoffrey commented on #1813
Perhaps the final capture group be broadened to just be a word boundary (`\b`)?

[2020-05-16 07:41] aermin commented on #1576
I have the Same Issue, too.

Version: 1.44.2
Date: 2020-04-16T17:07:18.473Z (4 wks ago)
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

[2020-05-16 10:28] Merovex commented on #888
Then, why can't I "Merge Pull Request" from this extension? It seems the extension is limited to code reviews, not the full monty.

[2020-05-16 18:34] Surendrajat opened #1814 "Can't push to github actions workflow"
Issue Type: <b>Bug</b>

Whenever I update the actions workflow .yml file and push it fails with below error:
[code]
Extension version: 0.16.0
VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:22.494Z)
OS version: Linux x64 5.3.0-51-generic

[2020-05-17 04:57] DanielCostaCarvalho commented on #1778
I changed the link:

to

(The callback part from vscodium to vscode)
then a get the link for when you are not redirected:

and change the vscode part again to vscodium:

then I past it in the browser and it works. :)

Sorry for my english. Its a work in progress. Feel free to correct me.

[2020-05-17 15:42] b3u commented on #1799
Does #1785 describe your bug?

[2020-05-17 16:02] binyamin opened #1815 "Linkify repo slugs"
When I type a repository in the form `{user}/{repository}`, it would be nice if it linked to the repository and showed a hover card.

[2020-05-17 21:42] cellx commented on #808
Still same issue with newer version:

[code]

[2020-05-17 22:37] penyuan commented on #1778
Sorry @DanielCostaCarvalho I don't understand your workaround.

Where do you do this?

What does this mean?

[2020-05-17 22:55] DanielCostaCarvalho commented on #1778
When I try to authenticate, I changed the URI like the GIF, but when a changed the mention of vscode, I am redirected to a new page saying that I am not redirected back to the vscode. In this page, they give me a token, this token is a URI that I changed vscode for vscodium and paste it in my browser.

[2020-05-18 08:04] ermshiperete commented on #1799
yes, this seems to be a duplicate of #1785 .

[2020-05-18 08:04] #1799 closed

[2020-05-18 09:51] hediet commented on #1069
It works if I open a sibling of the submodule in a new VS Code window that does not contain any other submodule.
But that's not a good work around.

[2020-05-18 14:50] danhalson opened #1819 "Allow specifying a different repo for issue tracking"
I'm currently working on a codebase where there's one repo for issues and another for code, this is to aid in separating concerns as far as I understand it. So I'm wondering if it would be a useful feature for others as well as myself to be able to optionally specify a different repo to use for issues. I expect this kind of use case isn't entirely uncommon on Github? however I'll happily stand cor

[2020-05-18 17:37] MarkBennett commented on #1814
I'm having this issue as well, and just curious if there's a know workaround?

[2020-05-18 17:41] RMacfarlane commented on #1814
Duplicate of https://github.com/microsoft/vscode/issues/97396, unfortunately there isn't a workaround right now but this should be fixed within this iteration

[2020-05-18 17:41] #1814 closed

[2020-05-18 17:44] MarkBennett commented on #1814
Thanks @RMacfarlane I'll follow that issue!

[2020-05-18 18:16] ryanmunene79 commented on #1797
yes

[2020-05-18 18:17] RMacfarlane commented on #1797
Ok, I'm going to go ahead and close this then.

[2020-05-18 18:17] #1797 closed

[2020-05-19 09:58] #1664 closed

[2020-05-19 11:21] JunhwanPark commented on #1793
I'm waiting for Github Enterprise support..............

[2020-05-19 15:48] ThomasGHenry commented on #1691
Same. I think it's related to having multiple projects in your workspace, and the wrong one getting loaded. I couldn't even get the thing to load at all until I found this workaround. https://github.com/microsoft/vscode-pull-request-github/issues/1330#issuecomment-529576350

Roughly, I think the important ingredients to recreate this should be something like:

1. add addition projects to your vsco

[2020-05-20 05:04] rishab-pdx opened #1821 "Activating extension fails with the following error - Activating extension 'GitHub.vscode-pull-request-github' failed: command 'github.publish' already exists."
- Extension version: 0.16.0
- VSCode Version:
VSCode insiders
Version: 1.46.0
Commit: Unknown
Date: Unknown
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

- OS: Mac OS X Catalina 10.15.4

I am trying to set up and try out the extension. I would like to build it on my machine, try it out and debug with VSCode insiders, and extension fails to g

[2020-05-20 05:38] yogevh commented on #1234
I had the same issue. it appears that I was logged in with my private github user and not with the github user I have for work.
after logging in with my work user I was able to create the PR

[2020-05-20 06:10] rishab-pdx commented on #1821
Do we have to use the nightly build of extension when working with insiders?

[2020-05-20 06:17] bm-stschneider opened #1822 "Empty View"
Issue Type: <b>Bug</b>

After the last update of VSCode Insiders the pull request view ist totally empty.

Extension version: 0.16.0
VS Code version: Code - Insiders 1.46.0-insider (da3bf754c3c0eabda1dc80ed9d627679ee560697, 2020-05-19T10:04:14.981Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4980HQ CPU @ 2.80GHz (8 x 2

[2020-05-20 06:44] bm-stschneider commented on #1822
<img width="712" alt="image" src="https://user-images.githubusercontent.com/30625381/82413686-19ecf700-9a76-11ea-90ee-bcf187292e96.png">

[2020-05-20 06:46] bm-stschneider commented on #1822
Reinstalling the extensions seems to have fixed it.

[2020-05-20 06:46] #1822 closed

[2020-05-20 07:29] soszilla commented on #1778
@DanielCostaCarvalho that worked but I had to use a browser session where I was not logged in to Github already.

[2020-05-20 07:35] soszilla commented on #1778
After clicking "Sign in" from inside vscodium, that link is opened in your browser. Change "vscodium" to "vscode" in the URL and proceed with authorization.

After auth you will receive a token in which you should change "vscode" to "vscodium".
Also note my comment above, it might be relevant to you as well.

[2020-05-20 10:26] rishab-pdx commented on #1774
@RMacfarlane I have fixed this in #1824. I could not find any test scripts for issueTodoProvider so just tested it manually. Let me know if this could be fixed in a better way. I would like to contribute.

[2020-05-20 10:57] MFAshby opened #1825 "Can't add a comment"
Issue Type: <b>Bug</b>

1. Checkout large pull request (~150 files)
2. In _some_ files I'm able to add comments on additions by clicking in the gutter.
3. Other files don't allow me to, I get no indicator when hovering and clicking does nothing (see screenshot)

![image](https://user-images.githubusercontent.com/1760515/82438447-f97e6600-9a90-11ea-8eef-f5631a9fe703.png)

Extension version: 0.16.0

[2020-05-20 14:39] khepin commented on #1793
Locked out as well. Don't have the JS chops to contribute the required code sadly.

[2020-05-20 15:46] RMacfarlane commented on #1821
No, the stable extension is expected to work in insiders, this is a bug.

We moved some of the functionality of the extension (specifically the `github.publish` command) into the core of vscode. The nightly build of the extension has this command removed, but the stable one doesn't, so the command is duplicated. I'll remove it from stable and publish a new version. Thanks for catching this!

[2020-05-20 16:00] rishab-pdx commented on #1821
Thanks for the update! I would like to take up this. Can I have some code pointers? I tried debugging it but couldn’t find the origin of the bug.

[2020-05-20 16:50] RMacfarlane commented on #1821
Thanks for the offer to help! 🙏 I actually just published a new version of the extension - there weren't any additional code changes, I just moved the commit that removes `github.publish` to our release branch.

It's this branch if you're curious: https://github.com/microsoft/vscode-pull-request-github/tree/release/0.16

[2020-05-20 16:50] #1821 closed

[2020-05-20 16:56] rishab-pdx commented on #1821
Oh, gotcha!

[2020-05-20 19:51] levitate-chris commented on #1819
@danhalson I am in a similar situation.  I just realized if you can put `repo:myApp/nameOfRepo` in the query.  I use my PR/code repo for PR queries and issue tracking repo for my issue queries.

[2020-05-20 23:23] mpearon opened #1826 "Proposed Enhancement: Open Issue Options"
# Request Summary
Offer more options to open issues

# Request Details
The ability to open an issue against a repo without having to have text selected.
An "Open Request" command - triggering a form within the IDE - would be great. Something similar to the Merge Pull Requests experience, maybe?

[2020-05-21 16:14] jedster1111 commented on #1665
I think I'm having a problem that's related to this.
My company has a privately hosted version of GHE that lives at `https://github.<company-name>.com`. I authenticated previously by running the `Manually Provide Authentication Response` and provided a token and host name.
My authentication settings got removed, and now I can't set the auth token again since that command is missing. I tried to man

[2020-05-21 16:24] jedster1111 commented on #1665
Just noticed the paragraph on that FAQ page about discontinuing support for GHE.
https://github.com/Microsoft/vscode-pull-request-github/wiki#2-is-github-enterprise-supported
Looks like support for GHE has been withdrawn.
Really like the extension though 😄  I guess I will stick with `0.15.0` for now. Wonder how much work it would be to re-add support for manually providing an auth token, or is tha

[2020-05-21 18:28] whizzzkid commented on #1778
@DanielCostaCarvalho's solution works! This needs to be fixed on https://vscode-auth.github.com/ as it seems to be denying requests for vscodium.

[2020-05-22 16:17] b3u commented on #1785
@onyekaa Can you check if you still have the issue? I can't reproduce it anymore.

[2020-05-22 20:49] tetchel opened #1827 "Issue description preview should more closely match the web UI"
When I view an issue description in the hover preview, it jumped out to me that the comment at the top of the issue was shown. Since issues opened using templates (like this one!) often have comments at the top, I expect this will be seen relatively often.

I also noticed that in the preview the newlines are not rendered (I guess you'd need `<br>`s).

![image](https://user-images.githubusercontent

[2020-05-22 23:52] rishab-pdx commented on #1156
@queerviolet
if this is still open and available? I would like to take it. I have centered the "Loading..." text and increased the font size so that it is more visible.

![#1156](https://user-images.githubusercontent.com/7886919/82716481-79046480-9c4c-11ea-83cd-06aa5b7e9d3a.gif)

[2020-05-22 23:56] hasbro17 commented on #339
+1 for remembering that a comment is resolved. Or at least remember if we've collapsed the comment locally within a review session.
Great extension overall except for some rough edges like this which break your focus while reviewing and force you back to the browser to see what comments are outdated.

[2020-05-23 11:26] Ashniu123 commented on #1156
@rishab-pdx if your PR is ready then by all means... Go ahead! :D

[2020-05-23 14:59] felipecassiors opened #1828 "Squash and merge missing the PR number in the commit title"
- Extension version: 0.16.0
- VSCode Version: 1.45.1
- OS: Windows 10 x64

Steps to Reproduce:

1. Create a Pull Request
2. Try to merge with squash

Check the commit title of the squash, it's missing the PR number as the web UI does.

![adyQdYJSAO](https://user-images.githubusercontent.com/29582865/82733786-c6381300-9cec-11ea-8a61-382d6730f23e.gif)

[2020-05-23 18:49] ericblade commented on #1784
This has gone away now, I'm not sure if it was fixed in the point release of VSC, or if github fixed something, or if it was just some kind of transient error.

[2020-05-24 00:47] rishab-pdx commented on #1156
@Ashniu123 that makes sense. Here is the final view.

![#1156](https://user-images.githubusercontent.com/7886919/82743235-5d1cc380-9d1d-11ea-8c68-6f8aef0fed7d.gif)

Let me know what you think?

[2020-05-25 08:36] cbrnr commented on #1435
Solved in the latest version (not just says "GITHUB").

[2020-05-25 08:36] #1435 closed

[2020-05-25 12:38] #1696 closed

[2020-05-25 12:40] MrMage commented on #339
FYI, I have switched my code reviews to [Reviewable.io](https://reviewable.io/) now. That lets me hide resolved comments and quickly go through all my previous comments, to ensure that all my comments have been addressed. Overall, it has really helped me keep track of reviews for large PRs.

I am not affiliated with Reviewable, just a very happy customer.

[2020-05-26 03:40] rishab-pdx commented on #1749
@RMacfarlane Can I take this? I see that the PR list tree must be refreshed and the PR overview panel must be refreshed if the PR is approved.
This must be the flow I think

1. When PR is approved refresh the PR list tree to swipe off the approved PRs
2. Disable the Approve button if the PR is/was successfully approved
3. Should the PR overview panel disposed? I think it must not as the reviewer w

[2020-05-26 06:36] onyekaa commented on #1785
@b3u Still happening for me for that repo. Same version. I'm not having the issue on other workspaces, though to be fair since this started I've refrained from using it elsewhere.

[2020-05-26 17:46] #1156 closed

[2020-05-26 19:33] #1541 closed

[2020-05-26 20:45] RMacfarlane commented on #1749
@rishab-pdx Yeah, absolutely!

I think 2 is covered by another issue (https://github.com/microsoft/vscode-pull-request-github/issues/473), so I would focus on just making the change for 1 to close this issue. I think leaving the PR overview panel open makes sense, as you say it's likely the user will want to merge the PR after this.

Code pointer: https://github.com/microsoft/vscode-pull-request-g

[2020-05-26 22:22] therapon opened #1832 "Allow for Jump to Definition"
It would help a lot if the extension would show the diff for the PR in question but also allow for some of the IDE's feature like "Jump to Definition".

While being able to perform PRs in my IDE is very convenient, the ability to have a view of the PR in my IDE **and** navigate the code will be even better.

[2020-05-26 22:23] rishab-pdx commented on #473
I could see the Overview panel has no idea about the review status of the PR to know when to enable/disable the approve button.  So we need to add it to the Model and access it in the view.

[2020-05-26 22:39] rishab-pdx commented on #1749
I did not know about #473. I took off my changes/additions to disable/enable the "Approve" button based on the status of the review move them to another #1833 if required. Let me know.

[2020-05-27 02:33] ericblade commented on #1784
Re-opening it, as the issue has resumed happening.

Am I the only person this is happening to? o.O

[2020-05-27 04:23] Rusty-1 commented on #1832
I agree as this would also help immensely for code review sessions. This is something that the web client lacks.

[2020-05-27 13:41] ermshiperete commented on #1785
For me this might have started after having changed `githubIssues.workingIssueBranch` (after I started an issue). Afterwards I wasn't able to stop or start work on a different issue.

In a different project/repo (which has my new global workingIssueBranch setting) start and stop works as expected.

[2020-05-27 14:21] travisgroth commented on #1789
Hi - any feedback on this?  Having a `/` in a branch name is pretty common.

[2020-05-27 14:41] #1774 closed

[2020-05-27 15:52] tfenster opened #1835 "[Remote] Blank Pull Request view"
- Extension version: 0.16.1
- VSCode Version:
[code]
- OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Open a remote SSH development workspace (client and host are Windows)
2. Create a pull request --> works
3. Open the pull request --> blank page
![image](https://user-images.githubusercontent.com/15346084/83043077-b436d700-a042-11ea-9e33-4c8621fed303.png)

Webview developer tools show the

[2020-05-27 20:12] rishab-pdx commented on #281
I would like to take it if no one is taking it.

I see we have to use ```modal``` in

https://github.com/microsoft/vscode-pull-request-github/blob/master/src/commands.ts#L318

I am not clear on the second bullet point. Are we supposed to prompt the user for a final comment  again with a ```inputBox``` as we already have the comment box in PR overview panel.

[2020-05-28 21:36] kamthamc opened #1838 "Branch name is UNKNOWN after merging PR and deleting branch"
<img width="927" alt="image" src="https://user-images.githubusercontent.com/2925876/83196049-0d107900-a0f0-11ea-9d36-d60c0745bbcd.png">

- Extension version: 0.16.0
- VSCode Version: 1.45.1
- OS: MacOS 10.15.5

Steps to Reproduce:

1. Create a PR using the plugin
2. Merge the PR
3. select options to delete both the branches (remote and local)
4. Click on refresh button

The branch name is incorrec

[2020-05-28 22:58] davidanthoff opened #1839 "Allow use of org keyword in queries"
It would be very convenient if one could query for PRs that are outside of the current repo, say all PRs in a given organization.

One way to implement this would be that if the `org:` search keyword is used in a query, it would search all repos in that org.

[2020-05-29 07:52] #1741 closed

[2020-05-29 07:52] #1768 closed

[2020-05-29 08:12] alexr00 commented on #1827
@tetchel this should already be fixed in the nightly build of the extension. Comments in the issue body are not shown.

[2020-05-29 08:12] #1827 closed

[2020-05-29 10:03] photonstorm opened #1840 "Issues are created in the wrong repository when you've more than 1 folder in your project"
- Extension version: 0.16.1
- VSCode Version: 1.45.1
- OS: Windows 10

Steps to Reproduce:

1. Create a project and add 2 (or more) folders to it. Each folder should point to a different repository. It doesn't matter if you own the repository or not.
2. Edit a source file in any of the folders and add a TODO.
3. Using the Create Issue wizard, enter details for the issue and save it.

The issue is

[2020-05-29 11:59] martintoreilly commented on #1460
I came here to ask the same. I'm particularly worried about providing access to permissions that are only available to admins, such as repo settings, collaboration invites, deploy keys and webhooks. In the web interface, these are protected by a re-authentication prompt when accessing the "Settings" tab to enter a time-limited "super user" mode. Therefore providing perpetual access to these aspect

[2020-05-29 14:22] RMacfarlane commented on #1460
Currently we're using an OAuth App to authorize users, and the permission model for this lacks granularity. The scopes we can request are listed here: https://developer.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/

To be able to read code in this model, we have to request the `repo` scope, which is very powerful.

We've discussed moving to a GitHub App which has a more

[2020-05-29 14:30] RMacfarlane commented on #1840
Hey @photonstorm, this looks like a duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/1768. We've just checked in a fix for this, so it should be available in our next release in a couple of weeks.

[2020-05-29 14:30] #1840 closed

[2020-05-29 14:33] pjquirk commented on #1078
Same issue here.  Maybe an action I could run from the command palette (GitHub: Finish Review), since that was my first instinct after not seeing anything in the UI?  Also some sort of UI once you click/execute "Finish Review" would be nice, it wasn't clear anything actually happened :)

[2020-05-29 14:34] RMacfarlane commented on #1832
This looks like a duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/486.

There's already some ability to do this, but it requires clicking the "Checkout" button on a pull request's overview. This brings up a new "Changes in Pull Request" view under the old tree, the diffs opened under that should support code navigation as normal.

[2020-05-29 14:34] #1832 closed

[2020-05-29 14:38] #1826 closed

[2020-05-29 14:41] RMacfarlane commented on #1782
This is expected behavior, they both contribute the same commands and icons. They are not meant to be enabled side by side, we should show a warning notification when they are.

[2020-05-29 15:17] martintoreilly commented on #1460
Thanks for the quick response @RMacfarlane. Out of curiosity, what's the functionality that plugin needs that the GitHub App API doesn't support?

It may still be possible to use the OAuth App in our context if we can verify that the API key is sufficiently secured on the client machine such that the risk of malware on the client machine accessing the key is low. Is this stored in the operating sy

[2020-05-29 16:45] owpm commented on #1221
Is this going to be fixed anytime soon? Concerning that you need to workaround a forced oauth signin.

[2020-05-29 20:35] sacredvoid opened #1841 "Missing 'Issues' viewer"
- Extension version: 0.14.0
- VSCode Version: 1.42.1
- OS: macOS Catalina

Steps to Reproduce:

1. After installing the extension, it's just showing me the PRs not the Issues unlike on my Ubuntu Laptop which is running 0.16.0 version of the extension.

Has the issues viewer not yet been rolled out for MacOS?
<img width="1440" alt="Screenshot 2020-05-30 at 10 12 19 AM" src="https://user-images.gith

[2020-05-30 04:43] abheist commented on #1782
Yeah, that will be great too. 🙌

[2020-05-31 06:42] kas commented on #1221
Ubuntu 20.04 LTS, Firefox 76.0.1, Visual Studio Code 1.45.1

I can't explain what exactly fixed this for me, but after trying the process three times, it finally worked. When I'd get the error web page, I'd completely close out of Visual Studio Code each time and try the process again. I was trying to access a private GitHub repository.

[2020-05-31 21:02] RMacfarlane commented on #1841
@sacredvoid This is available in version 0.16 of the extension, please update your version of VSCode to get it. Thanks!

[2020-05-31 21:02] #1841 closed

[2020-05-31 22:04] Ryuno-Ki commented on #1221
Visual Studio Code 1.45.1
Firefox 75.0
Chromium 81.0.4044.138
Sabayon Linux

Same here. Custom Protocol was not detected. Chromium asked for opening with xdg-open.

The format looks like
`vscode://vscode.github-authentication/did-authenticate?windowId=1&code=<hexcode>&state=<uuid>` (had to make Chromium my default browser because Firefox failed)

Using Personal Access Token failed with invalid for

[2020-06-01 12:17] danecreekphotography commented on #1793
This is tough. I used this constantly and now it is gone. Sure I can stay with the old version, but then I miss out on all the improvements that are sure to happen over time.

[2020-06-01 16:02] Richard-Lynch commented on #1793
I’m happy to contribute back a fix/enhancement if a maintainer can give some guidance here on what would be acceptable?

Either extending the **GitHub authentication provider** extension to support enterprise, or creating a new **GitHub Enterprise authentication provider** extension to do same?

@RMacfarlane could you give any guidance? Is there an issue tracking this or is this something that isn

[2020-06-01 20:43] mjbvz commented on #1835
I believe this is the same issue as https://github.com/microsoft/vscode/issues/98768

[2020-06-01 23:18] gustavo-villalpando commented on #1474
I solved the problem by adding:  **"secureOptions": { "rejectUnauthorized": false }**, on my sftp file.

{
 "name": "my server1",
 "host": "myhost.com",
 "port": 21,
 "type": "ftp",
 "username": "id",
 "password": "pw",
 "path" : "/",
 "secure": true,
 **"secureOptions": {"rejectUnauthorized": false}**
}

[2020-06-02 07:12] joaomoreno commented on #1664
**Verification:**

This month we added support to export a a repository to GitHub from the status bar, where the Sync action would normally be. If a repository has no remotes (multi-root or otherwise), it should still show the publish status bar icon which drives the user to export the repository to GitHub.

Additionally, when in a multi-root workspace and there are no repos, the `Publish to GitHu

[2020-06-02 11:21] alexr00 opened #1843 "Issue completions stopped working in SCM input"

[2020-06-02 21:21] GMNGeoffrey commented on #1813
@alexr00 can you comment on whether this would make sense (either adding `\)` or replacing the whole thing with `\b`)?

[2020-06-02 22:35] RikkiGibson opened #1846 "0.16 repeatedly prompts me to sign in"
Issue Type: <b>Bug</b>

When I upgraded the extension version to 0.16, the Pull Requests sidebar kept prompting me to sign in. Each time I sign in, it works for a while, but later on the pull requests list will be replaced again with the "sign in" button. The problem doesn't seem connected to restarting VSCode or not, it just seems to happen after a few hours have passed. This didn't happen in 0.1

[2020-06-03 07:37] #1843 closed

[2020-06-03 07:50] alexr00 commented on #1813
I added `)` to the expected characters in the regular expression.

[2020-06-03 10:31] Velyks opened #1850 "No longer works with Github Enterprise"
Issue Type: <b>Bug</b>

I have a repo with ssh remotes to GHE, yet the plugin still wants me to sign into github.com and now throws errors when trying to fetch from remotes.

Fetching pull requests for remote 'upstream' failed, please check if the url git@git.mycompany.com:company/repo.git is valid.

Extension version: 0.16.0
VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a,

[2020-06-03 11:09] danhalson commented on #1819
Thanks @levitate-chris this has solved the issue for me, I guess just a mention of this in the docs could be handy?

[2020-06-03 11:12] danhalson commented on #1819
Actually it is referenced in the query syntax link. Will close.

[2020-06-03 11:12] #1819 closed

[2020-06-03 14:07] isidorn opened #1852 "Publish to github: do not ask me which folder if only one has git"
Have a MR workspace with 2 folders
First folder has git initialised
Second folder does not

Click on the Publish to GitHub action in the status bar
I get asked which folder to publish. I think we should assume the one which has git initialised.

[2020-06-03 14:07] isidorn commented on #1664
Works great. Created one small follow up item https://github.com/microsoft/vscode-pull-request-github/issues/1852

[2020-06-03 15:51] kieferrm opened #1854 "Still see sign-in notification on startup"
Issue Type: <b>Bug</b>

When I open a new window I still the GH PR extension's notification to sign-in. Since we have the adornment in the Accounts activity bar icon now,  wes should remove the notification.

Extension version: 2020.6.3781
VS Code version: Code - Insiders 1.46.0-insider (595d2b9b916d063aadfc2c1a8c8f6df5b45572a8, 2020-06-03T05:38:33.098Z)
OS version: Darwin x64 18.7.0
Remote OS ver

[2020-06-03 20:37] penyuan commented on #1778
@marcorichetta over in [this issue](https://github.com/VSCodium/vscodium/issues/401#issuecomment-631502370) provided a graphical step-by-step walkthrough of the workaround, and it worked for me. I suspect @DanielCostaCarvalho was describing a similar process, sorry but I just wasn't able to understand the text of their description.

Anyway, I hope this issue can be solved more systematically so th

[2020-06-04 08:12] #1813 closed

[2020-06-04 08:14] alexr00 opened #1855 "Show message when labels don't work"
See discussion here: https://github.com/microsoft/vscode-pull-request-github/pull/1849

[2020-06-04 09:00] joaomoreno commented on #1852
Not really since you can publish either folder. Is having a git repo a better indicator of which folder the user will pick? Maybe... but both options should still appear.

[2020-06-04 09:01] #1852 closed

[2020-06-04 09:16] isidorn commented on #1852
Well then you can argue that this status bar should appear also for folders that do not have git initialised.

[2020-06-04 12:05] joaomoreno commented on #1759
@JacksonKearl Can you verify this one?

[2020-06-04 12:33] sandy081 opened #1857 "Template is messed up after successfully creating an issue"
- Create an issue successfully from Issues view
- Try creating a another issue

🐛 Template is messed up

<img width="1085" alt="image" src="https://user-images.githubusercontent.com/10746682/83757051-30976e80-a670-11ea-817c-b9555491a368.png">

[2020-06-04 14:41] alexr00 opened #1860 "Use max issue number in repo to know if #1234 could be a real issue"
https://github.com/microsoft/vscode/issues/99356#issuecomment-638890590

[2020-06-04 16:25] GMNGeoffrey commented on #1813
Thanks!

[2020-06-04 21:12] Xmetalfanx commented on #1221
seeing the same thing here .... currently on Arch Linux .. vscode 1.45.1 ... Firefox 77.0.1 ... not sure this has anything to do with it but i cleared temp internet data including cookies too and it doesn't seem to help ... at least not yet

[2020-06-04 21:58] Ryuno-Ki commented on #1221
From the format, my first point of investigation would be, whether the `vscode:` protocol was correctly registered in Firefox.

[2020-06-05 07:27] #1857 closed

[2020-06-05 09:39] Maxkvy33 opened #1862 "Kvy"
Kvy

[2020-06-05 09:40] #1862 closed

[2020-06-05 11:01] tamuhey opened #1863 "Suppress the error message "The remote '...' is not a GitHub repository""
same error msg as #1610, but different issue.

I use my repo with multiple remote repositories, and one of these is not github.
So this extension shows `"The remote '...' is not a GitHub repository"`, but I want to suppress the message.

[2020-06-05 13:15] AArnott opened #1864 "PR comment experience is *really* bad (when checked out branch is stale?)"
- Extension version:
- VSCode Version:
- OS:

Steps to Reproduce:

1. Review https://github.com/NuGet/NuGet.Client/pull/3420 using a Codespace
1. Checkout the PR branch in the codespace.
1. Maybe leave a comment ("Start a Review").
1. Come back later, after the PR author has pushed to their source branch. (I think this is very important)
1. Open your PR codespace and try to leave comments, start o

[2020-06-05 13:16] renemelendez211 opened #1865 "syfbshabshtsyfyshabsht@gmail.com"
- Extension version:
- VSCode Version:
- OS:

Steps to Reproduce:

1.
2.

[2020-06-05 14:29] kmanjali opened #1866 "unexpected indent"
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    alogs = {
        'linear_regression' : {
            'model': LinearRegression(),
            'params': {
                'normalize': [True, False]
            }
         },
        'lasso': {
            'model'

[2020-06-05 15:30] RMacfarlane commented on #1866
I'm going to go ahead and close this issue since it doesn't seem related to this extension.

[2020-06-05 15:30] #1866 closed

[2020-06-05 15:32] #1865 closed

[2020-06-05 17:16] Shashen077 opened #1867 "Learn"
- Extension version:
- VSCode Version:
- OS:

Steps to Reproduce:

1.
2.

[2020-06-05 19:48] eamodio commented on #1854
When blocking the extension access to my GitHub account I still see the following on startup:
![image](https://user-images.githubusercontent.com/641685/83916752-b46e5b00-a743-11ea-9ce3-75cfdaa2d1d3.png)

And even after signing out, I sometimes have seen this on startup:
![image](https://user-images.githubusercontent.com/641685/83916795-c7812b00-a743-11ea-9010-251664289d19.png)

And sometimes, even

[2020-06-05 21:33] connor4312 opened #1868 "Validation failed creating an issue"
Testing https://github.com/microsoft/vscode-pull-request-github/issues/1857 I got an issue "validation failed"

![](https://memes.peet.io/img/20-06-08741ce5-52c3-40d6-86f6-9019415c60a3.png)

I might have messed up, but

 1. I don't know what I messed up
 2. The issue closed before this came up, and the text of the issue is lost; probably we should not close the issue 'file' until it's successfully

[2020-06-05 21:54] lerros99 commented on #1351
#1868

[2020-06-05 22:42] connor4312 opened #1869 "Should we cache assignable users?"
I notice while looking at https://github.com/MicrosoftDocs/live-share/issues/3612 that vscode was making a bunch of requests to Github looking for assignable users over the span of a few minutes

![](https://memes.peet.io/img/20-06-a3b47b83-8cd0-4dec-8252-d7561d861d82.png)

It looks like these were paging through assignable users. I wonder whether we should cache these to avoid hitting the Github

[2020-06-06 01:46] akwabay commented on #1351
Hi

[2020-06-06 03:30] alialjeelani opened #1870 "al_adma999@hotmail.com"
- Extension version:
- VSCode Version:
- OS:

Steps to Reproduce:

1.
2.

[2020-06-06 04:51] jijopaul1 opened #1872 "while using kali linux i have noticed there is the issue in opening any files or folders"
- Extension version:
- VSCode Version:
- OS:

Steps to Reproduce:

1.
2.

[2020-06-06 04:51] #1872 closed

[2020-06-06 12:15] renemelendez211 commented on #1865
1865

[2020-06-07 01:48] jacksonf21dev opened #1876 "Sign-in/Authentification failure"
Everything seems to work until I get back to vscode itself. I get two error messages in the bottom-right corner of vscode. It is entirely possible that I am just doing something completely wrong, but either way I appreciate any help. I've been frustrated with this issue as I'm just getting started with learning Git and Github. I've included a picture of the error messages.
<img width="1280" alt="S

[2020-06-07 15:35] MadaraUchiha commented on #1850
Possible duplicate of #1793. I'm waiting for a fix or guidance on how to fix it as well.

For now, as a workaround, you can downgrade back to 0.15.

[2020-06-08 13:35] carloluis commented on #1251
Hi, the authentication issue is caused by the last version of the plugin since they decided to drop support for GH-Enterprise. You can read more [here](https://github.com/Microsoft/vscode-pull-request-github/wiki#2-is-github-enterprise-supported)

...

I installed the prev. version [`0.15.0`](https://github.com/microsoft/vscode-pull-request-github/releases/tag/0.15.0) version and its working back

[2020-06-08 16:32] RMacfarlane commented on #1867
@Shashen077 I'm closing this issue since it seems off topic to this repository. If this is a bug report of feature request, please provide additional details. Thanks!

[2020-06-08 16:32] #1867 closed

[2020-06-08 17:40] Tyriar opened #1878 "Unable to create a GH permalink"
![image](https://user-images.githubusercontent.com/2193314/84062524-478dd780-a974-11ea-813d-05becb603204.png)

I was trying to create a permalink while the cursor was on this line: https://github.com/microsoft/vscode/blob/162abc77c787ff7a31ad221277dc7c9d0b437ade/src/vs/workbench/contrib/terminal/browser/terminalInstance.ts#L487

Branch status:

[code]

Output:

[code]

[2020-06-08 17:41] Tyriar opened #1879 "No remote with name 'ups' found. Please update your 'githubPullRequests.remotes' setting."
I'm seeing this in the logs:

[code]

I have this in my settings:

[code]

It shouldn't be asking me to update the setting as I use that remote name in some repos, just as the standard `upstream` name isn't always there.

[2020-06-08 18:19] RMacfarlane commented on #1879
@Tyriar So to clarify, your request is just to remove or update the "Please update your 'githubPullRequests.remotes' setting." text?

[2020-06-08 18:25] RMacfarlane commented on #1876
Hey @jacksonf21dev! Do you remember how you installed `git`? From the error message, I think this error is because of a configuration problem with your system, but not exactly sure what. https://stackoverflow.com/questions/43244071/ssl-unable-to-get-local-issuer-certificate might be relevant.

Can you also change the dropdown in the Output panel to "GitHub Authentication" and report what is in the

[2020-06-08 18:32] Tyriar commented on #1879
Pretty much, if you still want to log it 😄

[2020-06-08 19:28] dan1994 commented on #1773
I also want to +1 @ewen-lbh's comment.
If you could add more placeholders to use for the branch name it would be great!
I like naming my branches as `<issue-number>-<issue-name>`, and if I could set the setting to do it for me I wouldn't need the "always prompt when setting is empty" feature.

[2020-06-08 19:52] Tyriar commented on #888
@Merovex ?

![image](https://user-images.githubusercontent.com/2193314/84074078-d3a8fa80-a986-11ea-9916-6384975eaef4.png)

I'm on the Insiders version but I think the extension has been able to do this for a long time.

[2020-06-09 00:48] Obinnabii commented on #1876
my sign in is missing

[2020-06-09 03:50] jacksonf21dev commented on #1876
Hi @RMacfarlane, thanks for your help! I believe I installed git with Homebrew. The curious part is that git works just fine through the terminal on my Mac, just not while attempting to login to Github through VSCode. In other words, unlike the question posed in https://stackoverflow.com/questions/43244071/ssl-unable-to-get-local-issuer-certificate I don't receive any error message using Git in th

[2020-06-09 09:04] alexr00 commented on #1878
@Tyriar, do you have `'githubPullRequests.remotes'` set to include `ups`? (based on the log it looks like you do). It looks like you have `'githubPullRequests.remotes'` configured to include remotes that don't exist for the repository you have open. Is that correct?

[2020-06-09 09:05] alexr00 opened #1880 "Show progress when creating issue"
From @jrieken

Testing microsoft/vscode-internalbacklog#1133

We have a way to show a progress notification. I'd say that would be a good fit for creating issues from editors because success or failure is already displayed via notifications.

[2020-06-09 09:12] alexr00 opened #1881 "Provide group by setting for queries"
From @sbatten

Much like the default experience groups by milestone. I would like to have a group by setting to mimic that on added queries.

e.g.

[code]

or even more advanced (group by repo, then milestone)
[code]

[2020-06-09 09:14] alexr00 opened #1882 "Nice to have: Auto-completed query"
From @sbatten

When editing the queries, I had no intellisense for assignee user names or repos. I don't know if it is possible, but it could be cool.

[2020-06-09 10:47] Tyriar commented on #1878
Yep, see https://github.com/microsoft/vscode-pull-request-github/issues/1879

[2020-06-09 14:03] roblourens opened #1883 "Error when checking out pull request"
- Find pull request in the sidebar, right click, "check out"

![image](https://user-images.githubusercontent.com/323878/84157126-f80ce180-aa2f-11ea-9bfd-8f215f89f588.png)

- Seems like it did check out the branch, I see some errors in the output channel

[code]

Version `2020.6.10981`

[2020-06-09 14:03] roblourens commented on #1883
Also I don't have a `githubPullRequests.remotes` setting configured

[2020-06-09 15:01] alexr00 opened #1884 "Creating a permalink is crazy slow when there are many branches"
The git command that is used by the git extension API `getBranches` is extremely slow when there are many branches. Since `getBranches` is used to determine the best remote to create a permalink for, creating a permalink is now very slow.

[2020-06-09 19:22] gselvarajPandi opened #1886 "Error: AuthenticationRequired Issue"
Hi,
I installed the plugin from VSCOde and i tried to configure the github pull request. Already my VScode is working fine with git and able to pull and push from VS code. Just to have additioanl feature to support pull request i installed this plugin, but it is not authencating to work in VSCode.

- Extension version:0.16.0
- VSCode Version:1.45.1
- OS: WIndows

Steps to Reproduce:

Click sign-in

[2020-06-09 22:16] Merovex commented on #888
Okay, so I created a pull request on GH, then pulled it. I tried to approve it and got the same error message as displayed in this screenshot. Unable to approve own pull request. Now, if there is a configuration to nerf that, or if it's an "Insider" thing, then how do I get there?  I'm still fairly new to VSC...though I started with VIM 20 years ago and figured that out, so...

<img width="806" al

[2020-06-10 08:23] alexr00 opened #1887 "Provide suggestions for labels when creating an issue"

[2020-06-10 08:33] alexr00 commented on #1785
@onyekaa are you still seeing this behavior? Can you try disabling the extension and installing the nightly version of the extension?

[2020-06-10 08:34] alexr00 commented on #1784
Do you have the setting `githubIssues.queries` set?

[2020-06-10 08:37] alexr00 commented on #1779
Can you share the outputof `git remote -v`? Do you have the setting `githubPullRequests.remotes` configured?

[2020-06-10 08:41] alexr00 commented on #1773
There is already a setting for showing a prompt when you start working on an issue: `"githubIssues.useBranchForIssues": "prompt"`.

For `<issue-name>`, what would you expect to be there? The title of the issue with the spaces removed?

[2020-06-10 08:41] alexr00 commented on #1771
Already done.

[2020-06-10 08:41] #1771 closed

[2020-06-10 08:42] alexr00 commented on #1772
Previously, the repo was whatever was selected in the SCM view.

Now, for file related issue actions, it should use the repo for the file you are in.

[2020-06-10 08:42] #1772 closed

[2020-06-10 08:43] alexr00 commented on #1770
Done!

[2020-06-10 08:43] #1770 closed

[2020-06-10 08:45] alexr00 commented on #1731
This is because there are no issues assigned to you there. Seems like if there are no issues assigned to you, we could use the most recently modified 10 issues or something like that.

[2020-06-10 08:46] alexr00 commented on #1725
I had to use SVGs to create the issue labels. It was an ugly work around, but better than not showing labels at all. Now that the labels are done with spans, this is fixed.

[2020-06-10 08:46] #1725 closed

[2020-06-10 08:48] jeroenvisser101 commented on #1770
Thank you 🙏

[2020-06-10 08:52] bpasero commented on #1772
@alexr00 yeah seems to work better now, but I notice a huge slowdown for any copy/open operation, up to 10s before something happens, is that known?

[2020-06-10 09:20] alexr00 commented on #1772
Yes, that is [this](https://github.com/microsoft/vscode-pull-request-github/issues/1884) bug. I merged  a work around for it today, and am working on add more git extension API to improve it further. With the work around you should <3s.

[2020-06-10 09:24] bpasero commented on #1772
Ok let me know when I can test your change from a new nightly release.

[2020-06-10 10:50] dan1994 commented on #1773
Pretty much. In Bitbucket you have the option to open a branch from a Jira issue. It converts whitespace and some other characters to hyphens.

[2020-06-10 11:55] alexr00 commented on #1772
@bpasero, I made a new nightly release so that you could try out the work around for the slowness. In a repo where this is slow, it will not use the slower way to get the "best" remote (so if you have a fork with an "upstream" remote, you will not get a permalink in the upstream, but in the fork). For repositories where this isn't slow, it will still try to make a permalink for the "best" remote.

[2020-06-10 14:15] leobmarques-dev opened #1889 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-pull-request-github`
- Extension Version: `0.16.0`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.45.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-06-10 23:17] gselvarajPandi commented on #1886
No, we see the error as
Github Authentication log:
[Info - 19:12:52.23] Logging in...
[Info - 19:12:59.922] Exchanging code for token...
[Error - 19:13:00.16] Error: AuthenticationRequired

Thanks

[2020-06-11 09:05] alexr00 commented on #1785
@onyekaa  thanks for trying it out. Do you have uncommitted changes in the branch?

[2020-06-11 09:20] ericblade commented on #1784
I do not.  I just upgraded to the latest VSC that came out yesterday/today, and it's getting stranger.  Now most of my repos have a completely empty github view, even the Pull Requests side never populates, even though it should have a bunch of drop down thingees, even if there's nothing in them.

On this particular repo, though, it works -- but it's now giving me a completely different set of iss

[2020-06-11 09:58] alexr00 commented on #1784
That isn't how the default task query should look. It groups issues by Milestone. Can you share your all your settings.json?

[2020-06-11 11:54] Tyriar commented on #1878
FYI this is blocking me from using this feature 😦

[2020-06-11 13:49] alexr00 commented on #1878
The feature not working would indeed to that 😁.

[2020-06-11 14:40] alexr00 commented on #1869
Instead of caching, let's just wait until we actually need the users to get them, and then, only get them once per session.

[2020-06-11 17:58] RMacfarlane commented on #1889
Hey @leobmarques-dev, it looks like you missed pasting some data into this issue. Can you please describe the bug and what you were doing when it happened?

[2020-06-11 18:03] RMacfarlane commented on #1850
Hey @Velyks, this is a duplicate of #1793. GHE support was discontinued with version 0.16.0 of the extension, please see the wiki: https://github.com/Microsoft/vscode-pull-request-github/wiki#2-is-github-enterprise-supported

I will be doing exploratory work on how we can reenable this with the changes we have made to authentication, but for now the workaround is to explicitly downgrade to version

[2020-06-11 18:03] #1850 closed

[2020-06-11 18:04] awmottaz opened #1894 "Add support for multi-line comments in PRs"
It would be great to see support for multi-line comments in this extension.

— https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/commenting-on-a-pull-request#adding-line-comments-to-a-pull-request

[2020-06-11 21:11] ericblade commented on #1784
sure, this is the user settings.json

[code]

The workspace settings.json is empty.

[2020-06-11 22:44] #281 closed

[2020-06-12 06:07] ParkourKarthik commented on #1785
@alexr00 I'm also facing the same issue, I was actually testing on how to work with start and stop feature. I'm using v1.45.1. I tried several ways to get out of it like disabling and enabling the extension, removing all the issue queries but none worked out.
I don't know how it happened but it still kind of haunts me, whenever I re-open vsCode, it switches to a new branch with the issue ID. So, I

[2020-06-12 09:16] antonphilin commented on #1726
any updates?

[2020-06-12 09:40] alexr00 commented on #1784
I still can't reproduce what you're seeing. If you open the Source Control view, how many repos does it say you have open (screen shot would be good)? I opened a clone of the repo that you link in the original post, and this is what I see:
![image](https://user-images.githubusercontent.com/38270282/84489032-5c82a780-aca1-11ea-952b-bdab6ebb25c6.png)

[2020-06-12 09:51] alexr00 commented on #1785
Can you try the [Nightly build](https://marketplace.visualstudio.com/items?itemName=GitHub.vscode-pull-request-github-insiders) of the extension? I removed the logic to try to restore your state on reload there since the feedback was that it was confusing to have your branch changed like that. We should be releasing a new stable version of the regular build soon.

Thank you for using the extension

[2020-06-12 10:34] alexr00 commented on #1868
Example of new error message:
Creating issue failed: Validation Failed: Value notauser cannot be set for field assignees (code: invalid)

[2020-06-12 10:54] alexr00 commented on #1752
Interesting. Looks like git uses the filesystem to store branch refs, which can really mess with this and make this behavior operating system dependent. https://docs.microsoft.com/en-us/azure/devops/repos/git/case-sensitivity?view=azure-devops#branch-and-tag-names

[2020-06-12 11:34] alexr00 commented on #1855
With https://github.com/microsoft/vscode-pull-request-github/issues/1868, we will get a good message indicating that assignees prevented the issue from being created.

All that's left to do is show a dialog asking what to do with labels that don't exist.

[2020-06-12 15:08] AdamVig commented on #1894
Duplicate of #1376.

[2020-06-12 15:15] wenfangdu opened #1897 "Add file status color and background color"
It would be best to match the vscode default one, so it would be seamless to distinguish different file status.
![image](https://user-images.githubusercontent.com/28700378/84517682-35a88d80-ad02-11ea-8158-8895fb7458fe.png)
![image](https://user-images.githubusercontent.com/28700378/84517855-6983b300-ad02-11ea-9575-4d903c9b0aa9.png)
I saw [git stash](https://marketplace.visualstudio.com/items?itemN

[2020-06-12 17:03] #1894 closed

[2020-06-12 19:00] eisenhowerj commented on #1251
Now, we just need to figure out how to get rid of that pesky dot reminding us that Github Enterprise is an afterthought.

![image](https://user-images.githubusercontent.com/3538462/84537301-77fbab80-acbd-11ea-80c2-088a7a59d08f.png)

[2020-06-12 23:34] ericblade commented on #1784
The Issue list here is now back to identical to what it was the first time I posted. :-S  Is your screengrab there correct?  Is "Created Issues" supposed to contain any open issues in the repo, or only things that You have created?  If the former, there should be some 38 or so visible issues.

I'm not sure what view it is you're wanting a capture of -- I'm not aware of any views that show the info

[2020-06-13 22:12] erikmonroy commented on #1221
Visual Studio Code: 1.45.1
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 (chrome os linux)

I too have tried a Personal Access Token, as well as a chrome settings reset. Neither have worked, nor has copying the access token provided when the authorization fails in the browser.

[2020-06-14 03:16] boltex opened #1901 "You have to switch to a specific branch to 'stop working on issue'"
This is meant to be a bug report and positive criticism about the ui.

If you want to temporarily switch from working on an issue to work on another, you have to switch first to the right branch before being able to press the icon 'Stop working on issue'. Even so the icon is not disabled., It just does nothing otherwise, no popup message, no messages in the output panel either. Feels like a bug.,

[2020-06-14 03:18] boltex opened #1902 "U.I. Tree styling an view icons"
Maybe something broke with 1.46, but the styling and icon choice for the tree views rendered in this expansion lack visual appeal and creativity.

They lack hover info/labels, disabled states when appropriate, the order is also seemingly random. having simple choices as icons on top of tree view for classifying by date, name , etc. is trivial.

Otherwise this is a very useful & promising project!

[2020-06-14 15:51] phstc commented on #1779
Hi @alexr00

[code]

I don't, the only reference for `githubPullRequests` I found was this 👇

[code]

I couldn't reproduce the error today. It was happening consistently since I posted the issue.

[2020-06-15 06:19] ParkourKarthik commented on #1785
@alexr00 I tried the nightly build, it is reset now properly. Thanks :smile:

[2020-06-15 06:34] sentience opened #1900 "Keychain error: User interaction is not allowed"
Issue Type: <b>Bug</b>

1. Launch VSCode.
2. Switch to Source Control tab, with GitHub Pull Requests pane visible. It contains a single line of text: Sign in
3. Click the text "Sign in". Choose Allow in the prompt: The extension 'GitHub Pull Requests and Issues' wants to sign in using GitHub.
4. In Safari, click Continue to authorize the GitHub access request.
5. Choose Allow in Safari to allow th

[2020-06-15 08:02] #1785 closed

[2020-06-15 08:05] alexr00 commented on #1779
Please ping this issue if you see it again and I will reopen.

[2020-06-15 08:06] chrmarti commented on #1902
@boltex I assume you are referring to the Issues view?

[2020-06-15 08:06] alexr00 commented on #1901
@boltex can you share a gif or some screen shots of the behavior you're seeing?

[2020-06-15 08:07] alexr00 commented on #1902
@boltex can you share some screenshots of what you're referring to?

[2020-06-15 08:31] alexr00 commented on #1784
When you have files from different repositories open, the Source Control viewlet will have two views: the one that you have a screenshot of (thanks, that's what I needed), and list of all the repositories you have opened (clearly not visible on yours indicating that you only have one repo open).

The default queries for the issues view are My Issues (issues that are assigned to you in the current

[2020-06-15 08:33] egamma opened #1903 "Work on Issue: Support to create a fork when user has no commit rights"
A common OSS scenario is that someone from the community with no commit rights to a repository would like to contribute a fix to an issue. To support this scenario the 'Work on Issue' support should offer to create a fork when the user has no commit rights.

[2020-06-15 08:34] pfaltynek-als opened #1904 "Using multiple GitHub accounts"
I would like to use more GitHub accounts (for example one for private projects and other for jobs) But I cannot to find any way to register two Github accounts.

[2020-06-15 08:37] egamma opened #1905 "Adopt generalized rich hover support for issues in the Issues View"
Once https://github.com/microsoft/vscode/issues/97496 becomes available, the rich hover support should be adopted for issues in the issues view.

[2020-06-15 08:42] #1868 closed

[2020-06-15 11:08] dkent600 opened #1906 "Enable user to copy to the clipboard the link to the PR"
On the description page I would love to be able to copy to the clipboard the PR link.  Would save me having to click the link, go to the browser and copy the link from the browser URL input field.  The whole idea of this extension is to keep the workflow within VS Code.

![image](https://user-images.githubusercontent.com/1821666/84650690-c1731300-aed6-11ea-8ea9-4f3d548c2ba5.png)

Thanks!

[2020-06-15 11:30] alexr00 opened #1907 "Have "copy markdown permalink" command"
From @jrieken
I usually copy the perma-link, then the word, and then type `[<paste_word>](<paste_link>)`

[2020-06-15 14:21] danhendrix opened #1910 "Show active PRs the user has reviewed in a new section."
Currently if a user checks out a PR and makes a comment, that PR is no longer listed under "Waiting For My Review". It's only visible in "All", which in a large organization is a pain to have to go through and find.

I think the best way to handle this would be for a new section to be added which shows all open PRs that the user has reviewed or commented on. That way they would be easier to track

[2020-06-15 17:18] phstc commented on #1779
@alexr00 it is happening again 👇

![image](https://user-images.githubusercontent.com/105652/84686736-838fe200-af0a-11ea-9265-1de86abfee56.png)

![image](https://user-images.githubusercontent.com/105652/84686864-b934cb00-af0a-11ea-8a2c-9e19094876d1.png)

[code]

[2020-06-15 20:02] ericblade commented on #1784
... i really don't know ... but it does look like the brand new release today seems to have solved it, this repo, as well as the other two i have open right now, are all working as expected.  previously, none of them did.

[2020-06-15 20:02] #1784 closed

[2020-06-16 01:38] RMacfarlane commented on #1910
Hey @danhendrix, these categories are actually already configurable. The default categories match those shown under the "Pull requests" tab on GitHub, but you can edit them to be anything using the same search syntax as on GitHub.

To update to what you want, you can edit the "githubPullRequests.queries" setting to be:
[code]

Here's GitHub's documentation on searching PRs: https://help.github.com

[2020-06-16 01:46] RMacfarlane commented on #1900
This error is being returned from the keychain, can you open "Keychain Access" and check that the "login" keychain is unlocked?

[2020-06-16 02:59] sentience commented on #1900
Yes, it's unlocked. But I'm also not able to reproduce this issue anymore. Perhaps it got cured by a reboot? I'll reopen if this reoccurs.

[2020-06-16 02:59] #1900 closed

[2020-06-16 06:26] philipstarkey opened #1911 "Should not prompt to delete master branch after merge"
If a change is committed to <some fork>:master, and then merged, the PR (when viewed from within this plugin in VS Code) prompts you to delete the master branch. This prompt would obviously be fine if it was anything other than master, but deleting master is not really what anyone wants (particularly as selecting the "delete on remote" option puts the remote fork in a confused state where GitHub w

[2020-06-16 07:50] rajatkantinandi commented on #499
I'm also seeing missing comments when the PR is large & has many files.
Some of the files have comments & after a certain number of files in the list any other file is just showing my comments & any comment by a co-worker is missing.
I can't post a screenshot as it is a private repo.

[2020-06-16 08:14] alexr00 commented on #1784
You can always set `"githubIssues.queries"` to include all issues if the default queries don't work for you.

[2020-06-16 08:33] alexr00 commented on #1779
@phstc I added some better error messages to track this down in version 0.17.0, which was released in the last day. Can you update the extension and see if there's a different error message?

[2020-06-16 09:19] #1855 closed

[2020-06-16 11:54] alexr00 opened #1912 "Node-fetch prevents us from webpacking"
This code exists in the version of node-fetch we use:
[code]
But after webpacking, `proto.constructor.name` is absolutely not `AbortSignal` (it was `i` when I checked).
This causes the issue fetching to error out in an unexpected way.

[2020-06-16 11:54] alexr00 commented on #1912
@RMacfarlane FYI

[2020-06-16 12:37] anatoly-yakubov-betpawa opened #1913 "Notify user of a New PR for review"
Notify user of new (assigned) PR for a review.
Push or periodical refresh with extension's icon status is a minimum.
Status bar + pop-up that opens PR when clicked is a preferred way.

Without it users have to use other channels to disturb / notify / ask each other for a review. GitHub's email notification opens web UI, while reviewing using this extension is a much better experience.

[2020-06-16 13:47] Tyriar commented on #1905
@alexr00 merged in https://github.com/microsoft/vscode/pull/100285, see `IHoverService` which includes jsdoc on how to use it.

[2020-06-16 17:53] balauppaloori commented on #1656
I am also having the same issue: HTTPS remote and this extension says no remotes match the current settings

[2020-06-16 20:15] danhendrix commented on #1910
@RMacfarlane Ah great, thank you!

[2020-06-16 20:15] #1910 closed

[2020-06-16 21:18] boltex commented on #1902
Sure thing,

Sorry for the delay. screenshot below, here's whats happening:
Step 0:  I Startup on 'dev' (as most project's workflow start branching of from a 'dev'  branch to only put stuff in master when doing real 'releases')
step 1: i use the feature from this 'issues/pullrequest' to 'start working' on issue 47, as you can see from the red arrows in the screenshots.
step 2:  i then finished wor

[2020-06-16 21:36] boltex commented on #1901
Same png as for #1902,

When trying to use the 'stop working on issue button on the right of issues listing, I noticed it does nothing if the branch in the lower left is not the matching branch. A notification would be appropriate, also the svg icons should have diferent shades to signal 'disabled' states.

It would be nice if hover popovers indication could give info about what will (or not) happ

[2020-06-17 05:22] brianminsk commented on #841
Same issue. I've attached the automatically generate profile.
VSCode version: 1.46.0

[GitHub.vscode-pull-request-github-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-pull-request-github/files/4790479/GitHub.vscode-pull-request-github-unresponsive.cpuprofile.txt)

[2020-06-17 07:21] alialjeelani commented on #1870
لا أستطيع الوصول للبريد الإليكتروني

[2020-06-17 08:49] chrmarti opened #1915 "Selected milestone variable"
I'd like to refer in my queries to the 'current milestone'. Since that does not appear to exist on GitHub, I suggest to introduce a 'selected milestone' in the UI that can be referred to in the queries with `${selectedMilestone}`.

With that I could have personal queries showing my bugs / plan-items for the current milestone and I could also have the team-wide planning and endgame queries without

[2020-06-17 09:32] usernamehw opened #1916 "Issue autocomplete order changed in 0.17.0"
Autocomplete in SCM input was like that:
[code]
Now it is:
[code]
I'm writing commits like that:
[code]
And now it prevents from autoclosing them.
[code]
They get referenced but not closed.

857482e63a5d8230b98e661dbf014bc2cb1941a8

Ok, there's a setting. `githubIssues.issueCompletionFormatScm`.

[2020-06-17 09:38] #1916 closed

[2020-06-17 09:39] #1773 closed

[2020-06-17 09:52] alexr00 commented on #1902
"Start working" not working sounds like a bug. Do you have any `githubIssues.*` settings set?

Some polish takeaways I see here:
- Have a notification when a new branch is created
- Have more descriptive text when hovering over Start Working and Stop Working
- There should definitely be a descriptive message of what went wrong if a branch can't be switched to.

[2020-06-17 09:55] #1884 closed

[2020-06-17 14:38] #1870 closed

[2020-06-17 19:55] RikkiGibson commented on #1846
This is still present in 0.17.

[2020-06-18 03:06] Caleb-Irwin commented on #1221
Interestingly I also got the same error in brave (a chromium based browser), but when I disabled the default ad blocker and ublock origin it worked.

[2020-06-18 05:17] Duckuism opened #1918 "The color to represent add or remove is reversed."
- Extension version: 0.17.0
- VSCode Version: 1.46.0
- OS: macOS 10.15.5

Steps to Reproduce:

![image](https://user-images.githubusercontent.com/24688568/84980912-46c42500-b16e-11ea-8ad6-d0150f6eea1f.png)

The colors that represent the added and deleted codes have been reversed. How can I fix it?
I wonder if this color is affected by the theme.

[2020-06-18 11:18] letmaik opened #1919 "Don't show "The remote 'origin' is not a GitHub repository." for non-GitHub repositories"
Extension version: 0.17.0
VS Code version: Code - Insiders 1.47.0-insider (7e4cc2c435927e5a2845897961a2af10ee7f784d, 2020-06-12T06:03:53.183Z)
OS version: Windows_NT x64 10.0.18363
Remote OS version: Linux x64 5.3.0-1028-azure

Steps to Reproduce:

1. Clone a git repo where the origin remote is not GitHub.
2. Observe millions of error notifications saying "The remote 'origin' is not a GitHub repos

[2020-06-18 11:18] #1860 closed

[2020-06-18 11:20] #1887 closed

[2020-06-18 11:21] #1869 closed

[2020-06-18 14:01] #1783 closed

[2020-06-18 15:01] RMacfarlane commented on #1918
Hey @Duckuism, these colors are provided by VSCode, not the extension. Is it possible the theme you're using has updated? You can manually change the colors by adding this to your settings:
[code]

[2020-06-18 15:10] thezanke opened #1922 "GraphQL error when editing comment on PR"
Issue Type: <b>Bug</b>

1. Check out a PR for review
2. Add a comment to the main discussion thread
3. Edit comment & Save

Expected Results: The comment is edited and saved
Actual Results: The comment looks like it saved but I get a toast in VSCode with the following error:

The comment textarea leaves edit mode and looks like it saved but if I refresh the PR screen the comment re-enters edit mod

[2020-06-18 20:06] boltex commented on #1902
Sorry for the delay in answering.

Here is the config entry I had for this extension :

[code]

I don't remember entering this in my config so it must have been auto-generated. (unless i'm forgetting things. which is possible)

Anyways this made me realize the somewhat random order was because of these config entries.

Which brings me to suggest yet another improvement to this extension: Ordering

[2020-06-18 21:19] vivan-niche commented on #1290
Also experiencing this. The comment is saved somewhere locally, as closing and re-opening the file still shows it, but it is not synced to github.

[2020-06-19 03:32] StephanTLavavej commented on #1783
Thank you! 😸🎉

[2020-06-19 09:29] felipecassiors opened #1923 "Authenticate gh cli automatically in integrated terminal"
This is a duplicate of https://github.com/cli/cli/issues/1074. I'm creating it here since the implementation should probably belong here.

The `gh` cli now supports the environment variable `GITHUB_TOKEN` for authentication. This extension could expose the `GITHUB_TOKEN` to the integrated terminal in order to automatically provide authentication for `gh` cli.

Original text:

[VSCode now provides

[2020-06-19 09:29] felipecrs opened #3147 "Authenticate gh cli automatically in integrated terminal"
This is a duplicate of https://github.com/cli/cli/issues/1074. I'm creating it here since the implementation should probably belong here.

The `gh` cli now supports the environment variable `GITHUB_TOKEN` for authentication. This extension could expose the `GITHUB_TOKEN` to the integrated terminal in order to automatically provide authentication for `gh` cli.

Original text:

[VSCode now provides

[2020-06-19 09:44] felipecassiors commented on #1444
The issue https://github.com/microsoft/vscode-pull-request-github/issues/1828 partially covers this, which have a PR open: https://github.com/microsoft/vscode-pull-request-github/pull/1924.

[2020-06-19 09:49] felipecassiors commented on #1679
I also agree that populating the commit message body with the PR description is better, but I think this behavior should be adopted by the entire GitHub, not only on this extension. So for the sake of fragmentation, the right path would be to mimic GitHub web functionalities.

[2020-06-19 12:42] Scyfren commented on #1234
I keep getting this warning when trying to create a pull request:

Creating pull requests for 'Scyfren:Scyfren/issue18' failed: Validation Failed: Value "undefined" cannot be set for field undefined (code: custom)

I'm sure that I'm putting in a title name when using custom. This even shows up when trying to use the commit and branch option. I think it started happening when I accidentally tried t

[2020-06-19 16:08] Semitalis opened #1925 "Support for company github servers"
Could you please support other instances of github, i.e. companies setup their own github servers and it would really help to be able to configure the github server the extension communicates with. Maybe on a per-repository basis.

Note that the company github servers might lag behind in the used version.

[2020-06-19 16:20] pwinston commented on #1062
Being able to search by PR or issue number would be great. For us very often the PR or issue numbers and thrown around all the time, so those are how we think of things.

[2020-06-19 16:34] pwinston opened #1926 "Query for "all" or "closed" not working as expected"
## 🐛 Bug

Query for "all" or "closed" PRs not working as expected in extension.

## To Reproduce

1. Run below queries on **GitHub**:

| query |result |
| --- | --- |
|`is:pr author:pwinston` | shows open and closed PRs |
|`is:pr is:closed author:pwinston` | shows only closed PRs |

2. Run below queries in **Extension**:

| query |  result |
| --- | --- |
|`is:pr author:pwinston` |  shows only ope

[2020-06-19 17:00] pwinston opened #1927 "Search for recently updated PRs"
It would be nice to create queries that find recently updated PR's for example if we could make a query for "PR's Updated During The Last 7 Days".

The query syntax does not seem to to allow relative date queries, which seems like a big omission on GitHub.com's part. However the extension could do the math for you with some invented syntax. So "Last 7 Days" does something like `updated:>2020-06-15

[2020-06-20 15:28] xxpedro commented on #1221
Thaaaankkk Youu

[2020-06-22 08:41] #1736 closed

[2020-06-22 09:05] alexr00 commented on #1902
@boltex we already have an icon/action for editing queries in the tree. It's this pencil:
![image](https://user-images.githubusercontent.com/38270282/85269481-3bc40a00-b478-11ea-9e8c-059b1aa276c9.png)

[2020-06-22 18:21] boltex commented on #1902
I meant 'editing' with dialogs and gui controls to change those. not just opening the text settings file to edit.

Anyways, Thanks for your time and dedication to this project! it's pretty cool! :)

[2020-06-23 03:02] #1749 closed

[2020-06-23 07:56] #1912 closed

[2020-06-23 08:05] #1699 closed

[2020-06-23 08:33] aryzing opened #1929 "No response from host https://ssh.github.com/... Client network socket disconnected before secure TLS connection was established"
- Extension version: v0.17.0
- VSCode Version:
[code]
- OS: Ubuntu 18.04 LTS
- Node.js: 14.4.0

Steps to Reproduce:

As soon as vs code is opened, the extension starts to run, and is unable to connect to github. The full log of the issue from the OUTPUT tab is (emphasis mine):

[code]

[2020-06-23 12:19] stephanlachnit commented on #1919
Same as #1863.

[2020-06-23 15:22] RMacfarlane commented on #1929
Are you using a proxy? Can you check the value of your `HTTP_PROXY` and `HTTPS_PROXY` environment variables?

[2020-06-23 15:24] RMacfarlane commented on #1925
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/1793

[2020-06-23 15:24] #1925 closed

[2020-06-23 15:25] RMacfarlane commented on #1919
Thanks @stephanlachnit! Closing this as a duplicate.

[2020-06-23 15:25] #1919 closed

[2020-06-23 15:26] RMacfarlane commented on #1918
I'm going to go ahead and close this since this isn't a bug or feature request for this extension. Let me know if the above doesn't work for you.

[2020-06-23 15:26] #1918 closed

[2020-06-24 03:40] phyllisstein commented on #1236
:wave: Hey gang. Just wanted to apply a gentle nudge in favor of this change. The work you've done to support the GitHub PR review flow in VSCode is, frankly, amazing. When I need to approve code, I love having it to hand.

But when I'm _contributing_ code, I usually open a draft pull request as soon as I have something substantive to push. The comment bar feels a little obtrusive while I'm active

[2020-06-24 08:40] alexr00 opened #1930 "Adding comments in a review should be accessible"
- [x] There should be some screen reader feedback that a line can have a comment added, accessible with mouse and with keyboard.
- [x] There should be a way to add a comment with the keyboard.

[2020-06-24 13:21] aryzing commented on #1929
@RMacfarlane not using a proxy, just at home, using my wifi. This worked just fine a couple of weeks ago, so either something has changed in the plugin or vs-code, or my ISP is playing tricks on me.

As a side note, I do have the following set up in my .gitconfig to help me in cases where particular workpace wifi have ssh disabled:

[code]

Although, to reiterate, this worked fine a couple weeks a

[2020-06-24 14:55] Richard-Lynch commented on #1793
For anyone who is following this ticket, it was mentioned in #1850 that this is being looked at by internal contributors to asses the viability of bringing back enterprise support, so we’ll hopefully know more soon.

The official workaround right now is to downgrade to 0.15.0 [wiki](https://github.com/Microsoft/vscode-pull-request-github/wiki#2-is-github-enterprise-supported)

Very much appreciate

[2020-06-24 14:57] #1765 closed

[2020-06-24 18:27] joshguptill commented on #1618
Same issue, GH enterprise.

OS: Mac OSX 10.15.5

[2020-06-24 20:26] jnials commented on #1793
Yeah, this is a non-starter for me.  Left a review to that effect since that may get the attention of someone outside the developement team.

[2020-06-25 13:12] bm-stschneider opened #1931 "WebView Blank"
Issue Type: <b>Bug</b>

The web view for PRs is blank.
WebView Devtools say `index.js:1 Failed to load resource: net::ERR_UNKNOWN_URL_SCHEME`

Extension version: 0.17.0
VS Code version: Code - Insiders 1.47.0-insider (0913b1aa43191d8af0ccb4a133d9a8d7c1a81d69, 2020-06-23T09:38:28.751Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Cor

[2020-06-25 13:19] bm-stschneider commented on #1931
Most likely it is related to https://github.com/microsoft/vscode/issues/89038

[2020-06-25 21:07] rishab-pdx commented on #1906
@dkent600 If I'm right you're talking about providing a ```copy to clipboard``` action next to the title of PR. @RMacfarlane I would like to take this if no one has taken this yet.

Ideally, I think there needs to be a copy icon(a notepad SVG) next to the edit icon which when clicked copies the link to clipboard.
But for now, I have added a button that lets users copy to the link. Let me know if a

[2020-06-26 13:39] roblourens opened #1932 "Not showing PRs for the selected repo in a multiroot workspace"
- Open a workspace with the vscode repo and some other repo
- Select the vscode repo in the scm view
- The PR view shows PRs for the other repo

Maybe there is an issue with the API for the selected repo after the scm view changes today

[2020-06-26 21:08] AKershteynBSI opened #1933 "Error when creating new pull request"
I click on "plus" icon to create new pull request. Branch name defaults to the "Master". If i type in the branch name i want and choose any option (commit branch, custom) i get and error

**Creating pull requests for 'BeamSuntoryInc:AKTest' failed: Validation Failed: Value "undefined" cannot be set for field undefined (code: custom)**

![image](https://user-images.githubusercontent.com/25087816/85

[2020-06-26 21:37] RMacfarlane commented on #1931
@mjbvz I'm still seeing this in today's insiders, is this expected to already be fixed?

[2020-06-26 22:19] mjbvz commented on #1931
Should be fixed by 33142d0202d018e0e5bc11304504c84c33c3e8d5

[2020-06-27 20:54] JustinGrote opened #1934 "[Feature Request] Creating Pull Request from issue should default to the name of the issue, not the name of the branch"
Apologies if this exists, I didn't find it in searching.

I am loving the workflow of creating an issue from a selection, "checking out" the issue to work on it, and then creating a PR. However, a minor stumbling block is that the PR name should be the name of the issue, not the name of the branch, since I'm creating the PR to resolve the issue. This should be a toggleable setting at least for use

[2020-06-27 21:05] JustinGrote commented on #1934
Disregard, the issue was that I hadn't actually made a commit yet, and the commit name defaults to the issue name, so that's solves my workflow.

[2020-06-27 21:05] #1934 closed

[2020-06-28 21:03] StefanBa opened #1935 "Stage changes ends in Git fatal, saying file is outisde repository, because c:\ is used instead of C:\"
- Extension version: v0.17.0
- VSCode Version: 1.46.1
- OS: win10

Steps to Reproduce:

1. change a file
2. go to Source control and right-click to the modified file
3. select "Stage changes"
4. I get this in the change log:

fatal: c:\Users\bla\Documents\GitHub\bla\__init__.py: 'c:\Users\bla\Documents\GitHub\bla\__init__.py' is outside repository

running that command in the cmd gives me also suc

[2020-06-29 07:37] #1905 closed

[2020-06-29 11:17] alexr00 commented on #1878
@Tyriar, what is the error message you get when this happens now?

[2020-06-29 11:35] alexr00 commented on #1932
It looks like a git API event that used to fire no long fires. https://github.com/microsoft/vscode/blob/92164dd93d7d3f96dcc44ba6af994a62e5def354/extensions/git/src/api/git.d.ts#L115-L115
@joaomoreno , we use this to determine which repo is the "current" repo: https://github.com/microsoft/vscode-pull-request-github/blob/2c575f9cd392e5e554f2f341a9b926d999cf8eb3/src/extension.ts#L71-L80
But that even

[2020-06-29 12:12] joaomoreno opened #1936 "Adopt multi-repo model"
The entire _selected source control provider_ was based on this [still proposed API](https://github.com/microsoft/vscode/blob/a71c35310eb86c7e1c1e267e54a53f0c6e0abced/src/vs/vscode.proposed.d.ts#L932-L947). It was always a leaky abstraction only made obvious now that SCM doesn't use views to manage visibility. All repositories are visible at all times. The same way all root folders are visible in

[2020-06-29 12:17] alexr00 opened #1937 "Test rich hover in issues view"
Refs: https://github.com/microsoft/vscode-pull-request-github/issues/1905

- [x] macOS @chrmarti
- [x] linux @sandy081
- [x] windows @isidorn

Complexity: 1

---

The issues view now uses rich markdown hovers. Use the nightly build of the extension for testing.
1. Open a repo folder for a GitHub repo where you have issues assigned to you. Or, if you use the `githubIssues.queries` setting, open a f

[2020-06-29 12:20] alexr00 opened #1938 "Test label suggestions when creating an issue"
Refs: https://github.com/microsoft/vscode-pull-request-github/issues/1887

- [x] anyOS @lszomoru
- [x] anyOS @dbaeumer

Complexity: 1

---

Use the nightly build of the extension to test and sign in.
1. Open a repo folder for a repo where you want to create an issue.
2. Run the Create an Issue command
3. Verify that you get suggestions for labels on the line in the issue editor where labels should

[2020-06-29 12:32] alexr00 commented on #1736
To verify, you can use the `githubIssues.queries` setting to make a query that will show closed issues.

[2020-06-29 12:49] alexr00 opened #1939 "Test branch prompt and issue title variable"
Refs: https://github.com/microsoft/vscode-pull-request-github/issues/1773

- [x] anyOS @egamma
- [x] anyOS @jrieken

Complexity: 2

---

Use the nightly build of the extension to test with.
1. Set this setting `"githubIssues.useBranchForIssues": "on",`
2. Try the setting `githubIssues.workingIssueBranch`, and use the variable `${issueTitleNoSpaces}` in the branch name.
3. Start working on an issue

[2020-06-29 12:51] alexr00 commented on #1903
This is a large feature, and I'd like to give it time to be tested in the nightly build for a few weeks before it is released in the stable build. Because of this, I'm moving it to the July 2020 Milestone to be merged after we make the next release.

[2020-06-29 13:40] isidorn opened #1940 "this._queries is not iterable"
Have Pull Request nighyl extension installed.
I see this in VS Code insiders in the Developer Console:

[code]

[2020-06-29 14:22] joaomoreno commented on #1932
@alexr00 Can you check if this works now in `master`?

[2020-06-29 14:24] alexandremsouza1 opened #1941 "Fetching pull requests for remote 'origin' failed,"
Fetching pull requests for remote 'origin' failed, please check if the url https://github.com/****/*****.git is valid.

- Extension version: v0.17.0
- VSCode Version:
Versão: Commit de 1.46.1 (system setup): cd9ea6488829f560dc949a8b2fb789f3cdc05f5d Data: 2020-06-17T21:13:20.174Z elétron: 7.3.1 Chrome: 78.0.3904.130 node. js: 12.8.1 V8: 7.8.279.23-electron.0 OS: Windows_NT x64 10.0.18363
- OS: Wind

[2020-06-29 15:33] rmariuzzo commented on #1839
Yes, that would be very convenient when we work across several repos at once.

[2020-06-29 16:20] RMacfarlane commented on #1941
@alexandremsouza1 Can you run the command `Developer: Toggle Developer Tools` and see if there is any additional error info in the console? Do you see the failed request in the network tab there?

[2020-06-29 16:25] RMacfarlane commented on #1940
Do you also see this with the latest version of the extension? (2020.6.41221) Have you modified the `githubIssues.Queries` setting?

[2020-06-29 16:27] #1931 closed

[2020-06-29 16:44] alexandremsouza1 commented on #1941
![image](https://user-images.githubusercontent.com/38253342/86032974-95937980-ba0e-11ea-9e46-2a1db73e2813.png)

[2020-06-29 16:53] RMacfarlane commented on #1941
The error about the buffer can be ignored, what's the warning above it?

This notification is shown when the fetch call 404's, can you double check that the you're able to access `https://github.com/***/***` normally in the browser, and that the user you're currently logged into VSCode with has access ot this repo?

[2020-06-29 16:58] alexandremsouza1 commented on #1941
Yes, I have access to the repository.

if I click on "sigin out and sigin in" it works.

The problem is having to do this every time.

[2020-06-29 18:46] #1788 closed

[2020-06-30 07:13] isidorn commented on #1940
@RMacfarlane I have not modified the `githubIssues.Queries` setting. I had extension auto update setting and I was using PR extension nightly, so yes I think I was on latest.

[2020-06-30 12:26] alexr00 commented on #1932
Yes, this works now. Thank you!

[2020-06-30 12:26] #1932 closed

[2020-06-30 13:08] alexandremsouza1 commented on #1941
![image](https://user-images.githubusercontent.com/38253342/86129792-a220dc00-bab9-11ea-8f51-17197118f672.png)

[2020-06-30 13:59] alexandremsouza1 commented on #1941
![image](https://user-images.githubusercontent.com/38253342/86135085-bd431a00-bac0-11ea-9bff-373e3dd36471.png)

Every time i click on the item i lose my credentials

[2020-06-30 14:11] alexandremsouza1 commented on #1941
It actually looks like I'm losing my token when the plugin to refresh

[2020-06-30 18:36] sumanmba opened #1942 "Unable to Clone repository"
Issue Type: <b>Bug</b>

Tried multiple ways, still unable to clone my repository in to my editor

Extension version: 0.17.0
VS Code version: Code 1.46.1 (cd9ea6488829f560dc949a8b2fb789f3cdc05f5d, 2020-06-17T21:13:20.174Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-4130T CPU @ 2.90GHz (4 x 2893)|
|GPU Status|2d_

[2020-06-30 18:38] RMacfarlane commented on #1942
@sumanmba Can you please provide some more details? Did you use the `Git: Clone` command? What was the result?

[2020-06-30 18:40] sumanmba commented on #1942
I'm trying to do it in VS Code editor directly. Unable to do the same. Didn't try any other alternatives

[2020-06-30 20:38] heaths opened #1943 "Option to not use pull request template"
I would like the option to not use a pull request template. We have one in our monorepos for the sake of irregular contributors, but during active development by the feature teams, I always have to open a PR after creating it with the extension to restore the template and instead use the commit description (if one commit, which for me is typical for initial PRs) I wanted in the first place.

Perha

[2020-06-30 20:42] RMacfarlane commented on #1942
It sounds like the Git extension isn't activated, do you have Git installed? https://git-scm.com/download

[2020-07-01 08:24] chrmarti opened #1945 "Issue hover: State icon not shown in container"
#1937

v2020.6.41221

It works in the editor and when not in a container, but not in the view when in a container:
![image](https://user-images.githubusercontent.com/9205389/86221324-0e1c4680-bb85-11ea-9fe5-30af2437e8d3.png)

[2020-07-01 08:33] jrieken opened #1946 "Alternative names for issueTitleNoSpaces"
re https://github.com/microsoft/vscode-pull-request-github/issues/1939

The variable name `issueTitleNoSpaces` is a little clumsy. May `safeIssueTitle`, `santitizedIssueTitle`, or just `issueTitle`?

[2020-07-01 08:36] jrieken opened #1947 "Use branch template also as name suggestion"
re #1939

* have these settings
[code]
* start working on an issue
* it would be nice if the quick pick default value is derived from the setting here as well

[2020-07-01 08:38] jrieken opened #1948 "Use markdown settings descriptions"
re #1939

Using markdown settings descriptions would allow you to explain the different template variables nicer, e.g as the window title setting does it

<img width="747" alt="Screenshot 2020-07-01 at 10 37 29" src="https://user-images.githubusercontent.com/1794099/86222807-0362b100-bb87-11ea-9fa2-b2c681d6db4b.png">
<img width="778" alt="Screenshot 2020-07-01 at 10 37 19" src="https://user-images

[2020-07-01 08:40] jrieken opened #1949 "Setting name "githubIssues.workingIssueBranch""
re #1939

Maybe find a better name for `workingIssueBranch`. How about `issueBranchTitle` (similar to window.title) or `issueBranchNameTemplate`

[2020-07-01 09:00] alexr00 commented on #1949
I like `issueBranchTitle`, but this setting is already in stable. Will need to migrate.

[2020-07-01 09:02] alexr00 commented on #1946
`sanitizedIssueTitle` it will be.

[2020-07-01 09:09] lszomoru opened #1950 "Assignees, Labels, field descriptions are gone when switching between tabs"
Testing #1938

1. Open a file in the workspace
2. Invoke the `Create an Issue` command
3. The `Assignees`  and `Labels` fields have description
4. Switch to the file that was opened before the command was invoked
5. Switch back to the `NewIssue.md`
  - Expected: Field descriptions should still be present
  - Actual: Field descriptions are not present

[2020-07-01 09:16] lszomoru opened #1951 "Suggestions for the label color element"
Testing #1938

* I guess this is due to a limitation but the layout with two rectangles seems unnatural. Ideally we should display the color at the beginning of the list item instead of the icon. I would go as far as removing the current implementation of showing the color until this is supported.
* If we were to show that secondary element, its height should match the list element height
* Top an

[2020-07-01 09:18] lszomoru opened #1952 "Label suggestion dialog should only contain labels"
Testing #1938

Can we remove these items from the suggestion dialog?

![image](https://user-images.githubusercontent.com/3372902/86226827-7fabc300-bb8c-11ea-85ed-9543a76823df.png)

[2020-07-01 09:24] dbaeumer opened #1953 "Issue editor: code complete hangs with loaded"
Testing https://github.com/microsoft/vscode-pull-request-github/issues/1938

Opened code complete at the top of the editor. Got

<img width="456" alt="capture" src="https://user-images.githubusercontent.com/1931590/86227544-74a56280-bb8d-11ea-9f1a-544ba12a8a3f.png">

[2020-07-01 09:26] dbaeumer opened #1954 "Issue editor: provide code complete for assignees"
Testing https://github.com/microsoft/vscode-pull-request-github/issues/1938

Title says it all.

[2020-07-01 09:26] #1938 closed

[2020-07-01 09:28] alexr00 commented on #1952
I don't think we have a way to do this since those are coming from the markdown extension. Even if I make the document selector as specific as possible (`{ scheme: NEW_ISSUE_SCHEME, pattern: '**/NewIssue.md', language: 'markdown' }`, the Trigger Suggest command will show all. If you just hit space (the trigger character for this specific suggestion) then you will only see labels.

@jrieken, is the

[2020-07-01 09:30] alexr00 commented on #1954
Huh, this is a bug since this should already be working.

[2020-07-01 09:33] dbaeumer commented on #1954
It does not :-)

[2020-07-01 09:38] isidorn opened #1955 "Can not login with Microsoft Edge"
Refs: #1937

Windows.
Put MS Edge as your default browser
Install PR nightly extension.
Trigger the login flow -> everytime I get the following error message.
When I change to use Chrome everything works fine.

![Screenshot 2020-07-01 at 11 31 22](https://user-images.githubusercontent.com/1926584/86228989-622c2880-bb8f-11ea-81e5-9b9f3786a5aa.png)

[2020-07-01 09:40] isidorn opened #1956 "Add bottom margin"
Refs: #1937

Hover over na issue
Notice how there is not a lot of bottom padding -> this gives a wrong visual impression to the user that the bottom is clipped and that he should scroll down - which is not true.
I suggest to add 2px more padding to the bottom.

![Screenshot 2020-07-01 at 11 35 22](https://user-images.githubusercontent.com/1926584/86229153-9a336b80-bb8f-11ea-963f-9de7b9b9e862.png)

[2020-07-01 09:41] isidorn opened #1957 "Impossible to nativly select parts of text in issue hover"
Refs: #1937

Hover over an issue
Try to use native selection to copy paste part of the issue description.
This is impossible since every time the whole content is selected.

[2020-07-01 09:41] alexr00 commented on #1954
It looks like it works if you type the `@` character, but not when you run the Trigger Suggest command.

[2020-07-01 09:43] isidorn opened #1958 "Issue hover should not go away this easy"
Refs: #1937

Open issues view. Hover over an issue -> the issue hover shows up - great!
Now use the mouse to hover quickly outside of the hover, and quickly move it back to hover over the same issue.
Notice how the issue hover, goes away and quickly comes back.

Idealy it should be smarter (like the issue hover in the editor) and that you do not even hide it in this case. Thus not having this ui f

[2020-07-01 09:44] isidorn commented on #1957
I can no longer repro this. Must have been an issue with my VM. Sorry for the noise

[2020-07-01 09:44] #1957 closed

[2020-07-01 09:45] #1937 closed

[2020-07-01 09:53] alexr00 commented on #1951
100% agree that the color is better shown in front of the label name. There isn't a way to do this using the existing `Color` suggestion, but I think this could be done without new API.

[2020-07-01 09:53] alexr00 commented on #1951
The layout with two rectangles is the same for all uses of the suggest widget.

[2020-07-01 11:42] jrieken commented on #1952
No, an extension cannot prevent suggestions from other extensions showing up. In this specific case it's actually static snippets and they are contributed static for a certain language. I think of of two ways to tackle this

* don't call it markdown but issue-markdown and thereby not inherit these snippets
* find a way to disable snippet completions for this specific model, tho you might break use

[2020-07-01 12:36] alexr00 commented on #1952
It is important that the new issue file still be colorized as markdown, since that's one of the best parts of using it.

It also seems important to preserve the snippet suggestions in the rest of the editor, since that's also an upside of using the new issue editor.

Since there is not optimal solution right now, I will leave it as is and leave this issue open in case we think of a better idea.

[2020-07-01 16:46] egamma opened #1962 "Working Issue Branch is not validated"
https://github.com/microsoft/vscode-pull-request-github/issues/1939

Suggest to do some minimal validation of the setting  `githubIssues.workingIssueBranch`, e.g., that it doesn't include any spaces, when it used.

For example, the error message is from entering `${issueTitleNoSpaces} ` (note the trailing space)

![image](https://user-images.githubusercontent.com/172399/86270052-eb148580-bbca-11ea

[2020-07-01 16:46] #1939 closed

[2020-07-01 19:15] AArnott commented on #1864
This is happening again!

[2020-07-01 19:18] AArnott commented on #1864
My codespace was created, and leaving a review comment was fine. But then the PR was pushed to, and now no comment I leave from my web-based Codespace is actually persisted.
Once I manually execute `git pull` within the codespace, my comments magically persist again.

[2020-07-02 07:34] #1954 closed

[2020-07-02 07:44] Duckuism commented on #1918
@RMacfarlane Thank you for your help!

[2020-07-02 08:37] jrieken commented on #1946
typo: `santitizedIssueTitle`

[2020-07-02 08:39] #1950 closed

[2020-07-02 08:43] alexr00 commented on #1946
😨 I even use a spell checker and it missed that

[2020-07-02 08:43] #1946 closed

[2020-07-02 10:10] #1945 closed

[2020-07-02 17:03] letmaik opened #1963 "Cannot add comments on some files"
Extension version: 0.17.0
VS Code version: Code 1.46.1 (cd9ea6488829f560dc949a8b2fb789f3cdc05f5d, 2020-06-17T21:13:20.174Z)
OS version: Windows_NT x64 10.0.18363
Remote OS version: Linux x64 5.3.0-1031-azure

Steps to Reproduce:

![grafik](https://user-images.githubusercontent.com/530988/86389426-304dbb80-bc8e-11ea-8b94-0e95d69b5fdd.png)

For all files which have an SCM symbol (A, M, etc.) I canno

[2020-07-02 20:22] sana-ajani opened #1964 "Clean up TODO comment after issue closed"
From Twitter: https://twitter.com/alvaromartmart/status/1278759499894054912

Not sure if we can remove the TODO, but that would be helpful to "close the loop". Perhaps we could trigger the code action again reminding users it's still there?

[2020-07-02 23:09] 9at8 commented on #1884
Verified on https://github.com/9at8/vscode-pull-request-github-test-1884 (300 branches). It takes about 1-2 seconds to open the link.

[2020-07-02 23:21] 9at8 commented on #1950
@alexr00 I can still repro this in v0.17.0. Am I not using the latest version?

[2020-07-02 23:27] RMacfarlane commented on #1950
These changes haven't been released in the stable version of the extension, you can disable "GitHub Pull Requests and Issues" and install "GitHub Pull Requests and Issues Nightly" to test against the latest

[2020-07-02 23:50] mjbvz opened #1965 "Treat comma as a commit character for new issue files"
Issue Type: <b>Bug</b>

**Repro**
1. Create a new issue
1. In the `Assignees` or `Labels` section, trigger suggestion
1. Press `,`

**Expected**
This should accept the current suggestion

Extension version: 2020.7.2341
VS Code version: Code - Insiders 1.47.0-insider (04545fa88043fd10d1f3edefd26be1b8245b516f, 2020-07-02T05:41:12.081Z)
OS version: Darwin x64 19.5.0

[2020-07-03 12:08] gunslingerOP opened #1966 "I can't push code from VS code but can do it from the CLI"
- Extension version: v0.17.0
- VSCode Version:May 2020 (version 1.46)
- OS:[Kubuntu OS]

My ssh key is functional as i can push, pull and merge with the remote repo from my CLI but when i try to do it in VS code using the  "Synchronize changes" button at the bottom left corner near the branch name, it outputs this error:

i have signed into VS code using my github account and checked using several

[2020-07-03 15:30] colin-valentini commented on #1618
Same

[2020-07-03 17:42] brettcurtis commented on #1792
(First off - love this plugin!) Not sure if you're tracking the issue template feature request here but I would love to see this pull from templates set at an org level as described here: https://docs.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file