[2022-07-04 22:08] OmarTawfik opened #3685 "Better visibility for "viewed" file trees"
It is great that you can mark files as "viewed" when reviewing pull requests from VS Code. Example:

<img width="227" alt="image" src="https://user-images.githubusercontent.com/15987992/177220206-cbd2eaa8-90e6-4538-b377-095a3b88e004.png">

When reviewing large PRs, users typically collapse folders they are done with. It would be great if the collapsed folders show the same "viewed" tick icon as we

[2022-07-05 11:03] errietta commented on #3675
Sure please ping me when it's released and I'll try out

[2022-07-05 13:43] thepalbi commented on #3274
If I can add something on top of this, it'd be nice if also one can mark all files in a folder as viewed. For example, when reviewing a PR and a whole inlined dependencies folder has changed (Go's `vendor` for example).

If you don't mind, I'd love to take a stab at this. Always wanted to dive into vscode-exntesions 😀

[2022-07-05 13:58] alexr00 commented on #3685
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/3274

[2022-07-05 13:58] #3685 closed

[2022-07-05 14:09] alexr00 commented on #3274
@thepalbi I would accept a PR for this. This change will touch a lot of files, but here are some code pointers:

You will need to set a `contextValue` on `DirectoryTreeNode` for it have the "mark as viewed" action:
https://github.com/microsoft/vscode-pull-request-github/blob/771ea78afac82966a9de4268bd2770688141dcd3/src/view/treeNodes/directoryTreeNode.ts#L10-L11

Example of what the `contextValue`

[2022-07-05 14:44] alexr00 commented on #3673
Ok, thanks for helping to track this down. Your info above that already made comments do show is helpful. I'll add some more logging around the commenting ranges (the gutter you can click on to add comments), and we'll try to narrow it down from there.

[2022-07-06 00:42] heartacker opened #3689 "please change Icon"
![image](https://user-images.githubusercontent.com/1876302/177439027-1cb4ae77-6550-42dd-aa8f-749ed1ee771e.png)

what is relation between right-arrow and check-out？

[2022-07-06 07:27] #3109 closed

[2022-07-06 13:05] #3679 closed, assigned to alexr00

[2022-07-06 13:06] #3682 closed, assigned to alexr00

[2022-07-06 13:06] #3675 closed

[2022-07-06 13:35] adirz commented on #1778
Hi, a bit late but maybe someone here can help.
I tried the personal access token solution (it does not give the option to authorize in the website) and nothing happens...
It opens the prompt to write the token, I do, and then nothing, not error message or anything, just nothing.
Anybody know where I can figure out what's wrong?

[2022-07-06 16:49] rahmathu commented on #3570
@alexr00 : I am not able to see the problem any more, not sure what helped. After an update things are working good. Closing this issue. Thanks a lot for your help

[2022-07-06 16:49] #3570 closed

[2022-07-06 18:00] nisola-c4 opened #3692 "Unable to Sign in - TypeError: t.contains is not a function"
- Extension version: 0.46.0
- VSCode Version: 1.68.1
- OS: Windows 10 Pro 21H2

Steps to Reproduce:

1. Press "Sign in" button
2. Observe "Error signing in to GitHub" toast message

Output:

[Info] TypeError: t.contains is not a function
	at f1.setCurrentUser (c:\Users\nisola\.vscode\extensions\github.vscode-pull-request-github-0.46.0\dist\extension.js:1111:16459)
	at processTicksAndRejections (no

[2022-07-07 08:35] McLovin77 commented on #1941
Hey so for me the issue was that I was connected to my VSCode with 2 gh accounts (personal and work), and I signed out of the personal one and the extension all of a sudden started working (after months of just having it there and never using it cuz it never worked), I suggest you disconnect and reconnect to your accounts, play with it a little until it works, doesn't feel like they're gonna solve

[2022-07-07 08:40] alexr00 opened #3693 "Extension doesn't work when there are 2 signed in GitHub accounts"
https://github.com/microsoft/vscode-pull-request-github/issues/1941#issuecomment-1177254111

We will not support 2 accounts, but we can, and should, detect that there are 2 accounts and warn the user.

[2022-07-07 08:41] alexr00 commented on #1941
@McLovin77 thank you for posting your solution. That the extension doesn't tell you that there are 2 accounts and it doesn't work with 2 accounts is a bug. We can do better and tell you that you should sign out of one account: https://github.com/microsoft/vscode-pull-request-github/issues/3693

[2022-07-07 08:43] alexr00 commented on #3570
@rahmathu thanks for the update! If you see it again we can always take another look.

[2022-07-07 08:48] #3627 closed

[2022-07-07 08:50] alexr00 commented on #3630
Fixed by https://github.com/microsoft/vscode-pull-request-github/pull/3686

[2022-07-07 08:50] #3630 closed

[2022-07-07 12:29] lszomoru commented on #3670
🎉

[2022-07-07 13:10] jasonwilliams opened #3697 "[Help] - I clicked "Don't show again" for refresh pull requests and it doesn't seem to pull now"
When PR's update I clicked the "Refresh Pull Request" which shows the prompt on the bottom right which says "Pull" or "Don't Show Again".

I wanted it to pull automatically without me having to keep clicking "Pull" so i selected "Don't Show again". But instead of automatically pulling it seems it now doesn't pull at all? I could be wrong but that seems to be the experience.

Is there a way to reve

[2022-07-07 15:34] alexr00 commented on #3667
Thank you for the easy repro steps! The GitHub API that we were using decided to truncate the file, even though it is within the size limits documented for the API.

[2022-07-07 16:03] #3667 closed, assigned to alexr00

[2022-07-07 17:23] kriswuollett opened #3699 "Add refresh button to "Create" view (Newly published branch doesn't show up in merge changes from)"
Issue Type: <b>Bug</b>

Summary:

Seems like the GitHub plugin isn't notified that a new branch was published. It only shows up if I reload the window. There is no manual refresh button on the GitHub pull request screen either.

Steps to Reproduce:

* Create a new repo
* Publish an initial commit
* Create new branch off of main
* Add another commit
* Push/publish new branch on remote
* Go to GitHu

[2022-07-07 17:25] kriswuollett commented on #3699
![CleanShot 2022-07-07 at 12 23 32@2x](https://user-images.githubusercontent.com/1834192/177833576-853bedb1-0d02-4237-a5b3-14a2e93cc00e.png)

[2022-07-07 17:27] kriswuollett commented on #3699
I used the dropdown menu from the "SOURCE CONTROL" view to invoke "Push" which asked me if I want to publish on remote. Is there no mechanism that the GitHub plugin uses to know that new branches are known locally / on remote?

[2022-07-07 18:39] roblourens commented on #3536
I don't think so!

[2022-07-07 18:39] #3536 closed

[2022-07-08 08:23] alexr00 opened #3701 "Always including the PR template is annoying"
We used to have a setting that configured where the PR description comes from. Now, we just use the same defaults as github.com and always include the PR template. This is annoying if your PR template is geared towards community contributors and not repo maintainers.

Let's bring the setting back.

[2022-07-08 09:16] #3668 closed

[2022-07-08 09:18] #3660 closed

[2022-07-08 11:13] AndreaPi opened #3704 "Is it possible to merge a PR from the UI, or do we need to use the terminal?"
As per title: once we define the `from` and `into` branches to be merged in the UI, we write a comment and we click on "Comment and submit", does this actually merge the branch? Or do we need to open the Terminal window and execute `git merge` from there?

[2022-07-08 13:31] Tique19 opened #3705 "Unable to sign in with PAT"
Issue Type: <b>Bug</b>

1. Change the Github Authentication Setting for Github-enterprise to an enterprise version of github

2. When prompted enter the personal access key to be used to sign into that enterprise account

Expected result: Succesful Login

Actual result: "Sign in failed: Error: The provided token does not match the requested scopes: read:user repo user:email workflow"

Extension ve

[2022-07-08 13:48] benibenj commented on #363
@daviddossett, we are looking for two icons for switching between the ChangesSinceLastReview Mode and AllChangesOfPullRequest Mode. The icon will be placed in the panel in the top left (as in image) and when clicking it the Icon should be replaced with the second Icon, corresponding to switching into the other mode. Do you recommend using a specific icon pair or should new Icons be created for thi

[2022-07-08 15:07] alexr00 commented on #3704
You can merge from the overview page (2), which can be opened from the "Changes" view (1), or from the PR sidebar view (3).

![image](https://user-images.githubusercontent.com/38270282/178019734-ae95168c-fd3f-4e56-a145-7104548af40d.png)

[2022-07-08 15:07] #3704 closed

[2022-07-08 15:09] alexr00 commented on #3705
This extension requires that you set certain scopes on your PAT. When creating your PAT, make sure you select the scopes that you list in your original issue (read:user repo user:email workflow).

Info on PAT scopes at step 8 here: https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token

[2022-07-08 15:16] #3701 closed

[2022-07-08 23:33] jasonwilliams commented on #3697
maybe the UX is confusing or in misunderstanding something, but I assumed it pulls when I press “refresh pull request”. That was my expectation.

[2022-07-10 11:44] nikitastupin commented on #3566
I've checked in 0.46.0 and it works! Thanks!

[2022-07-11 08:42] errietta commented on #3675
Hi @alexr00 tried this today  with a git+ssh remote and looking good 👍

[2022-07-11 08:57] alexr00 commented on #3675
@errietta thank you for trying it out!

[2022-07-11 09:55] #3697 closed

[2022-07-11 10:06] alexr00 opened #3711 "Option to `pull` when clicking the "Refresh" button on the overview"
https://github.com/microsoft/vscode-pull-request-github/issues/3697#issuecomment-1179428607

[2022-07-11 10:07] alexr00 commented on #3697
Thanks for the details @jasonwilliams. I can see why you'd want to pull when clicking the refresh button. Opened https://github.com/microsoft/vscode-pull-request-github/issues/3711 to add this.

[2022-07-11 11:41] alexr00 commented on #3544
Sorry it's taken me so long to take a look at this!

I tried to reproduce the issue with your steps, but I haven't seen this happen, even after waiting for several minutes. How did you check to see/what were you looking at that showed that the branch had been changed?

[2022-07-11 11:54] alexr00 commented on #3504
@ssardina the [pre-release build](https://github.com/microsoft/vscode-pull-request-github/wiki/Pre-release-Build) has my fix for the double repo issue, which I think will also fix your issue. If you are able to try out the pre-release build and comment about whether the issue is fixed that would be very helpful!

There are still other bugs with multi repo support, tracked here: https://github.com/

[2022-07-11 11:57] alexr00 commented on #2739
@Ark-kun I've added some additional logging to track this down. Are you able to try out the [pre-release build](https://github.com/microsoft/vscode-pull-request-github/wiki/Pre-release-Build) to reproduce the issue then share the output from "GitHub Pull Request"?

[2022-07-11 12:46] jasonwilliams commented on #3697
Thanks @alexr00

In the meantime, is there anything I can do to bring back the “pull” dialog? Or do I need to delete the extension and reinstall it?

[2022-07-11 13:10] alexr00 commented on #3697
@jasonwilliams I've merged the change to use a setting instead of the user-unfriendly global state. If you install the [pre-release version](https://github.com/microsoft/vscode-pull-request-github/wiki/Pre-release-Build) of the extension _**tomorrow**_ (It didn't make it into the daily build today. The build is usually available by 10:00 GMT) then you'll have the setting `githubPullRequests.pullBr

[2022-07-11 13:48] #3618 closed

[2022-07-11 14:17] joaomoreno opened #3714 "Reconsider default PR changes view"
I find the default tree view to be much noisier

![image](https://user-images.githubusercontent.com/22350/178285428-53986456-75ff-47b6-9b5d-d46aba27dcf5.png)

than its list view counterpart:

![image](https://user-images.githubusercontent.com/22350/178285365-bd6e6128-6b9e-4333-b293-5128993c0e2a.png)

Should we default to list, similarly to how SCM does it?

[2022-07-11 15:04] alexr00 commented on #3714
Would impact https://github.com/microsoft/vscode-pull-request-github/issues/3274 a bit since it's a feature that wouldn't show by default anymore.

[2022-07-11 20:01] AndreaPi commented on #3704
@alexr00 thanks for the super-fast answer!

[2022-07-12 10:32] ohhmm opened #3716 "Debug yaml actions"
Type: <b>Feature Request</b>

Run actions locally

Extension version: 0.46.0
VS Code version: Code - Insiders 1.70.0-insider (112b2d050c8398e74360fcb2219af76ad51e8aa5, 2022-07-12T05:17:20.095Z)
OS version: Windows_NT x64 10.0.22000
Modes:
Remote OS version: Linux x64 5.10.16.3-microsoft-standard-WSL2

[2022-07-12 11:13] alexr00 commented on #363
@daviddossett it's more of a toggle. In effect, it will filter some of the files out, but also _the contents_ of the files (really the diffs) will change.

[2022-07-12 11:57] alexr00 commented on #3504
I'm going to close the issue so that it gets tracked for verification before the next release. @ssardina if you still see the issue I will reopen it!

[2022-07-12 11:57] #3504 closed

[2022-07-12 12:29] CombeeMike commented on #3330
100+ for this. I'd often like to hide files makred as reviewed even in small PRs just for the sake of an better overview for myself during the review.

[2022-07-12 12:56] alexr00 commented on #3658
@Snailedlt can you share the output of `git remote -v`?

[2022-07-12 13:53] #3633 closed

[2022-07-12 14:24] alexr00 commented on #3671
Only happens in firefox. I'm also not seeing webviews load, but that's not an issue with this extension.

[2022-07-12 14:47] alexr00 commented on #3671
@joyceerhl `repository.getBranch(main)` will return the first branch that contains the string `main` on Remote Hub. I've fixed the error that @digitarald was seeing, but it's a little unexpected that `getBranch` will return a branch that contains the branch name instead of the one that exactly matches it.

[2022-07-12 15:49] #3671 closed

[2022-07-12 17:25] steve-gentile-kr opened #3720 "Extension not showing in sidebar"
I've installed the plugin but its not showing up in my sidebar.

- Extension version:
- VSCode Version: 1.69.1
- OS:  OSX M1

Steps to Reproduce:

1.
2.

[2022-07-12 17:55] daviddossett commented on #363
Ok, I'll see if we have any icons that work for this else I'll propose some new ones.

[2022-07-12 18:38] joyceerhl opened #3721 "GHPRI 'Comment and Approve' view in side bar is not clickable"
This entire region is not clickable for me in insiders.vscode.dev or vscode.dev:

![image](https://user-images.githubusercontent.com/30305945/178569346-48c2d940-650a-4e68-82a1-c87133e590a1.png)

Version: 1.69.1
Commit: b06ae3b2d2dbfe28bca3134cc6be65935cdfea6a
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.114 Safari/537.36 Edg/103.0.1

[2022-07-12 22:39] ssardina commented on #3504
Will do @alexr00, thanks!

[2022-07-13 08:17] alexr00 commented on #3721
Appears to be an upstream issue: https://github.com/microsoft/vscode/issues/155033

[2022-07-13 12:03] alexr00 opened #3722 "Apply patch feature bugs"
- You can click the "Apply patch" button even when the branch isn't checked out.
- There's no good indication that the patch has been applied after you hit the "Apply patch" button.

[2022-07-13 18:03] ericharper commented on #3450
I'm having this issue as well. Even after checking out the pull request, the file is still in read-only mode and can't be edited.

[2022-07-13 22:39] GMNGeoffrey commented on #3450
I am also having the same issue. Checking out the pull request doesn't help, but it *does* put me on a new branch, which I don't want because I was already on the branch that this pull request came from.

[2022-07-14 07:11] zhwuwuwu commented on #2822
test

[2022-07-14 08:58] alexr00 commented on #3450
@ericharper I'm trying to "upgrade" the readonly files after you checkout the PR: https://github.com/microsoft/vscode-pull-request-github/issues/3631

@GMNGeoffrey This sounds like a bug. You are on the "from" branch of the PR already, but you cannot edit a file from the pull request? Would you be willing to open a new issue with details about how you opened this readonly file?

[2022-07-14 13:08] alexr00 commented on #3631
The new `Tabs` API will let us close the readonly editors, but we can't replace them with the editable editors. We can only open the editable editors, not specify a locaction.

For now, this will be better than the confusing alternative. If new `Tabs` API is added later than enables replacing then we will switch over to that.

[2022-07-14 15:21] #3631 closed

[2022-07-14 17:27] GMNGeoffrey commented on #3450
@alexr00 that was the case, but I can't reproduce it now. I'll file a new issue with exactly what I did if it happens again. From memory, I set up the extension and was already on the branch. When I went to PRs and clicked on the one corresponding to the branch, I was able to see comments but not edit the buffer. When I right clicked to "Checkout Pull Request" it switched me to a new branch `pr/GM

[2022-07-14 18:48] daviddossett commented on #363
One possible idea. Still a bit rough but basically exploring something riffing off GH's "Files changed" icon and then a varation for pending changes that haven't yet been reviewed.

I'm not crazy about how the pending version looks yet but using these as a starting point.

<img width="875" alt="CleanShot 2022-07-14 at 11 47 15@2x" src="https://user-images.githubusercontent.com/25163139/179059838-9

[2022-07-15 08:29] joaomoreno opened #3728 "Performance: Delay in showing Assignee quick open"
When I click the Assignee `+` button, there's a noticeable delay to quick open opening, as if the extension is doing some loading before showing quick open. Given that quick open supports progress, the best would be to show it immediately and use it to report loading progress.

Funnily enough, the Reviewers `+` button doesn't have that same lag. Could this be related to the [latest changes in that

[2022-07-15 09:47] #3728 closed

[2022-07-15 10:16] benibenj commented on #363
@daviddossett I think these icons are a good starting point. The arrows (in pending) could possibly just be replaced with some symbol/icon which would indicate NEW changes (However all changes are 'New' just some of them are since a review).

A totally different option could be sort of a TODO list as changes since a review will probably be in relation to comments/suggestions made in that review. (

[2022-07-15 16:18] connor4312 opened #3730 "Marking a file as "viewed" should automatically move to the next-unviewed file"
In GH, marking a file as viewed collapses it so that you get moved to the next file. In GHPR, I need to manually select the next file I want to view after marking a file as viewed. It would be handy if this happened automatically, since "viewed" files generally require no further action.

[2022-07-15 16:55] daviddossett commented on #363
We could reuse `checklist` (left) and introduce a variant with unchecked items:

<img width="710" alt="CleanShot 2022-07-15 at 09 54 38@2x" src="https://user-images.githubusercontent.com/25163139/179271531-8890700d-3b93-474f-9c55-55bb57662366.png">

[2022-07-16 00:00] ThomasBachSap opened #3731 "Update wiki documentation for github enterprise, add missing workflow scope"
There is some github enterprise documentation in the wiki: https://github.com/microsoft/vscode-pull-request-github/wiki#2-is-github-enterprise-supported
However, it does not contain the correct list of scopes for the personal access token as ´workflow´ is also required. In addition, some parts seem to be a bit outdated.

I have drafted an update here: https://github.com/ThomasBachSap/vscode-pull-r

[2022-07-18 07:27] alexr00 commented on #3450
@GMNGeoffrey thank you for the additional details. This is definitely a bug. I'll see if I can figure out how this may have happened.

[2022-07-18 11:16] alexr00 commented on #3716
This sounds like something that another extension could do.

[2022-07-18 11:16] #3716 closed

[2022-07-18 11:17] alexr00 commented on #3720
Can you share the output of "GitHub Pull Requests"?

[2022-07-18 12:52] sgentile commented on #3720
Closing - I did not realize I needed to setup the GitHub extension first

[2022-07-18 12:59] #3720 closed

[2022-07-18 13:30] alexr00 commented on #363
@daviddossett I'm worried that the `checklist` and parital-`checklist` look too similar, but I like the idea of the "Files Changed" icon. What about using the dot idea similar to `comment` and `comment-unresolved`?

[2022-07-18 13:39] #3382 closed

[2022-07-18 13:49] #3591 closed

[2022-07-18 14:19] alexr00 commented on #3531
Took a look at the performance of the "create" button, there are three chunks where most of the time is spent:

Pushing the branch: ~2.4 seconds
@lszomoru, it's a long shot, but any chance there's a place for performance improvements in the git extension API `Repository.push`?

Creating the PR using GitHub API: ~1 second
This currently uses the rest API. I'll see if the GraphQL API is any faster.

[2022-07-18 14:28] lszomoru commented on #3531
@alexr00, took a look and from what I can tell, there is not much code being executed other that invoking `git push`. Do you have an idea of how much time it currently takes for pushing the branch? How does that compare with the duration of the `git push` command logged in the git output window?

[2022-07-18 15:03] alexr00 commented on #3531
I didn't see an end time of `push` in the git extension output, but I tested it from the command line with `git push --set-upstream origin alexr00/createPerf` and it's **~2.3 seconds**:

[code]

I don't think there's any opportunity for speed up there.

[2022-07-18 16:04] alexr00 commented on #3531
The GraphQL API seems to be slight faster than the REST API. I've swapped them out.

We already show a spinner in the status bar, but maybe we can boost perceived performance by showing a progress notification.

[2022-07-18 17:23] #3665 closed

[2022-07-19 07:30] bpasero opened #3736 "Inconsistent use of picker title"
Only the milestone picker uses a title, the others (e.g. Label) do not:

![image](https://user-images.githubusercontent.com/900690/179692574-a3582df5-744b-43b8-84a5-a12890d12962.png)

[2022-07-19 07:38] alexr00 commented on #3736
@bpasero we did this because of the new "+" button in the title bar. None of the pickers used a title, but when we added the "+", we also needed to add a title otherwise it looks empty. Would you suggest that we move all pickers to use a title now?

[2022-07-19 07:59] bpasero commented on #3736
Ah ok, but I can also create a new label, no?

[2022-07-19 08:51] alexr00 commented on #3736
Not from within the extension. I don't think we've ever gotten a feature request for that.

[2022-07-19 08:53] bpasero commented on #3736
Ok then nevermind 👍

[2022-07-19 08:54] #3736 closed

[2022-07-19 09:29] #3531 closed

[2022-07-19 12:49] alexr00 opened #3739 "Try to link PRs to issues mentioned in the PR title"
Users often mention issues in commits, which then end up as PR titles:

![image](https://user-images.githubusercontent.com/38270282/179753949-f8d2ebe7-f192-4ad0-8831-8faf5e093959.png)

Ideally, we would link the PR and the issue in GitHub. GitHub will automatically do this in when the issue is mentioned in the PR description, but not in the title.

[2022-07-19 12:50] alexr00 commented on #3739
We might be able to use the `updatePullRequest` GraphQL API mutation to set the `closingIssuesReferences`.

[2022-07-19 22:55] roblourens opened #3741 "Placeholder comment showed up after creating a PR"
- Created https://github.com/microsoft/vscode/pull/155663 as usual
- The comments panel showed up with this comment:

<img width="634" alt="image" src="https://user-images.githubusercontent.com/323878/179861738-b312d987-9c6d-46f8-8b65-750f77fcf7ee.png">

[2022-07-20 09:31] alexr00 opened #3743 "Show PR creating progress in the "Changes in PR" view"
Full discussion at https://github.com/microsoft/vscode-pull-request-github/pull/3737#issuecomment-1189010435

In short, we now show a progress notification for PR creating. Instead of showing a notification, we could open the "Changes in PR" view and show progress there.

[2022-07-20 15:20] alexr00 commented on #3741
@roblourens any chance you have another extension installed that did that? I don't think the string 'name' even occurs in the extension code and I can't repro it. It's also missing other values that we set on the comment, like the icon and the timestamp.

[2022-07-20 16:58] vishnurpiper opened #3745 "Unable to sign in to github - TypeError: t.message.contains is not a function"
- Extension version: 0.47.2022072010 (pre-release)
- VSCode Version:1.69.2
- OS:Windows 10 (running WSL)

Steps to Reproduce:
1. Launch VSCode
2. Click on the github pull requests extension
3. Click Sign In

This appears to be very similar to https://github.com/microsoft/vscode-pull-request-github/pull/3708 which is why I pulled the pre release version. Still running into the same issue , error st

[2022-07-20 17:40] blaylockbk opened #3746 "GitHub Enterprise Personal Access Token fails `reason: unable to verify the first certificate`"
- Extension version: v0.46.0
- VSCode Version: 1.69.1
- OS: Linux, via remote ssh from windows

I'm trying to sign into my GitHub Enterprise, but I get the error

[code]

Is there a way to overcome the certificate error?

Steps to Reproduce:

I set the setting
[code]

Then I open the GitHub Pull Requests Extension and it gives me this message
[code]

![image](https://user-images.githubusercontent.

[2022-07-20 17:57] blaylockbk commented on #2913
I'm also running into this problem. When working with a GitHub Enterprise Server that has unrecognized certificates, I have to use the setting `git config http.sslVerify "false"` to push/pull to a repository. It would be helpful if this extension could somehow circumvent this.

[2022-07-21 11:19] alexr00 commented on #3593
New setting: `githubPullRequests.postCreate`.

[2022-07-21 11:26] #3593 closed

[2022-07-21 14:52] zingmane opened #3749 "Temporary flickering newlines on file edit"
- Extension version: `v0.46.0` and `v0.47.2022072109`
- VSCode Version:

[code]
- OS: MacOO Monterey 12.4

Steps to Reproduce:

1. Take a file that is in version control
2. Edit that file
3. strange newlines occur but they disappear if the file got saved

Maybe the behavior only occurs in combination with other extensions. Anyway, if I disable "GitHub Pull Requests and Issues" Extension there is n

[2022-07-21 15:52] olix0r commented on #1988
I lose about 50% of the issues I write due to muscle-memory close-saving it. I love writing issues in the editor but I'm desperate for a way to stop losing them :(

[2022-07-21 16:22] daviddossett commented on #363
This could work. One concern here would be that the dot icon pattern is typically used for a state that could be cleared. E.g. clicking on an icon with a dot would reveal something and then would remove the dot.

Once reviewed, would this view still be visible? Or is it sort of temporary? This could make more sense if that's the case.

<img width="437" alt="CleanShot 2022-07-21 at 09 03 09@2x" src

[2022-07-21 19:11] lramos15 opened #3750 "Milestone selector shows no progress and is slow to query"
- Extension version: v0.47.2022072109
- VSCode Version: 62469028a6dce9db5b7c4639be7f447f4ab0e35c
- OS: macOS 12.4

Steps to Reproduce:

1. Create a PR on the vscode repo
2. Select milestone
3. The quick pick is completely empty for awhile
4. Finally the quickpick is populated with the milestones
5. If you open it again the previously milestones are not cached and you must wait for step 3 and 4 aga

[2022-07-22 08:58] #3750 closed

[2022-07-22 09:51] Thomas1664 opened #3752 "Do not open already minimized review comments"
I'm not sure weither this is a bug or a feature request.

Every time I switch to an editor all review comments that I previously minimized are poppig up again.
I would like to see that my choice to minimize all comments in a file would be remembered.

The current experience for me is very annoying because I can't read the code fluently if there are many comments and I always have to click the mini

[2022-07-22 13:14] benibenj commented on #363
I prefer the first option as many of the other options also use a dot when there is something new and you could argue that the state will be cleared after reviewing the new changes.

[2022-07-22 14:05] Josar commented on #3675
Hello All,

i tried to log into our GHE server with "vscode-pull-request-github" but always get an Network error, after i supply the PAT.

[code]

Any tips to resolve that? Or guidance on how to debug this?
@errietta you seem to know how to debug VS code plugins maybe you can help me with that?

I allready switched the plugin to preview v0.47.2022072109
VS Code 1.69.2

[2022-07-22 14:33] alexr00 commented on #3675
@Josar please open a new issue with these details. This issue is just about having `git+ss://` in your git remote.

[2022-07-22 14:42] Josar opened #3754 "GHE login with PAT"
- Extension version:  preview v0.47.2022072109
- VSCode Version: 1.69.2
- OS: Windows 10

Hello All,

i tried to log into our GHE server with "vscode-pull-request-github" but always get an Network error, after i supply the PAT.

[code]

Any tips to resolve that? Or guidance on how to debug this?
@errietta you seem to know how to debug VS code plugins maybe you can help me with that?

[2022-07-22 15:01] Josar commented on #3754
Possible duplicates:
https://github.com/microsoft/vscode-pull-request-github/issues/3429
https://github.com/microsoft/vscode-pull-request-github/issues/3746

[2022-07-22 16:47] daviddossett commented on #363
Conceptually it makes sense, but how would the interaction work? Would the icon with dot appear dynamically so that users notice it and click on it to view the new changes? I'd expect the dot to go away once reviewed. But then I wouldn't know what purpose the regular `files-changed` icon would have if there aren't any unseen changes anymore.

[2022-07-22 19:09] joaomoreno opened #3755 "Can't auto-merge and draft simultaneously"
We currently show these two as independent options but they are, in fact, mutually exclusive. The user just gets an error today if they try to create a PR; and the PR is indeed created in Draft mode.

![image](https://user-images.githubusercontent.com/22350/180507186-88b80a73-a40d-498c-8154-2f0665e121f9.png)

[2022-07-22 19:41] benibenj commented on #363
The Icon only appears when there is a change since a review, otherwise no icon appears. When there is a change since a review and a user clicks on the icon it will display only the changes since the review and the other icon (normal diff icon) appears to switch back to showing all changes.

[2022-07-22 20:24] daviddossett commented on #363
Ok, here's an idea to work with that:

![CleanShot 2022-07-22 at 13 21 36](https://user-images.githubusercontent.com/25163139/180534334-8e47a41c-df90-4855-980d-27c2948c7ad4.gif)

- New changes are available as indicated by `files-changed-dot`
- Once viewing new changes, `go-to-files-changed` appears as an actionable icon to return to the other view.
- If the new changes were reviewed, the `files-c

[2022-07-25 08:50] tofupup commented on #3692
I'm seeing this, as well, but running WSL2 Ubuntu:

- Extension version: 0.46.0
- VSCode Version: 1.69.2
- OS: Windows 10 Pro 21H2 - WSL2 Ubuntu 20.04

Log output:

[code]

[2022-07-25 10:02] #3692 closed

[2022-07-25 10:18] Abdelgha-4 commented on #3429
+1 I confirm having the same issue with both VS Code and VS code Insider and also in both the Pre-Release and Release versions of GitHub PR extension.

[2022-07-25 10:20] alexr00 commented on #363
These fit very well with how the interaction works. Thanks @daviddossett!

[2022-07-25 10:28] alexr00 commented on #3755
We should disable one if the other is checked.

[2022-07-25 11:00] #3227 closed

[2022-07-25 11:37] tizzyapunkt commented on #2793
Right now, it's at least possible to add comments while viewing the latest commit and to the files this commit touched. Might be coincidence though.

[2022-07-25 13:13] alexr00 opened #3759 "Test Commit & Create Pull Request"
Refs: https://github.com/microsoft/vscode/issues/151589

- [x] anyOS @meganrogge
- [x] anyOS @amunger

Complexity: 3

Authors: @alexr00, @lszomoru

[Create Issue](https://github.com/microsoft/vscode-pull-request-github/issues/new?body=Testing+%233759%0A%0A&assignees=alexr00,lszomoru)

---

With a GitHub remote
1. Install the pre-release build of GitHub Pull Requests and Issues
2. Open a folder con

[2022-07-25 13:23] alexr00 opened #3760 "Test create pull request post create action"
Refs: https://github.com/microsoft/vscode-pull-request-github/issues/3593

- [x] anyOS: @bpasero
- [x] anyOS @brettcannon

Complexity: 2

[Create Issue](https://github.com/microsoft/vscode-pull-request-github/issues/new?body=Testing+%233760%0A%0A&assignees=alexr00)

---

Previously, the pull request description would always open after you create a pull request. Now, there's a setting to control th

[2022-07-25 13:44] alexr00 opened #3761 "Test performance and perceived performance of creating a pull request"
Refs: https://github.com/microsoft/vscode-pull-request-github/issues/3531

- [x] anyOS @greazer
- [x] anyOS @aiday-mar

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode-pull-request-github/issues/new?body=Testing+%233761%0A%0A&assignees=alexr00)

---

Setup: Install the pre-release build of GitHub Pull Requests and Issues.

The performance of opening the Create Pull Request view h

[2022-07-25 13:54] alexr00 opened #3762 "Test view sizes of Create and Active PR views"
Refs: https://github.com/microsoft/vscode-pull-request-github/issues/3227

- [x] anyOS @sbatten
- [x] anyOS @karrtikr

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode-pull-request-github/issues/new?body=Testing+%233762%0A%0A&assignees=alexr00)

---

You will need the builds of VS Code and GitHub Pull Requests and Issues from 26 July or later.

1. Start VS Code with a fresh `--use

[2022-07-25 14:18] benibenj opened #3763 "Test Changes Since Last Review"
Refs:  #363

- [ ] anyOS @mjbvz
- [x] anyOS @rchiodo

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode-pull-request-github/issues/new?body=Testing+%233763%0A%0A&assignees=benibenj)

---

This feature adds a button in the tree view of Pull Requests which have a change since the viewer himself has reviewed the PR. When switching into that mode for the PR, it will display only the ne

[2022-07-25 14:40] benibenj opened #3764 "Test Create Milestone"
Refs:  #3630

- [x] anyOS @gregvanl
- [x] anyOS @aiday-mar

Complexity: 1

[Create Issue](https://github.com/microsoft/vscode-pull-request-github/issues/new?body=Testing+%233764%0A%0A&assignees=benibenj)

---

Allows to create a Milestone when adding one to a pull request

1. Install the pre-release build of GitHub Pull Requests and Issues.
2. Open a folder in VS Code that contains a GitHub reposi

[2022-07-25 14:51] benibenj opened #3765 "Test Suggested Assignees"
Refs:  #3627

- [x] anyOS @greazer
- [x] anyOS @lramos15

Complexity: 1

[Create Issue](https://github.com/microsoft/vscode-pull-request-github/issues/new?body=Testing+%233765%0A%0A&assignees=benibenj)

---

Suggests Users when assigning a user to a PR

1. Install the pre-release build of GitHub Pull Requests and Issues.
2. Open a folder in VS Code that contains a GitHub repository.
3. Open a Pull

[2022-07-25 15:10] #363 closed

[2022-07-25 16:23] tofupup commented on #3692
Thank you for the quick patch, I switched to the pre-release version, but unfortunately still get an error around that catch statement.

[code]

Please let me know if I should open a separate issue.

[2022-07-25 18:32] matthewvalentine opened #3768 "View suggested changes"
Issue Type: <b>Bug</b>

When you are in the main file view, looking at comments, and one of them has a suggested change in it, only the first so-many characters of the change can actually be read. It displays on a single line without any wrapping, and there is no way to scroll to the right to view more of the change.

When you go to the PR description view, suggestions render correctly. So this is

[2022-07-25 20:57] nisola-c4 commented on #3692
I switched to a pre-release build as well (v0.47.2022072509) and am still getting an error as well.

[Info] Error signing in to GitHub: TypeError: t.message.contains is not a function
[Info] TypeError: t.message.contains is not a function
	at S1.setCurrentUser (c:\Users\nisola\.vscode\extensions\github.vscode-pull-request-github-0.47.2022072509\dist\extension.js:1148:16986)
	at processTicksAndReje

[2022-07-25 22:40] tofupup commented on #3692
I've resolved this, at least for now, by removing my github authentication stored Windows credentials.

- Exit VSCode
- Remove the stored credential

[code]

- Start VSCode and reauth to github

I'm not sure what was wrong with the stored credentials, but hopefully this will help others move past this if you're running in to it.

[2022-07-25 23:48] sedghi commented on #3679
I'm getting this error (when I checkout a PR, it says No such branch), is there any update on the fix?

[2022-07-26 07:31] alexr00 commented on #3382
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/3627

[2022-07-26 07:54] alexr00 commented on #3679
@sedghi Fix is in the July 2022 milestone, which means that it will be released in the July release, which usually happens at the beginning of August. You can also get the fix earlier if you want to try out the [pre-release build](https://github.com/microsoft/vscode-pull-request-github/wiki/Pre-release-Build).

If you're seeing this when checking out a PR it may be a different issue though. In tha

[2022-07-26 07:57] alexr00 commented on #3692
@tofupup thank you for posting your work around! I've removed the code that's having this issue and the change will be in the pre-release build in the next 3 hours.

[2022-07-26 15:24] tofupup commented on #3692
@alexr00 Appreciate your quick work on this!  I took at look at the patch, and from my limited knowledge it looks like it may still have the issue shown in the second logs @nisola-c4 and I posted above.  It passes the e.message existence check, but in the case we were having, e.message.contains isn't a function.

I was using the pre-release extension for the second logs, which I think already had

[2022-07-26 15:30] tofupup commented on #3692
Also tested with the newly released 0.46.1 version, which still displays the issue:

[code]

[2022-07-26 15:32] joyceerhl opened #3769 "Creating a draft PR does not dismiss the Create Pull Request view"
After creating a PR as draft, I get an error dialog and the Create Pull Request view does not dismiss in favor of the PR tree view. However if I go on GitHub I see that the PR was successfully created.
 <img width="425" alt="image" src="https://user-images.githubusercontent.com/30305945/181047923-8b4de22c-9cd5-4bff-9845-fa7a7a065674.png">

[2022-07-26 16:01] alexr00 commented on #3769
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/3755.

[2022-07-26 16:01] #3769 closed

[2022-07-26 16:03] alexr00 commented on #3692
@tofupup 0.46.1 doesn't have the fix, so I would expect the issue to continue there.

What version of the pre-release build were you using? Only the very latest has the fix.

[2022-07-26 18:39] meganrogge opened #3770 "No `Commit & Create Pull Request` option"
Testing #3759

I have the pre-release version of the extension, in the VS Code folder created a topic branch via `git checkout -b merogge/topic` and added the changed file. The dropdown doesn't show `Commit & Create Pull Request` as an option.

[2022-07-26 18:40] meganrogge commented on #3770
the extension version is `v0.47.2022072609`

[2022-07-26 18:44] meganrogge commented on #3770
Oh just realized I didn't have a github remote

[2022-07-26 18:46] meganrogge commented on #3770
I ran `git push --set-upstream origin merogge/topic` to create the remote and am still not seeing the option of `Commit & Create Pull Request`

[2022-07-26 18:50] meganrogge commented on #3770
I tried to commit using the SCM button and that failed with these logs

Git:

[code]

GitHub Pull Request:
[code]

[2022-07-26 20:33] rchiodo opened #3771 "Files still shown even after clicking show files changed since last review"
Testing #3763

Was looking at a PR that looks like so:

![image](https://user-images.githubusercontent.com/19672699/181106443-0f326189-5111-4a9b-9986-23d948c422cc.png)

That should have nothing in the list because I believe I'm in the show since last change mode

Click on the 'Show All Changes'

Now it shows nothing.

![image](https://user-images.githubusercontent.com/19672699/181106678-356e3919-e

[2022-07-26 20:34] rchiodo commented on #3771
Note: This was after checking out the branch. It seems to behave as expected if I stay on a different branch.

[2022-07-26 20:58] greazer opened #3772 "Empty github dropdowns were seen..."
Testing #3761

0) Installed the pre-release version of this extension into insiders.
1) I opened a workspace connected to an existing repo.
2) created a branch
3) made some changes and committed them
4) published the branch to github.

When trying to create a new pull request using this extension, none of the dropdowns populated. They were blank:

<img width="316" alt="image" src="https://user-ima

[2022-07-26 20:59] mjbvz commented on #3763
I'm confused about step 6. Where should I see the button in the view? After checking out the branch, this is what I see

<img width="1558" alt="Screen Shot 2022-07-26 at 1 57 20 PM" src="https://user-images.githubusercontent.com/12821956/181110497-74128809-3522-44b7-a670-424084fbc98a.png">

Here's the PR I was using to test (note I'm using my two GitHub accounts so look at the names, not the image

[2022-07-26 21:02] greazer opened #3773 "PR creation progress notification shown, but didn't notice it..."
Testing #3761

In checking the progress bar aspect, I did see the progress notification box appear in the lower right corner of vscode, but I wasn't looking there. I kinda expected a progress bar to show in the Create view.

[2022-07-26 21:21] benibenj commented on #3763
You should be seeing the icon on the right of the "testing"
 node when hovering over it
![Screenshot (4)](https://user-images.githubusercontent.com/44439583/181114174-ae5d9879-339a-4a71-b593-1e2792e270e1.png)

[2022-07-26 21:53] karrtikr commented on #3762
I don't see such a command:

![image](https://user-images.githubusercontent.com/13199757/181118688-63004e4a-3d5a-4c25-a962-7187020ebf29.png)

[2022-07-26 21:57] #3762 closed

[2022-07-26 23:27] tofupup commented on #3692
@alexr00 I apologize, I didn't notice that my VSCode wasn't updating to the 0.47.2022072609 version.  It would show that version at the top when installing the prerelease, but it would keep installing 0.47.2022072509.  After downloading the VSIX it looks like 0.47.2022072609 will not work with 1.69.2, it requires the VSCode Insiders.

I installed 0.47.2022072609 on Insiders, and you are correct, t

[2022-07-27 04:26] gregvanl opened #3774 "PR is not assigned to newly created milestone"
Testing #3764

The PR description page show the PR belonging to the new milestone but the PR is not actually assigned to the milestone. Checking GitHub shows that the PR is not assigned to the milestone and closing and reopening the PR description page indicates "No milestone"

[2022-07-27 04:32] gregvanl opened #3775 "Need better description for "Failed to create a milestone" scenarios"
Testing #3764

Try to create an existing closed milestone such as "Backlog"

The creation will fail and there is a notification saying "Failed to create a milestone".

GitHub shows a "Title has already been taken" error message for this case

[2022-07-27 04:37] gregvanl commented on #3775
Interestingly, the title too long case does append the explanation to the notification text

[2022-07-27 04:39] #3764 closed

[2022-07-27 04:53] #3759 closed

[2022-07-27 05:23] xmatthias opened #3776 "Comment rendering distorted / missing linebreaks"
- Extension version: v0.47.2022072609
- VSCode Version: 1.69.2
- OS: linux

Steps to Reproduce:

* After editing a multi-line review comment, Rendering becomes distorted (newlines are missing).

![image](https://user-images.githubusercontent.com/5024695/181167488-01a88917-0810-4f7e-847e-4bb6502dd49b.png)

Clicking the edit button again - and then cancelling fixes the rendering again

Rendering cor

[2022-07-27 07:40] cbrnr opened #3777 "Branch protection is shown as failed test"
- Extension version: v0.46.1
- VSCode Version: 1.69.2
- OS: macOS

Steps to Reproduce:

1. Open a PR in a repository with branch protection
2. While tests are still running, branch protection is shown as a failed test

<img width="686" alt="Screen Shot 2022-07-27 at 09 39 10" src="https://user-images.githubusercontent.com/4377312/181189985-7d9a118e-8336-488d-a8d7-a80420ee3f86.png">

I think this i

[2022-07-27 07:45] lszomoru commented on #3770
@meganrogge, I believe that the error while trying to commit is unrelated. That type of error can occur in case someone has force pushed the tag (ex: `1.64.1`). The fact that the command does seem like an issue and @alexr00 and myself will look into it.

[2022-07-27 08:06] alexr00 commented on #3745
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/3692, which was re-fixed in pre-release yesterday.

[2022-07-27 08:06] #3745 closed

[2022-07-27 08:12] alexr00 commented on #3749
@zingmane this is very strange. I can't think of anything that might cause this in GitHub Pull Requests and Issues. Can you share the list of all the other extensions you have installed?

[2022-07-27 08:14] alexr00 commented on #3752
@Thomas1664 Is this in a PR that you have checked out or a PR that you're reviewing from the "Pull Requests" view?

[2022-07-27 08:17] Thomas1664 commented on #3752
In a PR that I have checked out.

[2022-07-27 08:18] alexr00 commented on #3773
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/3743

[2022-07-27 08:18] #3773 closed

[2022-07-27 08:25] alexr00 commented on #3752
Thank you for the additional info. We should be persisting your comment expanded state when you switch between editors.

[2022-07-27 10:01] theking2 opened #3779 "closed Pull Request keeps popping up"
Issue Type: <b>Bug</b>

A pull request was closed months ago but still pops up in the notification. Also a config setting "branch.master.github-pr-owner-number" is set with the same Pull request name

Extension version: 0.46.1
VS Code version: Code 1.69.2 (3b889b090b5ad5793f524b5d1d39fda662b96a2a, 2022-07-18T16:12:52.460Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summa

[2022-07-27 12:31] zingmane commented on #3749
Hi @alexr00.

I have tried to narrow down the reason. The problem seems to be related to the gitlens extension (`eamodio.gitlens`).

I have created a workspace with only these two extensions enabled. When I disable one of them, the flickering does not occur.

[2022-07-27 12:36] #3774 closed

[2022-07-27 14:20] zingmane commented on #3749
Thanks for your help and sorry for bothering you.
I figured out that’s not the fault of your extension. It’s a problem of gitlens with a global git ignoreRevsFile config.
https://github.com/gitkraken/vscode-gitlens/issues/1143

Maybe I didn’t reload vscode windows correctly or I was to fast.

[2022-07-27 14:20] #3749 closed

[2022-07-27 15:44] #3771 closed

[2022-07-27 16:07] hediet opened #3785 "Unify drop-down buttons"
The pull request extension also has a drop down button, but it works a bit different than the commit drop down button. Maybe it makes sense to unify these two ideas?

![image](https://user-images.githubusercontent.com/2931520/181295639-7acdc072-00a0-419f-b930-26e9407b9393.png)

[2022-07-27 17:54] xmatthias commented on #3330
That - but for big PR's changing 100ds of files, this is a must - just a small "is viewed" symbol is often simply not enough.

[2022-07-27 20:40] greazer opened #3784 "Pull request notification got permanently stuck"
Testing #3761

Mac
1. Opened an existing cloned repo.
2. There were already a few changes in it that weren't committed to master.
3. Created a new branch
4. Opened the Create Pull Request view. All dropdowns were filled correctly.
5. Pressed the Create button to create the pull request.

I was prompted along the way to publish the new branch created at step 3, then commit my changes (a couple prom

[2022-07-27 21:08] benibenj commented on #3775
Validation error messages are wrongly parsed and can lead to not displaying them at all.

[2022-07-27 21:24] #3765 closed

[2022-07-27 21:25] #3761 closed

[2022-07-27 21:53] #3760 closed

[2022-07-27 22:16] mjbvz commented on #3763
@benibenj  Ah thanks! I think the feature works as expected but had some UX feedback:

- The button is not very discoverable since it only shows on hover

- I feel there should be a clear indication of of which mode I am in (all changes vs changes since last review). Is there somewhere in the UX this could be shown besides the button?

[2022-07-27 22:16] #3763 closed

[2022-07-28 05:08] Pony-Qinpeng commented on #2822
test

[2022-07-28 08:40] lagamura commented on #3784
I also faced the same problem. The bug occurs when you don't fill the **commit Message** description.

[2022-07-28 08:51] alexr00 commented on #3785
I'm fine with bringing the GHPRI button into consistency with the way this button works in VS Code core/the commit button.

[2022-07-28 09:20] alexr00 commented on #3773
I also added the spinner to the "Create" view yesterday, so even if you don't notice the notification you will see something that indicates that it's not stuck near where you clicked.

[2022-07-28 09:20] alexr00 commented on #3743
I also added the spinner to the "Create" view yesterday, so even if you don't notice the notification you will see something that indicates that it's not stuck near where you clicked.

[2022-07-28 09:22] hediet commented on #3785
I like about the GHPRI button that it remembers the last choice!

[2022-07-28 09:25] lszomoru commented on #3785
@hediet, it's on the plan for next milestone. Stay tuned...

[2022-07-28 09:27] alexr00 commented on #3785
I will keep remembering the last choice in GHPRI, but I will also make it only 1 click to change choice as the git button is.

[2022-07-28 09:56] alexr00 commented on #3779
@theking2 To prevent closed and merged PRs from showing you can set the setting
[code]

[2022-07-28 09:56] #3779 closed

[2022-07-28 11:17] alexr00 commented on #3772
@greazer I'm not able to reproduce this issue. I tried uninstalling and reinstalling the extension. If you see it again can you share the output from GitHub Pull Request?

[2022-07-28 12:48] #3784 closed

[2022-07-28 12:49] #3775 closed

[2022-07-28 14:47] lszomoru commented on #3547
@alexr00, I am not aware of such extension API but if needed it is something that can be explored.

[2022-07-28 15:33] joyceerhl commented on #3784
Fix isn't out in latest pre-release yet (v0.47.2022072809), so I still repro:

![image](https://user-images.githubusercontent.com/30305945/181578361-11aa8539-89f0-43dd-ae14-2eff0f69fb54.png)

[2022-07-28 15:55] valyagolev opened #3788 "Is there any way to show build status in the PR list?"
It'd be great to be able to see the build status in the PR list. I'm going to try to do it with filters, but an icon next to a PR would be amazing. Perhaps I could try to contribute something like this, if it's ok and not an intentionally omitted feature.

[2022-07-28 15:56] lszomoru commented on #3624
@alexr00, apologies for not getting back to you on this. I just looked at the code, and if the `git.openFile` command is invoked without a `URI`, the command will [fallback](https://insiders.vscode.dev/github/microsoft/vscode/blob/f4d4971d75fe4ee2ee9b096f565141b9e61a2747/extensions/git/src/commands.ts#L752-L753) to the URI of the active editor document (assuming that it exists). From the looks of

[2022-07-28 16:14] daviddossett commented on #3785
I'll chat w/ @hawkticehurst about the split button today. The webview toolkit is built on top of [FAST](https://github.com/microsoft/fast/) which doesn't yet provide a split button base component out of the box. Nitty gritty details aside, we'll see if there's a workaround and will report back.

[2022-07-28 16:26] connor4312 commented on #3671
I couldn't hit "exit review mode" on Firefox since it seems like webviews are broken there (https://github.com/microsoft/vscode/issues/142813). Are there alternative verification steps?

[2022-07-28 16:31] jasonwilliams commented on #3624
I raised an [issue](https://github.com/microsoft/vscode/issues/153786) with VSCode because I think there's a deeper underlying issue here where diff views don't always operate the same way. In other words it would be good for VSCode itself to provide some hook for extensions (such as this one) to plug into when trying to open either side split from a diff view.

If you're a user of Git, Gitlens an

[2022-07-28 16:33] joyceerhl opened #3789 "Some buttons in webview don't have margin when side bar is narrow"
- Extension version: v0.47.2022072809
- VSCode Version: 1.70-insider
- OS: Windows 11

Steps to Reproduce:

1. Open the PR view for a checked out PR
2. Resize the side bar to be as narrow as possible
3. :bug: some of the buttons don't retain a margin
![image](https://user-images.githubusercontent.com/30305945/181590444-97e527da-0553-486e-8d4f-e01c4a0ae9b2.png)

[2022-07-28 16:36] joyceerhl opened #3790 "Commits tree node for a PR adding a file says that there are no changed files"
- Extension version: v0.47.2022072809
- VSCode Version: 1.70-insider
- OS: Windows 11

Steps to Reproduce:

1. Found while verifying https://github.com/microsoft/vscode-pull-request-github/issues/3618. Create a PR containing the addition of a single empty file on desktop
2. Open the PR view
3. ✅ the files list says that a file was added
4. :bug: expand the commits node, it says there are no change

[2022-07-29 08:29] alexr00 commented on #3671
You should be able to turn off cookie blocking in Firefox and then webviews will work. Or, you can run the "Checkout default branch" command from the command palette.

[2022-07-29 08:30] alexr00 commented on #3547
@lszomoru it's an edge case. Let's leave the issue open and see how many others hit it before adding new API for it.

[2022-07-29 09:52] alexr00 opened #3791 "Don't get issues when only using milestones"
When we get milestones to show in the PR overview, we are actually getting a lot of the issues that are assigned to those milestones too.

This is an oversight. Instead, we should make a new GraphQL query that just get's the milestone names without also getting the issues associated with them.

[2022-07-29 09:56] alexr00 opened #3792 "`RepositoryChangesNode` has a reference to ReviewManager"
https://github.com/microsoft/vscode-pull-request-github/blob/fa65f168e9312aa4f7194fb3834cb5e828a96c82/src/view/treeNodes/repositoryChangesNode.ts#L65-L67

The reference to `ReviewManager` in `RepositoryChangesNode` is only used to show progress. Ideally, we wouldn't have this reference just for showing progress. We should see if there's another way we can show progress.

[2022-07-29 12:51] alexr00 commented on #3562
@parched sorry for the slow response on this. Can you set `"githubPullRequests.logLevel": "debug"` in your settings, reproduce the issue, then share the output of GitHub Pull Request again?

[2022-07-29 23:36] TylerLeonhardt commented on #3693
I've been trying so hard to verify this one but I can't get a GitHub Enterprise instance up and running :( I've got some GitHub folks like @aprilla helping me out.

Maybe @McLovin77 could help out here since they are the ones who originally saw the issue.

[2022-08-01 14:41] Ygilany opened #3798 "Only first PR is selected for branches with multiple PRs"
- Extension version: v0.46.1
- VSCode Version: v1.69.2
- OS: Darwin x64 21.5.0 - macOS Monterey v12.4

Steps to Reproduce:

1. create a branch and make a pull request for that branch
2. merge pr
3. using the same branch, make another pull request
4. The extension only picks up the first PR when you switch to that branch
4.1. Also, even if you use the extension UI to select a particular Pull reques

[2022-08-01 14:52] CombeeMike opened #3799 "Allow marking of folders (i.e. all its files recursive) as viewed"
I often have to review large PRs which include both, server & client code, where I'm only interested in the client code. In such situations, I always start by marking all server files as viewed which can be very tedious when there are many files involved.

-> This would be much easier if I could just mark a whole directory as viewed including all files recursively

I know that I could just collaps

[2022-08-01 18:30] seivan opened #3800 "Extension doesn't understand `remote = .`"
- Extension version: `v0.46.1`
- VSCode Version: `Version: 1.69.2`
- OS: `macOS 11.6.8 (Big Sur)`

Steps to Reproduce:

1. Switch to a new branch from, say,  `develop `
- `git switch -c feature/something`

2. under `.git/config` set `remote` to  `.`
-  `cat .git/config`
[code]

The extension should understand valid git config options and arguments.

Edit: I am sure some gitconfig I got is setting

[2022-08-02 00:49] JLlichofonnias commented on #3363
Qhttps://github.com/settings/jl.github.enterprice.llc.inclichomx.microsoft.com

[2022-08-02 04:13] joyceerhl opened #3801 "Copy GitHub Permalink in LHS of a PR diff generates a link to the RHS"
- Extension version: v0.47.2022080109
- VSCode Version: 1.70-insider (insiders.vscode.dev)
- OS: Windows 11

Steps to Reproduce:

1. Open a diff for a changed file in a PR
2. Set cursor in LHS
3. Copy permalink
4. :bug: permalink references the PR branch HEAD commit
5. Right click on the changed file from the PR view and select Open Original File
6. Copy permalink
7. :bug: permalink still referenc

[2022-08-02 08:13] alexr00 opened #3802 "First diff is opened when expanding a PR in the PRs view"
1. Expand a PR in the PRs view
2. See that the first diff is opened.

[2022-08-02 08:13] alexr00 commented on #3802
Will be fixed by https://github.com/microsoft/vscode-pull-request-github/pull/3797.

[2022-08-02 09:26] Jenniferazeng opened #3803 "无法看到本地修改"

[2022-08-02 09:27] Jenniferazeng commented on #3803
修改后，无法从源代码管理菜单看到修改的文档

[2022-08-02 09:43] alexr00 commented on #3693
This could also be verified by code review if no one has an Enterprise instance to use.

[2022-08-02 15:33] saifahn commented on #2426
@alexr00

Hey there!

Is there a way to install the version of the extension that I'm working on in Codespaces? I had a look through [this page on remote development and Codespaces](https://code.visualstudio.com/api/advanced-topics/remote-extensions), but couldn't get it to work.

I tried opening my repository in Codespaces, then packaging the extension into a VSIX using `vsce package` and install

[2022-08-02 15:40] #3791 closed

[2022-08-02 16:26] TylerLeonhardt commented on #3693
@joshaber helped us out :)

![image](https://user-images.githubusercontent.com/2644648/182425168-20026fdb-d425-4f4e-bba6-8c946783c5c2.png)

[2022-08-03 08:59] alexr00 commented on #3693
Thank you!

[2022-08-03 16:01] TylerLeonhardt opened #3812 "Request Changes and Submit cut off"
Extension Version: v0.47.2022080211
Version: 1.70.0-insider
Commit: da76f93349a72022ca4670c1b84860304616aaa2
Date: 2022-08-03T05:54:22.296Z
Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36 Edg/105.0.1336.2

Steps to Reproduce:

1. Open a PR in vscode.dev
2. Go to try and approve of PR
3. see this:
![image](https://user-i

[2022-08-03 16:05] TylerLeonhardt opened #3813 "When I approve/Reject/Comment, refresh the PR webview if it's open"
- Extension version: v0.47.2022080211
Version: 1.70.0-insider
Commit: da76f93349a72022ca4670c1b84860304616aaa2
Date: 2022-08-03T05:54:22.296Z
Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36 Edg/105.0.1336.2

Steps to Reproduce:

1. Approve:
![image](https://user-images.githubusercontent.com/2644648/182655746-78d4c051-12

[2022-08-03 16:26] benibenj opened #3814 "GitHub Notifications UX"
For the GitHub notifications we need an indication of a notification belonging to a PR in addition to the highlighted color.

Here are two examples for right aligned notification badges:

![notifications1](https://user-images.githubusercontent.com/44439583/182659622-24f724c0-779b-4ae3-9346-f3736c612f54.png)
![notifications2](https://user-images.githubusercontent.com/44439583/182659624-e3bfa5cd-829

[2022-08-04 05:24] bpasero commented on #3802
Landed.

[2022-08-04 05:24] #3802 closed

[2022-08-04 09:06] tomwyr commented on #3451
@alexr00 I observe very similar behavior to what was initially reported in the issue.
1. Assign unique keybind to `View: Show GitHub` command
2. Press the shortcut
3. Explorer view gets opened and focused instead of GitHub view
I've also tested it in a browser instance of VSCode, followed the exact same steps. The issue wasn't present there.

Currently I have version `0.46.1` of the extension inst

[2022-08-04 11:29] tomwyr commented on #3451
Also if I start typing *View: GitHub* into the command palette, it shows no results.

[2022-08-04 12:00] alexr00 commented on #3788
@valyagolev this seems like this feature could result in a big performance hit. It might be expensive to fetch the build status of each pr in the list.

[2022-08-04 12:01] alexr00 commented on #3798
Agreed. We don't have any support right now for when you have multiple PRs from 1 branch.

[2022-08-04 12:02] alexr00 commented on #3799
Related to https://github.com/microsoft/vscode-pull-request-github/issues/3274

[2022-08-04 12:06] alexr00 commented on #3803
Thanks for creating this issue!

Unfortunately, as the description is not in English, it's hard for us to work on. If possible, please edit the original issue to be in English.

In our experience, automatic translation services are not able to handle the technical language needed to effectively communicate about software issues, so we recommend finding a human translator who is familiar with our t

[2022-08-04 13:17] #3812 closed

[2022-08-04 13:17] #3813 closed

[2022-08-04 14:08] valyagolev commented on #3788
if github API doesn’t return it with the list of PR, then yes, I suppose. In this case one might only enable it for a particular filter, e.g. for their own PRs

[2022-08-04 16:20] #3790 closed

[2022-08-04 16:37] #3755 closed

[2022-08-04 23:37] daviddossett commented on #3814
Talked about this at the Redmond standup:

This version received positive feedback but there was some concern that it would look too similar to the git decorations.
![CleanShot 2022-08-04 at 16 32 56](https://user-images.githubusercontent.com/25163139/182972573-ab928f03-b007-4b03-a18d-c9be82c2e9a4.gif)

This one maybe feels a bit noisier inlined but it could help clarify that it isn't related to g

[2022-08-05 08:41] twz123 opened #3823 "Cannot save comments (error about commentsResolvedState)"
Issue Type: <b>Bug</b>

I noticed that any comments I added to Pull Requests didn't show up in GitHub. I checked the plugin details page and found this:

Extension 'GitHub.vscode-pull-request-github' CANNOT use API proposal: commentsResolvedState. Its package.json#enabledApiProposals-property declares: tokenInformation but NOT commentsResolvedState. The missing proposal MUST be added and you must

[2022-08-05 10:37] wlgrd commented on #2572
I don't know why @milunova's comment is marked as outdated, but this fixed it for me. I had named my new remote "github" and not "origin", and then this happened without me thinking about it. I just added `github` to the list of PR: Remotes and it worked straight away.

[2022-08-05 11:14] #3792 closed

[2022-08-05 16:04] daviddossett commented on #3814
Oh ok, that simplifies things. Let's give that a try then!

[2022-08-05 17:00] connor4312 opened #3827 "Creating a draft PR with auto merge enables fails"
1. Make a PR using the Create Pull Request View
2. Check both "auto merge" and "create as draft"
3. Note that the PR gets created on Github, but an error is displayed in the GHPR view and it doesn't open the pull request

[2022-08-05 17:03] connor4312 commented on #3827
Looks like this was already fixed!

[2022-08-05 17:03] #3827 closed

[2022-08-05 20:59] wrslatz commented on #3371
I tested after the latest release and it still doesn't work. My guess is that it's a proxy issue, which leads me to https://github.com/microsoft/vscode/issues/12588. Going to do more debugging and see what I find.

[2022-08-05 21:49] sedghi commented on #3274
Also I would love a feature which let me toggle (`hide`) the files that has been marked as viewed.

[2022-08-05 23:30] roblourens commented on #3741
I saw this once, but I create lots of PRs and have never seen it again 🤷

[2022-08-05 23:31] #3741 closed

[2022-08-08 15:48] edemaine opened #3828 "Support older GitHub Enterprise without workflow scope"
My institution is running an old installation of GitHub Enterprise that doesn't have the `workflow` scope, so I can't create a Personal Access Token with this scope. Is it possible to work around this limitation?

Related issue: #3731 (documenting need for `workflow` scope)

[2022-08-08 18:57] obambrough opened #3829 "Fails to open PR's description or list PR's files on GitHub Enterprise"
- Extension version: v0.48.0
- VSCode Version: v1.70.0
- OS: MacOS 12.4
- Github version: GHE 3.1

NOTE: Server is Github Enterprise 3.1
NOTE: This works with Pull Request v0.46.1, the issue started with v0.48.0

Steps to Reproduce:

1. From the 'Pull Requests' side panel expand the 'All Open' list
2. Expand any PR node, nothing is shown after expanding except for the PR that matches the branch yo

[2022-08-08 19:44] roblourens opened #3830 "'Your local changes would be overwritten by checkout' but I don't have local changes"
Here's what happened:

- I had some local changes
- I checked out out a PR through the extension
- It was a shallow clone (so I saw a single commit with no history), and I saw this error in the log which is probably from that:

[code]

- Opened another PR and saw the same
- Stashed the changes, so now there are no local changes
- Trying to open another PR, but I get the warning

I see https://gith

[2022-08-09 00:01] bessx commented on #2356
I'm having the same issue, but deleting the entry manually didn't seem to help.  I even tried to delete the entire repo and re-clone it, but the pull request still came back. Any hints?

[2022-08-09 09:04] benibenj commented on #3829
Thanks for bringing this up @obambrough. It looks like you are using a rather old version of GHE which does not support one of our newest features. Nevertheless, we created a fix for this case which should be available in the Pre-release version of the extension today and will be available in the released version by the end of the week.

[2022-08-09 09:05] alexr00 commented on #3830
For some reason the built in git extension sometimes has slightly (~a few minutes) stale information about the repo, which is what I think causes this. The git extension API does have a way to force an update, so I could try using that.

[2022-08-09 09:46] cerilawley opened #3833 "Unable to install extension 'github.vscode-pull-request-github' as it is not compatible with VS Code '1.69.2'"
- Extension version: 0.47.2022080211 & 0.49.2022080809
- VSCode Version: 1.69.2
- OS: Windows 10 Pro  21H2     build no: 19044.1826

Steps to Reproduce:

1. Download extension
2. Install from vsix

[2022-08-09 13:12] alexr00 commented on #3829
@obambrough if you are able to try out the [pre-release](https://github.com/microsoft/vscode-pull-request-github/wiki/Pre-release-Build) version (starting from version `v0.49.2022080912`) and confirm that it solves this issue that would help use get the stable version ready to release!

[2022-08-09 13:23] obambrough commented on #3829
Awesome, thank you! I installed v0.49.2022080912 and it works. I can open the description successfully and files are listed.

[2022-08-09 21:16] janosh commented on #2323
Is there an equivalent issue somewhere about adding this to GitHub's web interface?

[2022-08-10 06:20] joyceerhl opened #3836 "Unable to comment on added files in a PR when file is opened from the commits tree view"
- Extension version: v0.49.2022080912
- VSCode Version: 1.71-insider
- OS: Windows 11

Steps to Reproduce:

1. Open a PR with an added file
2. ✅ from Files tree node, can open an added file and see comment ranges
3. :bug: from Commits tree node, cannot see comment ranges in added file
![image](https://user-images.githubusercontent.com/30305945/183828385-aea6f49d-0c48-46ae-959f-aa0ed8bfccbc.png)

[2022-08-10 07:13] hornta opened #3837 "Pull Requests not loading"
Just came back from vacation and now my GitHub Issues & Pull Request that I used to use daily doesn't work anymore. I also get the same appearance with the pre-release version.

![image](https://user-images.githubusercontent.com/4553604/183837818-b6734f35-7d7d-4fb3-852c-06807bd3b7ed.png)

I was really dependent on this extension so I gladly take help figuring out why it is like this. I tried to re

[2022-08-10 07:55] benibenj commented on #3837
Are you using GitHub Enterprise @hornta? In that case the problem has been discussed in this issue #3831. It should be fixed in the pre-release version of the extension and will be in the released version by the end of the week. Plese let us know if the pre-released version works for you or not. If it still does not work, please provide us with the output of the extension.

[2022-08-10 08:26] hornta commented on #3837
We are using GitHub teams, not enterprise. It's a private repository.

[2022-08-10 09:58] benibenj commented on #3837
Could you provide us with the Output of the GitHub Pull Requests extension

[2022-08-10 12:10] alexr00 commented on #3836
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/2793

[2022-08-10 12:10] #3836 closed

[2022-08-10 12:24] benibenj opened #3838 "Description empty in PR overview after creation"
When creating a PR with a description, the topmost comment node in the PR overview should contain the description but is empty. After reloading the text appears.

![Recording 2022-08-10 at 14 23 39](https://user-images.githubusercontent.com/44439583/183900244-bb12cc47-b44c-41e9-8308-46a704b2fea2.gif)

[2022-08-10 13:49] alexr00 commented on #3838
Tried to repro on 2 different machines (faster and slower) to see if it's a timing issue, but no luck. I always get the expected description after PR creation. Will try again next debt week.

[2022-08-10 14:47] hornta commented on #3837
[code]

But I do have a remote:
![image](https://user-images.githubusercontent.com/4553604/183932850-3633feed-48d6-424c-b5e1-b0dddcfd505e.png)

[2022-08-10 15:35] The-Plottwist opened #3840 "Error: No view is registered with id ..."
Type: <b>Bug</b>

Hello, after updating my vscode to latest version, I have encountered with this issue (https://imgur.com/teGEuFF.png) from GitHub Pull Requests and Issues extension.

It was fine before the update.

Extension version: 0.48.0
VS Code version: Code - OSS 1.70.0 (da76f93349a72022ca4670c1b84860304616aaa2, 2022-08-05T10:46:05.991Z)
OS version: Linux x64 5.18.16-arch1-1
Modes:

<detail

[2022-08-10 19:06] lramos15 opened #3841 "Creating a PR without commits breaks the panel"
1. Have some changes not committed
2. Attempt to create a PR
3. Click commit changes when it warns you that you have no changes
4. Commit your changes
5. 🐛 PR view is broken and blank

<img width="1433" alt="image" src="https://user-images.githubusercontent.com/4544166/183996557-7314400d-7442-48b3-b389-f96d9e189648.png">

[2022-08-10 21:54] rengler-noodle opened #3842 "Requesting setting to hide discussion bar"
See related issue that was closed by user who opened it: https://github.com/microsoft/vscode-pull-request-github/issues/2327

I think it'd be fantastic to hide the discussion/comment bar for those of us that like to keep our interface really minimal. Part of it is how it's distracting to see the + sign moving all over the document with the cursor.

<img width="115" alt="image" src="https://user-im

[2022-08-11 02:29] sanjayshukla98 opened #3843 "Sticky Scroll Scopes Decorator Functions in Python"
I was using the experimental sticky scroll feature in Python. When there is a function decorator, the sticky scroll thinks the scope is the decorator function instead of the function itself.

<img width="227" alt="Screen Shot 2022-08-10 at 7 29 39 PM" src="https://user-images.githubusercontent.com/24563992/184055176-fe1069e1-9d4c-4259-8df2-ed3a5b64cb51.png">

[2022-08-11 03:32] Ochirsuh commented on #2572
Is there someone who fixed this problem? pls help me.

[2022-08-11 07:02] alexr00 commented on #3837
@hornta can you share the value of the setting `githubPullRequests.remotes`?

[2022-08-11 07:13] benibenj commented on #3843
The sticky scroll feature is not part of the Pull Request extension, you would have to open an issue in the [microsoft/vscode](https://github.com/microsoft/vscode) repository. However, this issue has been solved with [microsoft/vscode#157180](https://github.com/microsoft/vscode/pull/157466) and is currently in vscode insiders and will be fixed for vscode in the next release.

[2022-08-11 07:14] #3843 closed

[2022-08-11 07:29] hornta commented on #3837
@alexr00 Turns out this list was empty so I clicked the cog and chose "Reset setting" and now I got some remotes in this list sp now the extension is working again :) Thanks

![image](https://user-images.githubusercontent.com/4553604/184084512-1f0dbcc6-8e52-44b9-84be-4002dc8c141a.png)

[2022-08-11 07:29] #3837 closed

[2022-08-11 07:30] benibenj commented on #1128
Currently in pre-release with the `githubPullRequests.notifications` setting: #3748

[2022-08-11 07:32] #1128 closed

[2022-08-11 08:38] alexr00 commented on #3829
@obambrough thank you for verifying that the fix works!

[2022-08-11 08:44] #3829 closed

[2022-08-11 10:31] joseazdir opened #3846 "allow use for multiple github accounts"
I have three github accounts linked to vscode. The issue is that extension can only be attached to one of them.
When I go to "manage trusted extensions" i can see the only account using it is the first I configured.

would be so great to have an easy way of linking to any account..

thanks

UPDATED: SEE HERE

https://github.com/microsoft/vscode-pull-request-github/issues/3288

[2022-08-11 10:34] #3846 closed

[2022-08-11 12:24] rbtcollins opened #3847 "Rate limit error"
Type: <b>Bug</b>

I work for an org with github integrated SSO. I have a VS code session locally that was logged in 5 weeks ago, but holidays happened and I didn't touch my company repos during that time - though I did do personal coding.

For some reason today, trying to create my first PR to company repos since the holidays, githib PR showed me a 'log into github' form.

But down the bottom unde

[2022-08-11 12:51] wlgrd commented on #2572
As I mentioned, the below reply worked for me.

[2022-08-11 16:29] ohechtl commented on #3840
For me, it's doing it with every extension basically.
![image](https://user-images.githubusercontent.com/42605027/184182588-aa248886-c025-4569-8781-75d3e370486b.png)
My sidebar was full of extension icons, now it's the default.
![image](https://user-images.githubusercontent.com/42605027/184182673-752d68db-ae0d-4b72-b390-534dd41557fd.png)
Also most of the extensions broke with this 1.70.0 update.

[2022-08-11 21:07] joyceerhl opened #3848 "Contribute actions for copying github.com links to share menu in github.dev and vscode.dev"
Request from @TylerLeonhardt and myself--could we have the Copy Permalink actions in the file/share and editor/context/share menus as well?

[2022-08-11 22:46] andreamah opened #3849 "Horizontal Scroll Bar is Blocked by Comment"
- Extension version: v0.49.2022081109
- VSCode Version: 1.71.0-insiders
- OS: Windows

Steps to Reproduce:

1. scroll vertically so that a PR comment is in same area as the editor's horizontal scrollbar
2. try to scroll horizontally using the scrollbar
3. focuses on the comment, instead of the scrollbar.

[![Image from Gyazo](https://i.gyazo.com/aa8307e855b4fc618dc1ce7afda51ee1.gif)](https://gyazo

[2022-08-12 07:01] airtonix commented on #3506
how?

[2022-08-12 08:03] benibenj commented on #3814
Close with #3839

[2022-08-12 08:03] #3814 closed

[2022-08-12 08:05] benibenj commented on #1193
Close with #3810

[2022-08-12 08:05] #1193 closed

[2022-08-12 09:42] alexr00 commented on #1988
New behavior will be:
- If you close a new issue without creating an issue, the contents will be cached.
- When you start to create a new issue, the cached content will be used.
- The cache is cleared when you open the workspace/reload the window.
- The cache is maintained per workspace.

[2022-08-12 13:25] #1988 closed

[2022-08-13 22:11] florius0 commented on #3506
In the settings there is an option "Github Issues: Issue branch title"
<img width="2032" alt="image" src="https://user-images.githubusercontent.com/18403735/184512654-a996cbc0-e635-4763-bab5-08f2f1684cb7.png">

[2022-08-14 07:38] INeido commented on #3840
I also have the same problem, even with the newest version.

[code]

Extension: v0.48.1

[2022-08-15 03:04] globalhuman opened #3852 "Permalink URL to Pull Request Comment"
No duplicates.

A permalink URL to a pull request comment made on a pull request accessible via the vscode interface.

Currently to access a permalink to a comment the link must be generated when having the pull request open on the remote. Having access to a permalink URL from vscode will allow for easy communication with a team when referring to a specific comment.

The comments panel provided by

[2022-08-15 03:06] globalhuman commented on #3852
This PR in the vscode github repo seems to suggest something similiar

https://github.com/microsoft/vscode/issues/156885

[2022-08-15 11:23] alexr00 commented on #3739
`updatePullRequest` doesn't let you set `closingIssuesReferences`. An alternative would be to automatically include the "fix #123" string in the description.

[2022-08-16 06:24] TheQuantumPhysicist opened #3855 ""Open File" doesn't work for an outdated comment for the whole file"
- Extension version: v0.48.1
- VSCode Version: 1.70.1
- OS: Debian 11.4

Steps to Reproduce:

1. Create a PR for some branch
2. Add a comment on some line in that PR
3. Modify the code in that line and push to that branch, now that comment is on code that's "outdated", as seen on github website
4. In the "COMMENTS" tab in the bottom panel, find that comment, and click on it, you'll see the comment

[2022-08-16 13:34] selcukduman commented on #3693
I know the issue is closed, but I am signed in to both github enterprise and github.com and both accounts work fine with the plugin. I didn't have any problems reviewing or creating issues or PRs so far.

[2022-08-16 17:11] roblourens opened #3856 ""Pull request has been merged, do you want to create a new branch?" isn't what I want"
I get this when reopening a workspace that had a PR branch checked out, and the PR has since been merged.

<img width="567" alt="image" src="https://user-images.githubusercontent.com/323878/184938531-4b52ecdd-f275-4297-95f1-82030cd831f0.png">

This dialog isn't what I want - I want to return to main. This creates a new branch with a `_1` appended, and I'm confused because I usually won't want that

[2022-08-16 21:30] TrainDoctor commented on #1778
I've been having the exact same problem with codium. It's absurd that I cannot use an almost identical program to the microsoft distributed version because of their own proprietary nonsense.

[2022-08-17 14:04] alexr00 opened #3858 ""Mark file as viewed/unviewed" editor title actions sometimes stick around"
1. Check out a PR
2. Open a file in that PR
3. Check out main
4. 🪲 See that the "mark as viewed" action in the editor title is still there from step 2.

[2022-08-17 14:08] benibenj opened #3859 "Dismiss notification without opening PR Overview"

[2022-08-17 14:22] TylerLeonhardt commented on #1778
The root of the issue is that GitHub auth redirects back to the application that started the flow and we can only support redirecting back to products we own. This is for security reasons as arbitrary redirection is a huge security flaw.

That said, GitHub auth has 3 different flows that we take the user through:
- redirection
- redirection a different way
- device code flow

The 3rd, since it doe

[2022-08-17 14:38] #3858 closed

[2022-08-17 16:07] #3711 closed

[2022-08-17 20:45] gjsjohnmurray opened #3861 "`Delete Local Branch` notification's button has odd capitalization"
- Extension version: 0.48.1
- VSCode Version: 1.71.0-insider
- OS: Windows 11 x64

Steps to Reproduce:

1. In the Pull Requests view use the context menu on a branch that is not fully merged, and ask to "Delete Local Branch"
2. :bug: button caption has no capitalization and uses brackets.

![image](https://user-images.githubusercontent.com/6726799/185239064-c835fcfa-3e34-4740-a8fc-431a62371eb2.png

[2022-08-18 06:46] saurabh-c-rai opened #3862 "Unable to checkout a PR in GitHub Enterprise Server 3.0.22"
Type: <b>Bug</b>
Since past few versions, I am not able to checkout PR in VSCode using GitHub Pull Request extension.
PR list is displayed correctly but checkout is not working.

Steps to Reproduce:
1. From the 'Pull Requests' side panel expand the 'All Open' list
2. Expand any PR node and choose to checkout the PR.

Expected Results:-
1. PR should be checked out into the PR view.

Actual Results:

[2022-08-18 09:26] joaomoreno opened #3863 "Unclear how to find current notifications"
Notice in the following recording how I have 2 PR notifications but the UI isn't clear on how I can find them:

https://user-images.githubusercontent.com/22350/185360944-ebd435c7-8e65-4c51-96ea-8fce8b7bddd9.mp4

[2022-08-18 09:30] mogelbrod commented on #3476
Being able to toggle hiding all resolved comments from the comments panel etc. would be super helpful!

[2022-08-18 09:52] benibenj commented on #3863
Would it help if we would highlight the "load more" node, indicating the PR with the notification has not been loaded yet?

[2022-08-18 13:11] StakFallT commented on #3472
So here's what I did. I created the association myself, it took a little doing since I wasn't familiar with how xdg-open gets its list of associations of mimetypes so I spent a little time working through the documentation. I'm on Manjaro so your results may vary! In any case, I put it all together in the following BASH script:
`#!/bin/sh
# For more information see:
# 	https://wiki.archlinux.org/t

[2022-08-18 14:55] AdrianFahrbach commented on #3251
Are you sure that this is fixed?

We were talking about how to mention people in a TODO comment and suddenly got suggestions popup when typing this in a scss file:
[code]

This was the first time that I have seen this (although I have been using the `@` character in comments before). It was only working in that repository, not in others and it wasn't working on my colleagues computers. After resta

[2022-08-18 15:46] TheByrd92 commented on #2150
I too have this issue. Is this expected behavior or not?

[2022-08-18 15:56] alexr00 commented on #3251
@AdrianFahrbach what is the language of the file you're doing this in?

[2022-08-19 07:29] apboon commented on #3842
I second that! VSCode already has a reputation of being an angry fruit salad. A car radio with a full color display in demo-mode, and then 50 of them built into a store display, scream less than VSCode. Ok I might be exaggerating a bit here.. but I am for from exaggerating when I say that I have about 180 lines in my `settings.json` file just to tone it down. Today I would like to make that a 181

[2022-08-19 08:05] AdrianFahrbach commented on #3251
It's not working on `tsx` and in `html`, other than that it is working now.

My colleague and I removed some deprecated extensions, maybe that has something to do with it, but I guess not. We will check this on monday with another colleague.

My guess is that it wasn't working on our devices for different reasons that made it seem like it wasn't working at all. The individual reasons could be:
* W

[2022-08-19 08:27] alexr00 commented on #3251
This is the most likely culprit. If there are other suggestions they may take precedence over the user suggestions.

I tested with `tsx` and it works if I trigger suggestions. For `html`, it works without triggering. Are these files in your GitHub repo?

[2022-08-19 08:30] #3625 closed

[2022-08-19 08:49] AdrianFahrbach commented on #3251
It does work in html, only the issues are not working in html. Sorry for the confusion, my bad.

`tsx`: Issues and mentions not working
`html`: Issues not working
`yml`: Issues not working

![Bildschirmfoto 2022-08-19 um 10 42 48](https://user-images.githubusercontent.com/45072099/185581549-bc22d1d8-6059-487f-b661-d5b03ae956d5.png)
![Bildschirmfoto 2022-08-19 um 10 28 59](https://user-images.githu

[2022-08-19 09:05] joaomoreno commented on #3863
Yeah, that would be a good low-hanging fruit to tackle this.

Alternatively, a mode in which the view would only show me the items with notifications.

[2022-08-19 09:29] alexr00 commented on #3863
Let's tackle this in for September. We will disable notifications by default before releasing.

[2022-08-19 10:23] #3776 closed

[2022-08-19 14:49] #3644 closed

[2022-08-19 15:32] alexr00 commented on #3768
@matthewvalentine can you share a screenshot? I don't see a way that we display suggestions in the file/editor comments. I only see the suggestion shown in the PR description view.

[2022-08-19 16:05] alexr00 commented on #3752
@Thomas1664 I'm not able to reproduce this issue. Does this occur when you just switch back and forth between two files?

[2022-08-19 16:09] alexr00 commented on #3823
@twz123 I think this is a codium specific issue.

This extension does use proposed API so that we can test out the API proposal and take advantage of new features (in this case, special UX treatment for resolved vs. unresolved comments). In the VS Code stable and insiders builds, we allow this extension to use that proposed API. It seems that codium doesn't also do this. I would recommend that you

[2022-08-19 16:09] #3823 closed

[2022-08-19 16:11] alexr00 commented on #3828
@edemaine I will do some investigation of how we can better support GitHub Enterprise later this year. I will make sure to include this scope in my investigation. Do you happen to know the version of your GitHub Enterprise installation?

[2022-08-19 16:13] alexr00 commented on #3833
This is intentional. We now rely on changes in 1.70 for the extension to work.

[2022-08-19 16:13] #3833 closed

[2022-08-19 16:17] alexr00 commented on #3840
Since you're seeing this error with all the views it looks like an upstream issue with VS Code: https://github.com/microsoft/vscode/issues/158446

There was an extension specific issue, but that only occurred with one view: https://github.com/microsoft/vscode-pull-request-github/issues/3549

[2022-08-19 16:17] #3840 closed

[2022-08-19 16:23] alexr00 commented on #3842
Have you tried the command "Comments: Toggle Editor Commenting"? If that's not enough then I can also add a setting.

[2022-08-19 16:24] alexr00 commented on #3847
@rbtcollins do you remember if you reloaded VS Code or opened many VS Code windows right before this error occurred?

[2022-08-19 16:30] alexr00 commented on #3855
@TheQuantumPhysicist would you expect that "Open File" would open the file at the head of the branch?

[2022-08-19 16:31] alexr00 commented on #3856
This isn't supposed to show unless you are running the "Start working on an issue" command.

[2022-08-19 16:57] edemaine commented on #3828
The docs link at the bottom is to https://docs.github.com/enterprise/3.0 so I'd guess it's 3.0, which I see was discontinued. 😕

[2022-08-19 18:23] TheQuantumPhysicist commented on #3855
I would expect it to open the current file in the working directory. Whatever is now present. Not necessarily the head. The advantage there is that I can choose where I wanna be, and this is usually very usful when reviewing PRs. I wanna switch to that branch, and compare and see how it looks like now.

[2022-08-19 18:37] Tyriar opened #3867 "It's unclear what the blue highlighted PRs mean"
I'm guessing this means there are notifications? I can only guess that as I'm aware of the upcoming feature, there are no UI hints as to what it means:

![image](https://user-images.githubusercontent.com/2193314/185685160-399e3d67-3883-47cf-942d-41abf9d59c90.png)

[2022-08-19 20:08] Thomas1664 commented on #3752
Yes.
I noticed the issue specifically in this PR: https://github.com/microsoft/vcpkg-tool/pull/636 (although only one comment is left).
I removed my workaround setting and tried to reproduce it as well but I couldn't. Possible reasons are that I used a codespace this time, a VS Code update silently fixed the issue, or that there is something that both of us were missing while trying to reproduce i

[2022-08-22 02:54] roblourens opened #3868 "Error after file deleted"
Was adding comments to a review when I suddenly start getting this error

<img width="480" alt="image" src="https://user-images.githubusercontent.com/323878/185828300-96f8d6c4-ae11-4cd2-8a39-0fb1b931e0e4.png">

I went to github and it was that time of the day to click the magic green SSO button again. So I suspect that is the issue.

Unfortunately I don't think I can get a stack for you

<img widt

[2022-08-22 02:58] roblourens commented on #3868
Wait, no. It was that the file I was commenting on was deleted while I was adding comments to it. I hadn't done a pull yet (this was on desktop) but I suppose the service did something weird.

[2022-08-22 03:25] roblourens opened #3869 "Clicking file in "Commits" scrolls away from that file"
I'm looking at individual changes in a commit, it shouldn't focus the file under "Files" which shows total changes over all commits in the PR

![Recording 2022-08-21 at 20 23 14](https://user-images.githubusercontent.com/323878/185832397-1d326864-0e18-479d-a136-cdd9c2db7d18.gif)

[2022-08-22 08:06] alexr00 commented on #3752
👍 sounds good.

[2022-08-22 08:57] alexr00 commented on #3828
@edemaine thank you. It looks like 3.0 does have the workflow scope: https://docs.github.com/en/enterprise-server@3.0/developers/apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes

Is `workflow` not available for you when you create a PAT?

It does seem like `workflow` didn't exist in 2.22 though, so maybe it isn't available in the UI for 3.0.

[2022-08-22 10:32] alexr00 commented on #3739
Since there is no GitHub API to link PRs and issues, I've taken the approach of adding the #123 in the PR description. This feels like a work around, and I'm not sure it's worth doing. Will decide in September.

[2022-08-22 11:25] benibenj opened #3871 "Test: Pull Request Notification"
Refs:  #1128

- [x] anyOS @tanhakabir
- [x] anyOS @hediet

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode-pull-request-github/issues/new?body=Testing+%233871%0A%0A&assignees=benibenj)

---

Pull Request notifications can be turned on/off with the `githubPullRequests.notifications` setting. Currently, notifications are turned on by default, however, notifications will be turned o

[2022-08-22 11:48] benibenj opened #3872 "Test: GitHub label colors"
Refs:  #1193

- [x] anyOS @mjbvz
- [x] anyOS @alexdima

Complexity: 1

[Create Issue](https://github.com/microsoft/vscode-pull-request-github/issues/new?body=Testing+%233872%0A%0A&assignees=benibenj)

---

1. Install the pre-release build of GitHub Pull Requests and Issues.
2. Open a folder in VS Code that contains a GitHub repository.
3. Open a Pull Request which contains labels, or you can add l

[2022-08-22 12:19] edemaine commented on #3828
It's definitely not a checkbox in the creation UI. Is there a way to request it anyway, like manually submitting the form?

[2022-08-22 12:21] alexr00 opened #3874 "User and issue suggestions don't always show for some languages"
From https://github.com/microsoft/vscode-pull-request-github/issues/3251#issuecomment-1220420760

`tsx`: Issues and mentions not working
`html`: Issues not working
`yml`: Issues not working

![Bildschirmfoto 2022-08-19 um 10 42 48](https://user-images.githubusercontent.com/45072099/185581549-bc22d1d8-6059-487f-b661-d5b03ae956d5.png)
![Bildschirmfoto 2022-08-19 um 10 28 59](https://user-images.gith

[2022-08-22 12:22] alexr00 commented on #3251
@AdrianFahrbach opened https://github.com/microsoft/vscode-pull-request-github/issues/3874

[2022-08-22 12:28] alexr00 commented on #3828
@edemaine thanks for confirming that `workflow` isn't in the UI and in general I appreciate the additional GitHub Enterprise details. I'm not aware of whether there's another way to request it, but knowing that this is a problem for some Enterprise users will help me frame my GitHub Enterprise work later this year.

[2022-08-22 12:39] #3874 closed

[2022-08-22 13:45] #3867 closed

[2022-08-22 13:45] #3856 closed

[2022-08-22 14:44] Tyriar opened #3879 "Adding a multi-line comment is jarring"
See how 2 scrolls seem to happen, I think because of the decorations on the text. Can that, the peek view showing and the associated scrolls all be done at once so the text only moves one time?

![Recording 2022-08-22 at 07 41 58](https://user-images.githubusercontent.com/2193314/185949367-23db41eb-7785-4a2f-8121-d5045b24cdf9.gif)

Version: 1.71.0-insider (user setup)
Commit: 235a92a3693176fbf9af1

[2022-08-22 14:51] #3861 closed

[2022-08-22 14:54] #3855 closed

[2022-08-22 14:58] ThomasBachSap commented on #3731
@alexr00 Can you point me the to SLA? I guess we have something from SAP side (this is my work account) in place with Microsoft or at least some internal guidance whether I can sign it or not. Happy to jump through it if the jump is short.

[2022-08-22 17:07] rbtcollins commented on #3847
I think it might have just done an upgrade?

[2022-08-22 17:57] lgonzalezsa commented on #3462
Having this feature will be excellent! Also having similar feature to suggest code as well.

[2022-08-22 17:59] lgonzalezsa commented on #2323
This will be awesome, if I can suggest as well to include the navigation minimap to identify where the code was changed.

[2022-08-23 05:10] xmatthias opened #3881 "Rendering ignoring line breaks"
- Extension version: 0.49.2022082209
- VSCode Version: 1.70.2
- OS: linux

Steps to Reproduce:
Writing a comment with regular linebreaks (no double space at the end) will render wrong in vscode.

![image](https://user-images.githubusercontent.com/5024695/186074525-3c9f47d3-0f12-4a0c-bba0-cef760c2bf28.png)

in github - the linebreak is rendered properly.

![image](https://user-images.githubusercont

[2022-08-23 08:45] christianvari opened #3882 "Plus button for adding comments is not showing"
Type: <b>Bug</b>

Some file of the PR are not allowing adding comments as there is no way to visualize and trigger the plus button to add the comment.

It is affecting both stable and preview relase.

I've found this line in the debug console of the extension:

PullRequestChangesTreeDataProvider> Error: Cannot resolve tree item for element 0/0:abci.go

Extension version: 0.49.2022082209
VS Code ve

[2022-08-23 09:09] #3801 closed

[2022-08-23 09:14] alexr00 commented on #3847
hmm, ok. We fetch a lot of data from GitHub after reload, so I was thinking that could be part of the problem. I've started seeing the rate limit this week too though. I'll add some new logging around the rate limit and we'll see what we can learn.

[2022-08-23 12:20] joaomoreno opened #3884 "Label `assign myself` has default cursor"
When hovering over the clickable `assign myself` label, the mouse cursor appears to be the default, while it should switch to the `pointer` style.

![image](https://user-images.githubusercontent.com/22350/186156270-21a8691f-71bd-48f7-b6b5-498e52275619.png)

[2022-08-23 12:36] hediet commented on #3871
Good work!

[2022-08-23 13:11] #3884 closed

[2022-08-23 13:15] alexr00 commented on #3881
The rendering of the markdown in the comment peek view is done by VS Code, not the extension, so we can't change how it's rendered from the extension.

What we can do is convert single new lines to double new lines before passing them to VS Code to render. Happy to try that out at the beginning of the next iteration to see if folks using the pre-release build of the extension notice anything diffe

[2022-08-23 13:17] alexr00 commented on #3882
Is the PR in a public repo, and if so, can you share the PR, file, and line number?

If the PR isn't in a public repo then can you view the PR on github.com and see if the line you want to comment on is commentable there? GitHub only allows certain lines to be commentable in PRs, and we try to match that in this extension.

[2022-08-23 13:52] christianvari commented on #3882
Unfortunately the PR is on a private repository.
From the Github web UI I'm able to add comments. If I add them from the web UI I can see them on the code with the extension but I cannot add other comments as the plus button is not showing.

Additionally, this happens only with a subset of files of the PR.

[2022-08-23 14:29] alexr00 commented on #3882
Thanks for the additional details. Is there anything different about this files? Are they all files added in the PR?

[2022-08-23 15:08] benibenj commented on #3882
I've just seen this too. For me it happened when I had a diff open when I started VSCode Insiders.

Reproduce:
1. Open a diff and it will display the gutter with the plus button
2. Either close and reopen VSCode Insiders or run the reload window command
3. Gutter with plus button is not rendered

This seems to only happen for diffs and not files which have changes.

[2022-08-23 15:14] alexr00 commented on #3882
@christianvari does that line up with what you are seeing?

[2022-08-23 18:47] #3869 closed

[2022-08-23 18:54] #3868 closed

[2022-08-23 19:17] #3841 closed

[2022-08-23 20:38] IanMatthewHuff commented on #3644
Verified. I see the new old => new tooltip now.

[2022-08-23 22:17] mitch1009 commented on #2639
Am interested in this issue. i got caught up in this loop today trying to add an issue to a milestone. i did not find any solution but to go to GitHub web and implement it there. this will be a good feature to ease navigation back and forth

[2022-08-24 03:51] digitarald opened #3888 "No feedback after Approve & Submit"
Type: <b>Bug</b>

I just approved a PR in vscode. After hitting *Approve and Submit* the *Leave a comment* empties as only feedback. I was confused for a bit and had to double-check if it worked.

Should I be able to, to approve multiple times?

Maybe the description can open to show the latest comment and PR state?

Extension version: 0.49.2022082209
VS Code version: Code - Insiders 1.71.0-inside

[2022-08-24 04:05] digitarald opened #3889 "After reload my PR details are no longer visible"
Testing [#158773](https://github.com/microsoft/vscode/issues/158773)

Tested with https://github.com/microsoft/vscode/pull/158313 .

After reload my PR is no longer loaded in the PR view. It did open the checked out branch of course, but the PR is only visible after I click "Load More" in the PR tree.

The Comments view loaded correctly, but the PR view didn't have any memory of the currently load

[2022-08-24 08:57] alexr00 commented on #3889
@digitarald a few questions:
- Did the "Changes in Pull Request" view (in the GitHub Pull Request view container) load ok?
- Was the issue just that the PR wasn't immediately visible in the "All Open" category in the "Pull Requests" view?

[2022-08-24 19:04] billyjbryant commented on #1778
I am using VSCodium and have an entirely different (but similar in nature) issue with sign-in. When I click the "Sign-in" button in the extension, I get an error dialog :

![image](https://user-images.githubusercontent.com/3013565/186501852-34b3518b-6622-468b-8835-dcafed7a76cd.png)

I get no output logs to indicate the nature of the error.

[2022-08-24 19:46] billyjbryant opened #3891 "Sign In gives generic error message"
I am using VSCodium and have an entirely different (but similar in nature) issue with sign-in. When I click the "Sign-in" button in the extension, I get an error dialog :

![image](https://user-images.githubusercontent.com/3013565/186501852-34b3518b-6622-468b-8835-dcafed7a76cd.png)

- Extension version: v0.48.1
- VSCode Version: (VSCodium) 1.70.2 Release: 22230
- OS: macOS Monterey Version 12.5.1

[2022-08-24 19:56] TylerLeonhardt commented on #1778
@billyjbryant similar to my steps above... in this case, click `Try again?` instead of `Yes` in my steps.

In short, if there's only a Cancel button, click Cancel. If there are 2 buttons, click the non-Cancel button.... until you get the Device Code modal. Then follow that flow.

[2022-08-24 20:13] digitarald commented on #3889
@alexr00

No.

No, the PR state was lost completely, so i just assumed I need to find it again in the tree.

[2022-08-24 21:35] joyceerhl opened #3893 "Surface 'always' in notification about incoming changes to a PR"
Re https://github.com/microsoft/vscode-pull-request-github/issues/3711#issuecomment-1218027233, it would be nice if the option to always pull was an action in this notification: ![image](https://user-images.githubusercontent.com/30305945/186527817-48cacec6-18af-4911-9070-d45e702bcfeb.png)

[2022-08-24 22:20] connor4312 commented on #3861
I'm actually not sure where branches are displayed in the GHPR views, any hints? Or maybe someone else can verify

[2022-08-24 22:34] mjbvz commented on #3872
Works well in the VS Code repo!

[2022-08-24 22:34] #3872 closed

[2022-08-24 23:58] #3871 closed

[2022-08-25 00:04] rzhao271 commented on #3861
The "Local Pull Request Branches" node is in the same tree as "All Open", but it was at the top and collapsed for me, whereas "All Open" is at the bottom of the tree and expanded, so that's where I was trying to search, first.

[2022-08-25 10:02] alexr00 commented on #3889
@digitarald I can't reproduce this issue. Can you:
1. Set `"githubPullRequests.logLevel": "debug"`
2. Repro the issue
3. Share the output from "GitHub Pull Request"?

[2022-08-25 14:31] mntlty opened #3894 "Focus switches to `comments` tab automatically"
- Extension version: v0.48.1
- VSCode Version: 1.70.2
- OS: OS X 12.5.1

Steps to Reproduce:

I'm not sure how exactly to reproduce, but I find that once I am working on code that has a pull request with comments, changing focus from my integrated terminal to the code editor will often switch to the `comments` tab. I find this to be either distracting or disruptive, as I lose sight of what I had o

[2022-08-26 08:56] SimonTeo58 opened #3895 "github pull requst extension not work on wsl2 ubuntu20.04"
- Extension version: pre-release
- VSCode Version: 1.70.1
- OS:
-
![image](https://user-images.githubusercontent.com/46363359/186867130-7dd9ede6-5dc9-4076-8446-526c5a66099a.png)

![image](https://user-images.githubusercontent.com/46363359/186866992-9fad2956-5fce-464c-9677-83ca6504e379.png)

Steps to Reproduce:

1.
2.

[2022-08-26 23:01] prodkt commented on #2150
We have the same issue.

[2022-08-28 10:13] zack-dev-cm commented on #3109
works for me without <username>:
[remote "origin"]
	url = https://<personalToken>@github.com/username/repo.git

[2022-08-29 07:30] christianvari commented on #3882
Maybe related but not the same issue. In my case the gutter for the plus button is not rendered regardless if I reload. Also happens only in some files (added status in the PR)

[2022-08-29 07:55] alexr00 commented on #3888
Yes, github.com allows you to approve multiple times. I'll see what I can add to the focus view to make it clearer that your approve went through.

[2022-08-29 07:58] alexr00 commented on #3894
@mntlty this is controlled by a setting. You can set `"comments.openView": "never"` to change this behavior.

[2022-08-29 07:58] #3894 closed

[2022-08-29 12:47] heartacker opened #3898 "where is the notify?how to find the notify? how to clear notify? and where is the information?"
版本: 1.71.0-insider (system setup)
提交: 35b971c92d210face8c446a1c6f1e470ad2bcb54
日期: 2022-08-26T05:19:46.020Z
Electron: 19.0.12
Chromium: 102.0.5005.167
Node.js: 16.14.2
V8: 10.2.154.15-electron.0
OS: Windows_NT x64 10.0.25188
沙盒化: Yes

名称: GitHub Pull Requests and Issues
ID: GitHub.vscode-pull-request-github
说明: Pull Request and Issue Provider for GitHub
版本: 0.49.2022082909
发布者: GitHub
VS Marketpla

[2022-08-29 14:35] Tyriar opened #3900 "Buttons don't match VS Code's new style"
Current PR view:

![image](https://user-images.githubusercontent.com/2193314/187226356-3f9ec9b4-70c1-4ac9-994e-48962414de34.png)

Expected round corners:

![image](https://user-images.githubusercontent.com/2193314/187226427-a748cb2b-92aa-45bd-a984-0635a3be38e4.png)

[2022-08-29 14:49] alexr00 commented on #3693
@jkt628 we should be showing the notification once per workspace. I agree that signing out isn't a good option, but it's better than having the extension just mysteriously not work.

I'll be doing some work soon (maybe even in September) to see what can be done to get GHE officially supported by this extension. I'll try to ping you here when I have something ready or when I have an issue for you t

[2022-08-30 04:52] george1099 commented on #1480
You just need to open a relevant folder.

[2022-08-30 06:53] benibenj commented on #3898
@heartacker notifications are only available for Pull Requests currently. We also don't show them on the repository level if there is a notification at the moment, we might add this during the next month. If you expand the repositories, you should be able to see a PR highlighted indicating that it has a notification.

We are going to release this feature this month with the setting by default set

[2022-08-30 08:00] abdulmoizniazi commented on #2572
hy ...I am facing same issue , please help

[2022-08-30 10:47] wlgrd commented on #2572
@abdulmoizniazi did you try looking at the solutions?

[2022-08-30 12:51] alexr00 commented on #3900
Actually, let's take this as a candidate. Should be very low risk.

[2022-08-30 13:20] #3900 closed

[2022-08-30 18:43] MagsMagnoli opened #3905 "Suggested assignees always selects the current user"
- Extension version: v0.48.1
- VSCode Version: 1.70.2
- OS: macOS Monterey 12.5

Steps to Reproduce:

1. Click the + button to add an assignee, ensure there is yourself and a suggested user
2. Add a suggested user and click ok, note that this adds yourself as a reviewer instead

Other notes:
- It is possible to add yourself multiple times with this method. This does not propagate to github, only t

[2022-08-31 19:56] jordangarrison commented on #3070
Yes +1 for this!

This also could allow it to reflect the reviewers shown in the WebUI inside the extension's pane. Currently teams don't show up in the reviewers list for the PR.

[2022-09-01 09:48] TheQuantumPhysicist opened #3908 "In comments, the actor's username of an emoticon is not visible as it's in github"
Extension version: v0.48.1
VSCode Version: 1.70.2
OS: Debian 11.4

Steps to Reproduce:

1. Create a PR for some branch
2. Add a comment on some line in that PR
3. Make a user add an emoticon on that comment (smile, thumbs-up, etc)
4. There's no way in VSCode to know who did this. Once has to go to github on the browser to see the actor.

While this sounds trivial, it's very useful because people o

[2022-09-01 10:47] alexr00 commented on #3891
@TylerLeonhardt we also saw this with on @joaomoreno machine with VS Code. A log out and log back in solved it.

[2022-09-01 11:00] #3905 closed

[2022-09-01 13:46] #3893 closed

[2022-09-01 13:55] TylerLeonhardt commented on #3891
@billyjbryant can you provide the contents of the GitHub Authentication output pane:
![image](https://user-images.githubusercontent.com/2644648/128087382-c706864f-7005-4a2e-878b-662c69c4457e.png)

And also anything that shows up in Dev Tools:

* ctrl + shift + P
* "Dev Tools"

[2022-09-01 15:32] #3739 closed

[2022-09-01 15:35] #3879 closed

[2022-09-01 15:43] #3838 closed

[2022-09-01 20:42] Thomas1664 opened #3910 "Comment and submit button in sidebar doesn't have all rounded corners"
Only left corners are rounded, the right corners are missing a border radius

- Extension version: 0.5.0
- VSCode Version: 1.71.0
- OS: Codespace

Steps to Reproduce:
![image](https://user-images.githubusercontent.com/46387399/188008362-ff715cd8-e248-4464-8345-e29194ff02eb.png)

[2022-09-01 21:57] joyceerhl opened #3911 "SCM title menu Create Pull Request action is unavailable when in a Remote window"
- Extension version: v0.51.2022090109
- VSCode Version: 1.71-insider
- OS: Windows 11

Steps to Reproduce:

1. Open a GitHub codespace and go to the SCM view
2. :bug: the Create Pull Request button is not available. I have hit this in WSL and in a GitHub codespace so far so I suspect it is generic to all Remote-* windows in VS Code

From inspecting context keys, it looks like something is off with

[2022-09-02 08:27] alexr00 commented on #3911
@lszomoru the issue appears to be that I am comparing the URI that the extension host understands (`file://workspaces/vscode`) with the URI that the renderer/local extension host understands (`vscode-remote://codespaces...`). I'm getting the `file` URI using the `rootUri` API from the git extension. That one should be a `file` URI ✅

The difficulty comes when comparing it to `scmProviderRootUri`.

[2022-09-02 12:11] alexr00 opened #3913 "Setup localization"
The strings in this extension are currently not localized.

[2022-09-05 13:54] selcukduman commented on #3693
I am using GHE 3.5.1 and the extension works both for GHE and my github.com public repos. I didn't sign out of either. Seperate workspaces though.

[2022-09-05 16:22] wrslatz commented on #3371
Any tips for debugging this further? Happy to do additional troubleshooting if y'all have recommendations.

The debug output doesn't show any errors, which makes me think something in the auth / interaction with our GHES instance isn't actually erroring but is not correctly handled by the extension. Not sure the best way to rule out proxy either.

Also, I'll add that our current GHES version is `3

[2022-09-06 10:15] alexr00 opened #3919 "Provide on-ramp for GitHub Enterprise users"
There is no guidance in the extension for how GitHub Enterprise users can get set up. Some ideas for improving:
- If we don't detect a github.com repository remote, but we do detect that there's a GitHub remote, we can offer to set the setting `github-enterprise.uri` with that remote.
- We can specify that scopes that the PAT must in the UI before handing off to the github-enterprise auth provider

[2022-09-06 10:26] alexr00 commented on #1941
Folks in this thread: I am working on improving the GitHub Enterprise support. If you are willing to help me find and tackle the issues you're seeing please do the following:
1. Install the pre-release version of the extension
2. When you see a bug, open a new issue with the following details:
  a. GitHub Enterprise version number
  b. Repro steps
  c. Output from GitHub Pull Request
  d. Any erro

[2022-09-06 14:30] lramos15 opened #3922 "Create a PR on `github.dev` often errors when opening preview"
1. open github.dev and ensure you're on insiders
2. Make a commit and create a pr
3. 🐛 The PR is created but the preview fails to open often due to a could not find PR or could not read undefined error

[2022-09-07 09:29] TheQuantumPhysicist commented on #3855
Thank you. This works now, I just checked it. But can we make this go to the same line number? Or at least make it an option to do so?

[2022-09-07 12:53] alexr00 commented on #3855
@TheQuantumPhysicist 👍 the next pre-release build of the extension will use the same selection when you "Open File".

[2022-09-07 12:59] TheQuantumPhysicist commented on #3855
Nice! Thanks!

[2022-09-07 13:13] lramos15 commented on #3922
<img width="1411" alt="image" src="https://user-images.githubusercontent.com/4544166/188887002-608ac5bd-6385-4e99-84b4-e875ed6d5d08.png">
This experience just feels very broken

[2022-09-07 14:05] alexr00 opened #3926 "Comments created in the description view don't have a user icon"
![image](https://user-images.githubusercontent.com/38270282/188898408-17fd20b8-487a-4945-aa1c-0df234a9adf8.png)

After refreshing the description webview, most icons will be correct. However, icons for code comments will still be broken.

[2022-09-07 14:40] jan-san commented on #3840
@The-Plottwist I had the same issue, and was able to resolve it by launching VS Code with option `--enable-proposed-api GitHub.vscode-pull-request-github`

[2022-09-07 14:56] The-Plottwist commented on #3840
Hey @jan-san , thanks for the suggestion.
Unfortunately I had other issues with the editor as well which I didn't mention.
So I switched to a different editor.

Cheers.

[2022-09-07 17:26] roblourens opened #3928 "Infinite error messages"
![Recording 2022-09-07 at 10 25 32](https://user-images.githubusercontent.com/323878/188941411-7925573f-56d0-4178-ab84-1e518c3bd98e.gif)

I don't know why this is happening. I'm on the bus but my connection is fine. I reloaded the window and it went away. I should have grabbed the log, sorry.

[2022-09-07 17:33] fseminario commented on #2572
I'm having this issue too but none of the solutions have worked. I'm on SSO enterprise

[2022-09-07 18:02] joyceerhl opened #3929 "importScripts has been blocked"
1. Open insiders.vscode.dev/github/microsoft/vscode
2. :bug: see the following in dev tools:
[code]

[2022-09-07 19:34] JohnK1987 commented on #2572
Hello,

I facing same behavior as was described above, the extension is still loading.

I can recommend to type the command below into Terminal of VScode

Then you will see the list of active remotes, for example:
[code]
If the remote with your URL is not there

then you need to add it manually via

for example `git remote add origin  https://github.com/SomeOrg/SomeRepo`

BR, Jan

[2022-09-08 04:49] codeluggage opened #3931 "Code review summary content lost"
Type: <b>Bug</b>

In an 11 file code review with about 15 comments, trying to write in the split pull request view "Leave a review summary content" text box, seems to quietly refresh the tab and lose the written content.

I seem to remember this being cached OK in the past. Now I've lost it 3 times.

Extension version: 0.50.0
VS Code version: Code 1.71.0 (784b0177c56c607789f9638da7b6bf3230d47a8c,

[2022-09-08 07:54] #3929 closed

[2022-09-08 12:19] alexr00 commented on #3891
I've hit this now too. The error doesn't occur when calling the auth extension API. Instead, it happens when I try to use the auth token returned from the API to use GitHub API. It seems like the token is no longer valid.

There is nothing useful in the dev tools.

Here's the output, cleared just before the auth call:
[code]

[2022-09-08 13:13] ssoworld commented on #3777
I don't know about PRs within same repo - but this is definitely true for PRs from forks.

[2022-09-08 17:37] kamesdev opened #3934 "Extension is constantly loading"
After installation, the extension is constantly loading as you can see on the image below
![image](https://user-images.githubusercontent.com/73598777/189189173-4f30ef4a-f454-4db9-9b2c-03849261498f.png)

- VSCode Version:
- OS: Windows 11

Steps to Reproduce:

1. Install GitHub Pull Requests and Issues
2. Click on the sidebar extension icon

[2022-09-08 17:42] joyceerhl opened #3935 "PR diff in web fails to open for added or modified files opened from the All Open node when the PR is the current PR"
Originally reported by @tyriar

1. Open https://insiders.vscode.dev/github/joyceerhl/demo-pr-diffs-bug/tree/test. This is a branch which has an associated active PR, and contains a file addition and file deletion
2. Open the All Open view and click on the file diffs for the current PR there
3. :bug: the diff for the deleted file can be opened, but the diff for the added file (and also modified fil

[2022-09-08 18:09] #3926 closed

[2022-09-08 20:16] nsde commented on #591
I'm having the same issue. Linux user here.

[2022-09-08 21:17] kamesdev commented on #3934
I logged out from my GitHub account and logged in again, and then the problem disappeared.

[2022-09-09 05:52] #3934 closed

[2022-09-09 09:50] gjsjohnmurray opened #3937 ""Unable to assign pull request to user XXX" error notification after creating PR in upstream repo"
Type: <b>Bug</b>

When I publish a branch to my repo which tracks microsoft/vscode, the extension offers to create a PR. This works, but I get an error notification:

`Unable to assign pull request to user gjsjohnmurray.`

Workaround is to save the single-folder vscode workspace as a code-workspace file, then set `githubIssues.assignWhenWorking` to false in that file.

Maybe GHPRI could be smarter

[2022-09-09 21:58] fseminario commented on #2572
Thanks for sharing. I did what you mentioned but my remotes were already there and still getting the same errors.

Also not sure if this makes a difference but I have to be on VPN, which I have been connected to access my remotes. Is it possible that can be causing an issue?

[2022-09-10 07:37] JohnK1987 commented on #2572
@fseminario  I have no Idea sorry.

[2022-09-12 07:40] alexciesielski opened #3938 "Idea: Chrome Extension to add button in Github to "Open PR in VSCode""
Hello,

since I often browser Github itself and look through PRs there it would be very helpful for me to have a dedicated button show up in Github, which when clicked would open VSCode and the given pull request in the PR Github extension.

I will gladly implement this myself - I'm just wondering if there is a way of generating a link that would allow that?

[2022-09-12 19:00] SeanDKendle opened #3939 "Local files don't update"
When you save a file, the local files don't update, leading to confusion and frustration when you see the same file in two different clients with completely different contents. What kind of "feature" is this!?

[2022-09-12 19:50] TylerLeonhardt commented on #3891
@cbrnr can you please share a gif/video of you logging in? you can use a tool like gifcap.dev to do this.

[2022-09-13 06:34] cbrnr commented on #3891
Thanks for the quick response! Today the extension is working again. It seems like yesterday there were some server issues, which would explain the rate limit message and failed login attempts. Maybe @billyjbryant and @alexr00 can check if the issue has resolved itself for them as well?

[2022-09-13 15:26] joyceerhl opened #3941 "PR diff LHS commit is reported as missing"
1. Open https://github.com/microsoft/vscode-pull-request-github/pull/3936/ in a Codespace
2. Open the file diff
3. :bug: diff fails to open and reports that the LHS commit doesn't exist, but from `git log` the commit does exist

![image](https://user-images.githubusercontent.com/30305945/189942104-40cd3808-e0af-46c7-8402-67944f46e402.png)

[2022-09-13 15:28] joyceerhl commented on #3941
Also, clicking on the active comment opens an empty file:

![image](https://user-images.githubusercontent.com/30305945/189942915-3e5fbf7d-838c-425d-a66a-0f3c8b8f5c0f.png)

[2022-09-13 15:42] irenepc opened #3942 "Failing to create a comment because there's no pending review"
- Extension version: 0.50.0
- VSCode Version: 1.71.0
- OS: Windows 10

Steps to Reproduce:

1. In a PR on which you have not started a review
2. Reply to a comment someone else has made on your PR and click "add comment"

This is my own pull request which I hardly ever open reviews on. It does not happen every time, but this is how I triggered it.
![image](https://user-images.githubusercontent.com

[2022-09-14 06:29] cbrnr opened #3943 "Sluggish performance when PR description is open"
- Extension version: v0.50.0
- VSCode Version: 1.71.1
- OS: macOS 11.6.8

Steps to Reproduce:

1. If the PR description page is not open, everything is responsive.
2. Once I open the PR description page, performance is sluggish, e.g. moving the mouse in a list view in the left sidebar (the highlights are lagging the mouse cursor).
3. Once the PR description page is closed again, everything is norm

[2022-09-14 07:19] cbrnr commented on #3943
Maybe it's my Mac getting old, but now that I wanted to reproduce this behavior again I couldn't. Sorry for the noise, if I find out that this keeps happening consistently, I'll reopen this issue.

[2022-09-14 07:19] #3943 closed

[2022-09-14 10:26] #3935 closed

[2022-09-14 11:26] alexr00 commented on #3941
I could repro the first time I connected to the Codespace, but not the second. The first time, there `git log` was incomplete. Example from another PR since I can no longer repro with the original:

[code]

After I re-connect to the Codespace the `git log` is complete and the diffs work as expected. I assume Codespaces is grafting to speed up the Codespace creation in some way. I'll see if there's

[2022-09-15 02:45] hawkticehurst commented on #3785
Catching up on old issues and the quick update about split button is now that a context menu API is being finalized for use in webviews the possibility to create our own split button is really opening up.

Assuming that officially lands sooner than later I'd love to ship a split button before the end of this year.

[2022-09-15 05:29] cbrnr commented on #3891
Today, the issue came back. First, I got that rate limit exceeded message, and after that I cannot log in:

https://user-images.githubusercontent.com/4377312/190321866-9f838997-d394-410f-af44-ec260aa3e34a.mov

[2022-09-15 09:31] alexr00 commented on #3891
@cbrnr where you opening lots of windows or reloading the window a lot before you saw the rate limit error? We shouldn't be hitting that rate limit, but once it's hit you can't sign in.

[2022-09-15 10:12] cbrnr commented on #3891
I don't think so - at least not on purpose. FWIW, I never shut down my computer, so maybe some connections do not get reset? I do restart VS Code quite often though, and I tried in this case, but it didn't help. I am now signed in again, this seems to have happened automatically at some point.

[2022-09-15 18:53] shizukann commented on #2572
Just like @wlgrd, @milunova 's solution helped me, don't know why it's marked outdated.

[2022-09-15 20:53] John-R-Martinez commented on #3847
I started getting a lot of notifications for `API rate limit exceeded for user ID 131####` (masked) this week.
I would like to provide any logs if I can on this. Please let me know how/where to add them and I will.

[2022-09-16 05:00] BlaBlaArg opened #3947 "YBoW"
Needs a assignment from this kind of library.

[2022-09-16 07:53] AlexTugarev commented on #3847
Saw this happening 3 times for me this week, this is quite a blocker.

[2022-09-16 07:56] alexr00 commented on #3847
I've reached out to the GitHub folks to ask about the rate limit. Will keep this thread updated.

[2022-09-16 07:58] AlexTugarev commented on #3847
We've seen this happening more frequently since https://github.com/microsoft/vscode-pull-request-github/releases/tag/v0.50.0.

[2022-09-16 07:59] AlexTugarev commented on #3847
May I ask, what exactly is the ask about the rate limit?

[2022-09-16 08:05] alexr00 commented on #3847
Sure:
- What is the rate limit for an authenticated user?
- Unless it's quite low, I doubt we're actually hitting it. What could be causing this?

[2022-09-16 08:21] joaomoreno opened #3949 "Polish "Delete local branches and remotes""
There doesn't seem to be any in-widget progress reporting while quick open is loading the branches to delete:

![image](https://user-images.githubusercontent.com/22350/190591748-8376323d-9be4-4085-9fc5-bf10398ea9db.png)

After cleaning branches, I ended up here, since I have no remotes to cleanup:

![image](https://user-images.githubusercontent.com/22350/190591793-3cefffdc-9e2e-4c5b-86d7-bd1fb8893

[2022-09-16 08:25] AlexTugarev commented on #3847
GitHub API rate limit is well measurable during interaction flows. Basically each API response [contains](https://docs.github.com/en/rest/overview/resources-in-the-rest-api) the `x-ratelimit-remaining` number, which could be tracked to provider a better monitoring tool for individual user. That said, if that PR extension would log this number in Output channel periodically, one could observe usage

[2022-09-16 12:16] Dzejkop opened #3950 "Unable to select a repository when submodules are present"
I have a project which had a submodule added recently. For some reason the Pull Requests and Issues tabs now only display the PRs and issues from the sumbodule repository and the extension doesn't link with the root repository.

I would like to be able to set (either in config or via a command) the repository used by the extension.

[2022-09-16 15:49] alexr00 commented on #3847
@AlexTugarev indeed, I have used the header values and the graphql rate limit response values to add some practical rate limit logging to the extension.

Folks who see this issue and use the pre-release version of the extension: please share the output from "GitHub Pull Request" when you hit the issue. There are logs in the latest pre-release version that will help me understand what's happening.

[2022-09-16 17:27] grahamb commented on #3731
Could someone please update the docs? If you can't take @ThomasBachSap's PR directly, surely someone can update the docs manually. I wasted a fair bit of time trying to figure out why I couldn't log in with a PAT using the documented scopes.

[2022-09-16 17:28] grahamb commented on #3731
Also: the error message displayed within VSCode doesn't note that it requires `workflow` scope. I didn't get a screenshot, but it said that needed the same scopes as in the docs (`read:user repo user:email`).

[2022-09-16 20:40] hannanelson commented on #3028
It would be nice if the default branch to merge was the source branch (the branch you branched from).

[2022-09-16 21:07] lluchkaa opened #3953 "Cannot enable extension for workspace only"
Type: <b>Bug</b>

1. Disable extension
2. Enable extension (workspace)

Extension version: 0.50.0
VS Code version: Code 1.71.2 (Universal) (74b1f979648cc44d385a2286793c226e611f59e7, 2022-09-14T21:05:37.721Z)
OS version: Darwin arm64 21.6.0
Modes:
Sandboxed: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Apple M1 (8 x 24)|
|GPU Status|2d_canvas: enabled<br>canvas_oop_ras

[2022-09-17 09:28] odil-io commented on #3028
Exactly what I meant

[2022-09-18 09:14] dalisoft opened #3954 "Move "Create Pull Request" to "More Actions..." option in Settings"
<img width="294" alt="Screen Shot 2022-09-18 at 14 11 46" src="https://user-images.githubusercontent.com/3511344/190894790-5759c6d2-11f6-4e5e-b825-c34ac484dbc5.png">

<img width="349" alt="Screen Shot 2022-09-18 at 14 11 55" src="https://user-images.githubusercontent.com/3511344/190894788-61afab99-3be0-46e5-b7a8-3637acfcb363.png">

[2022-09-19 03:06] ldelossa opened #3955 "Ability to query against Notifications API"
Hello,

When developing https://github.com/ldelossa/gh.nvim I found it very useful to query GitHub's notification API.

By doing so, this Neovim plugin implements a Notifications view where you can keep a subset of the PR's have activity on, or you want to follow up on.

Right now, `vscode-pull-request-github` has no great way or organizing open PRs for "viewing later". This is not the same as ass

[2022-09-19 03:08] ldelossa opened #3956 "Dimissing pull requests from the UI's tree"
When working on a large code base the number of pull requests to walk through becomes unmanageable.

Ideally, one could take a work flow where they are presented "all open PRs" sorted by newest, and then "prune" this list to remove PRs which they are not interested in.

[2022-09-19 03:10] ldelossa opened #3957 "Per-Commit Comments"
Per commit reviewing is pretty good in `vscode-pull-request-github`. However, would it be possible to allow commenting on files per-commit. The GitHub API should handle these cases OK and set the comments to "outdated" when they reference changed or missing lines in children commits.

[2022-09-19 10:33] alexr00 commented on #3028
There is the setting `githubPullRequests.overrideDefaultBranch`, which lets you override the default branch for the repo.

[2022-09-19 10:36] alexr00 commented on #3731
@grahamb if you're willing to tolerate a little instability as I continue working on GitHub Enterprise support, I would recommend you try the pre-release version of the extension with VS Code Insiders at least until the next stable release of both. There's no need for a PAT there now and I'm actively working on GitHub Enterprise support there.

[2022-09-19 10:51] alexr00 commented on #3731
@ThomasBachSap thank you for your wiki update suggestions. I don't have a good way to take your changes, especially not with CC0 where possible and CC-BY-4.0 otherwise as this repo uses the MIT license: https://github.com/microsoft/vscode-pull-request-github/blob/main/LICENSE

I have made my own updates to the wiki to include the `workflow` scope as well as some details about the pre-release chang

[2022-09-19 10:53] #3731 closed

[2022-09-19 11:14] ThomasBachSap commented on #3731
MIT might be an untypical choice for text, where CC seems to be the common case, but I would also have provided that or a CLA. Anyway ticket is closed and the content is updated. If everyone is happy, then I am too.

[2022-09-19 12:10] alexr00 opened #3959 ""viewed" checkboxes don't always propagate"
1. Check out a PR and mark all the files in a folder as read.
2. Reload.
3. Expected: The parent folder of the files you marked as viewed will be checked.
    Actual: All the children are checked, but the parent is not.

[2022-09-19 12:26] alexr00 commented on #3891
@cbrnr I added a lot of rate limit logging in the pre-release version of the extension. If you see the rate limit error again, could you please share the output of "GitHub Pull Request" over in https://github.com/microsoft/vscode-pull-request-github/issues/3847?

[2022-09-19 12:54] alexr00 commented on #3888
You should see your username and a checkmark after you approve and submit:

![image](https://user-images.githubusercontent.com/38270282/191021849-4caafc24-e78e-48ec-93bd-dd3519151930.png)

Do you not see this?

[2022-09-19 16:49] alexr00 commented on #2772
Hi folks, I've tested with GitHub Enterprise version 3.2-3.5 and now I'm going through old issues. Version 3.2 is the oldest supported version from GitHub (https://docs.github.com/en/enterprise-server@3.2/admin/all-releases), so it's the oldest I've tested with. I will document the current Enterprise support before releasing the next minor version of the extension.

In the mean time, I'm closing t

[2022-09-19 16:49] #2772 closed

[2022-09-19 16:53] alexr00 commented on #3050
@sheenjustin thanks for the investigation. I can reproduce the http/https mismatch.

[2022-09-19 23:59] digitarald opened #3962 "Review Mode view doesn't activate on Codespaces"
Opening a PR in github.dev vs Codespace looks different. And there is no UI indicator in how I would "enter" PR review mode that gives me the comment box in the sidebar.

<img width="818" alt="image" src="https://user-images.githubusercontent.com/8599/191138651-7dd12969-dfbe-4085-8e98-7a3c10e3811c.png">

Maybe I need to click the ➡ icon _Checkout Pull Request_, but that doesn't do anything (why wo

[2022-09-20 00:03] digitarald commented on #3888
@alexr00 sorry for the delay. I just tried this out again and it does feel very hidden. One idea would be to open (focus) the PR description, as this has a much large area for completed reviews?

Maybe there are ways that we can add to our UX toolbox to highlight subtle changes in smaller UI elements like icons (cc @daviddossett)

[2022-09-20 01:58] Santos-123 opened #3963 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-pull-request-github`
- Extension Version: `0.46.1`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.69.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-09-20 01:58] #3963 closed

[2022-09-20 11:37] alexr00 commented on #3888
I'd prefer to add further emphasis to the focus view rather than open the full PR description. As a user of the view myself, I don't want the whole description editor open when all I need to do is approve the PR. I'm interested in @daviddossett input on this as well!

[2022-09-20 12:02] alexr00 commented on #3962
Not opening the changes view and focus view was something that the Codespaces folks specifically asked for, so this is actually controlled by Codeapces through a command at the moment:

https://github.com/microsoft/vscode-pull-request-github/blob/0ff8205cc3d6ba06ab3945e494e1756a0f82bf6d/src/extension.ts#L238-L242

We can revisit this decision, but we should talk to the Codespaces folks and make su

[2022-09-20 12:31] alexr00 commented on #3050
It looks like `https` is required for some of the GitHub API calls we make. The fix is to automatically always use `https`.

[2022-09-20 12:46] alexr00 commented on #3828
@edemaine would you be able to try out the latest VS Code Insiders and the latest pre-release version of this extension? With that combination there is no PAT required.

[2022-09-20 12:58] alexr00 commented on #3754
@Josar could you try out the latest VS Code Insiders with the latest GitHub Pull Requests and Issues pre-release extension? You no longer need to use a PAT to sign in there.

[2022-09-20 12:58] #3754 closed

[2022-09-20 13:02] alexr00 commented on #3746
@blaylockbk could you try the latest VS Code Insiders and the latest pre-release version of GitHub Pull Requests and Issues? You don't need to use a PAT there. If that doesn't work for you please post the GitHub Enterprise version that your organization uses and I'll investigate further from there.

[2022-09-20 13:09] alexr00 commented on #3429
A few questions for folks in this thread:
- Please try out the latest VS Code insiders with the latest pre-release extension. You don't need to use a PAT there. Do you still get the error (or a new error)?
- Is the url of your cloud hosted GitHub Enterprise instance a `github.com` url?
- Do you use your `github.com` username to sign in or the account managed by your enterprise organization to sign

[2022-09-20 13:28] alexr00 commented on #3329
@mouse07410 I've finally been able to test with GitHub Enterprise. The error you're seeing usually happens when you're signed in to VS Code with a a `github.com` account but not a GitHub Enterprise account. I tested with an SSH git remote and found a separate issue, but starting tomorrow the pre-release build of GitHub Pull Requests and issues should work with your setup.

[2022-09-20 13:28] #3329 closed

[2022-09-20 13:36] alexr00 commented on #3371
@harshanarayana thank you for trying out the changes so quickly!

[2022-09-20 13:40] alexr00 commented on #3427
I'm revisiting all GitHub Enterprise issues. I've tested all [currently supported](https://docs.github.com/en/enterprise-server@3.2/admin/all-releases) minor versions of GitHub Enterprise with the extension. I've made some fixes and in the next release we plan to announce that the extension works with GitHub Enterprise starting with GitHub Enterprise version 3.2.

@AntonioL are you still on versio

[2022-09-20 14:43] edemaine commented on #3828
Seems to work great! Much friendlier way to log in.

[2022-09-20 14:55] alexr00 commented on #3548
@idanga it looks like it will be pretty easy for me to support other ports. Is your host always `localhost` for the local reverse proxy?  Are you able to use `https` instead of `http` for the local reverse proxy?

[2022-09-20 14:58] #3828 closed

[2022-09-20 15:39] #3050 closed, assigned to alexr00

[2022-09-20 15:48] alexr00 commented on #3895
I'm not able to reproduce this issue. This may be a duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/3891. @SimonTeo58 does signing out and back in again solve this?

[2022-09-20 21:32] daviddossett commented on #3888
I'll take a look at this next week—bit backed up at the moment after being OOF.

[2022-09-21 04:07] digitarald opened #3966 "UI flow for filing issues for code and TODOs comments"
How might we make it easy to track existing code annotations as issues.

It should hook into code comment `TODOs`, which are frictionless and contextual way devs collaborate, leave breadcrumbs for their future self, or track their work for a task.

- Codelens or refactoring entry for TODO-like comments.
- Creating todo's could add a task to the PR description, or a follow up issue.
- Optionally sh

[2022-09-21 07:56] wil-den opened #3967 "No view is registered with id: issues:github and with id: prStatus:github and id: pr:github"
This error appeared in the last day or two. I have uninstalled and reinstalled the extension and the same problem persists.

The view is not available in the Activity Bar.

- Extension version: 0.50.0
- VSCode Version: Code-OSS 1.71.2
- OS: Arch Linux

Steps to Reproduce:

1. Start editor and the errors appear.
2. View not available in the Activity Bar

[2022-09-21 08:52] alexr00 commented on #3888
No rush, I put this in the October Milestone!

[2022-09-21 09:30] kevinvalk commented on #505
Proposing to reopen this one.

In our case we have a merge squash approach with linear commit history. This means that we sometimes need to merge main back into the PR. This will cause 1 or more commits to be part of the "since last reviewed" part, but as they came from main they were already reviewed.

On GitHub there is a way to review only a subset of commits in a PR.
![image](https://user-imag

[2022-09-21 09:32] christianvari commented on #3882
The issue is fixed in the latest version. Closing it

[2022-09-21 09:32] #3882 closed

[2022-09-21 11:20] ced-f opened #3968 "Project filter options for search queries"
Is it possible to filter issues by project attribute fields? E.g. I would like to only see issues in the current iteration. In my project I can filter issues by iteration with something like `iteration:@current`.
I think this is not possible with the `githubIssues.queries` setting right now.

[2022-09-21 11:43] #3919 closed

[2022-09-21 11:44] alexr00 commented on #3928
Leaving open in case it happens again so that we can add logs.

[2022-09-21 11:57] alexr00 commented on #3931
@codeluggage is this in view in the sidebar or the full description view in the editor?

[2022-09-21 12:06] codeluggage commented on #3931
@alexr00 This was in 2 editor split view with the (full description) view in the one split and code I was reviewing in the other.

I haven't done that exact workflow much lately, but what I have done hasn't had any issues since. I've been on `1.71.1`.

[2022-09-21 12:13] alexr00 commented on #3939
Is this when you have a file open in VS Code?

What are the two different clients in this scenario?

[2022-09-21 12:15] #3947 closed

[2022-09-21 12:18] alexr00 commented on #3950
Can you share the output from `git remote -v`?

[2022-09-21 12:24] #3967 closed

[2022-09-21 12:25] #3937 closed

[2022-09-21 12:26] #3910 closed

[2022-09-21 12:27] alexr00 commented on #3954
Hiding menu items is a new feature in VS Code: https://github.com/microsoft/vscode/issues/154804

[2022-09-21 12:29] alexr00 commented on #3957
Agree that this would be good to have. Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/2793

[2022-09-21 12:29] #3957 closed

[2022-09-21 12:36] alexr00 commented on #3968
All of github.com's searth terms should work there: https://docs.github.com/en/issues/tracking-your-work-with-issues/filtering-and-searching-issues-and-pull-requests#about-search-terms

[2022-09-21 12:36] #3968 closed

[2022-09-21 12:39] alexr00 commented on #3931
Thanks for confirming. I tried to repro the issue, but I haven't seen it happen yet. I'm closing this issue for now, but if you see it again I'll re-open and investigate further.

[2022-09-21 12:41] dalisoft commented on #3954
But i have to use old versions because of new versions since v1.59 is broken

[2022-09-21 12:46] alexr00 commented on #3954
If 1.59 has a problem for you then I recommend opening an issue in https://github.com/microsoft/vscode/issues so that we can figure out what's going on.

[2022-09-21 12:47] dalisoft commented on #3954
@alexr00 Here issue already filled out https://github.com/microsoft/vscode/issues/160078

[2022-09-21 14:10] alexr00 commented on #3862
@saurabh-c-rai I've tested the extension with GitHub Enterprise all the way back to 3.1, and checking out a PR works fine there. 3.0 was deprecated on 2022-02-16. Are you still on 3.0 now (I recognize that you probably don't have control over which version you're on, but I'm hoping you got updated in the last month)?

[2022-09-21 14:14] alexr00 commented on #3324
Fixed by https://github.com/microsoft/vscode-pull-request-github/pull/3460

[2022-09-21 14:14] #3324 closed

[2022-09-21 14:31] #3099 closed

[2022-09-21 14:33] #3371 closed

[2022-09-21 14:36] #3427 closed

[2022-09-21 14:38] joaomoreno opened #3972 "Checkbox likes to play Simon Says"
1. Double click a checkbox

🐛 It will repeat what you just did a few milliseconds later

![Recording 2022-09-21 at 16 36 44 (1)](https://user-images.githubusercontent.com/22350/191533966-e06d03e3-20fc-4e97-b3ae-4c3f6225a5e9.gif)

[2022-09-21 15:28] wrslatz opened #3973 "Failure to authenticate and load PRs and Issues in GitHub Enterprise"
Creating a new issue from https://github.com/microsoft/vscode-pull-request-github/issues/3371#issuecomment-1253800533. I tested GitHub Enterprise support this morning with VSCode Insiders and still was not able to sign in with GitHub Enterprise.

Background info:
- Extension version: `v0.51.2022092110`
- VSCode Insiders version: ` 1.72.0-insider (Universal), Commit: 333754f29b719f605904f072b13c054

[2022-09-21 17:43] saurabh-c-rai commented on #3862
@alexr00 As luck would have it we are upgrading to GitHub Enterprise 3.4.4 by this week so I guess it won't be an issue anymore. Thanks for your support.

[2022-09-22 00:10] wrslatz commented on #3973
Looking at the log output, I'm guessing this is the issue:
[code]

It looks like the device code flow is missing the `workflow` scope, and the other two auth flows don't work with my GHES instance.

[2022-09-22 08:16] alexr00 commented on #3862
🎉 glad to hear it! If you try out the extension after you're upgraded I recommend either waiting for the next stable release of the extension (probably in 2 weeks) or using the pre-release build. There is PAT-less auth and some general GitHub Enterprise fixes there.

[2022-09-22 08:16] #3862 closed

[2022-09-22 10:22] alexr00 commented on #3848
Moved with https://github.com/microsoft/vscode-pull-request-github/commit/bf07a873f993b4382817ec4da3b78e6d5fb904ea

[2022-09-22 10:22] #3848 closed

[2022-09-22 12:29] #3274 closed

[2022-09-22 14:50] alexr00 commented on #3959
Found the actual problem. Real repro steps:
1. Open a PR that has folders that get collapsed onto one line. Example (see that folder2 is nested under folder1 but they get shown on one line):
![image](https://user-images.githubusercontent.com/38270282/191779783-ba5e9765-7b11-4d0b-8c02-ee54b7760141.png)
2. Mark all the files in the folders as viewed
3. See that the check doesn't get propagated to th

[2022-09-22 16:04] andrhamm opened #3977 "Draft PR checkbox reverts to unchecked after typing description"
Type: <b>Bug</b>

When I am interacting with the Create a PR view (after publishing a new branch), I check the Draft PR checkbox first (a setting to default to draft would be great) but then when I type a description, the Draft PR checkbox reverts back to unchecked. This means almost every time I open a PR intended to be a Draft PR, it pings my team for a review and I have to manually toggle it ba

[2022-09-22 16:50] sandy081 commented on #3953
Seems like a bug in VS Code. Please move it over.

[2022-09-22 18:50] timothy-b commented on #3847
Sweet, here you go:
[code]

Let me know if there's anything else I can do to help.

[2022-09-22 22:20] amj311 opened #3978 "Comments are showing up twice"
Type: <b>Bug</b>

After the recent VSCode update that changed the styles of the in-editor PR comments UI, the comments from my PRs having been showing up with duplicates, both in the editor itself and in the "Comments" drawer. In the comments drawer filter input, the total says "Showing 6 of 4", which definitely indicates some error.

I do not know if this is because of interference with another e

[2022-09-23 08:50] alexr00 commented on #3847
@timothy-b thanks for the logs! Are you using the latest pre-release version of the extension (requires VS Code insiders)? None of the log lines I added are showing in there.

[2022-09-23 12:57] alexr00 commented on #3830
I just hit this, so doing a `status` didn't fix it.

[2022-09-23 12:57] alexr00 commented on #3830
git extension logs:
[code]

[2022-09-23 14:35] alexr00 opened #3981 "PR description and diffs for active PR should close when the "Checkout 'main'" button is used"
When you use the "checkout default branch" button you're taking an action that indicates that you're done with the PR. We should:
- Close the PR description editor
- Close all diffs associated with the PR
- Close all files that show the left side of the PR

[2022-09-26 00:42] airtonix commented on #3772
getting this issue too

[2022-09-26 11:41] alexr00 opened #3983 "Improved support for GitHub Enterprise 3.1 and up"
In September, we explored whether we could improve support for GitHub Enterprise.

TL;DR: Auth issues were fixed and now GitHub Enterprise is supported, starting with GitHub Enterprise version 3.1.

Details of the investigation:

- There were issues around auth and landing users in a dead end. These are resolved.
- Users often got stuck creating a PAT. Thanks to @TylerLeonhardt we have PAT-less au

[2022-09-26 11:44] #3983 closed

[2022-09-26 12:02] benibenj commented on #3859
GitHub Pull Request Notifications can now be dismissed by right clicking on the PR tree node.
1. Test by creating a notification for a PR (ask someone else (or second account) comments on your PR maybe?)
2. Right click the PR which has the notification. Click the dismiss notification option

[2022-09-26 13:35] #3977 closed

[2022-09-26 13:51] alexr00 commented on #3490
New behavior:
- The Active PR view only shows when there is only 1 PR checked out.
- When there are 2+ PRs checked out we hide that view. The side bar doesn't give use much space, and you can easily get to the full PR description with 1 click.

[2022-09-26 14:02] alexr00 opened #3985 "Test GitHub Enterprise support"
Refs: https://github.com/microsoft/vscode-pull-request-github/issues/3983, https://github.com/microsoft/vscode-pull-request-github/issues/3919

- [x] anyOS @rzhao271
- [x] anyOS @rebornix
- [x] anyOS @alexdima

Complexity: 4

[Create Issue](https://github.com/microsoft/vscode-pull-request-github/issues/new?body=Testing+%233985%0A%0A&assignees=alexr00)

---

Please message me to get access to a Git

[2022-09-26 14:07] alexr00 commented on #3848
For verification: The permalink commands are now in both the "Copy As" menu and the "Share" menu.

[2022-09-26 14:29] alexr00 commented on #3881
To verify:
- Leave a comment with single new lines and double new lines in a PR.
- Verify that the comment renders with the same new lines as on github.com
- Edit the comment, but don't actually change anything. Verify that the editable comment looks the same as the same editable comment on github.com.
- Verify that when you save you edited comment it renders the same as it did before editing.

[2022-09-26 16:41] #3981 closed

[2022-09-26 17:36] benibenj opened #3988 "Test Item: Checkbox for file viewed"
Refs: #116141

- [x] anyOS @rzhao271
- [x] anyOS @aiday-mar

Complexity: 2

Authors: @alexr00

[Create Issue](https://github.com/microsoft/vscode-pull-request-github/issues/new?body=Testing+%233988%0A%0A&assignees=benibenj,alexr00)

---

1. Install the pre-release build of GitHub Pull Requests and Issues.
2. Open a folder in VS Code that contains a GitHub repository.
3. Expand a Pull Request in th

[2022-09-27 03:49] digitarald opened #3989 "Checking the draft PR checkbox doesn't work"
Type: <b>Bug</b>

Just tried to create https://github.com/microsoft/vscode/pull/161881 as draft but it didn't work and I had to manually switch to draft after I created it

Extension version: 0.51.2022092609
VS Code version: Code - Insiders 1.72.0-insider (831678f718c8e998adc40d4854d9d35d9586a09f, 2022-09-26T09:36:38.583Z)
OS version: Darwin x64 21.6.0
Modes:
Sandboxed: No

<details>
<summary>Syst

[2022-09-27 05:38] douglascayers commented on #3798
We also have a workflow where we open PRs from `develop` => `main` branch, so the branch names aren't changing but new PRs do get created overtime.

I thought the extension would query GitHub to discover the now most recent, open pull request, but the extension always associated my branch with the older now closed/merged pull request.

Looking through the extension's code, I discovered that the br

[2022-09-27 07:59] alexr00 commented on #3798
@douglascayers thanks for sharing your workaround! I'll try to tackle this in the extension in October.

[2022-09-27 09:28] benibenj opened #3990 "Not showing file in all PRs view but does in checked out PR tree view"
Can't see the changed file in all open PRs view but I do see it in the current checked out view for this PR: https://github.com/microsoft/vscode/pull/161927

![Screenshot 2022-09-27 112302](https://user-images.githubusercontent.com/44439583/192488983-26963a85-8f12-4963-b846-b3176d08ad95.png)

This PR was created with the extension. It also didn't show it after refreshing. 10 mins later the tree re

[2022-09-27 11:46] alexr00 commented on #3990
I'm not able to repro this. Leaving open so investigate further when I can repro.

[2022-09-27 12:29] benibenj commented on #3990
Still have the logs, but not sure they are very helpful.

[code]

[2022-09-27 17:38] rzhao271 commented on #3799
Isn't this covered by https://github.com/microsoft/vscode-pull-request-github/issues/3988?

[2022-09-27 17:39] rebornix opened #3992 "Enterprise: Not Found error when opening PR description"
Testing #3985

<img width="1072" alt="image" src="https://user-images.githubusercontent.com/876920/192597840-246cdc78-2f99-4673-8447-ea2fb6f24f7b.png">

[2022-09-27 17:39] rzhao271 commented on #3330
This is also a thought I had after testing https://github.com/microsoft/vscode-pull-request-github/issues/3988.

If one checks a subtree, perhaps the entire subtree can collapse.

[2022-09-27 17:41] rebornix opened #3993 "Files all marked as Viewed before reviewing them"
Testing #3985

* Authenticate
* Refresh the GitHub view
* Before browsing any file, reload the window
* After window reload, all files are marked as viewed
*
<img width="234" alt="image" src="https://user-images.githubusercontent.com/876920/192598330-95cb1582-b472-4f6f-a9e4-72580aaeba86.png">

[2022-09-27 17:43] rebornix opened #3994 "Enterprise: not signed again after a few window reload"
Testing #3985

<img width="959" alt="image" src="https://user-images.githubusercontent.com/876920/192598441-1325f03d-6212-4d16-a5f6-14d71980ce48.png">

Outputs:

[code]

[2022-09-27 17:43] rebornix commented on #3994
Clicking the Sign In button fixes the problem.

[2022-09-27 17:56] tbenthompson commented on #3842
While the "Comments: Toggle Editor Commenting" command is useful, it doesn't persist and doesn't completely solve the issue:
- if I enable Zen mode and then disable Zen mode, then this gutter will reappear and I will need to toggle again.
- after running the toggle, the gutter is still wider than it would be without this extension enabled.

I just disable this extension until I need it and then en

[2022-09-27 20:55] alexanderwende commented on #3847
Hey guys,

I'm also experiencing the issue with hitting the rate limit quite frequently in the last one or two weeks...

I'm using `v0.50.0` which seems to have updated just today...
`Last updated: 9/27/2022, 11:40:07`

Here's the output I'm getting:
[code]

I've redacted the user ID from the output...

[2022-09-27 22:04] rzhao271 opened #3995 "When logged in to non-enterprise account, cannot log in to enterprise account"
Testing #3985

The extension wants me to sign in even though I'm already signed in (though on the non-enterprise account). The extension is on the trusted extension list in Manage Trusted Extensions.

![UI indicates to sign in even though I'm already signed in](https://user-images.githubusercontent.com/7199958/192644534-98cf6f6b-5229-421c-8742-a2a6f74c3a7b.PNG)

[2022-09-27 22:39] douglascayers commented on #3798
Thanks @alexr00 😄

While tinkering with my shell function, I came up with a slightly more complex version that supports when you're working on a fork and submitting PRs to the upstream repo. Just sharing in case anyone was interested. I'm sure the extension will do a much better job than what I've scratched together 😆

[code]

[2022-09-28 08:45] benibenj commented on #3993
I'm not able to reproduce this. Are you able to reproduce it consistently?

[2022-09-28 13:41] FlippingBinary commented on #3847
Glad to see I'm not alone. I thought "how could I possibly be hitting 5000 requests in an hour? I assume something is going wrong and causing an unusually high number of requests, but even after that is fixed it may be helpful for the extension to honor the `x-ratelimit-reset` header and let the user know how long they have to wait before they can do anything. Otherwise, it's a frustrating guessin

[2022-09-28 13:48] FlippingBinary commented on #3847
Also, I tend to leave my computer on with VS Code running, but my computer crashed the other day because so many GitHub login dialog boxes had appeared overnight that my computer with 48 GB of RAM couldn't handle it. Yesterday, I witnessed a blast of dozens of login prompts appear in rapid succession. I couldn't close them quick enough to keep up, so I closed VS Code. Perhaps that is related to th

[2022-09-28 14:27] anthonyma94 opened #3996 "Allow bypass branch protection in the extension"
The extension currently does not have an option for authorized users to bypass branch protection, the user must open the PR on GitHub to do this. Having a checkbox, like on the website, would be very helpful.

[2022-09-28 15:15] MagsMagnoli opened #3997 "Suggested assignees always selects the current user [0.50.0]"
# Note
This was first fixed in #3907 but has resurfaced in 0.5.0. The issue below is copy and pasted but the version numbers have been updated

    Extension version: v0.50.0
    VSCode Version: 1.71.2
    OS: macOS Monterey 12.6

Steps to Reproduce:

    Click the + button to add an assignee, ensure there is yourself and a suggested user
    Add a suggested user and click ok, note that this adds

[2022-09-28 17:27] xmatthias commented on #3881
For me this seems to work fine with v0.51.2022090509.

[2022-09-28 19:40] unional commented on #3772
![image](https://user-images.githubusercontent.com/3254987/192873424-8e84c4aa-bf06-46f3-8d8d-04bcc6689365.png)

Same thing here.
Here is the output:

[code]

Note that this happens on a GitHub organization, not GitHub user.

Here is the repository: https://github.com/justland/just-web/tree/internal-commands

[2022-09-28 21:15] dnut opened #3998 "Larger text box when composing a comment"
Whenever I try to add a comment that's more than a few sentences, the text box is too small. I have to keep scrolling to read my comment. I can't just view the whole thing in its entirety.

I need to see a high level view of my entire comment. I need to see all the paragraphs so I can skim the entire thing. When all I see is a tiny snippet from the middle of one paragraph, I just get lost.

This i

[2022-09-28 22:34] joyceerhl opened #3999 "Use radio buttons instead of checkboxes for auto-merge and create as draft"
When creating a PR, the auto-merge and create as draft options are mutually exclusive, so it's great that I can't check both anymore, but I'd love it if clicking on one unchecked the other versus needing to uncheck, and check the other box.

[2022-09-28 22:43] RikkiGibson opened #4000 "Include green bars in "Open modified file""
- Extension version: v0.50.0
- VSCode Version: 1.71.2
- OS: Not applicable

When reviewing a PR which makes large edits, it can be quite difficult to follow the lines added/removed, due to large gaps between lines in each respective view in the split view, or large interleaving of unrelated lines added/removed in the unified view.

![image](https://user-images.githubusercontent.com/5833655/1928999

[2022-09-29 00:22] TylerLeonhardt commented on #3859
This has been working on-and-off for me... not sure why...
from what I can tell you is...

1. have a PR in a repo
2. checkout main
3. focus the PR view
4. leave it focused ...don't unfocus the PR view at all
4. have someone trigger a notification on that PR

Two bugs from what I can tell.

1. After they comment, hit the refresh button in the PR view... no notification shows up 🐛

2. Now focus the

[2022-09-29 08:52] #3997 closed

[2022-09-29 12:09] #3988 closed

[2022-09-29 13:03] alexr00 opened #4001 "Error when opening folder"
From @bpasero

[code]

[2022-09-29 13:45] alexr00 commented on #3799
yes, this is accomplished through #3988.

[2022-09-29 13:45] #3799 closed

[2022-09-29 14:16] alexr00 commented on #3995
@rzhao271 That sign in button should prompt you to sign in with GitHub Enterprise when you click it if you have a folder open to a Enterprise repo (you may need to wait a few seconds after opening the folder for this to happen though as we have to wait for information from the git extension).

[2022-09-29 14:17] alexr00 commented on #3842
Ok, I'll add a setting to persist the disablement of Editor Commenting.

[2022-09-29 15:28] alexr00 commented on #3989
Most likely a duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/3977

[2022-09-29 15:28] #3989 closed

[2022-09-29 15:28] rzhao271 commented on #3995
Resolved offline

[2022-09-29 15:28] #3995 closed

[2022-09-29 15:35] jrieken opened #4114 "GHPR view shows two `...` menus"
Also:

![image](https://user-images.githubusercontent.com/2193314/192626354-0bafaaa1-5eae-41e9-8617-c19ed287b0d6.png)

Could we consolidate them in a single menu with a separator?

cc @sbatten @daviddossett

_Originally posted by @Tyriar in https://github.com/microsoft/vscode/issues/162006#issuecomment-1259998688_

[2022-09-29 15:40] rzhao271 opened #4002 ""No tree view with id 'github:compareChanges' registered" after opening PR"
Testing #3985

After I created the PR, I got the error "No tree view with id 'github:compareChanges' registered."

I think these logs are related:
[code]

[2022-09-29 15:44] rzhao271 opened #4003 "Mark file as not viewed doesn't work"
Testing #3985

Clicking on the mark file as not viewed button in the top-right toolbar doesn't work.
Unchecking the checkbox in the treeview works, though.
![Mark file as not viewed button](https://user-images.githubusercontent.com/7199958/193077308-cd43d3c9-303e-4599-8028-ee99826fe24a.png)

[2022-09-29 15:46] #3985 closed

[2022-09-29 15:50] alexr00 commented on #3995
In case anyone else comes across this: I recommend cloning your Enterprise repo in an external terminal so that the git credential manager modal dialog shows.

[2022-09-29 16:02] alexr00 commented on #3973
Sorry for the delay in responding to this!

You might need to wait 5 seconds before signing in, but you should get taken directly to the GitHub Enterprise auth flow. The delay comes from this extension waiting for the git extension to provide some information. I'll see if I can wait to show the button until we've reached that point. We were also falling back to a github.com login in the enterprise

[2022-09-29 16:24] wrslatz commented on #3973
I never see get the auth flow for GHES at all, regardless of wait time. It just never seems to trigger unless first going through GitHub auth flow.

:+1:

I'm testing with the official VSCode pre release version as you suggested in some of the other GHES issues. Hope that helps!

[2022-09-29 16:26] wrslatz commented on #3973
I can also try a fresh nightly install and retrying if that might help?

There do seem to be issues authenticating with the first two options for the GHES flow. Not sure if that's specific to our GHES instance, the version we're running, or something else.

[2022-09-29 17:47] hnipps opened #4005 "Can't add comments to PR when using Zen Mode"
Type: <b>Bug</b>

In Zen Mode, enter pull request mode.

There is no option to add comments to the PR.

On exiting zen mode I can add comments.

Extension version: 0.50.0
VS Code version: Code 1.71.2 (Universal) (74b1f979648cc44d385a2286793c226e611f59e7, 2022-09-14T21:05:37.721Z)
OS version: Darwin arm64 21.5.0
Modes:
Sandboxed: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|

[2022-09-29 17:56] alexr00 commented on #3973
At the bottom of the activity bar (by default the bottom left corner of VS Code) there's an "Accounts" icon. Can you try signing out of your GitHub Enterprise account from there, reload the window, then sign back in using the "Sign in" button in GitHub view?

[2022-09-29 18:07] alexr00 commented on #3994
@rebornix does this happen regularly for you? I haven't been able to repro, and the logs show that the repo got correctly associated with GitHub Enterprise.

[2022-09-29 20:18] alexr00 commented on #3881
It doesn't work when there's a space before or after the new lines.

[2022-09-29 20:32] alexr00 commented on #3992
I can repro, here are the steps:
1. Have a GitHub Enterprise repo open where the settings.json doesn't have the `enterprise-uri` setting set.
2. Make a PR to add the `enterprise-uri`
3. Check out main (now `enterprise-uri` is no longer set)
4. Try to open the description

The `enterprise-uri` is essential to enterprise support, so if it's not set then I think it's fair for things not to work. I'll

[2022-09-29 20:44] alexr00 commented on #4003
I'm not able to repro this, though I do see a slight delay before the tree checkbox is checked. Do you have the PR currently checked out?

[2022-09-29 22:18] roblourens commented on #3838
Something special I have to do to make sure I hit the right case?

[2022-09-29 22:54] gee4vee opened #4006 "Expose credentials functionality as a dependency"
The code in https://github.com/microsoft/vscode-pull-request-github/blob/main/src/github/credentials.ts would be useful to other extension authors who need to log into GH and GHE repos. If there are no existing alternatives, it would be great if this was a dependency we could pull in to use in another extension.

There is a [sample repo](https://github.com/microsoft/vscode-extension-samples/tree/m

[2022-09-30 00:01] roblourens opened #4007 "Active PR view has wrong title after switching PRs"
- Open a single folder on https://github.com/roblourens/testrepo
- Checkout PR #3
- Checkout PR #4
- This view still has the title for 3, it's fixed if I reload

<img width="343" alt="image" src="https://user-images.githubusercontent.com/323878/193162432-2c8056fd-f229-4630-9d38-6ab2b7b80bc2.png">

[2022-09-30 00:01] roblourens commented on #3490
Noticed https://github.com/microsoft/vscode-pull-request-github/issues/4007 for a single folder, not sure if it's part of this or not

[2022-09-30 08:23] bpasero commented on #4001
I think October is still fine for this.

[2022-09-30 13:09] alexr00 commented on #3838
The problem occurred when the Pull Requests view refreshed around the same time that the PR was created. If the following works, then this is verified:
1. Create a PR
2. Immediately after creating, switch to the Pull Requests tree view and start refreshing it repeatedly until the PR overview shows.
3. Verify that the description in the PR overview is not empty.

[2022-09-30 13:35] alexr00 commented on #4007
Thanks for reporting, this was a major regression.

[2022-09-30 14:06] benibenj commented on #3859
I was not able to make this fix today. However, it should not be that hard. On the PRNode we could just listen for the notification change event and get the PRIdentifier from the uri to compare with the PR model and figure out if the node has to be refreshed or not.

[2022-09-30 14:42] joaomoreno opened #4009 "Broken description for files in PRs"
Notice the `\` in front of every file in the PR. All PRs render like that:

![image](https://user-images.githubusercontent.com/22350/193294977-c42e0482-ec26-4101-912d-b16f0cf45cb4.png)

[2022-09-30 15:02] #4007 closed

[2022-09-30 17:27] alexr00 commented on #4005
Commenting is disabling in Zen mode. You can toggle it on with the command "Comments: Toggle Editor Commenting".

[2022-09-30 17:27] #4005 closed

[2022-09-30 18:48] #4009 closed

[2022-09-30 19:08] digitarald commented on #681
This should also consider _in-progress_ checks state, to make it easier to follow CI/CD results for your own PRs and the ones you are asked to review.

<img width="144" alt="image" src="https://user-images.githubusercontent.com/8599/193339593-1657f35d-ecc6-499d-9cb7-e632b4348d1c.png">

<img width="500" alt="image" src="https://user-images.githubusercontent.com/8599/193339483-bcbc82c9-ce3f-4d83-b09

[2022-09-30 20:21] roblourens commented on #3959
Most of these select the parent folder when all the children are selected, except for the top level

![Recording 2022-09-30 at 13 21 14](https://user-images.githubusercontent.com/323878/193350370-b869a63c-e599-4171-bc16-7be1652c9fee.gif)

[2022-09-30 21:58] wrslatz commented on #3973
Just tried that. It still defaults to logging into GitHub from the GitHub view "Sign in" button. `Signing in to github.com...` and opens a `github.com` link in the browser. GitHub Enterprise authentication never triggers.

[2022-09-30 22:07] wrslatz commented on #3973
Same results on the latest version of Insiders (`Version: 1.72.0-insider (Universal) Commit: bcb6c9b7e0e795bdf65ea440025d204060e4bfc8`)

[2022-09-30 23:12] TylerLeonhardt opened #4013 "Block comments not rendering correctly"
I was playing around with GitHub Enterprise support and noticed this:

Steps to Reproduce:

1. add a comment with:
[code]
    wat
[code]

3.
![image](https://user-images.githubusercontent.com/2644648/193367976-91012b20-9407-4054-939e-a12137b68bb1.png)

[2022-09-30 23:15] TylerLeonhardt commented on #3926
![image](https://user-images.githubusercontent.com/2644648/193368157-e27ac90e-084b-4618-aa46-bad531161bed.png)
I think this is verified. I tried creating comments in vscode and in github.com and all the user icons give me the GH icon both in the webview and in the view.

[2022-10-03 07:06] Snailedlt commented on #3658
Sorry for the late response.
I have not been able to reproduce this behaviour lately. It seemingly got fixed by a newer version of VSCode, or was dependent on some other environment variable.

Anyways, it does not happen for me anymore, so feel free to close the issue if you find it appropriate. I'll make a comment here again if it starts happening again

[2022-10-03 13:46] alexr00 commented on #3658
👍 please do comment if you see again!

[2022-10-03 13:46] #3658 closed

[2022-10-03 14:06] alexr00 commented on #3973
One more question about your setup then: Do you have a folder open in VS Code that contains a git repo with GitHub Enterprise remotes?

Can you grab logs by doing the following:
- Set `"githubPullRequests.logLevel": "debug"`
- Reload your window
- Try to log in
- Share the output from GitHub Pull Requests

[2022-10-03 15:57] blaylockbk commented on #3746
I tried the insiders version, but I still get this message ` unable to verify the first certificate`
(I changed the URLs below to keep them hidden)

[code]

We are using the latest GitHub enterprise, version 3.6.

Here is the full OUTPUT log of GitHub Pull Requests
[code]

[2022-10-03 16:39] chadhutchins182 commented on #3746
@alexr00 I'm the admin for the GHES that @blaylockbk is using, which I also see the same issues he does. I can attempt to pull some server logs if need be but it's probably on the client end. I've seen the same issue on Windows and SSH Linux via remote.

If it is server side I can put in a help ticket with GitHub using our account.

[2022-10-03 18:23] alexr00 commented on #3746
@blaylockbk thanks for trying again.

@chadhutchins182 this looks like https://stackoverflow.com/questions/31673587/error-unable-to-verify-the-first-certificate-in-nodejs. Is there a chance that your GHES server is not configured to have all the certificates it needs? I'm not super knowledgeable about this, so I don't have any pointers for how you can check this.

[2022-10-03 20:13] wrslatz commented on #3973
I updated to the latest Insider's version just now (`1.72.0-insider (Universal) Commit: 9fb452c4852ef098206ec67a2b236ad5fd0ba828`) and I no longer see a prompt to login to GitHub or GitHub Enterprise at all

[2022-10-04 09:22] cpascual commented on #1778
Update for those using vscodium >=1.71:
The "device code flow" mentioned in https://github.com/microsoft/vscode-pull-request-github/issues/1778#issuecomment-1218080143 is now the default (no hacking with URLs is needed anymore)

**BUT** I found that adding the PAT fails unless the PAT is created **at least** with the following scopes:
- repo,
- workflow,
- read:user,
- user:email,
- user:follow,
-

[2022-10-04 09:26] cpascual commented on #1778
Also, for those using KDE, you may get an error like this after setting the PAT:

"The name org.freedesktop.secrets was not provided by any .service files"

In that case, I confirm that using KeePassXC as a org.freedesktop.secrets provider worked for me. See [these instructions](https://c3pb.de/blog/keepassxc-secrets-service.html)

[2022-10-04 13:19] joaomoreno opened #4015 "Status checks not rendering"
Here's the PR view:

![image](https://user-images.githubusercontent.com/22350/193829525-3c766dff-7f20-40e7-9c3e-e753393cbd72.png)

Here the same PR in GH:

![image](https://user-images.githubusercontent.com/22350/193829638-d205a0d5-fd4e-4a09-a82f-7ec7caa616fe.png)

[2022-10-04 16:38] alexr00 commented on #3973
Thanks for all the logs. This seems to be the important line, which indicates that your `git` remote doesn't appear to be a GitHub remote:

[code]

In the extension, we make a request to your host then check to see if the headers in the response include `x-github-request-id`. This is how we tell if the git remote is actually a GitHub (enterprise or not) remote.

It looks like your enterprise serve

[2022-10-04 21:29] alexr00 commented on #4015
This is what's happening:

https://github.com/microsoft/vscode-pull-request-github/blob/eac1aee806f92f855e99306387520fd21b8d19cf/src/github/pullRequestModel.ts#L1065-L1067

Folks like us who have multiple organizations to SAML with are more likely to hit this. I'll follow up with GitHub to try to understand what's happening.

[2022-10-04 21:47] wrslatz commented on #3973
That would be great. I'm working with our GHES team to get some additional details as well 🤞🏻

[2022-10-05 05:06] truongan012 opened #4017 "Github Enterprise Authentication failed to load PRs and Issues"
Hello,
Recently, I got an issue that I cannot signed in GitHub Enterprise although it says that connected in Account icon.

- Extension version: 0.50.0
- VSCode Version: 1.71.2
- OS: Ubuntu 18.04 (Remote SSH)
- GitHub Enterprise: 3.5.3
Steps to Reproduce:

1. Launch vs code.
2. The extension run to load PR and Issues -> Failed

It seems there are some problem with server response. Log is below:

[

[2022-10-05 06:26] #4017 closed

[2022-10-05 11:14] Dzejkop commented on #3950
I get the following
[code]

Where `XXX/yyy` is the correct repository I'm working on. But in the pull requests tab I see issues and PRs from the submodule repo.

[2022-10-05 12:13] alexr00 commented on #3772
Folks seeing this issue, what browser are you using?

[2022-10-05 12:53] alexr00 commented on #4013
I see this:

![image](https://user-images.githubusercontent.com/38270282/194064605-2a8b2263-1cfb-487d-b2cf-85d405951170.png)

Which is consistent with what the markdown preview does:

![image](https://user-images.githubusercontent.com/38270282/194064749-2475c7fb-47c9-403d-960a-cd2b2ff4d82f.png)

@mjbvz can you confirm if this is intentional?

[2022-10-05 14:39] TylerLeonhardt commented on #4013
@alexr00 I did mention I saw this in GH Enterprise... though I'm not sure why that would matter

[2022-10-05 15:10] chadhutchins182 commented on #3746
@alexr00 We did run into issues during our initial install of GHES with our Entrust SSL certificate but we worked with support and was able to resolve the issue.

I'll start a help ticket on our Enterprise account and link this issue thread and see what pops up.

[2022-10-05 17:33] unional commented on #3772
Why does it have anything to do with browser? It is within VS Code.

Btw, I'm using Brave at the moment.
And this happens on `justland` GitHub organization repos, but not in `unional` GitHub personal account repos.

[2022-10-05 18:08] alexr00 commented on #3772
There are a couple places you can use VS Code from within your browser (vscode.dev and Codespaces for example). I incorrectly assumed you were using one of those because I've seen similar issues with Firefox. However, since it's desktop then browser doesn't matter.

Are there any error reported in the developer console when you seen this?

[2022-10-05 18:47] mjbvz commented on #4013
This is expected for the example markdown

Indenting text with four or more spaces implicitly creates a code block. In this case, the code block consists of the markup for the fenced code block, which is likely why you were confused

[2022-10-05 18:49] TylerLeonhardt commented on #4013
No I had the spaces only to get them to show up on GitHub

[2022-10-05 18:53] alexr00 commented on #4001
Can you share your .gitconfig file for the folder that this happens with?

[2022-10-05 18:54] alexr00 commented on #4013
What is the exact spacing you used in your example?

[2022-10-05 18:54] #3959 closed

[2022-10-05 19:14] alexr00 commented on #3972
This happens because we're still waiting to complete the GitHub API calls required for the first click when you make the second click:
1. First click, checkbox is instantly checked. API to mark the file as viewed gets called
2. Second click, checkbox is instantly unchecked. API to mark the file as unviewed gets called
3. First API call marking the file as viewed returns. We check the box because t

[2022-10-05 19:58] TylerLeonhardt commented on #4013
<img width="736" alt="image" src="https://user-images.githubusercontent.com/2644648/194151185-4f82a728-5f87-4364-af05-3b7de0a9faeb.png">
get's me:
<img width="758" alt="image" src="https://user-images.githubusercontent.com/2644648/194151214-5889155a-a237-4de1-91da-c1a903c52673.png">

and
<img width="783" alt="image" src="https://user-images.githubusercontent.com/2644648/194151307-af8d5fff-4f46-4fc

[2022-10-05 21:05] TylerLeonhardt commented on #4013
I'm reopening this since it still reproduces. Happy to provide more details/video chat

[2022-10-06 01:21] aelam opened #4020 "user icons are not loaded for Github Enterprise in PR Detail page"
![](https://user-images.githubusercontent.com/232337/194192645-129be94f-eaf3-491b-a607-c4695be2ddb5.png)

- Extension version: v0.42.0
- VSCode Version: 1.67.2
- OS: macOS 12.6

Steps to Reproduce:

1. open the PR list in VSCode
2. choose one PR, it will open the PR detail (NOT the commits history of PR)
3. You can see your own icons and comment icons in the PR detail

[2022-10-06 09:25] MH-Otsutsuki commented on #3658
The same problem occurred...
what should I do?
$ git fetch
fatal: unable to look up new.url.heregit@github.com:MH-Otsutsuki (port 9418) (A non-recoverable error occurred during a database lookup. )

[2022-10-06 12:12] joaomoreno opened #4021 "Rate limit hit by leaving window open"
I was away from my computer for ~2 hours and left my window with the GHPRI view open as well as a PR Description editor open. I got back to the computer with the following errors:

![image](https://user-images.githubusercontent.com/22350/194309535-2629ced1-09fe-4262-a86d-ee757a830693.png)

[2022-10-06 18:40] wrslatz commented on #3973
From those additional logs I can see that `x-github-request-id` is not included in the headers, which explains why the GitHub Enterprise flow never triggers. If I'm able to trigger it manually (given the above hacky steps), is `x-github-request-id` on the headers still needed for the extension to work with GHES?

Additional debug logs on the OAuth errors when authenticating might help as well, tho

[2022-10-06 18:43] unional commented on #3772
No error, it actually populate eventually, takes about a minute I think

[2022-10-07 00:43] unional commented on #3772
Some more log messages, don't know if they are related:

[code]

[2022-10-07 01:26] roblourens opened #4022 "Can't submit PR with cmd+enter"
- "Create Pull Request"
- Cursor in the title or description fields
- cmd+enter or similar keybinding

I thought this maybe used to work, but I can't find any way to submit the pull request with a keybinding

[2022-10-07 03:56] ris58h opened #4023 "`Create an Issue` UI"
Could we have a UI similar to GitHub's New Issue Form when creating an issue?
Right now it's a plain `md` file, but a form with a Title and Description fields would be great.

[2022-10-07 04:04] ris58h opened #4024 "`NewIssue.md` is empty"
- Extension version: v0.50.0
- VSCode Version: 1.71.2
- OS: macOS Monterey 12.6

When I click `Create an Issue` VSCode opens blank `NewIssue.md` file. First time it had some "fields" (Author, Title and so on) but now it's empty. Is it intended?
<img width="325" alt="Screenshot 2022-10-07 at 10 03 56" src="https://user-images.githubusercontent.com/511242/194465574-22c4dd43-6f77-4e4f-8374-241792f8d8

[2022-10-07 04:36] ris58h opened #4025 "View Issue UI"
There is no way to view an issue right inside VSCode. There is `Open Issue on GitHub` button but it requires living the IDE.
I know that there are lot of things related to issues: reactions, comments, labels and so on, but could we have a View Issue UI that shows at least Title and Description?

[2022-10-07 13:35] joaomoreno opened #4026 "User completion in commit box is wrong when manually triggered"
When typing `@`, I get suggestions for users, but once I typed a few characters pressing <kbd>Ctrl D</kbd> will show me issue suggestions.

![4eeea7ac-c585-4a7f-985d-f34366efa2c2](https://user-images.githubusercontent.com/22350/194566221-8bb0a9f1-083b-46bb-b45b-ad91344c3473.gif)

[2022-10-07 16:32] chadhutchins182 commented on #3746
@alexr00 and @blaylockbk

It does appear to be on our server. I'm working with GitHub Support and our IT department to get it working. I'll reply back once those steps again and have @blaylockbk and I try again.

[2022-10-07 16:56] ris58h opened #4027 "Can't Create an Issue without body"
- Extension version: v0.50.0
- VSCode Version: 1.72.0
- OS: macOS Monterey 12.6

Steps to Reproduce:
1. Click `Create an Issue`
2. Delete the issue's body
3. Click `Create Issue`
4. Nothing happens (UPD: no Console errors and no Network requests in Developer Tools)
<img width="920" alt="Screenshot 2022-10-07 at 22 50 43" src="https://user-images.githubusercontent.com/511242/194611092-25070f5a-d078

[2022-10-09 04:51] SimonTeo58 commented on #3895
Even if I uninstalled this extension and then installed it again, still hit this error, I have never logged in. i gonna see #3891 details, many thx

[2022-10-09 04:51] #3895 closed

[2022-10-10 03:08] daviddossett opened #4029 "Polish Extension UI"
Creating this polish issue to track a number of quick wins I think I/we can tackle. Some initial ideas:
- Full pass on all webview UI from typography to alignment
- See how we can bridge the gap from GH to VS Code design languages
- Polish comments input element to feel more like other inputs in VS Code
- Explore introducing webview UI toolkit (ref #3035)

<img width="934" alt="CleanShot 2022-10-0

[2022-10-10 04:03] digitarald commented on #4029
cc @alexr00: any areas where you'd like to see design opportunities explored?

@daviddossett one aspect to pull in is how we represent actions, checks and statuses; happening in https://github.com/microsoft/vscode-pull-request-github/issues/681

[2022-10-10 07:11] adam248 opened #4030 "HttpError: t.headers is not iterable"
- Extension version: 0.50.0 (Have tried 0.48.0 & pre-release as well)
- VSCode: 1.72.0 (user setup)
- OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Try to access any authenticated Github API calls eg: via Publish Branch button in Source Control or Open Remote Repo
2. Get an error in VSCode saying "Error: t.headers is not iterable"
3. DevTools shows the following error... (see below)
4. Th

[2022-10-10 17:54] alexr00 commented on #3746
@chadhutchins182 thanks for looking into this so thoroughly!

[2022-10-10 18:00] alexr00 commented on #3772
We should have exactly 1 item in the branch drop down to start with. We then fetch all the branches to show in the drop down. This is to keep the start up performance of the view quick. Do you even see 1 branch in the drop down?

[2022-10-10 18:16] alexr00 commented on #3973
@wrslatz can you share the headers that are in the response? I added the check for `x-github-request-id` since it seemed like a safe way to know if the server is a GitHub server, but it's possible that was a bad assumption. If that's the case, then I'll need to add a way for you to get to the enterprise auth.

[2022-10-10 18:21] alexr00 commented on #3658
Thanks for the `git fetch` output @MH-Otsutsuki. Since the error happens when you run `git` from the command line that indicates that it's not an issue with the extension and is instead a problem with either your local git configuration or your remote repository.

[2022-10-10 19:22] TylerLeonhardt commented on #4013
<img width="990" alt="image" src="https://user-images.githubusercontent.com/2644648/194938048-beee3375-a726-4cfc-8da4-ee8bb69876a5.png">
That looks ok to me. Anything else I can provide to help?

[2022-10-10 19:26] RikkiGibson opened #4031 "Extension periodically refreshes the file under review, resetting the view position"
### Description

1. Install both GitHub Pull Requests (v0.50.0) and https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens (v12.2.2).
2. Open a pull request in the extension and begin reviewing a file
3. Proceed with review for about 1-2 minutes

Expected behavior: editor view position is only affected by user actions (e.g. navigation commands, scrolling)
Actual behavior: editor view

[2022-10-10 19:31] alexr00 commented on #4013
What OS do you use?

[2022-10-10 19:39] TylerLeonhardt commented on #4013
macOS

[2022-10-10 20:07] alexr00 commented on #4026
I think if you scroll down in that issues list you'll see the users below the issues. Since it wasn't triggered by a trigger character we show both.

[2022-10-10 20:08] #4025 closed

[2022-10-10 22:12] alexr00 commented on #4031
I haven't yet been able to reproduce this issue. I'll keep an eye out for it.

[2022-10-10 22:33] alexr00 commented on #4024
And now I was just able to repro it.

[2022-10-10 22:33] alexr00 commented on #4031
And now I was just able to repro it.

[2022-10-10 23:19] daviddossett commented on #4029
That's a good point @alexr00. I think maintaining the general GH layout structure makes enough sense unless we have good reasons to change that.

As for the specific components and elements I feel like we can bias towards VS Code design language as a gut reaction.

It seems like we should also split this effort into two distinct parts:
1) UI polish (mostly CSS + perhaps swapping out components)
2)

[2022-10-10 23:42] daviddossett opened #4035 "Prompt for sign in on activity bar?"
Looking at a fresh install of GHPRI and was wondering if we should prompt for sign in in the activity bar accounts item? I'm not familiar with the API but thought I've seen other extension use it to similar effect.

<img width="381" alt="CleanShot 2022-10-10 at 16 38 13@2x" src="https://user-images.githubusercontent.com/25163139/194967901-9900b945-9c68-45ca-9acb-054c7d8af628.png">

<img width="361

[2022-10-10 23:49] daviddossett opened #4036 "Long delay when opening PR categories in tree"
I'm guessing this is the result of an API call, but I'm wondering if there are any quick wins to improve perf here? It's probably my #1 challenge when using the extension. Here's an example on a small repo with no PRs/issues associated with it yet:

![CleanShot 2022-10-10 at 16 45 46](https://user-images.githubusercontent.com/25163139/194968658-3c4e157d-7f1e-4ff9-9da5-a52b71a8f958.gif)

[2022-10-11 06:44] CombeeMike opened #4037 ""Show Changes Since Last Review" is not working (endless loadind state)"
- Extension version: `v0.50.0`
- VSCode Version: `1.72.0`
- OS: `Windows 10`

Steps to Reproduce:

1. Click on `Show Changes Since Last Review` button above tree of GitHub Pull Requests pane
2. The pane goes into loading state which never ends (Loading indicator in left bar and above tree):
  ![image](https://user-images.githubusercontent.com/30658772/195014581-041e6b93-f1be-4e46-bbee-869fa2d36e13

[2022-10-11 06:50] CombeeMike commented on #4037
FYI, the extensions output pane is not showing any activity at all when clicking on the button:

https://user-images.githubusercontent.com/30658772/195016307-836af0fb-ceda-477a-8f76-a9d740c2fbc9.mp4

[2022-10-11 06:51] TheQuantumPhysicist opened #4038 "Cannot comment on deleted lines or even track them in diff view in VSCode"
I only found an issue about deleted files #3421. Can't say this is unrelated, can't say this is the same.

- Extension version: v0.50.0
- VSCode Version: 1.72.0
- OS: Debian 11.5

Steps to Reproduce:

1. Create a pull request that removes code
2. Open the pull request in VSCode, and view the file with deleted lines
3. Attempt to add a comment on a deleted line in diff-view, you can't. The "plus" s

[2022-10-11 07:21] unional commented on #3772
Right now, I do see one (old). Have seen Zero.

It takes about 5 minutes before it repopulate with the updated branches.

[2022-10-11 09:15] joaomoreno commented on #4026
Correct, they are all there. But why is this useful behavior? In other words, why do all those suggestions appear as possibilities for the `@sand` input? Scrolling down, not even `@sandy081` is highlighted in that case:

![image](https://user-images.githubusercontent.com/22350/195049732-c748ba54-39fa-48c6-a279-e46948f3a0bb.png)

[2022-10-11 09:20] joaomoreno commented on #4026
The bug seems to be that the filtering only happens from the moment the widget pops up (either automatically or manually). Notice this example:

![Recording 2022-10-11 at 11 17 22](https://user-images.githubusercontent.com/22350/195050265-8fde3841-0212-48da-b9ba-d517cb3cb46d.gif)

The widget only filters on the `moreno` sequence that I type after manually opening it and even fails to properly rend

[2022-10-11 11:29] joaomoreno commented on #4021
Replied privately.

[2022-10-11 14:58] alexr00 commented on #3772
5 minutes should never happen, we give up after 5 seconds (and we do it twice, so shouldn't be too much more than 10 seconds). Are you on a very slow internet connection?

[2022-10-11 15:49] connor4312 opened #4039 "Prefetch the next file in a PR review"
I (and I think a lot of people) review PRs sequentially, or at least semi-sequentially (maybe I focus on one folder first) based on the order in the file tree. When I open a new file, it takes about a second for the file and its content to load. It'd lead to a snappier experience if the extension automatically preloaded the next file in the tree so it's ready instantly when I click on it.

[2022-10-11 16:17] alexr00 commented on #3772
Can you set the setting `githubPullRequests.logLevel`, reproduce the issue again, then share the output from GitHub Pull Request?

[2022-10-11 16:25] #4031 closed

[2022-10-11 16:58] #4027 closed

[2022-10-11 17:18] #4024 closed

[2022-10-11 17:29] unional commented on #3772
![image](https://user-images.githubusercontent.com/3254987/195159312-bc1a6a18-6b2f-492a-920b-f25ae1ce8d69.png)

Another example that it only refresh after 2 minutes.
I feel like it is on a fixed schedule and the interval is very long.

Will enable the logLevel and see.

[2022-10-11 17:44] alexr00 commented on #4013
Thanks, it's a line ending bug so I couldn't repro on Windows. I can repro with WSL.

[2022-10-11 18:25] #4013 closed

[2022-10-11 19:38] alexr00 commented on #4021
It looks like we're getting into some bad state where a couple hundred requests are made in a very short period (about a second). Still trying to determine what causes this state.

[2022-10-11 20:28] alexr00 commented on #3973
@wrslatz I added a fallback detection for GitHub servers. The latest pre-release build has the change. Could you please let me know if it works for you?

[2022-10-11 21:12] wrslatz commented on #3973
@alexr00 I just tested with pre-release version `v0.53.2022101119` and see the same results. Login initially moves me through the public GitHub flow and I can only access the GitHub Enterprise flow after that.

The GitHub Enterprise login also still does not work once I move all the way through the flow (not sure if that is something on our GitHub Enterprise side or not). The first two methods sti

[2022-10-11 22:27] alexr00 commented on #4021
Duplicate of https://github.com/microsoft/vscode-pull-request-github/issues/3847

[2022-10-11 22:27] #4021 closed

[2022-10-11 22:31] alexr00 commented on #3847
Found the cause via the logs provided in https://github.com/microsoft/vscode-pull-request-github/issues/4021.

[2022-10-11 22:31] #3847 closed

[2022-10-11 22:34] alexr00 commented on #3973
Can you paste the following in a browser URL bar, hit enter, and share what it returns?
[code]

Example with GitHub.com:
![image](https://user-images.githubusercontent.com/38270282/195210672-482972f8-cd67-4700-945b-dce12ace5e4c.png)

[2022-10-11 22:52] wrslatz commented on #3973
`GitHub lives! (2022-10-11 22:51:38 +0000) (1)`

[2022-10-11 23:55] daviddossett commented on #4029
Spent some time looking at the description page today to see how we could refresh the overall visual language and fix some responsive issues. This does not yet go into the weeds of how markdown and code is rendered within the feed. Just looking for at the overall impression to start.

A couple of things I'm trying to do:
- Visually align the header and metadata column (assignees, labels, etc.) wit

[2022-10-12 00:12] digitarald commented on #4029
@daviddossett good to see the extra care to check small screens. Maybe we can also check the design updates for these cases:

- Even smaller viewport: The design has a responsive breakpoint for moving the sidebar items on top of the description.
- How longer titles and lines (… wants to merge changes into …) break.

[2022-10-12 12:56] alexr00 commented on #4035
We deliberately don't do this because GHPRI is installed by default in vscode.dev and github.dev, and we didn't want to have the blue badge there out of the box.

[2022-10-12 12:56] #4035 closed

[2022-10-12 12:56] alexr00 commented on #4036
I'll take a look and see if there are opportunities for improvement!

[2022-10-12 14:06] eamodio commented on #4031
@alexr00 is this a GHPR issue?

[2022-10-12 14:23] alexr00 commented on #4031
@eamodio I found a GHPR issue that caused it. I don't know why the issue would only repro with Gitlens. I would assume that was a fluke as it didn't occur 100% of the time for me.

[2022-10-12 15:18] mogelbrod commented on #1342
Looking at the [declaration for `pr.markFileAsViewed`](https://github.com/microsoft/vscode-pull-request-github/blob/5c469d85006612b5590d7b4c8098b9005e83d520/src/commands.ts#L932) it seems to expect a URI object (`{ path: string }`). I tried adding the following keybinding:
[code]
While it no longer shows any error message it also doesn't seem to mark the current file as viewed either. Not sure if

[2022-10-12 16:13] daviddossett commented on #4035
Oh, TIL!

[2022-10-12 17:17] alexr00 commented on #3973
Thanks for your patience and help with this @wrslatz. I think I found the problem. I'll let you know it's available in a pre-release build (should be tomorrow).

[2022-10-12 22:24] joyceerhl opened #4046 "Does the GHPRI extension need to be * activated?"
It looks like this came in via https://github.com/microsoft/vscode-pull-request-github/pull/2522. It used to be activated `onStartupFinished`.

IMO the GHPRI extension should only activate (at least in web) when the user
- Is currently on a PR
- Focuses one of GHPRI's views
- Runs one of GHPRI's commands

To achieve this we also need RemoteHub to not force-activate GHPRI unless the user is on a PR

[2022-10-13 00:35] joyceerhl opened #4047 "Checked out PRs are not preloaded in VS Code desktop when using GitHub Repositories"
This works as expected in web provided you're looking at a url like https://insiders.vscode.dev/github/microsoft/vscode/pull/163305, because the id `163305` gets passed in correctly. On desktop the id ends up being the branch name which is not correct, and that causes GitHub Repositories to not run the preload command to focus GHPRI's review mode. This is possibly an issue in GitHub Repositories,

[2022-10-13 01:04] joyceerhl commented on #4047
This appears to work correctly for PRs from forks, but not for PRs where the branch exists on the current repository.

[2022-10-13 07:06] sammcj opened #4048 "CRITI Extension 'github.vscode-pull-request-github' wants API proposal 'badges' but that proposal DOES NOT EXIST. Likely, the proposal has been finalized (check 'vscode.d.ts') or was abandoned."
- Extension version: v0.50.0
- VSCode Version: 1.72.1
- OS: macOS 12.16

Steps to Reproduce:

1. Open debug tools
2. View errors

[code]

[2022-10-13 08:38] cfiderer opened #4049 "Frequent sign-in requests - although I am signed in"
Type: <b>Bug</b>

Scenario:

- I use VS Code with GHPRI on Windows and MacOS.
- I have Settings Sync turned on.
- I am logged on to GitHub, to our GitHub Enterprise and to Microsoft.
![2022-10-13_09-43-46 VSCode signed in](https://user-images.githubusercontent.com/40199723/195547808-822d055b-aac2-4530-a4c6-ed6c40e59147.png)

- GHPRI shows up in the "Manage Trusted Extensions" list only for GitHub.

[2022-10-13 13:52] hnipps commented on #4005
Ok, I tried that and the command isn't available in the command palette.

I used to be able to add PR comments in zen mode, did something change?

[2022-10-13 18:18] daviddossett commented on #4029
@digitarald addressed the second bullet in #4050. Will do the same for the sidebar 🙏

[2022-10-13 21:39] joyceerhl opened #4053 "Defer work in extension activation"
The GHPRI extension currently takes upwards of 300ms to activate on my machine and @Tyriar's. If we could improve when GHPRI gets activated https://github.com/microsoft/vscode-pull-request-github/issues/4046 we could avoid paying this cost frequently, but perhaps there is work that we can defer to reduce overall extension activation time.

[2022-10-13 21:44] ericohlin commented on #4020
We don't get the icons we have set in github, but we do get little robot icons.
![image](https://user-images.githubusercontent.com/31670499/195716769-149bd3ba-a987-49fe-a045-afbcbfa38d9e.png)

[2022-10-14 03:03] amaurysp026 opened #4054 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-pull-request-github`
- Extension Version: `0.50.0`
- OS Version: `Linux x64 5.15.0-47-generic`
- VS Code version: `1.71.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-10-14 08:21] joaomoreno opened #4055 "Commit & Create PR failed to push new commit"
Repro:

1. Create a new branch
2. Create a commit on it
3. Publish the branch to the remote
5. Create another commit on it but this time use the `Commit & Create Pull Request` option from the SCM view

🐛 A PR will be created but only containing the first commit. I expected the second commit to have been pushed before creating the PR.

cc @lszomoru

[2022-10-14 10:16] aelam commented on #4020
@ericohlin
Sorry for confusing you,

You check one PR detail in VSCode
You can see your own icon and comments with icons
I've updated the issue to be more detailed

[2022-10-14 13:25] Tyriar commented on #4053
I notice activate is actually an async function here so those numbers might not reflect what we're thinking:

https://github.com/microsoft/vscode-pull-request-github/blob/main/src/extension.ts#L225

I wonder what the time would be if this:

https://github.com/microsoft/vscode-pull-request-github/blob/8e6b32a23f57daa2edc28beadaab46ff70ef7c6d/src/extension.ts#L244-L255

Was:

[code]

Also I'm guessi

[2022-10-14 14:07] lszomoru commented on #4055
@alexr00, do let me know if you need any assistance with this one. Thanks!

[2022-10-14 15:11] Thomas1664 commented on #3978
I had the same issue a few days ago but I can't reproduce it.

[2022-10-14 15:16] Thomas1664 commented on #3752
Closing because I can't reproduce it anymore

[2022-10-14 15:17] #3752 closed

[2022-10-14 15:33] wrslatz commented on #3973
Tested this morning and I see an additional log message right after the headers logging that may be helpful
[code]

[2022-10-14 16:45] TylerLeonhardt opened #4056 "Opened up a Codespace with a GH PR and was asked to sign in to GHES"
I think this is because I have settings sync turned on and it picked up the GHES setting from when I was testing it out.

<img width="753" alt="image" src="https://user-images.githubusercontent.com/2644648/195899143-2678cb8c-7731-4d81-bd9b-b4bbc3363325.png">

I don't think this should happen in Codespaces at all.

[2022-10-14 18:51] joyceerhl commented on #3911
This is a frequent papercut for me in Codespaces, my personal feeling is that `scmProviderRootUri` should transform outgoing URIs, i.e. `vscode-remote` should become `file://`, since non-resolver extensions like GHPRI should not need to know about `vscode-remote`. If we are worried about breaking existing consumers of this context key, could we consider introducing a new one @lszomoru?

[2022-10-14 18:53] joyceerhl opened #4058 "Checkbox is hard to see in dark mode on selected file change node in tree view"
With default Dark+ theme:

![image](https://user-images.githubusercontent.com/30305945/195920050-6be34592-d140-4bbd-85b6-eb0d1417400d.png)

[2022-10-14 20:09] joyceerhl opened #4063 "Accessing a resource scoped configuration without providing a resource is not expected"